      
   <!--KA: Uneven columns with image-->


  <div class="row">
            <div class="col-lg-12">
		<p><br>
            </div>
            <div class="col-md-4">
<br><br>
<div id='sidebar'>
<ul>
   <li class='active'><a href='#'><span>Undergraduate</span></a></li>
   <li class='has-sub'><a href='#'><span>Advising</span></a>
      <ul>
         <li><a href='#'><span>FAQs</span></a></li>
         <li><a href='#'><span>Make an Appointment</span></a></li>
	 <li><a href='#'><span>Academic Assistance</span></a></li>
         <li class='last'><a href='#'><span>Campus Links</span></a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='#'><span>Prospective</span></a>
      <ul>
         <li><a href='#'><span>FAQ</span></a></li>
  	 <li><a href='#'><span>How to Declare</span></a></li>
         <li class='last'><a href='#'><span>Visitor's Map</span></a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='#'><span>What can I Do with IB?</span></a>
      <ul>
         <li><a href='#'><span>Pre-Health</span></a></li>
  	 <li><a href='#'><span>Ecology & Conservation</span></a></li>
	 <li><a href='#'><span>Organisms & Evolution</span></a></li>
	 <li><a href='#'><span>Research</span></a></li>
         <li class='last'><a href='#'><span>Teaching</span></a></li>
      </ul>
   </li>
   <li class='last'><a href='#'><span>Career Development</span></a></li>
   <li class='has-sub'><a href='#'><span>Programs of Study</span></a>
      <ul>
         <li><a href='#'><span>Major in IB</span></a></li>
  	 <li><a href='#'><span>Honors</span></a></li>
	 <li><a href='#'><span>Teaching in Biology</span></a></li>
	 <li><a href='#'><span>Minor in IB</span></a></li>
         <li class='last'><a href='#'><span>Minor in Ecology & Conservation Biology</span></a></li>
      </ul>
   </li>
  <li class='last'><a href='#'><span>Undergradaute Research</span></a></li>
   <li class='has-sub'><a href='#'><span>Special Programs</span></a>
      <ul>
         <li><a href='#'><span>Merit</span></a></li>
  	 <li><a href='#'><span>IB 199-Intro to Research</span></a></li>
	 <li><a href='#'><span>IB 299-Biomath</span></a></li>
	 <li class='last'><a href='#'><span>IB 496-BARS</span></a></li>
      </ul>
   </li>
   <li class='last'><a href='#'><span>Guidelines: Skills for IB Majors</span></a></li>
   <li class='last'><a href='#'><span>Undergradaute Support</span></a></li>
   <li class='last'><a href='#'><span>Convocation</span></a></li>



</ul>
</div>
            
	    </div>
            <div class="col-md-8">
		<h1 style="text-align: center;">&nbsp;SIB Advising Office</h1>
		<p style="text-align: center;"><em>For quick answers to common questions, check out our <a href="/faqs/advising">FAQ</a> page</em></p>
<p>Whether you are a freshman considering majoring in IB or a senior looking forward to graduation, you can make an appointment with one of our advisors to talk about these and other matters. Your advisor is someone who can get to know you, someone you can trust not just to give you rules and regulations, but who can help you decide what you want to do with your degree or who can help you through a difficult patch in your life.</p>
<p>Call 217-333-6774, 
<a href="https://ib-uiucbioadvising.youcanbook.me/">make an appointment online</a>, or simply stop by the advising office at 127 Burrill Hall to make an appointment with Allison or Tonya.</p>
<div style="float: left;">Please note, when classes are cancelled due to inclement weather, our advising office will be closed.
<br><br><h3 style="text-align: center;">Advising Staff:</h3>
<div style="float: left; width: 100%;">
<div style="float: left; clear: right; padding: .5em 1.5em; width: 41%; text-align: center;">
    <%= image_tag 'advising/AllisonMusserTHUMB.jpg',  alt: "Allison Musser", size: "116x154" %>
<p>Allison Musser</p>
</div>
<div style="float: left; clear: right; padding: .5em 1.5em; width: 41%; text-align: center;">
    <%= image_tag 'advising/Tonya Pulley-Baillie.jpg',  alt: "Tonya Pulley-Baillie", size: "116x154" %>
<p>Tonya Swink</p><br><br>
</div>
</div>

<h3 style="text-align: center;">Stay Connected with IB:</h3>
<p style="text-align: center;">&nbsp;
   <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/groups?gid=1795575">
    <i class="fa fa-linkedin"></i>
  </a>
  <a class="no_underline" href="http://blog.sib.illinois.edu/">
    <%= image_tag 'advising/blog.png',  alt: "Blog", size: "59x49" %>
  </a>
  <a class="no_underline" href="/advisingspotlight">
    <%= image_tag 'advising/IBspotlight.png',  alt: "IB Spotlight", width: "100" %>
  </a>
   <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/pages/Integrative-Biology-at-Illinois/128680037156">
    <i class="fa fa-facebook"></i>
  </a>
   <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/IBAdvising">
    <i class="fa fa-twitter"></i>
  </a>
</p>

<strong> CONTACT US:</strong></div>

<div style="float: left;">Email: <a href="mailto:advising@sib.illinois.edu">advising@sib.illinois.edu</a><br /> 127 Burrill Hall<br /> 407 S. Goodwin Avenue<br /> Urbana, Il 61801<br /> Office Hours: 8:30-12:00 and 1:00-5:00<br /> Phone: 217-333-6774</div>
	    </div>

  </div>
