<!-- KA: This is a layout for a page with left sidebar -->


  <div class="container">

          <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Left Sidebar Page
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Sidebar Page</li>
                </ol>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3">
                <div class="list-group">
                    <a href="onecolumn.html" class="list-group-item">One Column</a>
                    <a href="twocolumneven.html" class="list-group-item">Two Column Even</a>
                    <a href="twocolumnuneven.html" class="list-group-item">Two Column Uneven</a>
                    <a href="threecolumneven.html" class="list-group-item">Three Column Even</a>
                    <a href="threecolumnpanel.html" class="list-group-item">3 Column Panel</a>
                    <a href="fourcolumneven.html" class="list-group-item">4 Column Even</a>
                    <a href="tab.html" class="list-group-item">Tabbed Page</a>
                    <a href="newslist.html" class="list-group-item">News List</a>
                    <a href="newsitem.html" class="list-group-item">News Item</a>
                    <a href="leftsidebar.html" class="list-group-item">Left Sidebar</a>
                    <a href="samplecontact.html" class="list-group-item">Contact Page</a>
                 </div>
            </div>
                <div class="col-md-9">
                <h2>Section Heading</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>
            </div>
        </div>


<a class="button right" href="/calendar_events/">See Full Calendar</a>
      <h1 class="footer-callout-header">Calendar</h1>
      <div class="mini-calendar-roll">
        <%= render 'layouts/calendar_events_by_day', events: Calendar.current( Time.now.at_midnight ).top_5 %>
      </div>






   </div>

