
   <!--KA: Single column full width text -->



 <div class="col-lg-12">
       <h2 class="page-header"> This is a 1 column layout </h2>
</div>

<p>
Genomics. Physiology. Ecology. Behavior. Evolution. These are just a few of the words that describe areas of study in the realm of integrative biology.From genomics to global change, integrative biology seeks to discover the complex interrelationships between living organisms and the physical and biological environment in which they live.Whether you are a prospective student, a research scientist, or simply an interested web browser, explore what Integrative Biology might have to offer you.
</p>
<p>


 A major in Integrative Biology prepares students for countless careers in the life sciences.  Here's how:
research
</p>
<p>
By any measure, the University of Illinois is one of the top public research universities in the nation.  Faculty in Integrative Biology are some of the top researchers in their fields, innovating in areas such as health, climate change, bioenergy, animal behavior, and conservation, to name a few.  Undergraduate students can contribute to world-changing innovations as an IB major.  Here's what just a few of our faculty are up to:
</p>
<p>
    Dr. Barry Pittendrigh works to fighting diseases in developing countries by creating simple technology for insect identification
    Dr. Lisa Ainsworth is focused on maintaining and improving future agricultural production and global food supply
    Dr. Karen Sears researchs mammalian limb and girdle development with implications of helping diagnose and treat congenital limb malformations in humans
</p>
<p>
Genomics. Physiology. Ecology. Behavior. Evolution. These are just a few of the words that describe areas of study in the realm of integrative biology.From genomics to global change, integrative biology seeks to discover the complex interrelationships between living organisms and the physical and biological environment in which they live.Whether you are a prospective student, a research scientist, or simply an interested web browser, explore what Integrative Biology might have to offer you.

</p>
<p>
 A major in Integrative Biology prepares students for countless careers in the life sciences.  Here's how:
research
</p>
<p>
By any measure, the University of Illinois is one of the top public research universities in the nation.  Faculty in Integrative Biology are some of the top researchers in their fields, innovating in areas such as health, climate change, bioenergy, animal behavior, and conservation, to name a few.  Undergraduate students can contribute to world-changing innovations as an IB major.  Here's what just a few of our faculty are up to:
</p>
<p>
    Dr. Barry Pittendrigh works to fighting diseases in developing countries by creating simple technology for insect identification
    Dr. Lisa Ainsworth is focused on maintaining and improving future agricultural production and global food supply
    Dr. Karen Sears researchs mammalian limb and girdle development with implications of helping diagnose and treat congenital limb malformations in humans
</p>


