  <!--KA: Embedding Google map directions -->


 <div class="container">

	 <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact SIB </h1>
            </div>
        </div>

	 <div class="row">
            <div class="col-md-8">
                <!-- Embedded Google Map -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3051.5039880816003!2d-88.224535!3d40.1087706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880cd7150736c1e7%3A0xc4e6dac46ad3d618!2sJustin+Smith+Morrill+Hall%2C+University+of+Illinois+at+Urbana-Champaign%2C+505+S+Goodwin+Ave%2C+Urbana%2C+IL+61801!5e0!3m2!1sen!2sus!4v1429543914866" width="600" height="450" frameborder="0" style="border:0"></iframe>

            </div>
             <div class="col-md-4">
                <h3>Contact Details</h3>
                <p>
                    School of Integrative Biology<br>286 Morrill Hall<br>MC-120<br>University of Illinois<br>505 S.Goodwin Ave.<br>
		    Urbana, IL 61801<br>U.S.A
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">P</abbr>: (217) 333-3044</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:sib@life.illinois.edu">sib@life.illinois.edu</a>
                </p>
          
            </div>
        </div>
</div>

          

