      
   <!--KA: Uneven columns with image-->


  <div class="row">
            <div class="col-lg-12">
		<p><br>
            </div>
            <div class="col-md-4">
<br><br>
<div id='sidebar'>
<ul>

   <li class='active'><a href='#'><span>Options</span></a></li>
    <li><a href='#'><span>Pre-Health</span></a></li>
    <li><a href='#'><span>Ecology & Conservation</span></a></li>
    <li><a href='#'><span>Organisms & Evolution</span></a></li>
    <li><a href='#'><span>Research</span></a></li>
    <li><a href='#'><span>Teaching</span></a></li>

  </ul>
</div>
            
	    </div>
            <div class="col-md-8">
<br>
		<h2>What can I do with a degree in IB?</h2>
<p>
A degree in Integrative Biology will prepare you for many immensely satisfying careers.  Here are just a few of the most common careers our graduates pursue.  Click on the links below to learn more about our Advising Options, which are advanced course suggestions grouped by career path.</p>

</div>
</div>


