      
   <!--KA: Uneven columns with image-->


  <div class="row">
            <div class="col-lg-12">
		<p><br>
            </div>
            <div class="col-md-4">
<br><br>
<div id='sidebar'>
<ul>

   <li class='active'><a href='#'><span>Prospective</span></a></li>
    <li><a href='#'><span>FAQs</span></a></li>
    <li><a href='#'><span>How to Declare</span></a></li>
    <li><a href='#'><span>Visiting Illinois</span></a></li>
    <li><a href='#'><span>Visitor's Map</span></a></li>
  </ul>
</div>
            
	    </div>
            <div class="col-md-8">
<br>
		<h2>Prospective Students</h2>
<p>
From genomics to global change, integrative biology seeks to discover the complex interrelationships between living organisms and the physical and biological environment in which they live.
</p>
<p>
This is the new biology, with an emphasis on bringing multiple disciplines to bear on complex scientific questions.  For students, this emphasis leads to a deep understanding of biology and its interrelationships.
</p>
<p>
Check out our frequently asked questions for on campus prospective students and off-campus prospective students.
</p>
<p>
Also, see what some of our current students have to say about IB!
</p>
</div>
</div>


