<!--KA: MAy 2015: Business HR-->

<% content_for( :title, 'Business_HR' ) %>
<% content_for( :sidebar, 'resources' ) %>
<% content_for( :expand,  'business_ex' ) %>


<!--Main content-->
         <div>
		<h2>Business Office Operations & Services</h2>
		<h4 style="text-align: center;">Human Resources</h4>
		<p>Our goal is to provide assistance in the processing of employment data for staff in the research laboratories, for instructional programs and administrative staff of the School.&nbsp; We will be happy to assist where possible or refer to others as need in all aspects Human Resources.</p>
		<h3>Who to Contact</h3>
		<p>Jessi Katterhenry (217) 333-6786 (<a href="mailto:jkatterh@illinois.edu">jkatterh@illinois.edu</a>) or</p>
		<p>Penny Broga (217) 333-0292 (<a href="mailto:broga@life.uiuc.edu">broga@life.uiuc.edu</a>)</p>
		<h3>Labor Redistributions</h3>
		<p>During the course of employment, it may be necessary to change the funding source in which an individual&rsquo;s payroll is charged.&nbsp; Please contact the Business Office as soon as possible to request changes or adjustments in funding sources.</p>
		<h3>Appointment Processing</h3>
		<p>The Business Office will provide approval for all appointment processing of faculty, academic professionals, graduate students, undergraduate students and staff.&nbsp; We will review each appointment for funding availability and proper account coding.</p>

 

</div>

