
<% if session[ :logged_in ] %>
	<% content_for :breadcrumbs_left do %><%= link_to 'Logout ' + session[ :netid ], '/logout?previous_page=/contacts?' + request.env[ 'QUERY_STRING' ].gsub(/\&/,'%26') %><% end %>
<% else %>
	<% content_for :breadcrumbs_left do %><%= link_to 'Login', '/login?previous_page=/contacts?' + request.env[ 'QUERY_STRING' ].gsub(/\&/,'%26') %><% end %>
<% end %>


<% if session[ :admin ] || session[ :MSTOnline ] %>
	
	<h1>Listing Contacts</h1>
	
	<table>
	  <tr>
		  <th>first_name </th>
		  <th>last_name </th>
		  <th>degree_type </th>
		  <th>email </th>
		  <th>country </th>
		  <th>zip_code </th>
		  <th>phone_number </th>
		  <th>date </th>
		  <th colspan="3">Emailed?</th> 
	  </tr>
	
	
	  <%= render @contacts %>
		
		
	</table>
	
	<br />


	<%= link_to 'New Contact', new_contact_path %>

<% end %>