<!--KA: June 2015: Code cleanup/housekeeping-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'current_ex' ) %><h2>Relevant Fellowships</h2>
<p><strong>The following is a partial list of Fellowships available to PEEC students the applications of which must be sent through the PEEC office.</strong></p>
<ol>
<li><a href="http://www.grad.illinois.edu/general/travelaward" target="_blank">Graduate College Conference Travel Awards</a></li>
<li><a href="https://www.grad.illinois.edu/fellowship/listing/2807" target="_blank">Graduate College Dissertation Completion Fellowships</a></li>
<li>Graduate College Master's Project Travel Grants - <a href="https://www.grad.illinois.edu/fellowship/listing/3300" target="_blank">Fall Competition</a> and <a href="https://www.grad.illinois.edu/fellowship/listing/3301" target="_blank">Spring Competition</a></li>
<li>Graduate College Dissertation Travel Grants - <a href="https://www.grad.illinois.edu/fellowship/listing/2901" target="_blank">Fall Competition</a> and <a href="https://www.grad.illinois.edu/fellowship/listing/3080" target="_blank">Spring Competition</a></li>
<li>PEEC Travel Grants - offered at the same time and using the same application as the <a href="http://www.grad.illinois.edu/general/travelaward" target="_blank">Graduate College Conference Travel Awards</a>.</li>
<li>PEEC Summer Research Grants - offered and information provided through an email around the same time as the Spring Graduate College Conference Travel Award.</li>
<li><a href="http://sib.illinois.edu/grants" target="_blank">SIB Grants and Awards</a></li>
</ol>
<p><strong>A partial list of other fellowships may be seen at </strong><a href="https://www.grad.illinois.edu/fellowship/" target="_blank">https://www.grad.illinois.edu/fellowship/</a>.</p>
<ol>
<li>American Association of University Women (AAUW) American Fellowships</li>
<li>American Association of University Women Educational Foundation (AAUW) International Fellowships</li>
<li>American Society of Plant Biologists (ASPB)-Pioneer Hi-Bred Graduate Student Fellowship</li>
<li>American-Scandinavian Foundation Fellowships &amp; Grants for Research in Scandinavia</li>
<li>Association for Canadian Studies in the United States (ACSUS) Thomas O. Enders Endowment Fellowships</li>
<li>Beckman Institute Fellows Program</li>
<li>Belgian American Educational Foundation (BAEF) Fellowships for Study or Research in Belgium</li>
<li>Center for Latin American and Caribbean Studies (CLACS) Tinker Grants for Summer Field Research in Latin American and Iberia</li>
<li>Center for Tropical Forest Science (CTFS) of the Smithsonian Tropical Research Institute - Research Grants</li>
<li>Chateaubriand Fellowships in Science and Technology - Embassy of France, Office for Science &amp; Technology</li>
<li>DAAD (German Academic Exchange Service) Graduate Research Grant</li>
<li>DAAD (German Academic Exchange Service) Short-term Graduate Research Grant</li>
<li>Dartmouth College - Chavez/Eastman/Marshall Dissertation Fellowships for Underrepresented Students</li>
<li>Dewson Fellowships for Underrepresented Students</li>
<li>Dissertation Completion Fellowships</li>
<li>Dissertation Travel Grants</li>
<li>Dolores Zohrab Liebmann Fellowships</li>
<li>European Molecular Biology Association (EMBO)- Short-Term Fellowships</li>
<li>Five College Fellowship Program for Underrepresented Students</li>
<li>Ford Foundation Diversity Fellowships - Dissertation</li>
<li>Gates Millennium Scholarships</li>
<li>Great Lakes Commission Sea Grant Fellowships</li>
<li>Great Lakes Environmental Research Laboratory (GLERL) Summer Student Fellowships</li>
<li>John A. Knauss Fellowship in Marine Research</li>
<li>Knowles Science Teaching Foundation - Research Fellowships</li>
<li>Knowles Science Teaching Foundation - Teaching Fellowship</li>
<li>Leakey Foundation - Grants for the Study of Human Origins</li>
<li>National Aeronautics and Space Administration (NASA) Graduate Student Researchers Program</li>
<li>National Aeronautics and Space Administration (NASA) Graduate Student Researchers Program</li>
<li>National Consortium for Graduate Degrees for Minorities in Engineering and Science GEM Fellowships</li>
<li>National Defense Science and Engineering Graduate (NDSEG) Fellowship</li>
<li>National Estuarine Research Reserve System Graduate Research Fellowship</li>
<li>National Oceanic &amp; Atmospheric Administration (NOAA)/National Sea Grant Office Fellowship Program</li>
<li>National Science Foundation (NSF) <span class="pageheadline">Doctoral Dissertation Improvement Grants</span> (DDIG)</li>
<li>National Science Foundation (NSF) Graduate Research Fellowship Program (GRFP)</li>
<li>National Science Foundation (NSF) International Research Fellowships (IRFP)</li>
<li>National Science Foundation (NSF) Minority Postdoctoral Research Fellowships</li>
<li>National Science Foundation East Asia and Pacific Summer Institutes (NSF-EAPSI) Program for Students in Science &amp; Engineering</li>
<li>National Sea Grant College Program - Knauss Marine Policy Fellowships</li>
<li>NIH National Institute of Aging - Aging Research Dissertation Awards to Increase Diversity (R36)</li>
<li>Nordberg Fellowship for Students from Sweden</li>
<li>Paul D. Doolen Scholarships for the Study of Aging</li>
<li>Sigma Delta Epsilon Graduate Women in Science Fellowship</li>
<li>Smithsonian Institution Fellowship Program</li>
<li>ThinkSwiss Research Scholarship</li>
<li>U.S. Department of Defense - Science, Mathematics, &amp; Research for Transformation Defense Scholarship for Service Program (SMART)</li>
<li>U.S. Department of Energy (DOE) Office of Biological and Environmental Research - Graduate Fellowships (GREF)</li>
<li>U.S. Department of Energy - Office of Science Graduate Fellowship (DOE SCGF)</li>
<li>U.S. Department of Energy Computational Science/Krell Institute - Graduate Fellowship (DOE CSGF)</li>
<li>U.S. Environmental Protection Agency (EPA) STAR Graduate Fellowships in Environmental Studies</li>
<li>Udall Foundation - Environmental Public Policy &amp; Conflict Resolution Dissertation Fellowship</li>
<li>US Dept of Energy's Advanced Research Projects Agency-Energy (ARPA-E) Postdoctoral Fellowships</li>
<li>Women's Research and Education Institute (WREI) Congressional Fellowships on Women and Public Policy</li>
<li>Yahoo! Key Scientific Challenges Program</li>
</ol>
