      
   <!--KA: Uneven columns with image-->


  <div class="row">
            <div class="col-lg-12">
		<p><br>
            </div>
            <div class="col-md-4">
<br><br>
<div id='sidebar'>
<ul>

    <li class='active'><a href='#'><span>Special Programs</span></a></li>
    <li><a href='#'><span>Merit</span></a></li>
    <li><a href='#'><span>IB 199 - Intro to Research</span></a></li>
    <li><a href='#'><span>IB 299 - Biomath</span></a></li>
    <li><a href='#'><span>IB 496 - BARS</span></a></li>
  </ul>
</div>
            
	    </div>
            <div class="col-md-8">
<br>
		<h2>Special Programs in IB</h2>
<p>
IB has several special programs to help students be successful and reach their highest potential. Follow the links below for more detail on each!</p>
</div>
</div>


