      
   <!--KA: Uneven columns with image-->


  <div class="row">
            <div class="col-lg-12">
		<p><br>
            </div>
            <div class="col-md-4">
<br><br>
<div id='sidebar'>
<ul>

   <li class='active'><a href='#'><span>Programs of Study</span></a></li>
    <li><a href='#'><span>Major in IB</span></a></li>
    <li><a href='#'><span>Honors</span></a></li>
    <li><a href='#'><span>Teaching of Biology</span></a></li>
    <li><a href='#'><span>Minor in IB</span></a></li>
    <li><a href='#'><span>Minor in Ecology & Conservational Biology</span></a></li>
  </ul>
</div>
            
	    </div>
            <div class="col-md-8">
<br>
		<h2>Undergarduate Programs</h2>
<p>
The School of Integrative Biology offers three ways to earn an undergraduate degree:
</p>
</div>
</div>


