<% content_for( :title, 'ABC' ) %>
  <div class="row">
            <div class="col-lg-12"><p></div>

<!--Sidebar start-->
	<div class="col-md-4">
		 <%= render 'layouts/sidebar_ugrad_advising' %>
	 </div>
<!--Sidebar end-->

<!--Main content-->
         <div class="col-md-8 no-gutter">

<H1>ABC</H1>
<p> and other stuff</p>
<%= link_to( 'Link to def', '/hoho/def' ) %>
</div>
