<!--KA: May 2015: About-FAQ-->

<% content_for( :title, 'About FAQ' ) %>
<% content_for( :sidebar, 'about' )
   content_for( :expand, 'faq_ex' ) %>

	 	<h2>Frequently Asked Questions</h2>
	  	
		<p>Sometimes you just want a quick answer to a common question!&nbsp; If that's the case, please check out our FAQ pages:</p>
	   	
		<ul >
		 <i class="fa fa-info-circle"></i>&nbsp; <a href="/faqs/advising">Current IB students</a><br>
	  	 <i class="fa fa-info-circle"></i>&nbsp; <a href="/faqs/prospective">Prospective undergraduate majors (high school and U of I)</a><br>
	  	 <i class="fa fa-info-circle"></i>&nbsp; <a href="/faqs/prospectivetransfer">Prospective transfer students</a><br>
		 <i class="fa fa-info-circle"></i>&nbsp; <a href="/graduate/prospective">Prospective Graduate Students</a><br></ul>
		</ul>
		
		<p>If you don't find the answers in our FAQs, please browse the links to the left or feel free to contact us:</p>
		
		<p><strong>School of Integrative Biology</strong><br/> 286 Morrill Hall<br /> MC-120<br /> University of Illinois<br /> 505 S. Goodwin Ave.<br /> Urbana, IL 61801<br /> U.S.A.</p>
		
		<p>Telephone: &nbsp; 217-333-3044<br>Fax: &nbsp; 217-244-1224<br> E-mail: &nbsp; <a href="mailto:sib@life.illinois.edu">sib@life.illinois.edu</a></p>
