<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



<script>
$(document).ready(function(){
    $('#sort_table').dataTable();
});
</script>


<div class="table-responsive">
<table id="sort_table" class="display table" width="100%" >
        <thead>  
          <tr>  
            <th>Research Area</th>  
            <th>Faculty</th>  
          </tr>
	</thead>  
        <tbody>  
          <tr>  
            <td>Agricultural Ecology</td>  
            <td><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Ainsworth.htm ">Lisa Ainsworth</a></td>  
          </tr>  
          <tr>  
            <td>Agricultural Ecology</td>  
            <td><a href="http://www.life.illinois.edu/berenbaum/">May Berenbaum</a></td>
	  </tr>  
          <tr>  
            <td>Agricultural Ecology</td>  
            <td><a href="http://www.life.illinois.edu/berenbaum/">Stewart Berlocher</a></td>  
          </tr>  
           <tr>  
            <td>Agricultural Ecology</td>  
            <td><a href="http://www.life.illinois.edu/berenbaum/">Jeffrey Brawn</a></td>  
          </tr>  
          <tr>  
            <td>Agricultural Ecology</td>  
            <td><a href="http://www.life.illinois.edu/berenbaum/">Adam Davis</a></td>  
          </tr>  
          <tr> 
            <td>Behavioral Ecologyd</td>  
            <td><a href="http://www.life.illinois.edu/berenbaum/">Paul Garber</a> </td>  
          </tr>  
          
           <tr>  
            <td>Behavioral Ecology </td>  
            <td><a href="http://www.life.illinois.edu/berenbaum/">Andrew Suarez </a> </td>  
          </tr>  
          <tr>  
            <td>Behavioral Ecology </td>  
            <td><a href="http://www.life.illinois.edu/berenbaum/">Larry Hanks </a> </td>  
          </tr>  
          <tr>  
            <td>Chemical Ecology </td>  
            <td><a href="http://www.life.illinois.edu/berenbaum/">Hugh Robertson </a> </td>  
          </tr>  
          
            <tr>  
            <td>Chemical Ecology </td>  
            <td><a href="http://www.life.illinois.edu/berenbaum/">Gene Robinson </a> </td>  
          </tr>  
          <tr>  
            <td>Chemical Ecology </td>  
            <td><a href="http://www.life.illinois.edu/berenbaum/">David Seigler </a> </td>  
          </tr>  
          <tr>  
            <td>Community Ecology </td>  
            <td><a href="http://www.life.illinois.edu/berenbaum/"> Stanley Ambrose</a> </td>  
          </tr>  
        </tbody>  
      </table>  

</div>

