<% content_for( :title, 'About FAQ' ) %>
<% content_for( :sidebar, 'about' )
   content_for( :expand, 'faq_ex' ) %>

<h1>What is Integrative Biology?</h1>
<p>Genomics. Physiology. Ecology. Behavior. Evolution. These are just a few of the words that describe areas of study in the realm of integrative biology.</p>
<p>Webster's dictionary says something that is integrative has been made complete by bringing parts together. Think of integrative biology as biology from a big picture point of view in which the relationships between parts are studied in order better to understand the whole. From genomics to global change, integrative biology seeks to discover the complex interrelationships between living organisms and the physical and biological environment in which they live. This is the new biology, with an emphasis on bringing multiple disciplines to bear on complex scientific questions.</p>
<p>For students, this emphasis leads to a deep understanding of biology and its interrelationships.</p>
<p>Integrative Biology. An excellent preparation for careers in the <a href="/prehealth">health professions</a>, <a href="/research_undergrad">research</a>, <a href="/organisms">organismal biology</a>, <a href="/ecology">the environment</a>, and <a href="/options">other areas</a>, as well as for exams, such as the MCAT, DAT, or GRE, required for graduate or professional schools.</p>
<p>Whether you are a prospective student, a research scientist, or simply an interested web browser, explore what Integrative Biology might have to offer you.</p>
<p>&nbsp;</p>
