<% content_for( :title,   'Undergraduate Options' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'options_ex' ) %>

<h2>Ecology & Conservation</h2>
<h4 style="text-align: center;">Biology Option</h4>

<p>This option may be attractive because you have always enjoyed being outside with organisms in their natural environment. You may have a passion for organisms and want to help preserve or restore the biodiversity of our planet. You may be troubled by the stress that human activities place on our organisms, habitats, and ecosystems and want to work toward building a more sustainable use of natural resources, including energy.</p>

<p>Careers are in multiple levels of government and the private arena. They involve preservation, management, and restoration of our natural areas, as well as working in public places such as zoos, gardens, and aquaria.</p>

<h3>Introductory Courses</h3>
<ul class="ul_list">
	<li>IB 150 Organismal and Evolutionary Biology</li>
	<li>MCB 150 Molecular and Cellular Basis of Life</li>
</ul>

<h3>Core Courses</h3>
<ul class="ul_list"><li>IB 202 Anatomy and Physiology</li>
	<li>IB 203 Ecology</li>
	<li>IB 204 Genetics</li>
	<li>IB 302 Evolution</li>
</ul>

<h3>Suggested Advanced Courses</h3>
<p style="text-align: left;">(1 in each of two areas; 14 hours minimum in total including 1 lab course*)</p>

<h3 style="text-align: left;">Area 1 Organismal and Evolutionary Biology</h3>
<ul class="ul_list">
	<li>IB 335 Systematics of Plants*</li>
	<li>IB 362 Marine Biology</li>
	<li>IB 368 Vertebrate Natural History*</li>
	<li>IB 461 Ornithology (Birds)*</li>
	<li>IB 462 Mammalogy (Mammals)*</li>
	<li>IB 463 Ichthyology (Fishes)*</li>
	<li>IB 401 Introduction to Entomology*</li>
</ul>

<h3 style="text-align: left;">Area 2 Behavior, Ecology, and the Environment</h3>
<ul class="ul_list">
	<li>IB 361 Ecology &amp; Human Health</li>
	<li>IB 405 Ecological Genetics</li>
	<li>IB 431 Behavioral Ecology</li>
	<li>IB 440 Plants and Global Change</li>
	<li>IB 443 Evolutionary Ecology</li>
	<li>IB 444 Insect Ecology*</li>
	<li>IB 449 Limnology (Aquatic Ecology, optional lab component)*</li>
	<li>IB 451 Conservation Biology*</li>
	<li>IB 452 Ecosystem Ecology</li>
	<li>IB 453 Community Ecology</li>
	<li>IB 485 Environmental Toxicology &amp; Health</li>
</ul>

<h3 style="text-align: left;">Approved Advanced</h3>
<ul class="ul_list">
	<li>IB 348 Fish and Wildlife Ecology</li>
</ul>

<h3 style="text-align: left;">Other</h3>
<ul class="ul_list">
	<li>IB 416 Population Genetics</li>
	<li>IB 450 Stream Ecology</li>
	<li>NRES 407 Wildlife Population Ecology</li>
	<li>NRES 420 Restoration Ecology</li>
</ul>
<p style="text-align: left;">Consider Environmental Fellows Minor with Capstone Project</p>
<p style="text-align: left;"><em>* Denotes course with laboratory or field component.</em>

