<!--KA: Added styles-->

<% content_for( :title,   'Undergraduate Options' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'options_ex' ) %>

<h2>Pre-Health</h2>
<h4 style="text-align: center;">Biology Option</h4>

<p>IB majors are highly competitive in gaining admission to professional schools, including medicine, veterinary medicine, dentistry, nursing, and pharmacy. After this additional schooling, jobs are numerous and bring a comfortable salary. While you can gain admission to a professional school via a wide variety of majors, many students choose to major in Integrative Biology because our courses prepare students well for the necessary admissions test (i.e. MCAT, DAT, GRE) and also provide a solid foundation for the demands of future schooling.</p>
<p>The Pre-Health Option in Integrative Biology can include courses in molecular and Mendelian genetics, physiology, anatomy, microbiology, and cell biology. The courses listed here are the ones recommended for students interested in preparing for a career in the Health Professions.</p>

<h3 style="text-align: left;">Introductory Courses</h3>
<ul class="ul_list">
<li>IB 150 Organismal and Evolutionary Biology</li>
<li>MCB 150 Molecular and Cellular Basis of Life</li>
</ul>
<h3 style="text-align: left;">Core Courses</h3>
<ul class="ul_list">
<li>IB 202 Anatomy and Physiology</li>
<li>IB 203 Ecology</li>
<li>IB 204 Genetics</li>
<li>IB 302 Evolution</li>
</ul>
<h3 style="text-align: left;">Suggested Advanced Courses</h3>
<h5 style="text-align: left;">(1 in each of two areas; 4 minimum in total including 1 lab course*)</h5>
<h3 style="text-align: left;">Area 1 Organismal and Evolutionary Biology</h3>
<ul class="ul_list">
<li>IB 360 Evolution and Human Health</li>
<li>IB 410 Evolution and Development</li>
<li>IB 462 Mammalogy</li>
</ul>
<h3 style="text-align: left;">Area 2 Behavior, Ecology, and the Environment</h3>
<ul class="ul_list">
<li>IB 329 Animal Behavior</li>
<li>IB 361 Ecology and Human Health</li>
<li>IB 481 Biology of Disease Vectors*</li>
<li>IB 485 Environmental Toxicology &amp; Health</li>
</ul>
<h3 style="text-align: left;">Area 3 Integrative Anatomy, Physiology, and Molecular Biology</h3>
<ul class="ul_list">
<li>IB 364 Bioinformatics and the Human Genome</li>
<li>IB 426 Environmental and Evolutionary Physiology of Animals</li>
<li>IB 433 Comparative Anatomy*</li>
</ul>
<h3 style="text-align: left;">Additional Approved Advanced</h3>
<ul class="ul_list">
<li>MCB 300 Microbiology</li>
<li>MCB 450 Introductory Biochemistry</li>
<li>MCB 250 Molecular Genetics**</li>
</ul>
<p style="text-align: left;"><em>* Denotes course with laboratory or field component.</em></p>
<p style="text-align: left;"><em>**MCB 250 does not count toward the 21 advanced hour requirement for LAS</em></p>
<p>&nbsp;</p>
