<!--KA: June 2015: Faculty Interviews-->

<% content_for( :title, 'Faculty Interviews' ) %>
<% content_for( :sidebar, 'alumni' ) %>


		<h2 style="text-align: center;">Faculty Interviews</h2>	
		
 <!-- KA: Faculty interview - Thumbnails begin -->
           <!--Row 1-->  
        <div class="row">
            <div class="col-md-6 portfolio-item">
		<iframe id="ensembleEmbeddedContent_lY9IEbYtS0KalHmsqWO4XA" style="width: 300px; height: 200px;" src="http://ensemble.illinois.edu/app/plugin/embed.aspx?ID=lY9IEbYtS0KalHmsqWO4XA&amp;destinationID=ROb2MWZmDkWubfdYbBfIaQ&amp;displayTitle=false&amp;startTime=0&amp;autoPlay=false&amp;hideControls=false&amp;showCaptions=false&amp;width=300&amp;height=169" allowfullscreen="allowfullscreen" frameborder="0" height="150" width="300"></iframe>
            	<h3> Zachary Cheviron</h3>
           </div>

            <div class="col-md-6 portfolio-item">
		<iframe id="ensembleEmbeddedContent_E5FTQKZ4d0WPGEzS95mh2Q" style="width: 300px; height: 200px;" src="http://ensemble.illinois.edu/app/plugin/embed.aspx?ID=E5FTQKZ4d0WPGEzS95mh2Q&amp;destinationID=ROb2MWZmDkWubfdYbBfIaQ&amp;displayTitle=false&amp;startTime=0&amp;autoPlay=false&amp;hideControls=false&amp;showCaptions=false&amp;width=300&amp;height=169" allowfullscreen="allowfullscreen" frameborder="0" height="150" width="300"></iframe>
                 <h3>Karen Sears</h3>
            </div>
         </div>

	 <!--Row 2--> 
        <div class="row">
            <div class="col-md-6 portfolio-item">
		<iframe id="ensembleEmbeddedContent_AgdBr6-z6EiEvW1k4hAINw" style="width: 300px; height: 200px;" src="http://ensemble.illinois.edu/app/plugin/embed.aspx?ID=AgdBr6-z6EiEvW1k4hAINw&amp;destinationID=ROb2MWZmDkWubfdYbBfIaQ&amp;displayTitle=false&amp;startTime=0&amp;autoPlay=false&amp;hideControls=false&amp;showCaptions=false&amp;width=300&amp;height=169" allowfullscreen="allowfullscreen" frameborder="0" height="150" width="300"></iframe>
		<h3> Alison Bell</h3>
           </div>

            <div class="col-md-6 portfolio-item">
		<iframe id="ensembleEmbeddedContent_sakLZWv6hEymJWs17r5O5Q" style="width: 300px; height: 200px;" src="http://ensemble.illinois.edu/app/plugin/embed.aspx?ID=sakLZWv6hEymJWs17r5O5Q&amp;destinationID=ROb2MWZmDkWubfdYbBfIaQ&amp;displayTitle=false&amp;startTime=0&amp;autoPlay=false&amp;hideControls=false&amp;showCaptions=false&amp;width=300&amp;height=169" allowfullscreen="allowfullscreen" frameborder="0" height="150" width="300"></iframe>
		<h3>Carla Caceres</h3>
            </div>
         </div>

    <!--Row 3--> 
    <div class="row">
            <div class="col-md-6 portfolio-item">
		<iframe id="ensembleEmbeddedContent_VI4YW22BvEKkdMREVrOJEA" style="width: 300px; height: 200px;" src="http://ensemble.illinois.edu/app/plugin/embed.aspx?ID=VI4YW22BvEKkdMREVrOJEA&amp;destinationID=ROb2MWZmDkWubfdYbBfIaQ&amp;displayTitle=false&amp;startTime=0&amp;autoPlay=false&amp;hideControls=false&amp;showCaptions=false&amp;width=300&amp;height=169" allowfullscreen="allowfullscreen" frameborder="0" height="150" width="300"></iframe>
		<h3> Gene Robinson</h3>
           </div>

            <div class="col-md-6 portfolio-item">
		<iframe id="ensembleEmbeddedContent_R7Uves1ow0S0OV4rRsZeXQ" style="width: 300px; height: 200px;" src="http://ensemble.illinois.edu/app/plugin/embed.aspx?ID=R7Uves1ow0S0OV4rRsZeXQ&amp;destinationID=ROb2MWZmDkWubfdYbBfIaQ&amp;displayTitle=false&amp;startTime=0&amp;autoPlay=false&amp;hideControls=false&amp;showCaptions=false&amp;width=300&amp;height=169" allowfullscreen="allowfullscreen" frameborder="0" height="150" width="300"></iframe>
	<h3>Christina Cheng</h3>
            </div>
         </div>


    <!--Row 4--> 
    <div class="row">
            <div class="col-md-6 portfolio-item">
		<iframe id="ensembleEmbeddedContent_2wRrmSxab0y3ZKxa3zk7nQ" style="width: 300px; height: 200px;" src="http://ensemble.illinois.edu/app/plugin/embed.aspx?ID=2wRrmSxab0y3ZKxa3zk7nQ&amp;destinationID=ROb2MWZmDkWubfdYbBfIaQ&amp;displayTitle=false&amp;startTime=0&amp;autoPlay=false&amp;hideControls=false&amp;showCaptions=false&amp;width=300&amp;height=169" allowfullscreen="allowfullscreen" frameborder="0" height="150" width="300"></iframe>
		<h3>Evan DeLucia</h3>
           </div>

    </div>



