<!--KA: Changed tags and added styles-->

<% content_for( :title, 'Research' ) %>
<% content_for( :sidebar, 'about' ) %>
<% content_for( :expand,  'research_ex' ) %>

<h2> Research </h2>
<h4 style="text-align: center">Working With Non-SIB Faculty or Other Researchers</h4>
<p>Most SIB students who sign up for research for academic credit (IB 390 or IB 490) plan to work in the laboratory of an SIB faculty member.&nbsp; However, faculty in many non-SIB departments also conduct biological science research. All the departments in the School of Molecular and Cellular Biology, the Departments of Animal Science, Community Health, Nutrition, Crop Science, Civil Engineering, Natural Resources and Environmental Science, and others have faculty who conduct research in which an IB student may have an interest.</p>
<p>If you want to work with a faculty member outside of SIB, you must have an "advisor of note" in an SIB department before you begin your research. You obtain such an advisor in the following way:</p>
<hr>
<p><strong>Write a research proposal:</strong></p>
<p>You and your prospective research supervisor must develop a research proposal. You write a 2- or 3-page statement that describes the following:</p>

<ul>
<p><strong>1. Introduction: </strong></p>
   <ul>
	<li>Background (what gave rise to the study?) </li>
	<li>General statement of what the study involves </li>
	<li>Hypothesis being tested (What questions are you addressing?) </li>
	<li>Significance of work</li>
   </ul>
<p><strong>2. Methods: </strong></p>
   <ul>
	<li>Study system</li>
	<li>General methods to be used </li>
   </ul>
<p><strong>3. Anticipated results </strong></p> 
<p><strong>4. Your preparation for conducting the research</strong></p>
</ul>
<hr>

<p> <strong>When you are done with your proposal: </strong></p>
<ul>
<li>Email the proposal to <a href="mailto:carolaug@illinois.edu">Carol Augspurger</a>, the Associate Director for Academic Affairs in the School of Integrative Biology</li>
<li>The Associate Director consults with the Head of the SIB department most closely related to the proposed research.</li>
<li>The department head recommends a departmental faculty member (the "advisor of note") to examine the proposal, the credentials of the proposed research supervisor, the time that the student will spend on the project, etc. That faculty member is responsible for certifying the academic worth of the project you wish to undertake and will negotiate with the research supervisor on how much academic credit will be assigned for the project. The student will enroll for IB 390 or IB 490 credit under the call number of the "advisor of note," for the agreed upon hours of credit. When you have finished and written up your research, the "advisor of note" will read your final report and, based upon the report and a written critical evaluation from your research supervisor, will assign the IB 390/IB 490 grade for the project.</li>
<li>If you wish to submit the written report to the Integrative Biology Distinction Committee to be considered for graduation with distinction in the Integrative Biology major, you must arrange to have your "advisor of note" submit a letter of approval and to have your research supervisor submit a letter of evaluation of your project to the Distinction Committee.</li>
</ul>
<p>It is your responsibility to inform the SIB office of the name and contact information of your research advisor so that person can receive notices about distinction deadlines that are routinely sent out to SIB faculty.</p>
