<!-- 05-Jun-2015: uebele@ rails vars & link_tos, validated HTML5, accessable -->
<%#
TODO: jump links titles are coverd by header bar
      us ids like jump_top in existing gag rather than a-tags
-%>
<% # rails variables for title and sidebar
content_for( :title, 'FAQ for Prospective Graduate Applicants' )
content_for( :sidebar, 'grad' )
-%>

<h2 id="top">Prospective Graduate Applicant FAQ</h2>
<p>
This page lists Frequently Asked Questions relevant to prospective graduate students in the Departments and Programs in or associated with the School of Integrative Biology. Other FAQs on the SIB web site are relevant to:</p>
<ul>
<li><a href="/faqs/advising">Current IB Undergraduates</a></li>
<li><a href="/faqs/prospective">Prospective undergraduate majors (high school and U of I)</a></li>
<li><a href="/faqs/prospectivetransfer">Prospective transfer students</a></li>
</ul>
<p>&nbsp;</p>
<p>Graduate students must apply through the <a href="http://www.grad.uiuc.edu/">Graduate College</a>, indicating the department or program for which they are applying. Information about the application process may be found by following the "Apply" link on the Graduate College web page (under <em>Prospective Students</em>) or by <a href="http://www.grad.uiuc.edu/admissions/apply/">clicking here</a>. Information about and links to the SIB departments and programs may be found in the menus at left <a href="http://sib.illinois.edu/departme.htm">or here</a>.</p>
<p>The questions below are some asked by graduate students in all programs. For more specific information about the program you are interested in, go to the web page describing that department or program.</p>
<p>&nbsp;</p>
<h3><a href="#1">1. How do I apply to a graduate program at the University of Illinois?</a></h3>
<h3><a href="#2">2. When should I apply?</a></h3>
<h3><a href="#3">3. What program code should I use when I apply?</a></h3>
<h3><a href="#4">4. When can I expect to hear whether I have been admitted?</a></h3>
<h3><a href="#5">5. Is a score for the general Graduate Record Examination (GRE) required for admission?</a></h3>
<h3><a href="#6">6. Is a score for the advanced biology section of the GRE required for admission?</a></h3>
<h3><a href="#7">7. What kind of financial support, if any, is available for my graduate study?</a></h3>
<p>&nbsp;</p>
<h3><a id="1"></a>1. How do I apply to a graduate program at the University of Illinois?</h3>
<p>To begin, go to the web page for the <a href="http://www.grad.uiuc.edu/">Graduate College</a> at the University of Illinois and click on the "Apply" link (under <em>Prospective Students</em>), or <a href="http://www.grad.uiuc.edu/admissions/apply/">click here</a>. The Graduate College web pages give you a great deal of useful information and complete instructions for applying. You will need to know the name of the graduate program to which you wish to apply and its program code (see question 3, below, for program codes). In addition, if you are from outside the USA, you should be aware that international students may be required to supply credentials in addition to those required of domestic students.</p>
<p><a href="#top"><em>Back to top</em></a></p>
<h3><a id="2"></a>2. When should I apply?</h3>
<p>In general, apply in the fall of one year for admission starting for the fall of the next year. Most programs have admission deadlines around or just after the first of the year. In addition, most programs will accept students starting only in the fall, though there are exceptions. Check with the particular program you are interested in.</p>
<p><a href="#top"><em>Back to top</em></a></p>
<h3><a id="3"></a>3. What program code should I use when I apply?</h3>
<p>The program code on your application identifies the specific program to which you are applying.</p>
<p>Use these program codes for <strong>doctoral programs</strong>:</p>
<ul style="list-style-type: circle;">
<li><a href="http://www.life.uiuc.edu/animalbiology/">Animal Biology</a> (program code: <strong>10KS0315PHD</strong>)</li>
<li><a href="http://www.life.uiuc.edu/entomology/">Entomology</a> (program code: <strong>10KS0324PHD</strong>)</li>
<li><a href="http://www.life.uiuc.edu/plantbio/">Plant Biology</a> (program code: <strong>10KS0320PHD</strong>)</li>
<li><a href="http://sib.illinois.edu/peec/">Program in Ecology, Evolution, and Conservation Biology</a> (program code: <strong>10KS05107PHD</strong>)</li>
<li><a href="http://www.neuroscience.uiuc.edu/">Neuroscience</a> (program code: <strong>10KS0323PHD</strong>)</li>
</ul>
<p>Use these program codes for <strong>master's programs</strong>:</p>
<ul style="list-style-type: circle;">
<li><a href="http://www.life.uiuc.edu/entomology/index.html">Entomology</a> (program code: <strong>10KS0324MS</strong>)</li>
<li><a href="http://www.life.uiuc.edu/plantbio/">Plant Biology</a> (program code: <strong>10KS0320MS</strong>)</li>
<li><a href="http://sib.illinois.edu/peec/">Program in Ecology, Evolution, and Conservation Biology</a> (program code: <strong>10KS5107MS</strong>)</li>
<li><a href="http://www.life.uiuc.edu/programs/BMP/MST%20in%20Biology.htm">Teaching of Biological Sciences and General Sciences</a> (program code: <strong>10KS0293MS</strong>)</li>
</ul>
<p><a href="#top"><em>Back to top</em></a></p>
<h3><a id="4"></a>4. When can I expect to hear whether I have been admitted?</h3>
<p>You will most likely hear about the status of your application within 2-3 months of the application deadline.</p>
<p><a href="#top"><em>Back to top</em></a></p>
<h3><a id="5"></a>5. Is a score for the general Graduate Record Examination (GRE) required for admission?</h3>
<p>All Ph.D. programs require a GRE test score or equivalent. The Neuroscience Program will accept a score on the MCAT test in lieu of the GRE for students applying for the MD-Ph.D. program. The masters programs may or may not require a GRE score. Scores must be reported via official transcripts, not just by a communication from you. Some programs require that the exam be taken within a minimum of years. Check with the specific program you are interested in for exact requirements.</p>
<p><a href="#top"><em>Back to top</em></a></p>
<h3><a id="6"></a>6. Is a score for the advanced biology section of the GRE required for admission?</h3>
<p>No. None of our programs require you to take the advanced GRE examination.</p>
<p><a href="#top"><em>Back to top</em></a></p>
<h3><a id="7"></a>7. What kind of financial support, if any, is available for my graduate study?</h3>
<p>For Ph.D. programs, financial support in the form of fellowships, teaching assistantships, research assistantships, or tuition &amp; fee (T&amp;F) waivers are available. The first three usually include a T&amp;F waiver as part of the package. Some masters programs offer support, but some do not. Check your particular program.</p>
<p><a href="#top"><em>Back to top</em></a></p>
<p>&nbsp;</p>
