<%# 08-Jun-2015 uebele@ moved/renamed, Rails content_for, accessable h-tags
-%>
<!-- Grant Detail page content
       in /graduate/grants
       updated by uebele@ Jun-2015 -->

<% # rails variables for title and sidebar
content_for( :title, 'Govindjee Award ror Excellence' )
content_for( :sidebar, 'grad' )
content_for( :expand, 'grants_ex' )
-%>
<h2>Govindjee and Rajni Govindjee Award</h2>
<h4 style="text-align:center"> For Excellence in Biological Science</h4>

<p>Applications are now being accepted for the Govindjee and Rajni Govindjee Award for Excellence in Biological Research.</p>
<p>Govindjee is Professor Emeritus of Biochemistry, Biophysics and Plant Biology at the University of Illinois. He studied with the founding fathers of photosynthesis research and Govindjee now stands among the discipline's luminaries. From his seminal research on the mechanisms of Photosystem II and chlorophyll fluorescence by plants to his recent unique work on the history of photosynthesis research, Govindjee's scientific reach and impact are considerable. He once was introduced with the opening assertion, "We depend upon photosynthesis and photosynthesis depends upon Govindjee." Dr. Rajni Govindjee, who also studied with the founding fathers of photosynthesis research, made fundamental discoveries on the two-light effect and two-pigment system in the Hill Reaction in chloroplasts and then on the molecular mechanism of proton transport in bacteriorhodopsin from Halobacterium halobium, using site-directed mutants.</p>
<p>The <strong>Govindjee and Rajni Govindjee Award for Excellence in Biological Research</strong> was established in 2006 to support expenses for students conducting research in any aspect of plant biology. The award will be $1000. Applicants must be full-time graduate students currently enrolled in the any of the graduate programs administered by the School of Integrative Biology and the School of Cell and Molecular Biology.</p>
<h3>To apply, please submit the following:</h3>
<ol>
<li>Your curriculum vitae (with current GPA)</li>
<li>A brief cover letter describing your research and how you will use these funds</li>
<li>A letter of recommendation from your adviser.</li>
</ol>
<p>Applications should be submitted to Rayme Dorsey (<a href="mailto:rdorsey@illinois.edu">rdorsey@illinois.edu</a> ) no later than <strong>March 12, 2015</strong>.</p>
