<%# 10-Jun-2015 uebele@ moved/renamed, Rails content_for, accessable h-tags
-%>
<!-- Grant Detail page content
       in /graduate/grants
       updated by uebele@ Jun-2015 -->

<% # rails variables for title and sidebar
content_for( :title, 'Luckmann Award' )
content_for( :sidebar, 'grad' )
content_for( :expand, 'grants_ex' )
-%>
<h2>William H. Luckmann Award</h2>
<h3 style="text-align:center; font-size:1.5em; margin:-20px 0 25px 0;">
  For Student Research in Research in Applied Entomology
</h3>

<h3>I. Applicant Information (submitted as Page 1):</h3>
<ul>
<p>Name: <br />Address: <br />Phone: <br />E-mail address: <br />Degree for which research was conducted (B.S., M.S., or Ph.D.): <br />Academic Department:<br />Advisor: <br />Title of thesis, dissertation, or research report: <br />Year(s) during which research was conducted: <br />Indicate the meeting you intend to use this award to attend?
</ul>

<h3>II. Research Summary (maximum 2 pages, single-spaced, 12 point font):</h3> 
<ul>
<p>An explanation of the purpose of your research, including background on the context of your research topic. <br />A brief summary of your methods and results. <br />A discussion of how your findings might contribute to your applied entomology discipline<br />A brief explanation about why the meeting you plan to attend is appropriate for presentation of your work. </ul></p><br>

<p>
Please supply the application (Sections I and II) as one document, either MS Word or PDF. E-mail completed application to: emuturi2@illinois.edu. Questions can be directed to Dr. Joseph Spencer at the above email address. <br /><br />APPLICATION MUST BE RECEIVED BY 5 PM, TUESDAY, 31 MARCH 2015<br />AWARD ANNOUNCED WEDNESDAY, 15 APRIL 2015</p>
