<!--KA: June 2015: Donation Funds-->


<% content_for( :title, 'Donations-Funds' ) %>
<% content_for( :sidebar, 'alumni' ) %>
<% content_for( :expand,  'giving_ex' ) %>


   <h2>Integrative Biology Funds</h2>

<h4>Integrative Biology Annual Fund</h4>
<p>The Integrative Biology Annual Fund is the main source of unrestricted funds available to IB. It is used to cover educational expenses for undergraduates that cannot be handled by the School's normal university budget. Purchase of specialized equipment for IB courses, support for IB student groups, support for special student events - all are examples of the uses to which contributions to the IB Annual Fund have been put. The help provided by the Annual Fund can make the difference between a good educational experience and an outstanding one.</p><hr>

<h4>Robert H. Davis Memorial Fund</h4>
<p>The Robert H. Davis Memorial Fund was named in honor of an undergraduate student in Integrative Biology on track to graduate in May, 2008. His tragic death in February 2008 cut short what was clearly a promising career. This fund was established by his family in his memory in order to provide support for undergraduate students to participate in undergraduate research, as Robert himself did.</p><hr>

<h4>Delcomyn International Study in Biology Fund</h4>
<p>Established by Fred Delcomyn, the founding Director of the School of Integrative Biology, and his wife Nancy, this fund provides financial assistance to undergraduate students in IB who wish to take advantage of off-campus, biologically-related educational opportunities.</p>
