<!--KA: June 2015-->

<% content_for( :title, 'Donations' ) %>
<% content_for( :sidebar, 'alumni' ) %>
<% content_for( :expand,  'giving_ex' ) %>

	<h2 style="text-align: center;">Make an Impact</h2>

<!--Row 1-->

	<div style="float: left; clear: right; margin: .5em; margin-left: 1.5em;">
                <a class="no_underline">
                        <%= image_tag 'sib/sean_landsman.jpg',  alt: "seanLandsman", size: "170x240" %>
                </a>
        </div>
	<div>
        <p style="text-align: justify;">With the help of a contribution from SIB, Sean Landsman, senior in Integrative Biology, attended the Gulf and Caribbean Fisheries Institute (GCFI) conference in Guadeloupe, French West Indies in November, 2008, giving a presentation on conservation prospects for the overfished Nassau grouper.</p>
        <p style="text-align: justify;">Attending a conference like this was an experience few undergraduates can even contemplate, to say nothing of realizing, and it had a profound impact on Sean and his thoughts about his future in biology. As he notes, "Without this pool of monetary resources [provided by SIB], I could not have participated in the conference."</p>
	</div><br><hr>

<!--Row 2-->

	<div style="float: right; clear: left; margin: .5em; margin-right: 1.5em;">
                <%= image_tag 'sib/leslie_herzog.jpg',  alt: "leslieHerzog", size: "200x250" %>
        </div>
	<div>
        <p style="text-align: justify;">Leslie Herzog earned a B.S. in zoology in 1976, but that did not end her involvement with biology at Illinois. Parlaying M.Ed. and MBA degrees from UIC into positions at Abbottt Laboratories, then at Baxter Healthcare Corporation, she has stayed involved with her alma mater through her charitable giving.</p>
        <p style="text-align: justify;">"Giving to the University of Illinois is so interwoven with my life and my success," she notes. "By giving, I'm setting an example." The students whose experiences are highlighted on this page have certainly benefited from Leslie's philosophy: "You give back a little or you give back a lot, and then you're giving to the next generation." Her contributions have clearly had an impact.</p>
	</div><br><hr>


<!--Row 3-->

	<div style="float: left; clear: right; margin: .5em; margin-left: 1.5em;">
                <a class="no_underline">
                        <%= image_tag 'sib/tim_oconnor.jpg',  alt: "timOconnor", size: "170x240" %>
                </a>
        </div>
	<div>
        <p style="text-align: justify;">Integrative Biology senior Tim O'Connor spent spring, 2008 as a student in the Organization of Tropical Studies Semester abroad course in Costa Rica. Tim was given financial assistance for this activity by SIB.</p>
        <p style="text-align: justify;">The stunning biodiversity of the neotropical forests there gave Tim an experience hard to replicate in almost any other place in the world. Tim notes that as his "roving band of 25 students, 3 professors, and an indefatigable TA trekked across Costa Rica, we were equally at home in the sopping Caribbean lowlands, the blazing Pacific dry forest, and the stunted woodlands in the dizzying heights of the Talamanca Mountains." After returning to Illinois, Tim realized that "OTS was an immersion experience in the fullest sense, not only into the tropical world, but also into the world at large where nothing may be taken for granted or seen in isolation." Tim clearly had an experience not possible for him without help from SIB.</p>
	</div><hr>


<p>Ready to help the next generation of students? <a href="/alumni/donations">Click here</a> or on the Giving to IB menu item at left to make a donation now.</p>
<p><a href="mailto:sdwilli2@illinois.edu">Click here</a> to contact the Integrative Biology Development officer.</p>
