<!--KA: June 2015-->

<% content_for( :title, 'Donations' ) %>
<% content_for( :sidebar, 'alumni' ) %>
<% content_for( :expand,  'giving_ex' ) %>


	<h2>Giving to Integrative Biology</h2>
	<p>Join the many graduates and friends of Integrative Biology who have already made an impact on IB through their gifts. You, too, can help provide a cutting-edge educational experience in biology to current students.</p>

	<form action="https://ps.uif.uillinois.edu/Gifts/Payment.aspx" method="POST" name="donationForm">
		<input name="ALLOW_EDIT" type="hidden" value="yes" /> 
		<input name="CHANGE_DATA_URL" type="hidden" value="http://www.sib.illinois.edu/donations.htm" /> 
		<input name="COMPLETED_URL" type="hidden" value="http://www.sib.illinois.edu/donations_thanks.htm" /> 
		<input name="DEPARTMENT" type="hidden" value="The School of Integrative Biology" /> 
		<input name="DEPARTMENT_EMAIL" type="hidden" value="sib@life.illinois.edu" /> 
		<input name="TRACKING_CODE" type="hidden" value="5WADS" />

	<h4>Select Fund:</h4>
	<h4>Integrative Biology Annual Fund</h4>
	<p>The Integrative Biology Annual Fund is the main source of unrestricted funds available to IB. It is used to cover educational expenses for undergraduates that cannot be handled by the School's normal university budget. Purchase of specialized equipment for IB courses, support for IB student groups, support for special student events - all are examples of the uses to which contributions to the IB Annual Fund have been put. The help provided by the Annual Fund can make the difference between a good educational experience and an outstanding one.</p>
	<p style="text-indent: -2em; padding-left: 1.5em;"><input name="FUND1" type="radio" value="33334432/ Integrative Biology Annual Fund" /> <strong>Select this Fund</strong></a></p><hr>

	<h4>Robert H. Davis Memorial Fund</h4>
	<p>The Robert H. Davis Memorial Fund was named in honor of an undergraduate student in Integrative Biology on track to graduate in May, 2008. His tragic death in February 2008 cut short what was clearly a promising career. This fund was established by his family in his memory in order to provide support for undergraduate students to participate in undergraduate research, as Robert himself did.</p>
	<p style="text-indent: -2em; padding-left: 1.5em;"><input name="FUND1" type="radio" value="33772893/ Robert Davis Memorial Fund" /> <strong>Select this Fund</strong><a href="/donations/funds"></a></p><hr>

	<h4>Delcomyn International Study in Biology Fund</h4>
	<p>Established by Fred Delcomyn, the founding Director of the School of Integrative Biology, and his wife Nancy, this fund provides financial assistance to undergraduate students in IB who wish to take advantage of off-campus, biologically-related educational opportunities.</p>
	<p style="text-indent: -2em; padding-left: 1.5em;"><input name="FUND1" type="radio" value="33772895/ Delcomyn International Study in Biology Fund" /> <strong>Select this Fund</strong><a href="/donations/funds"></a></p><hr>
	<h4>Contribute Now</h4>	
	<p>To make a gift, please select a fund and gift amount first. You will be redirected to the <a href="http://www.uif.uillinois.edu" target="_blank">University of Illinois Foundation's</a> secure online giving site for your personal and credit card information.</p>
	<p>Gifts made by credit card may be made in monthly installments.</p>
	

	<p><strong>Select gift level:  </strong>
		<input name="GIFT_AMOUNT1" type="radio" value="500"/>$500&nbsp;&nbsp;
		<input name="GIFT_AMOUNT1" type="radio" value="250"/>$250&nbsp;&nbsp; 
		<input name="GIFT_AMOUNT1" type="radio" value="100"/>$100&nbsp;&nbsp; 
		<input name="GIFT_AMOUNT1" type="radio" value="50"/>$50&nbsp;&nbsp; 
		<input name="GIFT_AMOUNT1" type="radio" value=""/>Other&nbsp;&nbsp;</p>
		<input type="submit" value="Continue" /></form>

<hr>
	<p>Your contribution to Integrative Biology will:</p>
	<ul class="ul_list">
	   <i class="fa fa-info-circle"></i>&nbsp; Buy special equipment for IB courses.<br>
	   <i class="fa fa-info-circle"></i>&nbsp; Buy special equipment for IB courses.<br>
	   <i class="fa fa-info-circle"></i>&nbsp; Help support student groups that promote Integrative Biology.<br>
	   <i class="fa fa-info-circle"></i>&nbsp; Provide support to students conducting undergraduate research.<br>
	   <i class="fa fa-info-circle"></i>&nbsp; Help students participate in off-campus activities such as Organization of Tropical Studies courses.
	</ul>
	<p>Learn more about the importance of your gift at <em>Making an Impact</em> link in the menu at left. Every gift counts. Make yours today.</p>
	<p>If you are considering making a legacy gift, visit <em>Legacy Gifts</em>. There you can learn more about how legacy gifts have been used and how to contact our development officer.</p>




