<!--KA: June 2015-->

<% content_for( :title, 'Donations-Major' ) %>
<% content_for( :sidebar, 'alumni' ) %>
<% content_for( :expand,  'giving_ex' ) %>

	<h2 style="text-align: center;">Major Donations</h2>

<!--Row 1-->

	<div style="float: left; clear: right; margin: .5em; margin-right: 1.5em;">
            <%= image_tag 'sib/Goldbergs.jpg',  alt: "goldbergs", size: "220x250" %>
        </div>

	<div>
        <p style="text-align: justify;">Edwin E. and Jeanne Bullock Goldberg have been friends of life sciences at the University of Illinois for many years. Here they describe their gifts and what motivated them.</p>
        <p style="text-align: justify;">"We are pleased to support the brilliant and innovative research that is being done in life sciences at the University of Illinois. We share a belief that in the 21st century the life sciences will be at the forefront of scientific progress and that the University of Illinois will be a leader in that progress. It is our sincere hope that our contribution to Illinois will fund research that will lead to a greater understanding of biological systems and therefore benefit mankind and other life forms on this planet.</p>
   	<p style="text-align: justify;">"For this reason, we have contributed to the medical student scholarship fund, and we have endowed the following professorial chairs:</p>

	<ul class ="ul_list">
		 <i class="fa fa-star"></i>&nbsp; Benjamin R. and Elinor W. Bullock and Edwin E. and Jeanne Bullock Goldberg Endowed Chair in Integrative Biology<br>
	  	 <i class="fa fa-star"></i>&nbsp; Edwin E. and Jeanne Bullock Goldberg Endowed Chair in Molecular and Cellular Biology<br>
	  	 <i class="fa fa-star"></i>&nbsp; Edwin E. and Jeanne Bullock Goldberg Endowed Chair in Molecular and Integrative Physiology<br></ul>
	</ul>

	<p style="text-align: justify;">Furthermore, Jeanne wishes especially to honor her parents, Ben and Elinor Bullock, who were so very encouraging and supportive during her years at Illinois (1965-69) and throughout her life, and who taught her the value of education from an early age.</p>
	<p style="text-align: justify;">We appreciate the positive impact that our experiences at Illinois have had on our own lives, and we feel delighted and privileged to be a part of the growth of our great university."</p>
	</div><br><hr>

<!--Row 2-->

	<div style="float: right; clear: left; margin: .5em; margin-left: 1.5em;">
                <%= image_tag 'sib/Pessis.jpg',  alt: "Pessis", size: "220x230" %>
        </div>
	<div>
        <p style="text-align: justify;">Dr. Dennis A. Pessis and his wife Amy have funded the Dr. Dennis A. and Amy Pessis graduate fellowship in the Department of Animal Biology. The Fellowship will be used to recruit outstanding students to graduate study in the department.</p>
        <p style="text-align: justify;">Dr. Pessis, a urologist in private practice and at Rush Presbyterian-St. Luke's Medical Center, graduated with a degree in biology from Illinois in 1969.</p>
  	<p style="text-align: justify;">Dr. and Mrs. Pessis have many reasons for making significant contributions to the School of Integrative Biology. With three of their four children having attended the University of Illinois, their Illini roots obviously run deep. Among other reasons for making a major gift, Amy notes, "I would like to the University of Illinois obtain a more prestigious national status."</p>

	</div><br><hr>



