<!--KA: June 2015-->

<% content_for( :title, 'Research' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'options_ex' ) %>

		
<h2> Undergraduate Research</h2>
<h4 style="text-align:center">Interested in Conducting Research in a Faculty Lab?</h4>

<p>The School of Integrative Biology encourages its undergraduate students to pursue independent research projects with faculty.</p>
<h3>Find out what it's like from students:</h3>

 <div class="row">
  <div class="col-sm-6" align="center">
	<a class="no_underline" href="/undergraduate/research/wesseln">
		<%= image_tag 'sib/Davis_Cassie.jpg',  alt: "Cassie Wesseln", size: "170x220"%>
	</a>

	<h3 style="text-align: center; margin: .5em 2px;"><a href="/undergraduate/research/wesseln"><strong>Student Research: Cassie Wesseln</strong></a></h3>

</div>
  <div class="col-sm-6" align="center">
	<a class="no_underline" href="/undergraduate/research/chambers">
		<%= image_tag 'sib/Josie-at-the-equator.jpg',  alt: "Cassie Wesseln", size: "170x220"%>
	</a>
	<h3 style="text-align: center; margin: .5em 2px;"><a href="/undergraduate/research/chambers"><strong>Student Research: Josie Chambers</strong></a></h3>
</div> 
</div>

<hr>
<h3> Find out how it works by following the links below: </h3>
   	<table class="table table-striped">
		        <tbody>
		            <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#1"> What is Undergraduate Research?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#2"> How can I find a laboratory in which to work?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#3"> Can I work in a lab outside IB?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#4"> Should I sign up for IB 390 or IB 490?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#5"> Why should I pursue research?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#6"> What can I expect?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#7"> What will my supervisor expect of me?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#8"> Can I get paid to do research?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#9"> How do I graduate with Distinction?</a></td></tr>
			</tbody>
		      </table>
<br>

	<h3><a class="jump_link" id="1"></a>What is Undergraduate Research?</h3>
	<p>IB offers students the opportunity of participating in the research being conducted in the laboratories of its faculty members and other affiliated researchers. This may involve anything from collecting data in the field to doing experiments in the lab. It may involve assisting a faculty member, postdoc, or senior graduate student with ongoing experiments or may involve independent research no one has ever undertaken before. You can earn academic credit for your research by signing up for IB 390 (or IB 490). You must have the approval of the faculty member in whose laboratory you will work before doing this. The faculty member will discuss with you an appropriate number of credit hours to sign up for.</p>
	<p><a href="#top"><em>Back to Top</em></a></p><hr>

	<h3><a  class="jump_link" id="2"></a>How can I find a laboratory in which to work?</h3>
	<p>There are many ways to select a laboratory in which to work. Here are a few suggestions to get you started.</p>
	<ul class="ul_list">
		<li>You should start by thinking about the kinds of topics that really interest you. Do you prefer field work or laboratory work? Are you interested in work that addresses questions at the molecular or cellular level or work that is more systems-oriented?</li><br>
		<li><a href="http://sib.illinois.edu/sib.illinois.edu/research_undergrad/facu">Click here </a>for a list of faculty who often have undergraduates working in their labs, and their research interests.</li><br>
		<li>Send an email to the professor(s) whose lab(s) you are interested in joining. It is certainly permissible to send an email to more than one professor at a time, but you should make your email specific to each person rather than sending a generic "Hi, I'm interested in working in your lab" message. Show that you know something about the person's work and indicate why you're interested in it.</li><br>
		<li>Talk to other students in the lab to find out what the place is like to ensure it is a good fit for you.</li><br>
		<li>Check out our <a href="http://sib.illinois.edu/faculty_interviews">faculty interviews</a> for more information!</li></ul>
	<p><a href="#top"><em>Back to Top</em></a></p><hr>

	<h3><a  class="jump_link" id="3"></a>Can I work in a lab outside of IB?</h3>
	<p>Recognize that you can work in the lab of a professor who may not have a primary appointment in one of the SIB departments (Animal Biology, Entomology, Plant Biology). <a href="/research_undergrad_nonsib">Click here</a> to see a more detailed discussion of working with non-SIB faculty or non-faculty researchers.</p>
	<p><a href="#top"><em>Back to Top</em></a></p><hr>


	<h3><a  class="jump_link" id="4"></a>Should I sign up for IB 390 or IB 490?</h3>
	<p>IB 390 is the basic introductory research course designed to give students exposure to a research laboratory.&nbsp; Students work under the supervision of faculty and graduate students to contribute to the lab's ongoing research projects.&nbsp; IB 390 is graded S/U.</p>
	<p>IB 490 is an independent project that a student undertakes to gain experience in designing and completing a research project.&nbsp; Students must have already gained basic research lab experience before beginning a 490 project.&nbsp; This course requires a report to be submitted during the last semester, which is graded.&nbsp; This report may be submitted for graduation with<a href="/distinction"> Distinction</a>, but this is not required. IB 490 is for a traditional letter grade.</p>
	<p><a href="#top"><em>Back to Top</em></a></p><hr>


	<h3><a  class="jump_link" id="5"></a>Why should I pursue research?</h3>
	<p>The best reason is that it will give you unparalleled insight into the methods used to generate all that information presented to you in formal classes. It will also give you an opportunity to become part of the scientific process itself. Here are some additional reasons:</p>
	<ul class="ul_list">
		<li>Research can give you the positive boost that comes from being a part of a collaborative and intellectually challenging enterprise, pursued by a dedicated group of which you will become a working member.</li><br>
		<li>Research can help you decide whether or not you are truly interested in - and have the disposition for - a postgraduate career in biological research.</li><br>
		<li>The laboratory in which you work can become your "study home away from home," as laboratories are usually relatively quiet environments, conducive to quality studying with minimal distraction.</li><br>
		<li>The Principal Investigator (P.I.) of the laboratory in which you work can provide a letter of reference for your future job or graduate school applications that will carry more weight than those from professors who have only known you in the classroom.</li><br>
		<li>You may be able to present your research results at a scientific gathering on or off campus. Such an experience is invaluable and, needless to say, would be a solid addition to your resume.</li><br>
		<li>You can write up your results and apply for graduation with <a href="/distinction"> Distinction</a> in Integrative Biology. (You can work in a laboratory outside of your major school or department and still submit a Distinction report to IB.)</li><br>
		<li>With some luck and a lot of hard work, you could become a co-author on a scientific publication.</li>
	</ul>
	<p style="font-size: 85%;"><em>With thanks to the Department of Plant Biology, from where a version of this list originated.</em>
	<p><a href="#top"><em>Back to Top</em></a></p><hr>



	<h3><a  class="jump_link" id="6"></a>What can I expect?</h3>
	<p>You can expect a lot of hard work and, with that and a little luck, the exhilaration of making a discovery no one else in the world has made. In practical terms, you can expect to earn 1-4 hours of credit in a semester and work from a few to more than 10 hours per week in a laboratory. The credit hours you earn and the hours you are expected to put in will be determined by the faculty member in whose laboratory you will work. You should discuss these matters when you first talk to the faculty member.</p>
	<p><a href="#top"><em>Back to Top</em></a></p><hr>


	<h3><a  class="jump_link" id="7"></a>What will my supervisor expect of me? </h3>
	<p>The person supervising your project will expect you to show the same dedication to the project you work on as the graduate students and others in the lab do. This may mean coming in to the lab or going to the field at odd hours, including nights and weekends if required. It may mean attending lab meetings with other members of the laboratory. It will certainly mean reading primary research articles related to the research and learning the scientific basis of the research you are conducting.</p>
	<p><a href="#top"><em>Back to Top</em></a></p><hr>


	<h3><a  class="jump_link" id="8"></a>Can I get paid to do research?</h3>
	<p>Yes and no. Some laboratories hire undergraduates as paid assistants, but you should not expect the same kind of experience as an assistant as you would have doing independent research. Furthermore, if you are a paid assistant, you will not receive academic credit for your research. On the other hand, it may be possible for you to obtain financial assistance while you are doing independent academic research. Check out the <a href="/undergraduate/support">undergraduate support web page</a> for more details.</p>
	<p><a href="#top"><em>Back to Top</em></a></p><hr>


	<h3><a  class="jump_link" id="9"></a>How do I graduate with Distinction?</h3>
	<p>IB offers three levels of Distinction, each of which may be earned only by completing a research project and presenting it as a formal written report. Details can be found on the <a href="/distinction">Distinction web page</a>.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

<p> &nbsp;</p>
