<% content_for( :title, 'PEEC Core Courses' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'courses_ex' ) %>

<h2>Required Core Courses</h2>
<p><strong>ALL&nbsp;</strong>PEEC students<strong>&nbsp;must&nbsp;</strong>enroll in and attend the<strong>&nbsp;weekly PEEC seminar series (IB 546, Section A</strong>--Topics in Ecology and Evolution). Excuses because of conflicts must be approved by the Director of the Program. You will need to link to the following Moodle site&nbsp;<a href="https://moodle.life.illinois.edu/login/index.php" target="_blank">https://moodle.life.illinois.edu/login/index.php</a> to fill out questions after each of the seminars.</p>
<p><strong>New&nbsp;</strong>students<strong>&nbsp;must&nbsp;</strong>also enroll in<strong>&nbsp;IB 546, Section B,</strong>&nbsp;their<strong>&nbsp;first year.</strong></p>
<p>Other than those, PEEC does not have any other required core courses, except that PEEC students must take at least one course in Ecology, one course in Evolution, and one course in Conservation Biology (reading groups can fulfill these requirements, or see <%= link_to 'Courses', '/peec/courses' %> for other course suggestions.)</p>
