<!--KA: Modified: June 2015-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'courses_ex' ) %>




<h2>Topics in Ecology &amp; Evolution<br> & <br> Special Topics Courses</h2>
<h4 style="text-align:center"> Fall 2015 </h4>


<center>
<table border="1" cellpadding="2" width: "98%" class="peec_table">
<tbody>
<tr>
	<td width="50%"><strong>Course</strong></td>
	<td width="50%"><strong>Topic</strong></td>
</tr>
<tr>
	<td><strong>IB 546 - AA</strong><br /> 1 hour<br /> Time: 2:00pm-2:50pm<br /> Place:  N/A<br /> Instructor: Brian Allan</td>
	<td>Graduate Seminar in Ecology</td>
</tr>
<tr>
	<td>&nbsp;<strong>IB 546 – HR</strong><br /> 1 hour<br />Time: 12:00pm-12:50pm<br /> Place: ARR Morrill<br /> Instructor: Hugh Robertson</td>
	<td >Graduate Seminar in Genomics</td>
</tr>
<tr>
	<td><strong>IB 546 – MS</strong><br /> 1 hour<br /> Time: Arranged<br /> Place: N/A<br /> Instructor: Jonathan Marcot and Karen Sears</td>
	<td>Paleobiology & Macroevolution</td>
</tr>
<tr>
	<td><strong><strong>IB 546 – SUR</strong><br /> </strong>1 hour<br /> Time: 3:00pm-3:50pm<br /> Place: 1302 Siebel<br /> Instructor: Becky Fuller</td>
	<td>Analysis of Biological Date</td>
</tr>
<tr>
	<td><strong><strong>Path 527</strong><br /> </strong>1 hour<br /> Time: Tuesdays 3-4pm<br /> Place: ACES Library
	<br /> Instructors: Gay Miller, Rebecca Smith</td>
	<td>Epidemiology Seminar</td>
</tr>


</tbody></table>
</center>

<p>&nbsp;</p>
<p>&nbsp;</p>
