<!--KA: Modified: June 2015-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'courses_ex' ) %>

<h2>Ecology &amp; Evolution and Special Topics</h2>
<h4 style="text-align:center"> Spring 2015 </h4>


<center>
<table border="1" cellpadding="2" width: "98%" class="peec_table">
<tbody>
<tr>
<th><strong>Course</strong></th>
<th><strong>Topic</strong></th>
</tr>
<tr>
<td><strong>IB 546-BB (62169)</strong><br /> 1 hour<br /> Time: TBA<br /> Place: TBA<br /> Instructor: A. Bell and B. Fuller</td>
<td>Readings in Gen. Evolution and Behavior</td>
</tr>
<tr>
<td>&nbsp;<strong>IB 546-C (62171)</strong><br /> Time: TBA<br /> Place: TBA<br /> Instructor: J. Marcot and K. Sears</td>
<td>TBA</td>
</tr>
<tr>
<td><strong>IB 546-EPG (61535)</strong><br /> 1 hour<br /> Time: TBA<br /> Place: TBA<br /> Instructor: A. Bell</td>
<td>Evolutionary and Population Genetics</td>
</tr>
<tr>
<td><strong><strong>IB 546-JD (60812)</strong><br /> </strong>1 hour<br /> Time: Thursday 12:00pm - 12:50pm<br /> Place: ARR Morrill Hall<br /> Instructor: A. Harmon-Threatt</td>
<td>Graduate Seminar in Ecology</td>
</tr>
<tr>
<td>&nbsp;<strong>IB 526-AH (56070)</strong><br /> 1 hour<br /> Time: TBA<br /> Place: TBA<br /> Instructor: TBA</td>
<td>TBA</td>
</tr>
<tr>
<td>&nbsp;<strong>IB 526-C (56285)</strong><br /> 1 hour<br /> Time: TBA<br /> Place: TBA<br /> Instructor: TBA</td>
<td>Advanced Systematics</td>
</tr>
<tr>
<td>&nbsp;<strong>IB 496-BP (60877)</strong><br /> 2 hours<br /> Time: Tuesday 10:00am - 11:50am<br /> Place: 314 International Studies Building<br /> Instructor: M. Bello Bravo and B. Pittendrigh</td>
<td>International Development in Practice</td>
</tr>
<tr>
<td>&nbsp;<strong>IB 496-CRF (61937)</strong><br /> 2 hours<br /> Time: Tuesday 4:00pm - 4:50pm<br /> Place: 140 Burrill Hall<br /> Instructor: C. Taylor</td>
<td>Coral Reef Field Ecology</td>
</tr>
<tr>
<td>&nbsp;<strong>IB 496-SC (59327)</strong><br /> 2 hours<br /> Time: Thursday 3:00pm-4:50pm<br /> Place: ARR Morrill Hall<br /> Instructor: S. Cameron</td>
<td>Becoming a Research Scientist</td>
</tr>
<tr>
<td>
<p><strong>NRES 598 (60861)</strong><br /> 4 hours<br /> Time: Friday 9:00am-11:50am Friday<br /> Place: 19 Temple Hoyne Buell Hall<br />Instructor: B. Cutts and A. Greenlee</p>
</td>
<td>Urban Environmental Equity</td>
</tr>
</tbody>
</table>
</center>

<p>&nbsp;</p>
<p>&nbsp;</p>
