<%# KA: June 2015 Added Bootstrap styles %>


<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'peec_news_ex' ) %>


<h2> Featured Alumni </h2>
<h4 style="text-align:center">Michael Carey</h4>

<div style="float: right; clear: right;margin-left: 1.5em;">
	<%= image_tag 'peec/carey2.jpg', height: '207px'%>
</div>


<div>
<p><strong>Research Fish Biologist</strong><br /> USGS&nbsp;Alaska Science Center<br /> 4210 University Drive<br /> Anchorage, AK 99508<br /> <a href="mailto:mcarey@usgs.gov">mcarey@usgs.gov</a><br /> 907-786-7197 (office)<br /> <a href="http://alaska.usgs.gov/staff/staffbio.php?employeeid=614" target="_blank">USGS&nbsp;profile</a><br /> <a href="http://alaska.usgs.gov/science/biology/fish/index.php" target="_blank">Fish and Aquatic Ecology Program</a></p>
<br>

 <p style="text-align: justify;">Dr. Carey is a research fish biologist at the U.S. Geological Survey, Alaska Science Center in Anchorage, AK. &nbsp;He studies fish and fish habitats to understand the linkages between landscape characteristics and the processes that structure and constrain the expression of aquatic biological diversity and productivity, as part of an overall research program focusing on the response of aquatic ecosystems to a changing environment. Dr. Carey is focused on freshwater and&nbsp;anadromous&nbsp;fish and their habitats in arctic and sub-arctic regions of Alaska. &nbsp;Prior to working for the&nbsp;USGS&nbsp;Alaska Science Center, Dr. Carey was a Postdoctoral Research Fellow of the National Research Council at the Northwest Fisheries Science Center,&nbsp;NOAA&nbsp;Fisheries, Seattle, WA examining the effect of invasive predators on Pacific salmon in the Columbia and Snake River basins. &nbsp;Dr. Carey credits the&nbsp;PEEC&nbsp;program and his advisor Dr. Dave&nbsp;Wahl&nbsp;of the Illinois Natural History Survey in preparing him as a research biologist. &nbsp;Specifically, he believes the&nbsp;PEEC&nbsp;program exposed him to a range of ideas in ecology and evolution that provided a broad perspective and an ability to ask questions in a variety of ecosystems.</p>
<p>
</div>


	<div class="row">
 	   <div class="col-md-6">
		<%= image_tag 'peec/carey3.jpg' ,width: '100%', height: '200px'%>
	   </div>

	    <div class="col-md-6">
		<%= image_tag 'peec/pilgrim_river.jpg' ,width: '100%' , height: '200px'%>
	   </div>

	</div>


<br>
<center><h3> <a href="/peec/alumni/featured"> Other Featured Alumni </h3>

