<%# KA: June 2015 Added Bootstrap styles %>


<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'peec_news_ex' ) %>


<h2> Featured Alumni </h2>
<h4 style="text-align:center">Chris Smith</h4>

<div style="float: right; clear: right; margin-left: 1.5em;">
	<%= image_tag 'peec/smith2.jpg', width: '350px'%>
</div>


<div>
<p><strong>Assistant Professor</strong><br /><a href="http://www.earlham.edu/biology/faculty-staff/?username=smithch" target="_blank">Earlham College</a><br /> Richmond, Indiana<br /> <a href="mailto:crsmith.ant@gmail.com">crsmith.ant@gmail.com</a></p>
<br>

 <p style="text-align: justify;">I graduated from PEEC in 2008, and since have been on an odyssey that I couldn&rsquo;t have predicted. I did a post-doc at the Center for Social Dynamics and Complexity at Arizona State University, and then accepted my current position as an assistant professor at Earlham College, a small liberal arts college in Indiana. My primary responsibilities are in the classroom, typically teaching two courses per semester. However, I have found that there is ample opportunity to maintain an active research program, in part by refocusing the questions I ask, harnessing the power of excellent undergraduate students, and effectively collaborating. My current research uses genomic tools, along with field and lab experimentation, to answer questions about the evolution of phenotypic variation in insect societies. Using <em>Pogonomyrmex</em> harvester ants I am looking for how the loss or gain of discrete phenotypes (of workers) occurs mechanistically, and what the ultimate selection pressures are that favor these changes to social organization.</p>
</div>

	<div class="row">
 	   <div class="col-md-12">
		<%= image_tag 'peec/chrissmith.jpg' ,width: '100%'%>
	   </div>
	</div>

<br>
<center><h3> <a href="/peec/alumni/featured"> Other Featured Alumni </h3>

