<%# KA: June 2015 Added Bootstrap styles %>


<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'peec_news_ex' ) %>

<h2> Featured Alumni </h2>
<h4 style="text-align:center">Amy Toth</h4>

<div style="float: right; clear: right; margin-left: 1.5em;">
	<%= image_tag 'peec/toth3.jpg', width: '200px'%>
</div>


<div>
	<p><strong>Assistant Professor </strong><br /> Iowa State University<br /> Ecology, Evolution, and Organismal Biology<br /> 309 Bessey Hall<br /> Ames, IA 50011<br /> office phone: (515)-294-3121<br /> <a href="mailto:amytoth@iastate.edu">amytoth@iastate.edu</a><br /> <a href="http://www.public.iastate.edu/%7Eamytoth/Toth_lab/Home.html">http://www.public.iastate.edu/~amytoth/Toth_lab/Home.html</a> &nbsp;</p><br>

	<p style="text-align: justify;">Amy Toth graduated from PEEC in 2006, where she worked in Dr. Gene Robinson's lab. She started her PhD working on how honey bee behavior is influenced by nutritional physiology; this interest morphed into her current research focus on comparative genomics of social behavior, using paper wasps as a main model system. After a short postdoc in Dr. Robinson's lab during which she also started a family, Amy worked as a USDA postdoctoral fellow at Penn State University, with Christina Grozinger, continuing her work on paper wasp genomics. Amy joined the faculty at Iowa State University in 2010, where she is a member of two departments&mdash;Ecology, Evolution, and Organismal Biology and Entomology. Her lab has two main lines of research, one focused on behavioral genomics of paper wasps, and another on how nutritional considerations relate to honey bee health. Amy is in a dual-faculty career family and has two small children at home, both of whom can tell the difference between a bee and a wasp.</p>
</div>

	<div class="row">
 	   <div class="col-md-6">
		<%= image_tag 'peec/toth1.jpg' ,width: '100%'%>
	   </div>
	   <div class="col-md-6">
		<%= image_tag 'peec/toth2.jpg' ,width: '100%'%>
	   </div>
	</div>

<br>
<center><h3> <a href="/peec/alumni/featured"> Other Featured Alumni </h3>

