      
   <!--KA: Uneven columns with image-->


  <div class="row">
            <div class="col-lg-12">
		<p><br>
            </div>


<!--KA: Sidebar start-->
	<div class="col-md-4 ">
	  
  	        <%= render 'layouts/sidebar_ugrad_advising' %>
	 </div>
<!--KA: Sidebar end-->



            <div class="col-md-8 no-gutters">

	 <h2 style="text-align: center;">&nbsp;SIB Undergraduate Advising Office</h2>
	 <p style="text-align: center;"><em>For quick answers to common questions, check out our <a href="/faqs/advising">FAQ</a> page</em></p>

	<p>Whether you are a freshman considering majoring in IB or a senior looking forward to graduation, you can make an appointment with one of our advisors to talk about these and other matters. Your advisor is someone who can get to know you, someone you can trust not just to give you rules and regulations, but who can help you decide what you want to do with your degree or who can help you through a difficult patch in your life.</p>
	<p>Call 217-333-6774, <a href="https://ib-uiucbioadvising.youcanbook.me/">make an appointment online</a>, or simply stop by the advising office at 127 Burrill Hall to make an appointment with Allison or Tonya.</p>
	<p>Please note, when classes are cancelled due to inclement weather, our advising office will be closed.</p>
	<br>
</div>
</div>



