<% content_for( :title, 'IB 496: Raising the BARS' ) %>
<% content_for( :sidebar, 'ugrad_advising' ) %>

		<h2>Special Programs in IB</h2>
		<h4 style="text-align: center;">IB 496: Raising the BARS: Becoming a Research Scientist (2 hrs)</h4>
		<p>Comprehensive introduction to the tools and skills required to transition from undergraduate to graduate school or a professional job in science. Emphasis is on acquiring skills required for independent scientific research, including how to propose and conduct a research project and how to communicate results by writing publication-quality manuscripts and presenting talks and posters at meetings. This course is for juniors who expect to continue in graduate or professional school.</p>
