      
   <!--KA: Uneven columns with image-->


  <div class="row">
            <div class="col-lg-12"><p></div>


<!--KA: Sidebar start-->
	<div class="col-md-4">
	   <%= render 'layouts/sidebar_ugrad_options' %>
	 </div>
<!--KA: Sidebar end-->

         <div class="col-md-8">
		<h2 style="text-align: center;">What can I do with a degree in IB?</h2>

		<div class="news_slider">
    	<div id="newsItem" class="carousel slide" data-interval="3000" data-ride="carousel">
 	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#newsItem" data-slide-to="0" class="active"></li>
            <li data-target="#newsItem" data-slide-to="1"></li>
            <li data-target="#newsItem" data-slide-to="2"></li>
	    <li data-target="#newsItem" data-slide-to="3"></li>
	    <li data-target="#newsItem" data-slide-to="4"></li>
	    <li data-target="#newsItem" data-slide-to="5"></li>
        </ol>   
   
       <!-- KA: Loop through the items and set the class for the first item as 'active' -->
       <div class="carousel-inner">
	     <div class="item active">
		<div class="fill" style="background-image:url('/assets/sib/muhammed_fazeel.jpg');" ></div>
                <div class="carousel-caption">
                    <h3> <a class="links" href="/headlines/Alumni-Fazeel"><i class="fa fa-link"></i> Alumni: Muhammed Fazeel</a></h3>
                </div>
            </div>
	    <div class="item">
		<div class="fill" style="background-image:url('/assets/sib/amanda_ilag.jpg');" ></div>
                <div class="carousel-caption">
                    <h3> <a class="links" href="/headlines/Alumni-Ilag"><i class="fa fa-link"></i> Alumni: Amanda Ilag</a></h3>
                </div>
            </div>
  	   <div class="item">
		<div class="fill" style="background-image:url('/assets/sib/rachel_siller.jpg');" ></div>
                <div class="carousel-caption">
                    <h3> <a class="links" href="/headlines/Student-Siller"><i class="fa fa-link"></i> Junior in IBH: Rachel Siller</a></h3>
                </div>
            </div>
 	   <div class="item">
		<div class="fill" style="background-image:url('/assets/sib/colleen_stoyas.jpg');" ></div>
                <div class="carousel-caption">
                    <h3> <a class="links" href="/headlines/Alumni-Stoyas"><i class="fa fa-link"></i> Alumni: Colleen Stoyas</a></h3>
                </div>
            </div>

	   <div class="item">
		<div class="fill" style="background-image:url('/assets/sib/madeline_piller.jpg');" ></div>
                <div class="carousel-caption">
                    <h3> <a class="links" href="/headlines/Student-Piller"><i class="fa fa-link"></i> Junior in IB: Madeline Piller</a></h3>
                </div>
            </div>

	 <div class="item">
		<div class="fill" style="background-image:url('/assets/sib/jona_kristo.jpg');" ></div>
                <div class="carousel-caption">
                    <h3> <a class="links" href="/headlines/Alumni-Kristo"><i class="fa fa-link"></i> Alumni: Jona Kristo</a></h3>
                </div>
            </div>




	</div>


        <!-- Slider navigation -->
        <a class="carousel-control left" href="#newsItem" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#newsItem" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

	<br>

	<p>A degree in Integrative Biology will prepare you for many immensely satisfying careers.&nbsp; Here are just a few of the most common careers our graduates pursue.&nbsp; Click on the links below to learn more about our Advising Options, which are advanced course suggestions grouped by career path.</p>
	<h4 style="text-align: left;"><a href="/prehealth">Health Professions</a></h4>
	<p><strong>Health professionals:</strong> doctor, dentist, pharmacist, physician assistant, genetic counselor, physical therapist, nurse, medical technician, public health educator, chiropracter</p>
	<p><strong>Industry:</strong> pharmaceutical research, quality control, medical product design, medical device sales, food science, pharmaceutical sales</p>
	<p><strong>Government:</strong> National Institutes of Health, Environmental Protection Agency, Department of Agriculture, Centers for Disease Control, Department of Health and Human Services, Local Government Health Services</p><hr>

	<h4 style="text-align: left;"><a href="/ecology">Ecology and Conservation</a></h4>
	<p><strong>Private Sector:</strong> Botanical gardens, museums, parks</p>
	<p><strong>Industry:</strong> Environmental advocacy, product research, environmental education, environmental consulting</p>
	<p><strong>Government:</strong> National Park Service, Environmental Protection Agency, Department of Agriculture, Department of Energy</p><hr>

	<h4 style="text-align: left;"><a href="/organisms">Organisms and Evolution</a></h4>
	<p><strong>Private Sector:</strong> Veterinary Medicine, marine biology, zoology, gardens, parks, museums, aquariums</p>
	<p><strong>Industry:</strong> agricultural research, fisheries, biodiversity research</p>
	<p><strong>Government:</strong> National Park Service, Department of Agriculture</p><hr>

	<h4 style="text-align: left;"><a href="/research_undergrad">Research</a></h4>
	<p>Opportunities abound to do research with faculty in IB and in any unit at Illinois.&nbsp; After earning your degree, you may work as a technician in a pharmaceutical or genetic lab or a research assistant on a conservation or restoration team. You will likely consider continuing your training as a research scientist by going to graduate school in some specialized field, either immediately after graduation or after you have done other work or travel prior to beginning grad school. After earning your MS or PhD, you have career options that open up in academia, industry or government.</p><hr>

	<h4 style="text-align: left;"><a href="/teaching">Teaching</a></h4>
	<p>You may admire one of your early teachers who has become a role model for your future career. You may have experienced the joy of passing on your excitement about biology to young children or adolescents. Your work and extra-curricular experiences may have indicated that you enjoy explaining ideas.</p>
	<p>To become a teacher certified to teach biology in a public middle school or high school, you can start as an IB major, but you will switch to the Teaching of Biology degree, where you'll take courses in Integrative Biology, Molecular and Cellular Biology, and Education.&nbsp; Teaching of Biology graduates are highly competitive for positions in the educational field.</p><hr>

	<h4 style="text-align: left;">And many, many more!</h4>
	<p>Here are just a few more ideas of career paths for IB majors:</p>
		<ul>
			<p><i class="fa fa-lightbulb-o "></i>&nbsp; Scientific Writing<br>
			   <i class="fa fa-lightbulb-o "></i>&nbsp; Law (Envirionmental, Patent, Healthcare)<br>
			   <i class="fa fa-lightbulb-o "></i>&nbsp; Bioenergy Research<br>
			   <i class="fa fa-lightbulb-o "></i>&nbsp; Forensic Science<br>
			   <i class="fa fa-lightbulb-o "></i>&nbsp; Medical Illustration<br>
			   <i class="fa fa-lightbulb-o "></i>&nbsp; Biomedical Information Management<br>
			   <i class="fa fa-lightbulb-o "></i>&nbsp; Food Science<br>
			   <i class="fa fa-lightbulb-o "></i>&nbsp; Laboratory Assistance<br>
			   <i class="fa fa-lightbulb-o "></i>&nbsp; Technical Systems Management<br></p>
		</ul><hr>

	<h4>Want more information?</h4>
	<p>Call 333-6774, <a href="http://sib.illinois.edu/advising/scheduler/">make an appointment online</a>, or visit 127 Burrill Hall to discuss these or other options with an IB Advisor in more detail. You can also follow any of the links below for more information from campus or off-campus sources.</p>
	<ul>
	<p><i class="fa fa-info-circle"></i>&nbsp; <a href="http://www.careercenter.uiuc.edu">The Career Center</a> 715 S. Wright St. 333-0820<br>
	   <i class="fa fa-info-circle"></i>&nbsp; <a href="http://www.uiaa.org/careers">UI Alumni Career Center</a> 200 S. Wacker Dr., Chicago 312-575-7830</p>
	</ul>




</div>
</div>



