<!--KA: May 2015: Ugrad: Prospective-->

  <div class="row">
            <div class="col-lg-12"><p></div>


<!--KA: Sidebar start-->
	<div class="col-md-4">
	    <%= render 'layouts/sidebar_ugrad_prospective' %>
	 </div>
<!--KA: Sidebar end-->

            <div class="col-md-8">
		<h2 style="text-align: center;">Prospective Students</h2>
		<p>From genomics to global change, integrative biology seeks to discover the complex interrelationships between living organisms and the physical and biological environment in which they live.</p>
		<p>This is the new biology, with an emphasis on bringing multiple disciplines to bear on complex scientific questions.  For students, this emphasis leads to a deep understanding of biology and its interrelationships.</p>
		<p>Check out our frequently asked questions for <a href="/faqs/prospective">on campus prospective students</a> and <a href="/faqs/prospectivetransfer">off-campus prospective</a> students.</p>
		<p>Also, see what some of our current students have to say about IB!</p>
	

		<div class="col-md-4">
 			<a class="no_underline" href="http://www.life.illinois.edu/animalbiology/"><img src="/assets/sib/joey_kadich.jpg" alt="Joseph Kadich" width="140" height="150"/></a>
			<p><strong><a href="/headlines/Student-Kadich">Junior in IB: Joseph Kadich</a></strong></p>
		</div>
	
		<div class="col-md-4">
			<a class="no_underline" href="http://www.life.illinois.edu/programs/BMP/"><img style="clear: right;" src="/assets/sib/celeste_guzman.jpg" alt="Celeste Guzman" width="140" height="150" /></a>&nbsp;
			<p><strong><a href="/headlines/Student-Guzman">Senior in IB: Celeste Guzman</a></strong></p>
		</div>

		<div class="col-md-4">
			<a class="no_underline" href="/MSOnlineTeaching/"><img style="clear: right;" src="/assets/sib/jackie_capron.jpg" alt="Jackie Capron" width="140" height="150" /></a><br />
			<p><strong><a href="/headlines/Student-Capron">Senior in IB: Jackie Capron</a></strong></p>
		</div>

   	</div>

</div>


