      
   <!--KA: Uneven columns with image-->


  <div class="row">
            <div class="col-lg-12">
		<p><br>
            </div>


<!--KA: Sidebar start-->
	<div class="col-md-4">
	     <%= render 'layouts/sidebar_ugrad_special_programs' %>
	 </div>
<!--KA: Sidebar end-->



            <div class="col-md-8">
		<h2 style="text-align: center;">Special Programs in IB</h2>
<p>
IB has several special programs to help students be successful and reach their highest potential. Follow the links below for more detail on each!</p>
      </div>
</div>





