<!--KA: June 2015-->


<% content_for( :title, 'Advising FAQ' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'advising_ex' ) %>

	<h2>Advising FAQ</h2>
	<h4 style="text-align: center;">For Current IB Students</h4>
	  <p>This page lists Frequently Asked Questions about the IB advising program. Other FAQs on the SIB web site can be found <a href="/about/faq">here</a>. <br><br>Also check out our <a href="/undergraduate/workshops">workshops</a> for great information pertaining to IB majors. </p>
	   	<table class="table table-striped">
		        <tbody>
		            <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#1"> What can my advisor do?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#2"> How do I know who my academic advisor is and how can I make an appointment?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#3"> How often should I see my advisor?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#4"> How do I know what classes I still need to graduate?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#5"> What are IB advising options?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#6"> If I get a "D" in a class in my major, do I need to retake it?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#7"> If I retake a class, how will my GPA be affected?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#8"> Is there an easy way to calculate my GPA?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#9"> What does "credit/no credit (cr/nc)" mean and how does that work?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#10"> I'm thinking about taking a class at my community college this summer. Will it transfer to U of I?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#11"> I took a class at my community college this summer, what do I need to do to transfer credit?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#12"> How can I get research experience?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#13"> Is this a good major if I want to pursue a health career?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#14"> How can I earn a minor in chemistry?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#15"> Can I take more than 18 hours?</a></td></tr>
			</tbody>
		      </table>
<br>

	<h3><a class="jump_link" id="1"></a>1) What can my advisor do?</h3>
	<p>Your advisor can help you in many ways during your time at the university. The following are some possibilities:</p>
	<ul class="ul_list">
		<li>Help you select courses that fit well with your career goals.</li>
		<li>Help you make sure you are on track to graduate.</li>
		<li>Help connect you with biologically- or career-relevant extracurricular activities.</li>
	</ul>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="2"></a>2) How do I know who my academic advisor is and how can I make an appointment?</h3>
	<p>IB currently has two advisors: Allison Musser and Tonya Swink. You may visit either of them to talk about your academic progress, your future career, or other matters. Once you have established contact with one of them, we recommend that advisor become your regular advisor, but this is not required. You may schedule an appointment with either of them by calling 217-333-6774, checking our <a href="https://ib-uiucbioadvising.youcanbook.me/">online calendar</a>, or by dropping in to the advising office in 127 Burrill Hall to schedule in person.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="3"></a>3) How often should I see my advisor?</h3>
	<p>You should meet with your advisor at least once a semester to plan your classes and check on your academic progress. However, we encourage you to meet with him or her more often to plan for your career, and to learn about internship and other non-academic opportunities.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="4"></a>4) How do I know what classes I still need to graduate?</h3>
	<p><a href="http://registrar.illinois.edu/dars-audit">Check out DARS</a> (DARS - Degree Audit Reporting System). This valuable tool permits you to view your progress toward fulfilling degree requirements, including campus, general education, non-primary language and major requirements. See your advisor for help in accessing and interpreting your degree audit for the first time.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="5"></a>5) What are IB advising options?</h3>
	<p>Advising options are a set of recommended courses for students who wish to follow a particular academic path or prepare for a particular career. The list of options and an explanation of what purpose each serves may be found <a href="/options">here</a>.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="6"></a>6) If I get a "D" in a class in my major, do I need to retake it?</h3>
	<p>No, you will receive credit for that class. However, in order to graduate, you must maintain a 2.0 GPA in the classes in your major (called your "major GPA"). This includes the IB classes needed for your major and all of the supporting math and science courses needed for the major as well (not your gen-eds, NPL, etc.). Keep in mind that some health professional schools require a "C" or better in prerequisite courses.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="7"></a>7) If I retake a class, how will my GPA be affected?</h3>
	<p>It depends on whether you are eligible to take the class for grade replacement. Please see the <a href="http://www.las.illinois.edu/students/courses/repeating/"> LAS website </a> for more information.Please note that many professional schools (i.e. medical, dental, law) will not accept the replaced grade and will average the two grades.</p>
	<p><a href="#top"><em>Back to Top</em></a>&nbsp;</p>

	<h3><a  class="jump_link" id="8"></a>8) Is there an easy way to calculate my GPA?</h3>
	<p>It can be a pain to recalculate your GPA every semester. Use the <a href="https://secure.admin.illinois.edu/registrar/GPACalculator/" target="_blank">GPA Calculator</a> to help take the guesswork out of the process! This tool will compute your GPA for the current semester. It will also recalculate your cumulative GPA if you enter your current GPA and total class hours.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="9"></a>9) What does "credit/no credit (cr/nc)" mean and how does that work?</h3>
	<p>Credit/no credit means that you take a course not for a letter grade but on a pass/fail basis. Pass and you get credit for the course, fail and you do not. Follow <a href="http://www.las.illinois.edu/students/courses/loadcredit/">this link</a> to learn about the requirements, restrictions and process for declaring credit/no-credit for courses. Keep in mind that this option can not be used for courses that you need for your major, for gen-eds, or for other University courses needed for graduation.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="10"></a>10) I'm thinking about taking a class at my community college this summer. Will it transfer to U of I?</h3>
	<p>Transfer.org is a great website containing course articulations for many classes that have already been evaluated by U of I. Check here first. Please note that the transfer course equivalencies contained here and the reports generated from the system<strong> do not</strong> constitute a contract between the student and the University of Illinois at Urbana-Champaign. Students still need to contact their assigned <a href="http://www.las.illinois.edu/students/advising/college/">College of LAS Admissions/Records Officer (ARO) </a> to verify how the transfer coursework will be accepted and used towards graduation requirements. If the course is not in this database, you must submit the syllabus for the course to your College of LAS ARO for evaluation.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="11"></a>11) I took a class at my community college this summer, what do I need to do to transfer credit?</h3>
	<p>You must send the official transcript from the school at which you took the course to the <a href="http://registrar.illinois.edu/">Office of Records at U of I</a>.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="12"></a>12) How can I get research experience?</h3>
	<p>By being accepted to work in a lab by a faculty member or other researcher. If you are interested in conducting research, we urge you to familiarize yourself with instructors and areas of interest beginning as early as your freshman year, then contact a faculty member. Check out the web page that describes<a href="/research_undergrad"> undergraduate research</a> for more information. You can earn academic credit for these experiences through IB 390 and IB 490.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>
	
	<h3><a  class="jump_link" id="13"></a>13) Is this a good major if I want to pursue a health career?</h3>
	<p>Yes! The IB major will provide you with the courses and knowledge that will prepare you for the health professions admissions tests (MCAT, DAT, PCAT, etc.). <a href="/prehealth">Click here</a> to see a list of MCAT topics and the SIB courses that cover those topics. Also check out The Career Center's <a href="https://www.careercenter.illinois.edu/health%20professions/faq">FAQ section </a> for more information on this topic.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="14"></a>14) How can I earn a minor in chemistry?</h3>
	<p>Since so much of biology is related to chemistry, IB students are required to take General Chemistry I and II and Organic Chemistry I along with the labs for each, totaling 13-16 hours. A minor in chemistry requires a minimum of 20 hours. Therefore, in addition to the IB major requirements, most IB students need to take just 2 more (advanced) courses in chemistry to earn a minor. More information is available <a href="http://www.provost.illinois.edu/programs/advising/minors.html"> here.</a></p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="15"></a>15) Can I take more than 18 hours?</h3>
	<p>Students may carry as many as 18 hours without special permission. Approval for more than 18 hours (overload) must be obtained from the College of LAS. When approval is granted for spring course registration, it becomes effective immediately. For fall course registration, the overload becomes effective only after the completion of summer registration for new students. Please visit the College at 2002 Lincoln Hall for the petition and more information.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>
