<!--KA: MOdified: June 2015-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>


<h2> Student Research</h2>
<h4 style="text-align:center">Melissa Chipman</h4>

<p><%= image_tag 'peec/chipman3.jpg', width: '287px', :style => 'float: right' %></p>


<h4>PhD Student</h4>
<h3>Research focus:</h3> 
<p>Paleoclimate-vegetation dynamics of Alaska</p>

<h3>Advisors:</h3>
<p>Dr. Feng Sheng Hu, Plant Biology<br /> <a href="mailto:mchipman@life.illinois.edu">mchipman@life.illinois.edu</a></p>
<p>I am interested in climate-vegetation-disturbance interactions in the Alaskan tundra. I utilize diverse proxy indicators from lake sediment, such as midge and diatom assemblages, biogenic silica, carbon and oxygen isotopes, geochemical measurements, and macroscopic charcoal to reconstruct climate, permafrost melting, and fire regime shifts during the Holocene. Results from one of my projects illustrate complex ecological feedbacks, such as vegetation-type dependent responses of tundra fire regimes to climatic changes. I&rsquo;ve also found evidence of past permafrost melt events that may be related to large scale climatic changes over the past 6000 years. These results have direct 21<sup>st</sup>-century implications. For example, unprecedented increases of area burned and reduced carbon storage may accompany the expansion of birch shrub tundra concomitant with climatic warming. Furthermore, enhanced warming may result in increased rates of permafrost melting, which can alter nutrient cycling in the tundra as well as facilitate carbon release to the atmosphere.</p>

<div class="row">
  <div class="col-md-6">
	<%= image_tag 'peec/chipman2.jpg', height:'300px', width: '400px'%>
  </div>
  <div class="col-md-6">
	<%= image_tag 'peec/chipman1.jpg', height:'300px', width: '200px'%> 
 </div>
</div>




<p>&nbsp;</p>

<center><p><strong><a href="/peec/student_research"> See Other Students</a></strong></p></center>


<p>&nbsp;</p>

