<!--KA: MOdified: June 2015-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h2> Student Research</h2>
<h4 style="text-align:center">Erin Welsh</h4>

<p><%= image_tag 'peec/falcon.jpg', width: '220px', :style => 'float: right' %></p>

<h4>PhD student & IGERT Recipient</h4>

<h3>Research focus:</h3> 
<p>Tropical tick ecology</p>

<h3>Advisors:</h3>
<p>Dr. Brian Allan, Entomology<br /> <a href="mailto:ewelsh2@illinois.edu">ewelsh2@illinois.edu</a></p>
<p>My research takes me to Central Panama where I conduct field studies on tropical tick ecology in order to better understand transmission dynamics of tick-borne disease. In particular, I focus on assessing the extent to which biotic and abiotic factors such as microbial infection and seasonality in rainfall affect tick survival, thus influencing the potential for disease transmission. Ultimately, I seek to evaluate the potential impact of climate change on tick and tick-borne disease distribution in the Neotropics.</p>

<table class="image">
<tbody>
<tr>
<td><img style="height: 170px; float: right; padding: 4px;" src="/assets/peec/welsh1.jpg" alt="" width="190px"></td>
<td><img style="height: 170px;" src="/assets/peec/welsh2.jpg" alt="" width="190px"></td>
<td><img style="height: 170px; float: right; padding: 4px;" src="/assets/peec/tick.jpg" alt="" width="190px"></td>
</tr>
</tbody>
</table>


<br>
<center><p><strong><a href="/peec/student_research"> See Other Students</a></strong></p></center>


<p>&nbsp;</p>

