<%# KA: Modified: June 2015: Restyled the page with Bootstrap %>

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'peec_news_ex' ) %>

<h2>Featured PEEC Alumni</h2>
<p style="text-align: center;"><em>Click on the name of the alumnus to see more what they're doing now.</em></p>
<p>If you are a current PEEC Graduate Student or a PEEC Alumnus and would like to be featured on either of these pages, please send Laura Thurlwell<a href="mailto:thurlwel@illinois.edu"> (thurlwel@illinois.edu)</a> a short write-up along with a couple of pictures, and we'll gladly add you to our pages.</p>

<br>
 <%# KA: Featured Alumni - Thumbnails begin %>
   <!--Row 1   -->          
        <div class="row">
        

	    <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/smith2.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/alumni/smith">Chris Smith</a>
                </h3>
                <p> Assistant Professor<br /><em>Earlham College</em><br /> Richmond, Indiana<br />
          (focuses on the evolution of phenotypic variation in insect societies)<br /> 
          <a href="mailto:crsmith.ant@gmail.com">crsmith.ant@gmail.com</a></p>
            </div>  


              <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/carey1-cropped.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/alumni/carey">Michael Carey</a>
                </h3>
                <p>Research Fish Biologist<br />
            	<em>USGS Alaska Science Center </em><br />
            	(studies response of aquatic ecosystems to a changing environment)<br /> 
            	<a href="mailto:mcarey@usgs.gov">mcarey@usgs.gov</a>
          </p>

            </div>
       
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/maddox_observing.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/alumni/maddox">J. Dylan Maddox</a>
                </h3>
                  <p>
            NSF Postdoctoral Fellow<br />
            <em>El Centro de Investigaciones de Recursos Naturales de la Amazon&iacute;a</em>&nbsp;(CIRNA) at <em>Universidad Nacional de la Amazon&iacute;a Peruana</em> (UNAP) Iquitos, Per&uacute;<br /> (focuses on understanding the mating system of a colonial blackbird in the Peruvian Amazon)
          </p>

            </div>
        </div>

<!--Row 2   -->
        <div class="row">
     	    <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/nelson_casif.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/alumni/nelson">David Nelson</a>
                </h3>
                <p>Assistant Professor<br />
          	<em>Appalachian Laboratory;</em><br />
          	<em> Center for Environmental Science</em> at University of Maryland <br />
        	  (established the Central Appalachians Stable Isotope Facility (CASIF))<br />
        	  <a href="mailto:dnelson@al.umces.edu">dnelson@al.umces.edu</a>
		</p>
            </div> 

            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/toth3-cropped.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/alumni/toth">Amy Toth</a>
                </h3>
                <p>  Assistant Professor<br /> <em>Iowa State University</em><br /> (focuses on behavioral genomics of paper wasps and on how nutritional considerations relate to honey bee health)<br /> <a href="mailto:amytoth@iastate.edu">amytoth@iastate.edu</a></p>
            </div>

       

    <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/allen.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/alumni/allen">Michael Allen</a>
                </h3>
                <p>Assistant Director for Research<br /> 
          	<em>Maryland Sea Grant</em><br /> 
          	(works with the scientific community to advance research and education on issues affecting the Chesapeake Bay region)<br /> 
          	<a href="mailto:mallen@mdsg.umd.edu">mallen@mdsg.umd.edu</a>
        </p>
            </div>


   
   	</div>
 



<p><em>If you are a PEEC Alumnus and would like to be featured here, please send Laura Thurlwell<a href="mailto:thurlwel@illinois.edu"> (thurlwel@illinois.edu)</a> a short write-up along with a couple of pictures, and we'll gladly add you.</em></p>






