<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Cooperating Departments &amp; Programs</h1>
<p>The Program in Ecology, Evolution, and Conservation Biology serves as a focal point for interaction between basic and applied ecologists on campus that are housed in a several colleges, departments, and governmental agencies. The program is housed in the School of Integrative Biology.</p>
<p>&nbsp;</p>
<h2 style="text-align: left;" align="left"><a href="http://www.las.illinois.edu/">College of Liberal Arts and Sciences</a></h2>
<ul>
<li>
<h3><strong><a href="../../">School of Integrative Biology</a></strong></h3>
<ul>
<li>
<h3><strong><a href="http://www.life.illinois.edu/animalbiology/">Department of Animal Biology</a></strong></h3>
</li>
<li>
<h3><strong><a href="http://www.life.illinois.edu/entomology/home.html">Department of Entomology</a></strong></h3>
</li>
<li>
<h3><a href="http://www.life.illinois.edu/plantbio/"><strong>Department of Plant Biology</strong></a></h3>
</li>
</ul>
</li>
<li>
<h3><a href="http://www.anthro.illinois.edu/">Department of Anthropology</a></h3>
</li>
<li>
<h3><a href="http://www.geog.illinois.edu/">Department of Geography</a></h3>
</li>
<li>
<h3><strong><a href="http://www.stat.illinois.edu/">Department of Statistics</a></strong></h3>
</li>
</ul>
<h2 style="text-align: left;" align="left">&nbsp;</h2>
<h2 style="text-align: left;" align="left"><a href="http://www.aces.illinois.edu/">College of Agricultural, Consumer and Environmental Sciences</a></h2>
<ul>
<li>
<h3><a href="http://www.nres.illinois.edu/">Department of Natural Resources and Environmental Sciences</a></h3>
</li>
<li>
<h3><a href="http://www.cropsci.illinois.edu/">Department of Crop Sciences</a></h3>
</li>
</ul>
<h2 style="text-align: left;">&nbsp;</h2>
<h2 style="text-align: left;"><a href="http://www.engr.illinois.edu/">College of Engineering</a></h2>
<ul>
<li>
<h3><a href="http://cee.illinois.edu/">Department of Civil and Environmental Engineering</a></h3>
</li>
</ul>
<h2 style="text-align: left;">&nbsp;</h2>
<h2 style="text-align: left;"><a href="http://www.faa.illinois.edu/">College of Fine and Applied Arts</a></h2>
<ul>
<li>
<h3><a href="http://www.urban.illinois.edu">Department of Urban and Regional Planning</a></h3>
</li>
</ul>
<h2 style="text-align: left;" align="left">&nbsp;</h2>
<h2 style="text-align: left;" align="left"><a href="http://www.cvm.illinois.edu/">College of Veterinary Medicine</a></h2>
<ul>
<li>
<h3><a href="http://www.cvm.illinois.edu/vp/">Department of Veterinary Pathobiology</a></h3>
</li>
</ul>
<h2 style="text-align: left;" align="left">&nbsp;</h2>
<h2 style="text-align: left;" align="left"><a href="http://www.inhs.illinois.edu/">Illinois Natural History Survey</a></h2>
<h2 style="text-align: left;" align="left">&nbsp;</h2>
<h2 style="text-align: left;" align="left"><a href="http://www.life.illinois.edu/programs/SBE/">Systematics and Biodiversity Group</a></h2>
