<% content_for( :title, 'Prospective Peec Students' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'prospective_ex' ) %>

<h2>Prospective Students</h2>
<h4 style="text-align:center"> Program in Ecology, Evolution, and Conservation Biology (PEEC)</h4>

<p>Thank you for visiting our website. If you are interested in a research program that addresses basic ecological and evolutionary processes at the genetic, physiological, population, community, and ecosystem levels, and includes application of scientific principles to current environmental problems such as global change, conservation biology, and restoration ecology, then you've come to the right place!</p>

<p>Our Program will prepare you for a career in academia, government, or the private sector by giving you a thorough understanding of the concepts of ecology, evolutionary, and conservation biology as well as proficiency in analytical and quantitative methods.</p>

<p>If you are interested in a flexible and interdisciplinarian graduate program, please explore the rest of our website to get a better understanding of our program, and then visit each of the links for Prospective students, on the sidebar, to learn about our admission criteria and process:</p>

<h3>Contact Us:</h3>
<p>265 Morrill Hall, MC-116<br /> 505 South Goodwin Ave.<br /> Urbana, IL 61801&nbsp; USA<br /> phone: 217/ 300-1166; fax: 217/ 244-7246<br /> <a href="mailto:ecoevo@life.illinois.edu">ecoevo@life.illinois.edu</a></p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
