<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'prospective_ex' ) %>

<h2>Before You Apply</h2>
<h4 style="text-align:center">Program in Ecology, Evolution, and Conservation Biology (PEEC)</h4>

<h3>Contact Faculty Member(s)</h3>
<p style="padding-left: 30px;">PEEC (Program in Ecology, Evolution, and Conservation Biology) admits students both to the program and directly to faculty labs. Therefore, it is essential to have one or more faculty members who are interested in becoming your advisor and having you join their lab. <em>Before</em> you apply to PEEC, please look at the <a href="/peec/faculty" target="_blank">faculty website</a> and contact faculty members with whom you might want to work. The faculty members can then let you know if they will be accepting new students in the fall, and let you know whether your education, experience and interests are a good fit for their lab.</p>

<h3>Apply for Relevant Fellowships</h3>
<p style="padding-left: 30px;">Advisors must also take into consideration whether they will have the funding to support a new student, if need be. All students are admitted to the Program with the guarantee that you will receive both a stipend (9 month appointment) and a tuition waiver (2 years for MS, 5 for PhD), provided you continue to make satisfactory progress on your degree. Stipends and tuition waivers are provided through a combination of fellowships (external and university), teaching assistantships, and research assistantships. Any fall or spring semester in which you are not being supported by a fellowship or a teaching assistantship, your advisor will need to offer you support through a research assistantship. Therefore, we strongly encourage students to actively apply for all <a href="/peec/fellowships" target="_blank">relevant fellowships</a>, both external and university, as soon as possible and throughout your graduate student years.</p>

<h3>Consider To Which Program You Should Apply - PhD or MS?</h3>
<p style="padding-left: 30px;">PEEC is primarily a PhD program. Typically, we have very few MS students in the program. Our MS degree is a 2-year thesis-based degree; therefore, in addition to coursework, there is the requirement of a significant research project which will result in a publishable paper. Our PhD degree is a 5-year program requiring a final defense and deposit of a dissertation. You cannot enroll in PEEC as a non-degree student.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
