<%# KA: July 2015 %>


<% content_for( :title, 'Courses' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'courses_ex' ) %>

 
<img src="/assets/sib/IB106-1.jpg" style="float:left; height: 80px;">
<img src="/assets/sib/IB106-4.jpg" style="float:right; height: 80px; padding-right: 13px;">

<h2>IB 106/Geol 106/ESES 126</h2>
<h4 style="text-align: center;">Extinction: From Dinosaurs to Dodos<br>Fall 2015</h4>

<h3>Course Description</h3>

<p>This class will examine the role of extinction in shaping the history of
life on Earth. We will explore the "big five" extinction events -
including the two mass extinctions that mark the rise and fall of the
dinosaurs - and other periods of rapid ecological change. We will examine
the causes of these mass extinctions of the past, and study how animal and
plant life recovered from them. A major theme of the course will be the
ongoing modern extinction crisis, and the lessons we can learn from the
past when addressing modern biodiversity loss, from the loss of the dodo
bird in the 17th century to the threat of extinction faced by endangered
plants and animals today.</p>

<p>
This course satisfies the General Education Criteria for a Life Sciences
course. We will cover all the fundamental concepts of the life sciences,
including genetics, speciation, evolution, growth and differentiation,
metabolism and bio-energetics, ecology, and behavior. We will also review
scientific methodology, and you will be involved in classroom exercises
that involve making observations, evaluating data, and problem solving. </p>      

<h3>Instructor Information</h3>
<p>
Dr. Surangi Punyasena<br>
Assistant Professor, Plant Biology; Affiliate: Geology; Geography;<br>
Illinois Informatics Institute<br>
Email:  ib106@life.illinois.edu<br>
Office and hours:  139B Morrill Hall; Mondays 3.00 - 5.00 pm<br>
</p>


<!--
<h3>Meeting times</h3>
Lectures MW 1.00 – 1.50 pm, 100 Gregory Hall<br/>
Discussion sections (choose one), 315 Natural History Building<br/>

<div style="float: left; width: 100%;">
    <div style="width: 48%; float: left;"> 

	<p>AB1 T 2.00 – 2.50 pm (Stefan)</p>
	<p>ABB T 3.00 – 3.50 pm (Matt)</p>
	<p>AB2 W 10.00 – 10.50 am (McKenna)</p>
	<p>AB3 W 11.00 – 11.50 am (McKenna)</p>
	<p>AB4 W 12.00 – 12.50 pm (Matt)</p>
	<p>AB5 W 2.00 – 2.50 pm (Stefan)</p>
    
   	</div>
    
    <div style="width: 48%; float: left;">
		
	<p>ABC W 3.00 – 3.50 pm (Stefan)</p>
	<p>AB6 Th 10.00 – 10.50 am (McKenna)</p>
	<p>AB7 Th 11.00 – 11.50 am (McKenna)</p>
	<p>AB8 Th 12.00 – 12.50 pm (Matt)</p>
	<p>AB9 Th 1.00 – 1.50 pm (Matt)</p>
	<p>ABA Th 2.00 – 2.50 pm (Stefan)</p>
    
    </div>
</div>
-->
<p>
<strong>Credit: 3 hours </strong><br>
This course satisfies the General Education Criteria for a Life Sciences course.
</p>
<p>&nbsp;</p>
