<%# KA: July 2015 %>

<% content_for( :title, 'ib150-proficiency exam' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'courses_ex' ) %>


<div><img src="/assets/sib/header_ib150.gif" alt="Content Splash Image"width="100%"></div>

<h2>IB150 Proficiency Exam Information</h2>

<center>
<h3><strong>Fall 2014 Proficency Exam:</strong></h3>
<p><strong>Thursday, September 4th 6-8:50 pm</strong><br>
<strong>Location: 162 Noyes Lab</strong><br><br>
<strong>Registration is mandatory</strong><br>
<strong>Registration deadline Wednesday Sept 3rd</strong><br>
<strong>No late registrations will be accepted</strong></p>
</center>

<p style="text-align:center; "><a href="https://illinois.edu/fb/sec/2661487"><strong>Click here to register for exam</strong></a></p>



<p>The proficiency exam is <strong>OPTIONAL.</strong> If you would like to take IB150 for credi towards your degree, you should NOT register for the proficiency exam.</p>

<p><strong>Purpose of proficiency exams:</strong> To permit clearly  superior students who have good knowledge of the course material to get  credit for a course without taking it.  A student who is enrolled in the course or who  has already taken it may not take the proficiency exam.  An exam may be  taken only once. The exam is designed to test proficiency in the   major topics covered in the University of Illinois Integrative Biology introductory curriculum. If a student performs well on the exam (70% or higher), then IB150 credit can be earned. Students are allowed only one attempt to take the proficiency exam. The proficiency exam is offered at the   beginning of the fall semester and at the beginning of the spring   semester.</p>


<p> <strong>Per <a href="http://admin.illinois.edu/policy/code/article3_part2_3-203.html"> Student Code, Part 2. Examinations, ยง 3-203 Proficiency Examinations</a>, departmental proficiency examinations may be taken only by the following: </strong></p>
	<ul>
  		<p> Students who are enrolled for courses on the Urbana-Champaign campus. </p>
  		<p> Persons who have been previously registered in a degree program and are currently registered in guided individual study or extramural courses. </p>
  		<p> Persons not registered in the University at the time but who are candidates for undergraduate degrees at the University of Illinois and who need no more than ten semester hours to complete the requirements for their degrees. </p>
</ul>

<p> <strong>Note:</strong> A proficiency examination may not be taken either to raise a grade or to   earn credit in a course that has been failed. (See ยง?3-204 on   special examinations.) </p>
<p> An examination for credit in a college subject of elementary character is not granted to a student who has received credit for more than one semester of work in the subject in advance of the course in which the examination is requested. According to the student code,you cannot take the proficiency exam in IB 150 if you have credit for more than one 200 or higher level biology course.</p>
<p> The grade in proficiency examinations is PS or F, but students are not given a grade of PS unless they have earned a score of 70% or better on the examination. No official record is made of failures in these examinations, but some departments may prohibit a student from retaking the examination. SIB only allows students to take the exam once.</p>
<p> Undergraduate students who pass a proficiency examination are given credit toward graduation for the amount regularly allowed in the course, provided such credit does not duplicate credit counted for admission to the University and provided the credit is acceptable in their curriculum. </p>
<p> Credit earned by a proficiency examination does not count toward satisfying the minimum requirement of sixty semester hours of University of Illinois at Urbana-Champaign credit, of which at least 21 hours must be 300 or 400 level courses at the Urbana-Champaign campus. (See ยง?3-801 on credit requirements for degrees.) </p>

