<%# KA: July 2015 %>

<% content_for( :title, 'Courses' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'courses_ex' ) %>


    <div><img src="/assets/sib/header_ib150.gif" alt="Content Splash Image" width="100%"></div>
    
<h2>Integrative Biology 150</h2>
<h4 style="text-align: center;">Organismal and Evolutionary Biology</h4>
<center>
  <p><strong>Fall, Tuesday &amp; Thursday 9:30-10:50 AM <br>
     Foellinger Auditorium</strong></p>
</center>

<p><strong>Welcome to IB 150</strong>. This course covers biological processes over a broad range of spatial and temporal scales. The course is roughly divided into the following modules: physiology and anatomy; genetics; evolution, and integrative biology. There are three hours of lecture per week and one hour of discussion. The weekly discussion sections provide an opportunity for students to work with graduate teaching assistants (TAs) to improve mastery of the lecture topics through supplemental readings and in-class exercises. Background information for the lectures and announcements will be available at the course web site. </p>
      <p>Lectures and discussions are coordinated, and both will be covered on the four in class exams and the cumulative final exam. The course grade is determined by lecture participation (lecture activities), discussion participation, online assignments, discussion homework, a group project, scores on the exams, and the score on the final, plus any extra credit earned by the student. IB 150 will use a plus/minus grading system.</p>
      <p>&nbsp;</p>
      <h3 style="text-align: center;"><a href="/course/ib150_proficiency_exam">Fall 2014 Proficiency Exam Information</a></h3>

<p> &nbsp;</p><p> &nbsp;</p>
<p> &nbsp;</p><p> &nbsp;</p>

