<% content_for( :title, 'Courses' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'courses_ex' ) %>


<h2>IB 420 / CPSC 484</h2>
<h4 style="text-align: center;">Plant Physiology</h4>

<center>Spring 2010</center>

<p>&nbsp;</p>

<p>Welcome to IB 420/CPSC 484.  This course provides an overview of the basic mechanisms underlying plant function, growth and development.  General topic areas will include: plant structure and cell biology, plant water relations and mineral nutrition, long-distance transport phenomena, photosynthesis, respiration and plant metabolism, plant growth regulators, plant development, plant stress physiology and plant biotechnology. An integrative approach is taken in the course to provide an anatomical and developmental context for understanding the physiology of plants.  There are three hours of lecture per week. Background information for the lectures in the form of lecture outlines and general announcements will be available on the course web site, which will be updated frequently throughout the semester.   Please note: It is expected that students will complete reading assignments prior to lecture.</p>

<p>&nbsp;</p>

<p>Quizzes will be given at regular intervals throughout the semester and there will be a cumulative final in the course. The course grade is determined by the scores on the quizzes and final.  IB 420/CPSC 484 will use a plus/minus grading system (please see the Grading Policy link for more details).</p>

<p>&nbsp;</p>

<p>Quizzes will contain a mix of multiple-choice, short answer and essay questions.  Non-programmable calculators will be allowed at quizzes and the final exam.  Illinois Compass will contain the grade book of record for this course. Students are responsible for ensuring that their grades in Illinois Compass are correct.</p>

<p>&nbsp;</p>
