<%# KA: June 2015 %>

<% content_for( :title, 'Profile' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>

      <h2 style="text-align: center;">Student Profile</h2>
       <h4 style="text-align: center;">Joseph Kadich</h4>

<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;">
	<img style="width: 200px;" src="/assets/sib/joey_kadich.jpg" alt="Joseph Kadich" width="200">
</div>

<p><strong>Year in School: </strong>Junior</p>

<p><strong>Career Plan: </strong></p>
<p>With my degree in IB, I would like to do research with animals in the future.</p>

<p><strong>Why you chose IB: <br></strong></p>
<p>I chose IB because I liked how it covers so many diverse subjects from genetics to the environment. I felt it would really help me become well-rounded and fluent in all areas of biology.</p>

<p><strong>Favorite IB class and why: <br></strong></p>
<p>IB 202 - Anatomy and Physiology. I absolutely love to learn about how animals work and all their body structures. It's really interesting to see how the form of a structure is always related to providing the most efficient means of function in animal bodies.</p>

<p><strong>Favorite extra curricular activities (undergraduate research, clubs, etc) and why:</strong></p>
<p>I like to play guitar and write my own songs. It helps me get a release from the stress that school can sometimes bring.</p>

<p><strong>Secret Weapon for Success: <br></strong></p>
<p>I study with friends, to make sure that I stay on task</p>

<p><strong>Best Advice: <br></strong></p>
<p>Get to know your teachers. Not only will it help you in their specific class but, if you know a teacher well, they might let you know about different opportunities for research or work before other students.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p><br> </p>
<p class="clear_float">&nbsp;</p>

