<%# KA: June 2015 %>

<% content_for( :title, 'Profile' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>

      <h2 style="text-align: center;">Student Profile</h2>
       <h4 style="text-align: center;">Madeline Piller</h4>

<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;">
	<img style="width: 300px;" src="/assets/sib/madeline_piller.jpg" alt="Madeline Piller" width="300">
</div>

<p><strong>Year in School: </strong>Junior</p>
<p><strong>Career Plan: </strong></p>
<p>I hope to one day be a biology teacher! Think Magic School Bus and Ms. Frizzle, crazy experiments and live animals left and right.</p>
<p><strong>Why you chose IB: <br></strong></p>
<p>I knew from a very young age that I wanted to be in the biology field. The Field Museum was my second home as a student up until high school, and my interest in all things nature has followed me into college. My dad was also a taxidermist so I got to be very very close to many obscure animals and fish!</p>
<p><strong>Favorite IB class and why: <br></strong></p>
<p>IB 363 - Plants and Their Uses. This was my favorite class because the professor is extremely worldly and the knowledge I gained has been applicable in my research and in my everyday life! Also Professor Seigler has the best stories about growing up post WWII and how we have progressed using plants.</p>
<p><strong>Favorite extra curricular activities (undergraduate research, clubs, etc) and why:</strong></p>
<p>Researching is one of my very favorite parts of biology, I am learning things that aren't yet truly defined. This past summer I have been researching in the Institute for Genomic Biology, assisting a doctorate candidate and a professor. I work with arabidopsis, soybeans, and caterpillars and am loving my time in the lab!</p>
<p><strong>Secret Weapon for Success: <br></strong></p>
<p>My espresso machine, making lists, and an undying sense of humor.</p>
<p><strong>Best Advice: <br></strong></p>
<p>Hold yourself to a reasonable, yet high standard. Taking 18 hours and being part of 6 extra-curriculars may seem like the best idea, but speaking from experience I can tell you that it probably isn't. One way or another you are going to learn more than you ever thought you might. Find a few good groups and listen to your advisor and adjust as you go!</p>
<p>&nbsp;</p>



<p>&nbsp;</p>
<p><br> </p>
<p class="clear_float">&nbsp;</p>
