<!--KA: June 2015-->

<% content_for( :title,   'Ugrad Prospective-Declare' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'prospective_ex' ) %>

		<h2 style="text-align: center;">Want to declare IB as your major?</h2>


<i class="fa fa-info-circle"></i>&nbsp; <em><strong>Are you in biological sciences at Illinois?</strong></em>
	<ul class="ul_list">
	<p> If you are a freshman or sophomore in biology, you may declare IB as a major at the beginning of a semester or before the early registration period for the following semester. Please visit the College of LAS at 2002 Lincoln Hall to formally choose IB as your major. Check out the <a style="* padding-left: 1.5em;" href="http://www.las.uiuc.edu/students/programs/declaring/">LAS web site</a> for specific dates and other important information. You do not need to meet with an IB advisor or obtain paperwork to declare IB if you are a biological sciences student.</p>
</ul>


<i class="fa fa-info-circle"></i>&nbsp; <em><strong>Are you in another major at Illinois?</strong></em>
	<ul class="ul_list">
	<p> If you want to transfer to IB from another major at Illinois, you may declare IB as a major at the beginning of a semester or before the early registration period for the following semester. Check out the <a style="* padding-left: 1.5em;" href="http://www.las.uiuc.edu/students/programs/declaring/">LAS web site</a> for specific dates and other important information. You will need to talk with an <a href="/advising">IB advisor</a> before you do anything else to make sure you meet the requirements of the major. Once you have met with the IB advisor and it is determined you meet the requirements, the advisor will sign your Change of Major form, and you'll need to return the signed form to 2002 Lincoln Hall.</p>
</ul>


<i class="fa fa-info-circle"></i>&nbsp; <em><strong>Are you a student at another university or college?</strong></em>
	<ul class="ul_list">
	<p>If you wish to transfer into IB from another institution, please visit the <a href="http://admissions.illinois.edu/apply/requirements_transfer_handbook.html">Admissions </a>website for more information on transferring credit and applying.</p>
</ul>

	<p>If none of these options quite fits your circumstances, please schedule an appointment with an IB advisor by calling 217-333-6774, or speak with an advisor at your home college or institution.</p>

