<!--May 2015: About-Contact-->

  <div class="row">
            <div class="col-lg-12"><p></div>

<!--Sidebar start-->
	<div class="col-md-4">
		 <%= render 'layouts/sidebar_ugrad_advising' %>
	 </div>
<!--Sidebar end-->

<!--Main content-->
         <div class="col-md-8">
		<h2>Contact US</h2>
		    <table class="table table-striped">
		        <tbody>
		            <tr>
		                <td>Director:</td>
		                <td>Dr. Carla C&aacute;ceres</td>
		            </tr>
		            <tr>
		                <td>Assistant to the Director:</td>
		                <td>Toni Helton</td>
		            </tr>
		            <tr>
		                <td>Associate Director for Academic Affairs:</td>
		                <td>Dr. Carol Augspurger</td>
		            </tr>
     			    <tr>
		                <td>Associate Director for Business Affairs:</td>
		                <td>Penny Broga</td>
		            </tr>
		        </tbody>
		    </table>

		<hr><p>Contact information for other SIB faculty and staff may be found in the <a href="http://sib.illinois.edu/people">SIB Directory</a> Contact information for other University of Illinois personnel may be found through the university's <a href="http://illinois.edu/ows/PH">on-line phone directory</a>.</p>
		<p>If you wish to use any of the images on the School of Integrative Biology web site for any purpose, private or commercial, please contact Dr. Fred Delcomyn, Professor Emeritus, at <a href="mailto:delcomyn@life.illinois.edu">delcomyn@life.illinois.edu</a>.</p>
		<p>&nbsp;</p>
		<p><strong>School of Integrative Biology</strong><br/> 286 Morrill Hall<br /> MC-120<br /> University of Illinois<br /> 505 S. Goodwin Ave.<br /> Urbana, IL 61801<br /> U.S.A.</p>
		<p>Telephone: &nbsp; 217-333-3044<br>Fax: &nbsp; 217-244-1224<br> E-mail: &nbsp; <a href="mailto:sib@life.illinois.edu">sib@life.illinois.edu</a></p>
		<p>The latest anouncements and information about our undergraduate programs are available by signing up for our newsletter:</p>
     

</div>
</div>                                                                                                                                                                                  
