<!--KA: May 2105: About-COnvocation-->

  <div class="row">
            <div class="col-lg-12"><p></div>

<!--Sidebar start-->
	<div class="col-md-4">
		 <%= render 'layouts/sidebar_ugrad_advising' %>
	 </div>
<!--Sidebar end-->

<!--Main content-->
         <div class="col-md-8 no-gutter">
		<h2>School of Integrative Biology Convocation Ceremony</h2>
		<p><strong>School of Integrative Biology Convocation Ceremony</strong></p>
		<p><strong>Saturday, May 16, 2015 </strong></p>
		<p><strong>5:00 pm Festival Theatre, Krannert Center for the Performing Arts </strong></p>
		<p><strong>500 South Goodwin Avenue, Urbana</strong></p>
		<p>The School of Integrative Biology Convocation Ceremony is for graduating seniors, Master's and doctoral candidates in curricula under the auspices of the School of Integrative Biology. A reception will immediately follow the Ceremony in the KCPA lobby. This Ceremony is in addition to the <a href="http://www.illinois.edu/commencement"><strong>campuswide Commencement Ceremony</strong></a> in the Assembly Hall.&nbsp; Doctoral candidates may be hooded at either or both ceremonies.&nbsp;</p>
		<p><strong>Tickets ARE required</strong> for this event.&nbsp; Tickets are free and limited to five per student. Tickets may be picked up in 286 Morrill Hall, Monday through Thursday, May 11-14, between the hours of 1:00 and 4:30 PM.&nbsp; Additional tickets will be available on a first come, first served basis on Friday, May 15, from 8:30 AM to noon or 1:00 to 4:30 PM.&nbsp;</p>
		<p><em>Eligibility:</em> December 2014 graduates and May and August 2015 degree candidates are eligible to participate in this formal Ceremony. Please note that Ph.D. candidates <em>must</em> have their dissertation on file in the <a href="http://www.grad.illinois.edu/thesis-dissertation">Graduate College Thesis Office</a> by April 24.</p>
		<p><strong>To register</strong> to participate in the School of Integrative Biology Convocation Ceremony&nbsp;you must register using an&nbsp;online form, <a href="https://illinois.edu/sb/sec/5340334">https://illinois.edu/sb/sec/5340334</a>. The information from the form&nbsp;will be used to prepare a card that will be handed to the reader on stage and to provide the photographer with contact information.</p>
		<p>All graduates and degree candidates participating in the School of Integrative Biology Convocation Ceremony are required to wear appropriate <strong>academic attire</strong>. University of Illinois at Urbana-Champaign graduates wear custom regalia designed specifically for the campus. Academic attire consists of a blue mortarboard, blue gown and, in the case of a doctoral degree, a hood (<a href="http://sib.illinois.edu/CustomRegalia.doc">view custom regalia here</a>). Academic attire may be ordered at <a href="http://www.herffjones.com/illinois">http://www.herffjones.com/illinois</a>. If you are unsure of your plans at this time, but are considering participation in either the campuswide Commencement Ceremony or the SIB Convocation Cermony, you should place an order to rent academic attire. You will not be charged the rental fee if the academic attire is not picked up during the distribution period.</p>
		<p>A professional photographer will be taking pictures. Proofs will be sent to the email address provided by the graduate with no obligation to purchase. Additional pictures may be ordered online.</p>
		<p>Instructions for the day of the ceremony: (Please check back for more information)</p>
		<p><strong>Questions</strong> concerning the School of Integrative Biology Convocation Ceremony should be directed to <a href="mailto:sib@life.illinois.edu">sib@life.illinois.edu</a>, or you may stop by our office, 286 Morrill Hall.</p>

</div>

</div>
