<% content_for( :title, 'PEEC Research Areas' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'research_ex' ) %>

<h1>Research Area: Conservation Biology</h1>
<table border="0" width="100%" cellpadding="2">
<tbody>
<tr>
<td valign="top" width="33%">
<h4>Conservation Genetics</h4>
<ul>
<li><a href="http://www.life.illinois.edu/brawn/" target="_blank"><span class="style2">Jeffrey Brawn</span></a></li>
<li><a href="http://www.life.illinois.edu/scameron/" target="_blank">Sydney Cameron</a></li>
<li><a href="http://www.inhs.illinois.edu/caec/" target="_blank">John Epifanio</a></li>
<li class="style2"><a href="http://www.life.illinois.edu/paige/" target="_blank">Ken Paige</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=philipp" target="_blank">David Philipp</a></li>
<li class="style2"><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=caphilli" target="_blank">Christopher Phillips</a></li>
<li class="style2"><a href="http://ansci.illinois.edu/directory/alfred-roca" target="_blank">Alfred Roca</a></li>
</ul>
</td>
<td valign="top" width="33%">
<h4>Ecosystem Conservation and Management; Restoration Ecology</h4>
<ul>
<li class="style2"><a href="http://www.life.illinois.edu/entomology/faculty/allan.html" target="_blank">Brian Allan</a></li>
<li class="style2"><a href="http://vetmed.illinois.edu/faculty/vb/val.html" target="_blank">Val Beasley</a></li>
<li class="style2"><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=tjbenson" target="_blank">Thomas Benson</a></li>
<li class="style2"><a href="http://www.life.illinois.edu/brawn/" target="_blank">Jeffrey Brawn</a></li>
<li class="style2"><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=yongcao" target="_blank">Yong Cao</a></li>
<li class="style2"><a href="http://www.geog.illinois.edu/people/achhatre" target="_blank">Ashwini Chhatre</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=chick" target="_blank">John Chick</a></li>
<li><a href="http://wwx.inhs.illinois.edu/directory/show/dietrich" target="_blank">Christopher Dietrich</a></li>
<li><a href="http://nres.illinois.edu/directory/aendress" target="_blank">Anton Endress</a></li>
<li class="style2"><a href="http://www.anthro.illinois.edu/people/p-garber" target="_blank">Paul Garber</a></li>
<li><a href="http://www.geog.illinois.edu/people/jgrn" target="_blank">Jonathan Greenberg</a></li>
<li><a href="http://www.life.illinois.edu/hanks/" target="_blank">Larry Hanks</a></li>
<li><a href="http://www.geog.illinois.edu/people/bhannon" target="_blank">Bruce Hannon</a></li>
<li class="style2"><a href="http://microbes.nres.illinois.edu/" target="_blank"><span style="color: #000080;"> Angela Kent</span></a></li>
<li><a href="http://nres.illinois.edu/directory/jrmillr" target="_blank">James Miller</a></li>
<li><a href="http://www.life.illinois.edu/paige/" target="_blank">Ken Paige</a></li>
<li><a href="http://www.urban.illinois.edu/faculty/schneider/index.html" target="_blank">Daniel Schneider</a></li>
<li class="style2"><a href="http://nres.illinois.edu/directory/schooley" target="_blank">Robert Schooley</a></li>
<li><a href="http://nres.illinois.edu/directory/suski" target="_blank">Cory Suski</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=sjtaylor" target="_blank">Steven J. Taylor</a></li>
<li><a href="http://wwx.inhs.illinois.edu/directory/show/dwahl" target="_blank"><span style="color: #000080;">David Wahl</span></a></li>
<li><a href="http://nres.illinois.edu/directory/mwander" target="_blank">Michelle Wander</a></li>
</ul>
</td>
<td valign="top" width="34%">
<h4>Endangered Species</h4>
<ul>
<li><a href="http://www.life.illinois.edu/entomology/faculty/allan.html" target="_blank">Brian Allan</a></li>
<li><a href="http://vetmed.illinois.edu/faculty/vb/val.html" target="_blank">Val Beasley</a></li>
<li><a href="http://www.life.illinois.edu/scameron/" target="_blank">Sydney Cameron</a></li>
<li><a href="http://www.anthro.illinois.edu/people/p-garber" target="_blank">Paul Garber</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=eheske" target="_blank">Edward Heske</a></li>
<li><a href="http://www.life.illinois.edu/paige/" target="_blank"><span style="color: #000080;">Ken Paige</span></a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=caphilli" target="_blank">Christopher Phillips</a></li>
<li><a href="http://ansci.illinois.edu/directory/alfred-roca" target="_blank">Alfred Roca</a></li>
<li><a href="http://nres.illinois.edu/directory/schooley" target="_blank"> Robert Schooley</a></li>
<li><a href="http://www.anthro.illinois.edu/people/rstumpf" target="_blank">Rebecca Stumpf</a></li>
<li><a href="http://nres.illinois.edu/directory/suski" target="_blank">Cory Suski</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=sjtaylor" target="_blank">Steven J. Taylor</a></li>
</ul>
</td>
</tr>
<tr>
<td valign="top" width="33%">
<h4>Invasive Species</h4>
<ul>
<li><a href="http://www.life.illinois.edu/entomology/faculty/allan.html" target="_blank"><span style="color: #000080;">Brian Allan</span></a></li>
<li><a href="http://www.life.illinois.edu/berenbaum/" target="_blank"><span style="color: #000080;">May Berenbaum</span></a></li>
<li><a href="http://www.life.illinois.edu/caceres/" target="_blank">Carla Caceres</a></li>
<li><a class="style1" href="http://wwx.inhs.illinois.edu/directory/show/chick" target="_blank">John Chick</a></li>
<li><a href="http://arsweeds.cropsci.illinois.edu/Davis.htm" target="_blank">Adam Davis</a></li>
<li><a href="http://www.life.illinois.edu/delucia/" target="_blank"><span style="color: #000080;">Evan DeLucia</span></a></li>
<li><a href="http://wwx.inhs.illinois.edu/directory/show/dietrich" target="_blank">Christopher Dietrich</a></li>
<li><a href="http://nres.illinois.edu/directory/aendress" target="_blank"><span style="color: #000080;">Anton Endress</span></a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=epifanio" target="_blank">John Epifanio</a></li>
<li><a href="http://nres.illinois.edu/directory/jmf" target="_blank">Jennifer Fraterrigo</a></li>
<li><a href="http://www.life.illinois.edu/hanks/" target="_blank"><span style="color: #000080;">Larry Hanks</span></a></li>
<li><a href="http://www.life.illinois.edu/paige/" target="_blank"><span style="color: #000080;">Ken Paige</span></a></li>
<li><a href="http://www.urban.illinois.edu/faculty/schneider/index.html" target="_blank"><span style="color: #000080;">Daniel Schneider</span></a></li>
<li><a href="http://www.life.illinois.edu/suarez/andy.html" target="_blank">Andrew Suarez</a></li>
<li><a href="http://nres.illinois.edu/directory/suski" target="_blank">Cory Suski</a></li>
<li><a href="http://wwx.inhs.illinois.edu/directory/show/dwahl" target="_blank"><span style="color: #000080;">David Wahl</span></a></li>
<li><a href="http://nres.illinois.edu/directory/acyann" target="_blank">Anthony Yannarell</a></li>
</ul>
</td>
<td valign="top" width="33%">
<h4>Fragmentation Ecology</h4>
<ul>
<li><a href="http://www.life.illinois.edu/entomology/faculty/allan.html" target="_blank"><span style="color: #000080;">Brian Allan</span></a></li>
<li><a href="http://vetmed.illinois.edu/faculty/vb/val.html" target="_blank">Val Beasley</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=tjbenson" target="_blank">Thomas Benson</a></li>
<li><a href="http://www.life.illinois.edu/brawn/" target="_blank"><span style="color: #000080;"> Jeffrey Brawn</span></a></li>
<li><a href="http://nres.illinois.edu/directory/aendress" target="_blank">Anton Endress</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=eheske" target="_blank">Edward Heske</a></li>
<li><a href="http://nres.illinois.edu/directory/jrmillr" target="_blank">James Miller</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=caphilli" target="_blank">Christopher Phillips</a></li>
<li><a href="http://nres.illinois.edu/directory/schooley" target="_blank"> Robert Schooley</a></li>
<li><a href="http://www.life.illinois.edu/suarez/andy.html" target="_blank">Andrew Suarez</a></li>
</ul>
</td>
<td valign="top" width="34%">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
