<% content_for( :title, 'PEEC Research Areas' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'research_ex' ) %>




  <h2>Research Areas</h2>
  <h3>Click on the research area you are interested in to see the list of faculty for that area:</h3>
 
  <br>
   <table class="table table-hover">
    <thead>
      <tr>
        <th width="30%"><%= link_to 'Ecology', '/peec/ecology' %> </th>
        <th width="30%" ><%= link_to 'Evolution and Systematics', '/peec/evolution' %> </th>
        <th width="30%" ><%= link_to 'Conservation Biology', '/peec/conservation' %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to 'Agricultural Ecology', '/peec/ecology/#agri_eco' %> </td>
        <td>Behavioral Genetics and Evolution</td>
        <td>Conservation Genetics</td>
      </tr>
      <tr>
        <td>Behavioral Ecology</td>
        <td>Biodiversity</td>
        <td>Ecosystem Conservation and Management; Restoration Ecology</td>
      </tr>
      <tr>
        <td>Chemical Ecology</td>
        <td>Coevolutionary Interactions</td>
        <td>Endangered Species</td>
      </tr>
       <tr>
        <td>Community Ecology</td>
        <td>Evolutionary Developmental Biology</td>
        <td>Invasive Species</td>
      </tr>
       <tr>
        <td>Ecosystem Ecology</td>
        <td>Evolutionary Genetics</td>
        <td>Fragmentation Ecology</td>
      </tr>
       <tr>
        <td>Evolutionary Ecology</td>
        <td>Evolutionary Physiology</td>
        <td></td>
      </tr>
       <tr>
        <td>Global Change</td>
        <td>Life-History Evolution</td>
        <td></td>
      </tr>
       <tr>
        <td>Landscape Ecology</td>
        <td>Molecular Evolution</td>
        <td></td>
      </tr>
       <tr>
        <td>Molecular Ecology</td>
        <td>Morphologic and Phenotypic Evolution</td>
        <td></td>
      </tr>
       <tr>
        <td>Physiological Ecology</td>
        <td>Paleobiology</td>
        <td></td>
      </tr>
       <tr>
        <td>Population Ecology</td>
        <td>Speciation</td>
        <td></td>
      </tr>
       <tr>
        <td>Tropical Ecology</td>
        <td>Systematics</td>
        <td></td>
      </tr>

    </tbody>
  </table>

