<!--KA: Jun 2015 -->

<% content_for( :title, 'Business' ) %>
<% content_for( :sidebar, 'resources' ) %>

   <h2>Business Office Operations & Services</h2>
   <p> The SIB Business Office is the primary contact for SIB faculty, staff, and students in all aspects of University Financial Operations. We strive to provide great customer service that facilitates effective administration, teaching and research in the School.</p>
	<h4> Our people: </h4>
		    <table class="table table-striped">
		        <tbody>
		            <tr>
		                <td>Penny Broga</td>
		                <td>Associate Director for Business Affairs<br>
				    (217) 333-0292<br>
				    broga@life.uiuc.edu</td>
		            </tr>
		            <tr>
		                <td>Jessi Katterhenry</td>
		                <td>Sponsored Research Business Analyst<br>
				    (217) 333-6786<br>
				    jkatterh@illinois.edu</td>
		            </tr>
		            <tr>
		                <td>Jim McGraw</td>
		                <td>Account Technician I<br>
				    (217) 244-0822<br>
				    jmcgraw@illinois.edu</td>
		            </tr>
     			    <tr>
		                <td>Norma Treakle</td>
		                <td>Account Technician II<br>
				    (217) 244-9406<br>
				    ntreakle@illinois.edu</td>
		            </tr>
		        </tbody>
		    </table>

		<hr>
	<h4> What we do: </h4>

<p><strong>Accounting:</strong></p>
<p>Review of monthly financial reports for accuracy; Monitor Research Grant Spending for allowable costs; Review of funding availability; Report Preparation; General Accounting Questions; Account Close-out.</p><hr>

<p><strong><a href="/business_HR">Human Resources:</a></strong></p>
<p>Labor Redistributions; Appointment Accounting Approvals</p><hr>

<p><strong>Procurement Card:</strong></p>
<p>Issue Departmental P-Cards; Provide advice on use of campus P-Card; Review and Approval of all Transactions.</p><hr>

<p><strong><a href="/business_purchasing">Purchasing:</a></strong></p>
<p>Submission of requests to vendors via appropriate campus methods; Facilitate communication with vendors; Order Tracking; Assistance with ordering problems; Serve as a resource for special needs and operational methods</p>

  <ul class="ul_list">
	<i class="fa fa-info-circle"></i>&nbsp; <a href="http://www.life.illinois.edu/cgi-bin/req2.pl">Requisition Request</a> - up to 5 items<br>
	<i class="fa fa-info-circle"></i>&nbsp; <a href="http://www.life.illinois.edu/cgi-bin/req2.pl?no_of_items=20">Requisition Request</a> - 6 to 20 items
  </ul>
<hr>

<p><strong><a href="/business_reimbursements">Reimbursements/Vouchers:</a></strong></p>
<p>Assist with pre-payment of travel expenses; Review and Approval of miscellaneous reimbursements and payments to vendors</p><hr>

<p><strong><a href="/business_grants">Research Grant Preparation and Submission</a></strong> - Assist in reviewing research proposal submissions to meet agency submission guidelines; Prepare Proposal Budgets in adherence with Campus Policies and Procedures; Assist in electronic proposal submission to agency in collaboration with the Office of Sponsored Programs and Research Administration; Facilitate submission of documents to granting agency as requested prior to agency award.</p>
