<!--SIB Graduate-Grants-->

  <div class="row">
            <div class="col-lg-12"><p></div>

          
<!--Sidebar start-->
	<div class="col-md-4">
		 <%= render 'layouts/sidebar_grad' %>
	 </div>
<!--Sidebar end-->

<!--Main content-->
         <div class="col-md-8 no-gutter">
	 <h2 style="text-align: center;">Grants & Awards</h2>


	<p>Graduate students enrolled in SIB departments or SIB-sponsored graduate programs are eligible to apply for several grants or awards to support their research or to advance their professional development. Click on the name of the grant or award below to obtain more information about eligibility and application procedures.</p>
	<p>In addition, the <a href="http://www.grad.uiuc.edu/funding-jobs">Graduate College has a web page</a> on which financial aid to graduate students is discussed, including assistance with<a href="http://www.grad.illinois.edu/general/travelaward"> travel</a>.</p>
	<p><strong>SIB Grants and Awards Graduate Students May Apply For:</strong></p>
	<div>
		<p><strong>The <a href="grants_Banks">Edwin Banks Memorial Fund</a></strong> is administered by the Department of Animal Biology. This fund provides supplementary fellowship support for graduate students.</p>
		<p>Award: TBD</p>
		<p>Deadline: TBD</p><hr>
	</div>
	<p><strong>The <a href="grants_Emerson">Robert Emerson Memorial Award</a> </strong>is administered by the IB Fellowship Committee. This award is given to recognize exceptional academic achievement and research potential.</p>
	<p>Award: $2500</p>
	<p>Deadline: March 12, 2015</p><hr>
	<p><strong>The <a href="grants_clarkSummer">Francis M. and Harlie M. Clark Summer Fellowship</a></strong> is administered by the IB Fellowship Committee. Fellowships are given to support graduate students who would otherwise not have summer support.</p>
	<p>Fellowship: 2 months</p>
	<p>Deadline: March 12, 2015</p><hr>
	<p><strong>The <a href="grants_clarkResearch">Francis M. and Harlie M. Clark Research Support Grant</a> </strong>is administered by the IB Fellowship Committee. Grants are given in recognition of outstanding achievement in the biological sciences and for the support of the students' professional development or research.</p>
	<p>Award: Typically around $1,000</p>
	<p>Deadline: March 12, 2015</p><hr>
	<p><strong><a href="grants_Govindjee">The Govindjee and Rajni Govindjee Award for Excellence in Biological Science</a> </strong>is administered by the Department of Plant Biology every odd fiscal year. It provides research support for any student conducting research in plant biology.&nbsp;</p>
	<p>Award: TBD</p>
	<p>Deadline: March 12, 2015</p><hr>
	<p><strong>The <a href="grants_labinsky">Harold C. and Sonja L. Labinsky Award</a> </strong>is designed for students working with faculty in the Department of Plant Biology that use plant genetics in their research program. The award may be given to: 1) recognize graduate student research achievements using the methods and approaches of plant genetics, 2) recognize meritorious research using the methods and approaches of plant genetics by an undergraduate, or 3) as support for participation by a graduate student in a scientific workshop or meeting that will assist in the application of genetic approaches to the student's thesis research.</p>
	<p>Deadline: March 12, 2015</p><hr>
	<p><strong>The<a href="http://sib.illinois.edu/grants_WeldonLarimore"> R. Weldon Larimore Scholarship </a></strong>is administered by the Illinois Natural History Survey, a part of the Institute of Natural Resource Sustainability at the University of Illinois. It provides research support for graduate students conducting research in the area of stream ecology.</p>
	<p>Award: Not available for Spring 2015</p>
	<p>Deadline: NA</p><hr>
	<p><strong>The <a href="grants_laughnan">John R. Laughnan Fund in Plant Biology</a> </strong>is administered by the Department of Plant Biology. It provides support for graduates students in the Department of Plant Biology for travel to scientific meetings.</p>
	<p>Award: TBD</p>
	<p>Deadline: March 12, 2015</p><hr>
	<p><strong>The <a href="grants_lebus">Lebus Fund Award</a> </strong>is administered by the Integrative Biology Fellowship Committee. The award provides funds to support meritorious graduate students during the summer.</p>
	<p>Award: TBD</p>
	<p>Deadline: March 12, 2015</p><hr>
	<p><strong>The <a href="http://sib.illinois.edu/grants_luckmann">William H. Luckmann Award</a> </strong>is administered by a committee from the Illinois Natural History Survey. The award provides funds to support undergraduate or graduate student attendance and presentation of research results at the annual meeting of the Entomological Society of America (ESA) or a meeting of another appropriate professional society.</p>
	<p>Award: TBD</p>
	<p>Deadline: March 31, 2015</p><hr>
	<p><strong>The <a href="grants_norton">Isabel Norton Award</a></strong> is administered by the Integrative Biology Fellowship Committee. The award provides funds to support graduate students who are within one year of graduation in order for them to complete their thesis or dissertation research.</p>
	<p>Award: No funding for Spring&nbsp;2015</p>
	<p>Deadline: NA</p><hr>
	<p><strong>The <a href="grants_odum">Eugene P. Odum - S. Charles Kendeigh Fund</a> </strong>is administered by the Department of Animal Biology. It provides research support for graduate students in the field of ecology, behavior, and evolutionary biology.</p>
	<p>Award: TBD</p>
	<p>Deadline: TBD</p><hr>
	<p><strong>The <a href="grants_ross">Herbert Holdsworth Ross Memorial Fund</a> </strong>is administered by a faculty committee from the Natural History Survey and the Department of Entomology. The fund provides research support for graduate students in the field of systematics, including taxonomy, phylogeny, biogeography, and related subjects.</p>
	<p>Award: TBD</p>
	<p>Deadline: April 3, 2015</p>
	<p><strong>The <a href="grants_smith">Phillip W. Smith Memorial Fund</a> </strong>is administered by a committee from the Natural History Survey. The fund provides research support for graduate students in the fields of systematics or ecology of living organisms.</p>
	<p>Award: TBD</p>
	<p>Deadline: April 3, 2015</p><hr>
	<p><strong>The <a href="grants_vancleave">Harley J. Van Cleave Research Award</a> </strong>is administered by the Integrative Biology Fellowship Committee. The fund provides research support for graduate students investigating new frontiers and demonstrating promise and high aptitude in the fields of Cell and Structural Biology, Physiology, Ecology, Microbiology, Genetics, and related fields. <a href="Grad Application Checklist.docx">Submit application</a> in pdf format to <a href="mailto:sibawards@life.illinois.edu">sibawards@life.illinois.edu</a>.</p>
	<p>Award: $1000</p>
	<p>Deadline: March 12, 2015</p>



</div>
</div>
