<!-- grad-index-->

  <div class="row">
            <div class="col-lg-12"><p></div>

<!--Sidebar start-->
	<div class="col-md-4">
		 <%= render 'layouts/sidebar_grad' %>
	 </div>
<!--Sidebar end-->

<!--Main content-->
         <div class="col-md-8 no-gutter">
		<h2>Graduate Students</h2>
		<p>The School of Integrative Biology comprises three departments that offer graduate degrees. The School also sponsors several interdepartmental graduate programs. These graduate degree programs can all be accessed through the <a href="http://sib.illinois.edu/units">Departments &amp; Programs</a> link here or in the menu at left.</p>
		<p>As a graduate student, you will likely find most of the information you need under one of these specific graduate departments or programs. However, there are a number of resources that may be helpful to you irrespective of your home unit. Links to these resources are on this page.</p>
		<p>If you are looking for funds to help you carry out your research or to attend workshops or meetings, click on the<a href="http://sib.illinois.edu/grants"> Grants &amp; Awards</a> link here or on the menu item at left.</p>
		<p>If you are thinking of applying to one of our graduate programs, you may also find useful our <a href="/faqs/prospective_graduate">prospective graduate student FAQs.</a></p>
	

		<h4 style="text-align: center;">Links of General Interest</h4>


	<div id="menu">
		<div class="panel list-group">
		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link1" data-parent="#menu"><strong>GRADUATE COLLEGE RESOURCES </strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link1" class="sublinks collapse">
			  <a class="list-group-item small" href="http://www.grad.uiuc.edu/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Graduate College</a>
			  <a class="list-group-item small" href="http://www.grad.uiuc.edu/careerservices/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Graduate College career services office </a>
			 </div>


		 <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link2" data-parent="#menu"><strong>FINANCIAL INFORMATION </strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
			 <div id="link2" class="sublinks collapse">
			  <a class="list-group-item small" href="http://www.grad.illinois.edu/clearinghouse/index.cfm">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Graduate College Assistantship Clearinghouse</a>
			  <a class="list-group-item small" href="http://www.grad.uiuc.edu/fellowship/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Fellowships - General</a>
			  <a class="list-group-item small" href="https://www.grad.uiuc.edu/fellowship/upcoming/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Fellowships - Upcoming deadlines</a>
			  <a class="list-group-item small" href="http://www.osfa.uiuc.edu/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; General financial aid</a>
			  <a class="list-group-item small" href="http://sib.illinois.edu/grants.htm">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;IB financial aid</a>
			  <a class="list-group-item small" href="http://www.oar.uiuc.edu/current/financial/grad_expenses.html">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Tuition and fees</a>
			 </div>


		 <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link3" data-parent="#menu"><strong>INSURANCE & RELATED INFORMATION </strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
			 <div id="link3" class="sublinks collapse">
			  <a class="list-group-item small" href="http://www.grad.illinois.edu/clearinghouse/index.cfm">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; McKinley Health Center</a>
			  <a class="list-group-item small" href="http://www.si.uiuc.edu/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Student insurance</a>
			  <a href="#/" class="list-group-item"><strong>Dental Insurance </strong><span class="glyphicon glyphicon-tag pull-right"></span></a>
			  <a class="list-group-item small" href="http://www.grad.uiuc.edu/survivalguide/health.asp#10">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; General description</a>
			  <a class="list-group-item small" href="http://www.grad.uiuc.edu/FY09%20dental%20brochure%20for%20GSs%20FINAL.pdf">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Brochure</a>
			  <a href="#/" class="list-group-item"><strong>Vision Insurance</strong><span class="glyphicon glyphicon-tag pull-right"></span></a>
			  <a class="list-group-item small" href="http://www.grad.uiuc.edu/survivalguide/health.asp#11">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span> &nbsp; General description</a>
			  <a class="list-group-item small" href="http://www.grad.uiuc.edu/FY2009%20vision%20brochure%20for%20GAs%20FINAL%20no%20SSN.pdf">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Summary</a>
		 </div>

 
 		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link4" data-parent="#menu"><strong>INFORMATION ABOUT CHAMPAIGN URBANA AREA</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
			 <div id="link4" class="sublinks collapse">
			  <a class="list-group-item small" href="http://www.life.uiuc.edu/biophysics/students/guide/index.html">&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Cindy's Guide to Living (Cheaply) in CU</a>
			  <a class="list-group-item small" href="http://www.news-gazette.com/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; The [Champaign-Urbana] News Gazette</a>
			  <a class="list-group-item small" href="http://www.city.champaign.il.us/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Champaign</a>
			  <a class="list-group-item small" href="http://www.city.urbana.il.us/Urbana/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Urbana</a>
			</div>


		 <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link5" data-parent="#menu"><strong>MAPS</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
			 <div id="link5" class="sublinks collapse">
			  <a class="list-group-item small" href="http://illinois.edu/ricker/CampusMap">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Campus</a>
			  <a class="list-group-item small" href="http://www.parking.uiuc.edu/campus_map/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Parking</a>
			</div>


		 <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link6" data-parent="#menu"><strong>FOR INTERNATIONAL STUDENTS</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
			 <div id="link6" class="sublinks collapse">
			  <a class="list-group-item small" href="http://www.ips.uiuc.edu/isss/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Office of International Student and Scholar Services (ISSS)</a>
			  <a class="list-group-item small" href="http://www.ips.uiuc.edu/isss/about/index.php?catID=1&amp;pageID=55">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; ISSS Handbook</a>
			  <a class="list-group-item small" href="http://www.counselingcenter.uiuc.edu/?page_id=78">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Counseling Center, International Students</a>
			  <a class="list-group-item small" href="http://www.deil.uiuc.edu/">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Division of English as an International Language</a>
			</div>


		</div>
	</div>

</div>
</div>
	
