<!--Graduate - News-->

  <div class="row">
            <div class="col-lg-12"><p></div>

          
<!--Sidebar start-->
	<div class="col-md-4">
		 <%= render 'layouts/sidebar_grad' %>
	 </div>
<!--Sidebar end-->

<!--Main content-->
         <div class="col-md-8 no-gutter">
	 <h2 style="text-align: center;">Graduate News</h2>

	<p>  </p>



</div>
</div>

