<h1>Minor in Integrative biology</h1>
<p>The School of Integrative Biology is pleased to offer two minors: Minor in Integrative Biology and <a href="/minor/ecology">Minor in Ecology and Conservation Biology</a>. A minor in Integrative Biology is ideal for students intending to have a career in a field other than biology, but for whom a background in biology is nevertheless complementary, e.g. law, technology, bioinformatics, business, scientific writing, and engineering.</p>
<p>Interested students should schedule an appointment with an IB advisor by calling 217-333-6774, <a href="http://sib.illinois.edu/advising/scheduler/">make an appointment online</a>, or just stop by our office in 127 Burrill Hall.</p>
<h2>&nbsp;</h2>
<div class="course_table">
<table cellspacing="0">
<tbody>
<tr><th>Hours</th><th>Course Requirements</th></tr>
<tr>
<td>4</td>
<td>IB 150 - Organismal and Evolutionary Biology (4 hours)<br /> or IB 103 - Introduction to Plant Biology (4 hours)<br /> or IB 104 - Animal Biology (4 hours)</td>
</tr>
<tr>
<td>6-8</td>
<td><strong>Two of the following:</strong><br /> IB 202 - Anatomy and Physiology (3 hours, lecture only; 4 hours, with lab)<br /> IB 203 - Ecology (4 hours)<br /> IB 204 - Genetics (3 hours, lecture only; 4 hours, with lab)<br /> IB 302 - Evolution (4 hours)</td>
</tr>
<tr>
<td>6-8</td>
<td>Two additional courses at the 300 or 400 level selected from <a href="/courses/area_courses">List of Area Courses</a> for the IB Major*.</td>
</tr>
<tr>
<td bgcolor="#cccccc">16-20 hours</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
<p>*Please note, all prerequisite courses must be taken if specified.</p>
<p>&nbsp;</p>