<h1>The Organisms and Evolution Option</h1>
<p>You may have had a fascination with a particular group of organisms since you captured them in your backyard or saw them doing amazing things on the Discovery channel. You may have begged your mother to allow you to have an exotic pet. You may have a passion to learn as much as you can about your group of organisms. If so, you can choose from among the three IB options that focus on vertebrates, insects, or plants.</p>
<p>The advanced courses dealing with organisms will include projects in both the laboratory and field. In addition to genetic and molecular approaches, the courses also rely on field plots, greenhouses, herbarium, museum collections, and wild and managed habitats.</p>
<p>The courses listed here are the ones recommended for students following theOrganisms and Evolution Option and interested in preparing for a career in this field.</p>
<h4 style="text-align: left;">Vertebrates Emphasis</h4>
<h2 style="text-align: left;">Introductory Courses</h2>
<ul style="text-align: left;">
<li>IB 150 Organismal and Evolutionary Biology</li>
<li>MCB 150 Molecular and Cellular Basis of Life</li>
</ul>
<h2 style="text-align: left;">Core Courses</h2>
<ul style="text-align: left;">
<li>IB 202 Anatomy and Physiology</li>
<li>IB 203 Ecology</li>
<li>IB 204 Genetics</li>
<li>IB 302 Evolution</li>
</ul>
<h2 style="text-align: left;">Suggested Advanced Courses</h2>
<h5 style="text-align: left;">(1 in each of two areas; 14 hours minimum in total including 1 lab course*)</h5>
<h3 style="text-align: left;">Area 1 Organismal and Evolutionary Biology</h3>
<ul style="text-align: left;">
<li>IB 362 Marine Biology</li>
<li>IB 368 Vertebrate Natural History*</li>
<li>IB 461 Ornithology (Birds)*</li>
<li>IB 462 Mammalogy (Mammals)*</li>
<li>IB 463 Ichthyology (Fishes)*</li>
<li>IB 464 Herpetology (Reptiles/Amphibians) *</li>
<li>IB 406 Evolution of Adaptive Systems</li>
<li>IB 410 Evolution and Development</li>
</ul>
<h3 style="text-align: left;">Area 2 Behavior, Ecology, and the Environment</h3>
<ul style="text-align: left;">
<li>IB 329 Animal Behavior</li>
<li>IB 431 Behavioral Ecology</li>
<li>IB 432 Genes and Behavior</li>
<li>IB 443 Evolutionary Ecology</li>
</ul>
<h3 style="text-align: left;">Area 3 Integrative Anatomy, Physiology, and Molecular Biology</h3>
<ul style="text-align: left;">
<li>IB 364 Bioinformatics and the Human Genome</li>
<li>IB 426 Environmental and Evolutionary Physiology of Animals</li>
<li>IB 433 Comparative Anatomy*</li>
</ul>
<h3 style="text-align: left;">Additional Approved Advanced</h3>
<ul style="text-align: left;">
<li>IB 348 Fish and Wildlife Ecology</li>
</ul>
<h4 style="text-align: left;">&nbsp;</h4>
<h4 style="text-align: left;">Plants Emphasis</h4>
<h2 style="text-align: left;">Introductory Courses</h2>
<ul style="text-align: left;">
<li>IB 150 Organismal and Evolutionary Biology</li>
<li>MCB 150 Molecular and Cellular Basis of Life</li>
</ul>
<h2 style="text-align: left;">Core Courses</h2>
<ul style="text-align: left;">
<li>IB 202 Anatomy and Physiology</li>
<li>IB 203 Ecology</li>
<li>IB 204 Genetics</li>
<li>IB 302 Evolution</li>
</ul>
<h2 style="text-align: left;">Suggested Advanced Courses</h2>
<h5 style="text-align: left;">(1 in each of two areas; 4 minimum in total including 1 lab course*)</h5>
<h3 style="text-align: left;">Area 1 Organismal and Evolutionary Biology</h3>
<ul style="text-align: left;">
<li>IB 335 Systematics of Plants*</li>
<li>IB 471 General Mycology (Fungi)*</li>
</ul>
<h3 style="text-align: left;">Area 2 Behavior, Ecology, and the Environment</h3>
<ul style="text-align: left;">
<li>IB 440 Plants and Global Change</li>
<li>IB 452 Ecosystem Ecology</li>
<li>IB 453 Community Ecology</li>
</ul>
<h3 style="text-align: left;">Area 3 Integrative Anatomy, Physiology, and Molecular Biology</h3>
<ul style="text-align: left;">
<li>IB 420 Plant Physiology</li>
<li>IB 424 Plant Development</li>
<li>IB 472 Plant Molecular Biology</li>
<li>IB 473 Plant Genomics</li>
</ul>
<h3 style="text-align: left;">Additional Approved Advanced</h3>
<ul style="text-align: left;">
<li>IB 363 Plants and Their Uses</li>
<li>MCB 450 Introductory Biochemistry</li>
</ul>
<p style="text-align: left;"><em>&nbsp;</em></p>
<h4>Insect Emphasis</h4>
<h2 style="text-align: left;">Introductory Courses</h2>
<ul style="text-align: left;">
<li>IB 150 Organismal and Evolutionary Biology</li>
<li>MCB 150 Molecular and Cellular Basis of Life</li>
</ul>
<h2 style="text-align: left;">Core Courses</h2>
<ul style="text-align: left;">
<li>IB 202 Anatomy and Physiology</li>
<li>IB 203 Ecology</li>
<li>IB 204 Genetics</li>
<li>IB 302 Evolution</li>
</ul>
<h2 style="text-align: left;">Suggested Advanced Courses</h2>
<h5 style="text-align: left;">(1 in each of two areas; 14 hours minimum in total including 1 lab course*)</h5>
<h3 style="text-align: left;">Area 1 Organismal and Evolutionary Biology</h3>
<ul style="text-align: left;">
<li>IB 401 Introduction to Entomology*</li>
</ul>
<h3 style="text-align: left;">Area 2 Behavior, Ecology, and the Environment</h3>
<ul style="text-align: left;">
<li>IB 444 Insect Ecology*</li>
<li>IB 482 Insect Pest Management*</li>
<li>IB 483 Insect Pathology*</li>
<li>IB 486 Pesticide Toxicology</li>
</ul>
<h3 style="text-align: left;">Area 3 Integrative Anatomy, Physiology, and Molecular Biology</h3>
<ul style="text-align: left;">
<li>IB 427 Insect Physiology*</li>
</ul>
<h3 style="text-align: left;">additional Approved Advanced</h3>
<ul style="text-align: left;">
<li>IB 468 Insect Classification and Evolution*</li>
</ul>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><em>* Denotes course with laboratory or field component.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>