<% content_for( :title, 'Graduate Student Resources' ) %>
<% content_for( :sidebar, 'grad' ) %>

                <h2>Proficiency Exams&nbsp;FALL 2015</h2>
<p style="text-align: center;"><strong>&nbsp;</strong></p>
<center><strong>&nbsp;</strong></center>
<p>To sign up for an exam:</p>
<h3>IB 100</h3>
<h3><em><a href="mailto:sdownie@illinois.edu"><span style="text-decoration: underline;"><span style="color: #0066cc;">sdownie@illinois.edu</span></span></a></em></h3>
<p>&nbsp;</p>
<h3>IB 104</h3>
<p><a href="mailto:bfrancis@illinois.edu"><span style="color: #0066cc;">bfrancis@illinois.edu</span></a></p>
<p>&nbsp;</p>
<h3>IB 150</h3>
<p>&nbsp;<a href="mailto:bclegg@illinois.edu"><span style="color: #0066cc;">bclegg@illinois.edu</span></a></p>
