<h1>School of Integrative Biology Research</h1>
<div id="right_box">
<h2>Partnerships</h2>
<h3>The Institute for Genomic Biology</h3>
<p>Descriptive Text Here</p>
<h3>Soybean</h3>
<p>Descriptive Text Here</p>
<h3>Others!</h3>
<p>Descriptive Text Here</p>
</div>
<div style="padding: .5em 0; clear: left;"><a href="../../peec/students/berkey"><img style="float: left; width: 160px; padding-right: 10px;" src="../../images/peec/PEEC students_Berkey photos/600_Scandinavian-Immigrants-Book8-016.jpg" alt="" /></a>
<h3 style="margin: 0px 0px 8px 0px;"><a href="../../peec/students/berkey" target="_blank">Abigail Berkey</a></h3>
<span style="text-decoration: underline;">Research Focus</span>: Social behavior of the four-toed salamander (<em>Hemidactylium scutatum</em>)</div>
<div style="padding: .5em 0; clear: left;">
<h3 style="margin: 0px 0px 8px 0px;">&nbsp;</h3>
</div>