<h1 style="text-align: center; padding: 0 4em 0 4em;">Visiting Illinois</h1>
<p>&nbsp;</p>
<div style="float: right; clear: left; width: 180px; padding-left: 1em;"><img src="http://sib.illinois.edu/images/visiting3.jpg" alt="NHB" width="180" /></div>
<p>We encourage you to come check out the campus for yourself! The university provides a <a href="http://admissions.illinois.edu/visit/visit_prospective.html">helpful web site</a> offering a variety of visiting options.</p>
<p>&nbsp;</p>
<div style="float: left; clear: left; width: 150px; padding-right: 1em;"><img src="http://sib.illinois.edu/images/visiting_class1.jpg" alt="classroom" width="150" /></div>
<p><em>If you are a high school student or an undergraduate elsewhere</em>, you can make an appointment to chat with one of our academic advisors by calling 217-333-6774.&nbsp;&nbsp; They can tell you more about the advantages of an IB degree.</p>
<p>&nbsp;</p>
<p><em>If you are a prospective graduate student</em>, you should contact the <a href="/units">department or program </a>in which you are interested and make arrangements to talk with faculty while you are here.</p>