<!--KA: June 2015-->

<% content_for( :title,   'Undergraduate Programs-IBMajor' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'programs_ex' ) %>

	<h2>IB Major</h2>


	<h3>Requirements for B.S.Degree in Integrative Biology:</h3>
	<table class="table table-striped">
		        <tbody>
		            <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <span>Courses in Biology, Chemistry, Math & Physics (see grid below)</span></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="http://www.las.uiuc.edu/students/requirements/gened/" target="_blank"> LAS General Education Courses (Gen-Eds)</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <span> Electives: courses needed to complete the 120 hours required to graduate. These can be non-math/science courses.</span></td></tr>
			</tbody>
	</table>

	<h3> Typical Plans for IB Major:</h3>

	<table class="table table-striped">
		        <tbody>
		            <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="/undergraduate/programs/typical_4year"> Typical 4 year plan for all IB majors.</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="/undergraduate/programs/typical_4year_premed"> Typical 4 year plan for pre-med IB majors.</a></td></tr>
			</tbody>
	</table>

<div class="course_table">
<table cellspacing="0">
<tbody>
<tr><th bgcolor="lightgray">MAJOR REQUIREMENTS (Biology, Chemistry, Physics, Math)</th><th bgcolor="lightgray">HOURS</th><th bgcolor="lightgray">CATEGORY<br>SUBTOTAL</th></tr>
<tr>
<td width="72%" bgcolor="#ececec">
<p align="left"><strong>Supporting Courses:</strong></p>
</td>
<td width="9%" bgcolor="#ececec">&nbsp;</td>
<td width="17%" bgcolor="#ececec">30-36</td>
</tr>
<tr>
<td width="72%">
<p align="left">MATH 220 (Calculus) <strong><em>or</em></strong> MATH 221 (Calculus I)</p>
</td>
<td width="9%">4-5</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%">
<p align="left">STAT 100, 212 or MATH 161 (introductory statistics course)</p>
</td>
<td width="9%">3</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%">
<p align="left">CHEM 102, 103, 104, &amp; 105 (General Chemistry) <strong><em>or</em></strong> <br> CHEM 202, 203, 204, &amp; 205 (Accelerated Chemistry)</p>
</td>
<td width="9%">8-10</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%">
<p align="left">CHEM 232 &amp; 233 (Elementary Organic Chemistry I &amp; Lab) <strong><em>or</em></strong> <br> CHEM 236 (Fundamental Organic Chemistry I) &amp; CHEM 237 (Structure and Synthesis)</p>
</td>
<td width="9%">6-7</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%">
<p align="left">PHYS 101 &amp; 102 (College Physics) <strong><em>or </em></strong><br> PHYS 211 &amp; 212, (University Physics)</p>
</td>
<td width="9%">8-10</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%" bgcolor="#ececec">
<p align="left"><strong>Introductory Biology Sequence:</strong></p>
</td>
<td width="9%" bgcolor="#ececec">&nbsp;</td>
<td width="17%" bgcolor="#ececec">8</td>
</tr>
<tr>
<td width="72%">
<p align="left"><a href="http://www.life.uiuc.edu/ib/150/" target="_blank">IB 150</a> (Organismal &amp; Evolutionary Biology)</p>
</td>
<td width="9%">4</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%">
<p align="left"><span style="text-decoration: underline;">MCB 150</span> (Molecular &amp; Cellular Basis of Life)</p>
</td>
<td width="9%">4</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%" bgcolor="#ececec">
<p align="left"><strong>IB Core Courses:</strong></p>
</td>
<td width="9%" bgcolor="#ececec">&nbsp;</td>
<td width="17%" bgcolor="#ececec">16</td>
</tr>
<tr>
<td width="72%">
<p align="left"><a href="http://www.life.uiuc.edu/ib/202" target="_blank">IB 202</a> (Anatomy and Physiology)<br> (This course requires animal dissection and no completely equivalent alternative is available.)</p>
</td>
<td width="9%">4</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%">
<p align="left"><a href="http://www.life.uiuc.edu/ib/203" target="_blank">IB 203</a> (Ecology)</p>
</td>
<td width="9%">4</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%">
<p align="left"><span style="text-decoration: underline;">IB 204</span> (Genetics)</p>
</td>
<td width="9%">4</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%">
<p align="left"><span style="text-decoration: underline;">IB 302</span> (Evolution)</p>
</td>
<td width="9%">4</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%" bgcolor="#ececec">
<p align="left"><strong>Additional Courses:</strong></p>
</td>
<td width="9%" bgcolor="#ececec">&nbsp;</td>
<td width="17%" bgcolor="#ececec">14-17</td>
</tr>
<tr>
<td width="72%">
<div style="text-align: left;">Additional advanced courses totaling a minimum of 14 hours at the 300- to 400-level are required. Course selection from the list of Courses for IB Major Advanced Hours must include:<br><br> <a href="/courses/area"><strong>1) One course from two of the following three areas:</strong> </a><br>
<ul type="disc">
<li>Area I:&nbsp; Organismal and Evolutionary Biology</li>
<li>Area II: Behavior, Ecology, and the Environment</li>
<li>Area III: Integrative Anatomy, Physiology, and Molecular Biology</li>
</ul>
<strong>2) One course with a laboratory and/or field component.</strong><br><br></div>
</td>
<td width="9%">&nbsp;</td>
<td width="17%">&nbsp;</td>
</tr>
<tr>
<td width="72%" bgcolor="#ececec">
<p align="left"><strong>TOTAL</strong></p>
</td>
<td width="9%" bgcolor="#ececec">&nbsp;</td>
<td width="17%" bgcolor="#ececec">66-76</td>
</tr>

</tbody>
</table>
<br>
<p><strong>Strongly Recommended: </strong>Students are encouraged to gain<a href="/research/undergraduate"> research experience</a> (IB 390 and/or IB 490). Students may count toward graduation no more than a combined maximum of 10 hours of IB 390/IB 490 credit.</p>

<p>For additional information about graduation requirements for students in the College of Liberal Arts and Sciences, please see the College's website on <a href="http://www.las.uiuc.edu/students/requirements/" target="_blank">academic programs</a>, or refer to the Program of Study.</p>

