<%# KA: June 2015 Added styles %>

<% content_for( :title,   'Undergraduate Programs-Minor Ecology' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'programs_ex' ) %>

<h2>Minor in Ecology and Conservation Biology</h2>
<p>The School of Integrative Biology is pleased to offer two minors: <a href="/undergraduate/programs/minor">Minor in Integrative Biology</a> and Minor in Ecology and Conservation Biology. A minor in Ecology and Conservation Biology points students toward getting strength in this sub-discipline of biology. Preparation for many careers is advanced by coursework in ecology and conservation, e.g. environmental lawyer, environmental consultant, conservation technician, and environmental educator.</p>
<p>Interested students should schedule an appointment with an IB advisor by calling 217-333-6774, <a href="http://sib.illinois.edu/advising/scheduler/" target="_blank">make an appointment online</a>, or just stop by our office in 127 Burrill Hall.</p>
<br>
<center>
<div  class="course_table">
<table cellspacing="0">
<tbody>
<tr><th style="text-align:center">Hours</th><th style="text-align:center">Course Requirements</th></tr>
<tr>
<td>4</td>
<td>IB 150 - Organismal and Evolutionary Biology (4 hours)</td>
</tr>
<tr>
<td>8</td>
<td>IB 203 - Ecology (4 hours)<br /> IB 204 - Genetics (4 hours)</td>
</tr>
<tr>
<td>6-8</td>
<td><strong>Two additional courses from the following list*:</strong><br /> IB 348 - Fish and Wildlife Ecology (3 hours)<br /> IB 431 - Behavioral Ecology (3 hours)<br /> IB 440 - Plants and Global Change (3 hours)<br /> IB 443 - Evolutionary Ecology (3 hours)<br /> IB 444 - Insect Ecology (3 or 4 hours)<br /> IB 449 - Limnology (4 hours)<br /> IB 451 - Conservation Biology (4 hours)<br /> IB 452 - Ecosystem Ecology (3 hours)<br /> IB 453 - Community Ecology (3 hours)</td>
</tr>
<tr>
<td bgcolor="#cccccc">18-20 hours</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</center>
<br>
<p>*Please note, all prerequisite courses must be taken if specified.</p>


<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>
