<!--KA: June 2015-->

<% content_for( :title,   'Typical 4 Year' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'programs_ex' ) %>

	<h2>Typical Four Year Program</h2>

<div class="course_table">
<table style="margin-left: auto; margin-right: auto;" cellspacing="0px">
<tbody>
<tr>
<td><strong><span style="text-decoration: underline;">Semester 1</span></strong><br> IB150 <strong><em>or</em></strong> MCB 150 (4 hrs.)<br> CHEM 102/103 (4 hrs.) <strong><em>or</em></strong> 202/203 (5hrs.)<br> MATH 115 (3 hrs.) <strong><em>or</em></strong> 220 (5 hrs.) <br> <strong><em>or</em></strong> 221 (4 hrs.) <strong><em>or</em></strong> RHET 105 (4 hrs.)<br> LAS Gen Ed. <strong><em>or</em></strong> elective (1-3 hrs.)<br> <strong>Total 13-16 hrs.</strong></td>
<td><strong><span style="text-decoration: underline;">Semester 2</span></strong><br> IB150 <strong><em>or</em></strong> MCB 150 (4 hrs.)<br> CHEM 104/105 (4 hrs.) <strong><em>or</em></strong> 204/205 (5 hrs.)<br> MATH 220 (5 hrs.) <strong><em>or</em></strong> 221 (4 hrs.) <br> <strong><em>or</em></strong> STAT 100 (3 hrs.) <strong><em>or</em></strong> RHET 105 (4 hrs.)<br> LAS Gen. Ed, elective, <strong><em>or</em></strong> NPL* (1-4 hrs.)<br> <strong>Total 14-16 hrs.</strong></td>
</tr>
<tr>
<td><strong><span style="text-decoration: underline;">Semester 3</span></strong><br> IB 203 – Ecology (4 hrs.) <br> IB 204 – Genetics (4 hrs.)<br> CHEM 232 (4 hrs.)<br> LAS Gen Ed., NPL* <strong><em>or</em></strong> elective &nbsp;(1-4 hrs.)<br> <strong>Total 13-16 hrs.</strong></td>
<td>
<p><strong><span style="text-decoration: underline;">Semester 4</span></strong><br> IB 202 – Anatomy and Physiology (4 hrs.)<br> IB 302 – Evolution (4 hrs.)</p>
<p>Chem 233 (2 hrs.)<br> STAT 100 (3 hrs.) <strong><em>or</em></strong> LAS Gen Ed. (3-4 hrs.)<br> <strong>Total 13-16 hrs.</strong></p>
</td>
</tr>
<tr>
<td><strong><span style="text-decoration: underline;">Semester 5</span></strong><br> Additional IB course **(3-5 hrs.)<br> PHYS 101 (5 hrs.)<br> LAS Gen Ed (3-4 hrs.)<br> LAS Gen Ed., NPL* <strong><em>or</em></strong> elective (3-4 hrs.)<br> <strong>Total 14-16 hrs.</strong></td>
<td>
<p><strong><span style="text-decoration: underline;">Semester 6</span></strong><br> Additional IB course ** (3-5 hrs.)<br> PHYS 102 (5 hrs.)<br> LAS Gen Ed. (3-4 hrs)</p>
<p>LAS Gen Ed., NPL* <strong><em>or</em></strong> elective (3-4 hrs.)<br> <strong>Total 14-16 hrs.</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong><span style="text-decoration: underline;">Semester 7</span></strong><br> Additional IB course** (3-5 hrs.)<br> Additional IB course** (3-5 hrs.)<br> LAS Gen Ed.&nbsp;<strong><em>or</em></strong> elective (1-3 hrs)<br> LAS Gen Ed. <strong><em>or </em></strong>elective (1-3 hrs.)<br> <strong>Total 12-16 hrs.</strong></p>
</td>
<td>
<p><strong><span style="text-decoration: underline;">Semester 8</span></strong><br> Additional IB course** (3-5 hrs.)<br> Additional IB course** (3-5 hrs.)</p>
<p>LAS Gen Ed. <strong><em>or</em></strong> elective (1-3 hrs)<br> LAS Gen Ed. or Elective (1-3 hrs.)<br> <strong>Total 12-16 hrs.</strong></p>
</td>
</tr>
</tbody>
</table>
</div>
<p>*NPL = Non Primary Language <br> **Selected from Lists of Approved Area Courses and Additional Approved IB Courses</p>
<h3>Please note, this is only a guide, many factors affect the sequencing of courses, including, but not limited to:</h3>
<ul class="ul_list">
<li>Beginning with CHEM 101 or Math 115</li>
<li>Starting IB late</li>
</ul>

