<h1>Integrative Biology and the Health Professions </h1>
<p>These professions all deal with health and well being. <a href="/prehealth">The Pre-Health option</a> in Integrative Biology is specifically designed to prepare you for these or other careers in the health field, from medicine to pharmacy. If you are interested in medicine (osteopathic or allopathic [traditional]), nursing, pharmacy, dentistry, veterinary medicine, or other related fields, check out the <a href="http://www.careercenter.uiuc.edu/health/default.asp">Career Center web pages</a> devoted to all the health professions.</p>
<p>You can also go directly to the Career Center or other web pages that discuss specific careers by clicking on the links below.</p>
<p><a href="http://www.careercenter.uiuc.edu/health/prof/medicine.asp">Medicine (physician)</a></p>
<p><a href="http://www.careercenter.uiuc.edu/health/prof/nursing.asp">Nursing</a></p>
<p><a href="http://www.careercenter.uiuc.edu/health/prof/pharm.asp">Pharmacy</a></p>
<p><a href="http://www.careercenter.uiuc.edu/health/prof/dentistry.asp">Dentistry</a></p>
<p>Veterinary Medicine</p>
<ul>
<li><a href="http://www.careercenter.uiuc.edu/health/prof/vet.asp">Career Center web site</a></li>
<li><a href="http://vetmed.illinois.edu/college/explore_careers.html">College of Veterinary Medicine career site</a></li>
</ul>
<p>&nbsp;</p>
<p>Concerned about how IB might prepare you for the MCAT exam? Here's a chart that lists the main parts of the MCAT exam and the relevant IB or MCB courses you can take as an IB major that will help prepare you for these sections.</p>
<div class="course_table">
<table>
<tbody>
<tr>
<td colspan="4">Topics covered in the MCAT exam and IB &amp; MCB courses providing coverage of these topics.</td>
</tr>
<tr><th>Topic</th><th>Courses</th><th>Topic</th><th>Courses</th></tr>
<tr>
<td colspan="4">&nbsp;</td>
</tr>
<tr>
<td class="main" colspan="2"><strong>Enzymes &amp; Metabolism</strong></td>
<td class="main" colspan="2"><strong>Specialized Eukaryotic Cell</strong></td>
</tr>
<tr>
<td class="sub"><em>enzyme structure &amp; function</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>nerve cell/neural</em></td>
<td>IB202</td>
</tr>
<tr>
<td class="sub"><em>control of enzyme activity</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>muscle cell/contractile</em></td>
<td>IB202</td>
</tr>
<tr>
<td class="sub"><em>basic metabolism</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>other cell types</em></td>
<td>IB202</td>
</tr>
<tr>
<td class="main" colspan="2"><strong>DNA &amp; Protein Synthesis</strong></td>
<td class="main" colspan="2"><strong>Nervous &amp; Endcrine Systems</strong></td>
</tr>
<tr>
<td class="sub"><em>DNA structure and function</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>hormones</em></td>
<td>IB202</td>
</tr>
<tr>
<td class="sub"><em>DNA replication</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>mechanism of hormone action</em></td>
<td>IB202</td>
</tr>
<tr>
<td class="sub"><em>repair of DNA</em></td>
<td>IB204/MCB 150</td>
<td class="sub"><em>structure and function</em></td>
<td>n/a</td>
</tr>
<tr>
<td class="sub"><em>recombination</em></td>
<td>IB204/MCB 150</td>
<td class="sub"><em>sensory reception and processing</em></td>
<td>IB202</td>
</tr>
<tr>
<td class="sub"><em>genetic code</em></td>
<td>IB-MCB 150</td>
<td class="main" colspan="2"><strong>Circulatory, Lymphatic, Immune</strong></td>
</tr>
<tr>
<td class="sub"><em>transcription</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>circulatory</em></td>
<td>IB202</td>
</tr>
<tr>
<td class="sub"><em>translation</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>lymphatic</em></td>
<td>n/a</td>
</tr>
<tr>
<td class="main" colspan="2"><strong>Eukaryotes</strong></td>
<td class="sub"><em>immune system</em></td>
<td>IB150</td>
</tr>
<tr>
<td class="sub"><em>eukaryotic chromosomes</em></td>
<td>IB204</td>
<td class="main" colspan="2"><strong>Respiration System</strong></td>
</tr>
<tr>
<td class="sub"><em>control of gene expression</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>respiratory system</em></td>
<td>IB202</td>
</tr>
<tr>
<td class="main" colspan="2"><strong>Genetics</strong></td>
<td class="main" colspan="2"><strong>Skin System</strong></td>
</tr>
<tr>
<td class="sub"><em>Mendilian concepts</em></td>
<td>IB204</td>
<td class="sub"><em>skin</em></td>
<td>n/a</td>
</tr>
<tr>
<td class="sub"><em>meiosis and genetic variability</em></td>
<td>IB204</td>
<td class="main" colspan="2"><strong>Digestive &amp; Excretory System</strong></td>
</tr>
<tr>
<td class="sub"><em>analytical methods</em></td>
<td>IB204</td>
<td class="sub"><em>digestive system</em></td>
<td>IB202</td>
</tr>
<tr>
<td class="main" colspan="2"><strong>Microbiology</strong></td>
<td class="sub"><em>excretory system</em></td>
<td>IB202</td>
</tr>
<tr>
<td class="sub"><em>fungi</em></td>
<td>n/a</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="sub"><em>virus structure</em></td>
<td>IB-MCB 150</td>
<td class="main" colspan="2"><strong>Muscle &amp; Skeletal Systems</strong></td>
</tr>
<tr>
<td class="sub"><em>viral life cycle</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>muscle system</em></td>
<td>IB202</td>
</tr>
<tr>
<td class="sub"><em>prokaryotic cell structure</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>skeletal system</em></td>
<td>IB150</td>
</tr>
<tr>
<td class="sub"><em>prokaryotic cell growth &amp; physiology</em></td>
<td>IB-MCB 150</td>
<td class="main" colspan="2"><strong>Reproductive &amp; Development</strong></td>
</tr>
<tr>
<td class="sub"><em>prokaryotic cell genetics</em></td>
<td>IB204</td>
<td class="sub"><em>reproductive system</em></td>
<td>IB150</td>
</tr>
<tr>
<td class="main" colspan="2"><strong>Generalized Eukaryotic Cell</strong></td>
<td class="sub"><em>embryogenesis</em></td>
<td>IB150</td>
</tr>
<tr>
<td class="sub"><em>nucleus</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>developmental mechanisms</em></td>
<td>IB150</td>
</tr>
<tr>
<td class="sub"><em>membrane-bound organelles</em></td>
<td>IB-MCB 150</td>
<td class="main" colspan="2"><strong>Evolution</strong></td>
</tr>
<tr>
<td class="sub"><em>plasma membrane</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>evolution</em></td>
<td>IB302</td>
</tr>
<tr>
<td class="sub"><em>cytoskeleton</em></td>
<td>IB-MCB 150</td>
<td class="sub"><em>speciation</em></td>
<td>IB302</td>
</tr>
<tr>
<td class="sub"><em>mitosis</em></td>
<td>IB-MCB 150</td>
<td class="main" colspan="2"><strong>Comparative Anatomy</strong></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class="sub"><em>chordate features</em></td>
<td>IB150</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class="sub"><em>vertebrate phylogeny</em></td>
<td>IB302</td>
</tr>
</tbody>
</table>
</div>
<p>&nbsp;</p>
<p><a href="http://sib.illinois.edu/courses/prehealth.htm">Click here</a> to see a list of suggested courses for the pre-health option.</p>
