<% content_for( :title,   'IB492' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'special_programs_ex' ) %>

		<h2>Special Programs in IB</h2>
		<h4 style="text-align: center;">IB 492: Science Communication Skills</h4>
		<p>A successful career in scientific research, teaching and service requires tools and skills for communicating research. Students interested in going into science careers need to know how to write a competitive graduate school or job application, a thesis proposal for graduate research, a fellowship or grant proposal, and how to give a good scientific presentation. This course is designed to teach students these skills with targeted in and out of class exercises. </p>
          
		<p><strong>Interested in applying for this opportunity?</strong></p>
		<p>Contact the <a href="/undergraduate/advising/">IB Advising Office </a>for more detail!</p>
