<% content_for( :title,   'Research Intro' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'special_programs_ex' ) %>

		<h2>Special Programs in IB</h2>
		<h4 style="text-align: center;">IB 199: Introduction to Research (2 hrs)</h4>
		<p>Many students want to get involved in an undergraduate research project, but simply don't know where to start!  IB Faculty are offering a course to help students do just that.  Students work in small groups in a research lab, where the faculty member teaches common skills for success in any research project.  Students are also part of a weekly seminar including readings of primary research and presentations from other students.  It's a great way to get some experience doing research!</p>
          
		<p><strong>Interested in applying for this opportunity?</strong></p>
		<p>Contact the <a href="/ugrad/advising">IB Advising Office </a>for more detail!</p>
