<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Michael Allen</h1>
<p><a href="http://seagrant.noaa.gov/" target="_blank"><%= image_tag 'peec/sea_grant_logo.jpg', width: '48px', :style => 'float: left' %></a>
<%= image_tag 'peec/allen.jpg', width: '130px', :style => 'float: right' %></p>
<p>Assistant Director for Research<br /> Maryland Sea Grant<br /> <a href="mailto:mallen@mdsg.umd.edu">mallen@mdsg.umd.edu</a></p>
<p>After completing his PhD, Mike spent two years at the National Oceanographic and Atmospheric Administration (NOAA) in Washington, D.C. First, as a <a href="http://seagrant.noaa.gov/FundingFellowships/KnaussFellowship.aspx" target="_blank">Sea Grant Knauss Fellow</a> in 2010-2011, he served as a policy analyst for the agency&rsquo;s Office of Laboratories and Cooperative Institutes. Following that post, he worked as a contractor in the agency&rsquo;s Office of Planning, Policy and Evaluation.</p>
<p>In his current position at Maryland Sea Grant College, Mike works with the scientific community to advance research and education on issues affecting the Chesapeake Bay region. He oversees the management of Maryland Sea Grant&rsquo;s <a href="http://www.mdsg.umd.edu/our-research-priorities" target="_blank">diverse research portfolio,</a> which includes studies to better understand the dynamics of the Chesapeake Bay and its watersheds and the sustainable use of Maryland&rsquo;s natural resources. Mike also manages two of the Maryland Sea Grant&rsquo;s premier educational initiatives, the <a href="http://www.mdsg.umd.edu/topics/graduate-fellowships/maryland-sea-grant-research-fellowships" target="_blank">Maryland Sea Grant Research Fellowship</a> and <a href="http://www.mdsg.umd.edu/topics/research-experiences-undergraduates/research-experiences-undergraduates" target="_blank">Research Experiences for Undergraduates</a> (REU) program.</p>
<p>Link to source: <a href="http://www.mdsg.umd.edu/news/maryland-sea-grant-names-allen-new-assistant-director-research" target="_blank">http://www.mdsg.umd.edu/news/maryland-sea-grant-names-allen-new-assistant-director-research</a></p>
<p><%= image_tag 'peec/allen2.jpg', height: '225px', :style => 'float: left' %><%= image_tag 'peec/allen_group_photo.jpg', width: '225px', :style => 'float: right' %></p>
