<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Positions of Some PEEC Alumni</h1>
<p><strong>Mihai Aldea (Ph.D.)</strong>, Managing Scientist, Exponent, Seattle, WA</p>
<p><strong>Michael R. Allen (Ph.D.)</strong>, Assistant Director for Research, Maryland Sea Grant, Cambridge, MD</p>
<p><strong>Katherine Amato (Ph.D.)</strong>, Postdoctoral Research Associate, University of Colorado at Boulder, Boulder, CO</p>
<p><strong>Lynn (Anderson) Carpenter (Ph.D.)</strong>, Lecturer, University of Michigan, Ann Arbor, MI</p>
<p><strong>Kelly Andersen (Ph.D.)</strong>, Postdoctoral Associate, San Diego Zoo, Institute for Conservation Research, Escondido, CA</p>
<p><strong>Claire Baldeck (Ph.D.)</strong>, Postdoc, Department of Global Ecology, Carnegie Institution for Science, Stanford, CA</p>
<p><strong>Douglas G. Barron (M.S.)</strong>, Postdoc, Psychology Department, University of South Florida, Tampa, FL</p>
<p><strong>Brandon Barthel (Ph.D.)</strong>, Research Scientist, Florida Fish and Wildlife Conservation Commission, Tallahassee, FL</p>
<p><strong>Allison Bormet (M.S.)</strong>, Ph.D. student, Indiana University, Bloomington, IN</p>
<p><strong>Michael P. Carey (Ph.D.)</strong>, Research Fish Biologist, USGS Alaska Science Center, Anchorage, AK</p>
<p><strong>Gerardo Carfagno (Ph.D.)</strong>, Assistant Professor, Manhattan College, Riverdale, NY</p>
<p><strong>Morgan Carr-Markell (M.S.)</strong>, Junior Scientist, Entomology, University of Minnesota, St. Paul, MN</p>
<p><strong>Amy Cash Ahmed (M.S.)</strong>, Research Specialist, Entomology, UIUC, Urbana, IL</p>
<p><strong>Therese Catanach (Ph.D.)</strong>, Teaching Assistant, Texas A &amp; M University, College Station, TX</p>
<p><strong>Charles Chen (Ph.D.)</strong>, Postdoctoral Researcher, National Institute for Agro-Environmental Sciences (NIAES), Tsukuba, Japan</p>
<p><strong>Benjamin Clegg (Ph.D.)</strong>, Lecturer, Plant Biology, UIUC, Urbana, IL</p>
<p><strong>Bradley J. Cosentino (Ph.D)</strong>, Assistant Professor, Department of Biology, Hobart and William Smith Colleges, Geneva, NY</p>
<p><strong>Carolyn Barrett Dash (Ph.D.)</strong>, Visiting Professor of Environmental Studies, Hamilton College, Clinton, NY</p>
<p><strong>Nicole Davros (Ph.D.)</strong>, Wildlife Research Scientist, Minnesota Department of Natural Resources, Madelia, MN</p>
<p><strong>Carrie DeJaco (Ph.D.)</strong>, Associate Professor, Biology Department, Queens University of Charlotte, Charlotte, NC</p>
<p><strong>Orla Dermody (Ph.D.)</strong>, Technology Launch Manager, Europe, Pioneer Hi-Bred (Switzerland) SA, Manno, Switzerland</p>
<p><strong>John E. Drake (Ph.D.)</strong>, Postdoc Research Fellow, Ecosystem Function and Integration Group, Hawkesbury Institute for the Environment, University of Western Sydney, Penrith, Australia</p>
<p><strong>Brielle Fischman (Ph.D.)</strong>, Visiting Professor, Hobart and William Smith Colleges, Geneva, NY</p>
<p><strong>Jeff Foster (Ph.D.)</strong>, Assistant Professor, Department of Molecular, Cellular, and Biomedical Science, University of New Hampshire, Durham, NH</p>
<p><strong>Rachel Gallery (Ph.D.)</strong>, Assistant Professor, School of Natural Resources and the Environment, University of Arizona, Tucson, AR</p>
<p><strong>Kyle Hanson (M.S. at UIUC, Ph.D. at Carleton University)</strong>, Fish Physiologist, Abernathy Fish Technology Center, U.S. Fish and Wildlife Service, Longview, WA</p>
<p><strong>Paul Henne (Ph.D.)</strong>, Assistant (Senior Postdoc), Oeschger Centre for Climate Change Research and Institute of Plant Sciences, University of Bern, Switzerland</p>
<p><strong>Jinelle Hutchins Sperry (Ph.D.)</strong>, Adjunct Assistant Professor, Natural Resources and Environmental Sciences, University of Illinois at Urbana-Champaign</p>
<p><strong>Eloisa Lasso (Ph.D.)</strong>, Assistant Professor, Universidad de los Andes, Bogota, Columbia</p>
<p><strong>Mia Levine (M.S. at UIUC, Ph.D. at U.C. Davis)</strong>, Postdoctoral Researcher, Fred Hutchinson Cancer Research Center, Seattle, WA</p>
<p><strong>Elena Lobo (Ph.D.)</strong>, Business Development Manager, DMCii, Guildford, UK</p>
<p><strong>Joseph Dylan Maddox (Ph.D.)</strong>, NSF Postdoctoral Fellow, El Centro de Investigaciones de Recursos Naturales de la Amazon&iacute;a&nbsp;(CIRNA), Universidad Nacional de la Amazon&iacute;a Peruana&nbsp;(UNAP), Iquitos, Per&uacute; </p>
<p><strong>Dave Moore (Ph.D.)</strong>, Associate Professor, School of Natural Resources and the Environment, University of Arizona, Tucson, AR</p>
<p><strong>Nick Morphew (M.S.)</strong>, Lab Coordinator, Integrative Biology, UIUC, Urbana, IL</p>
<p><strong>David Nelson (Ph.D.)</strong>, Assistant Professor, University of Maryland Center for Environmental Science, Appalachian Laboratory, Frostburg, MD</p>
<p><strong>Sara Paver (Ph.D.)</strong>, Postdoc, Department of Geophysical Sciences, University of Chicago, Chicago, IL</p>
<p><strong>Pearish, Simon (Ph.D.)</strong>, Lecturer, SUNY Potsdam, Potsdam, NY</p>
<p><strong>Ariane Peralta (<strong>M.S. + Ph.D.</strong>)</strong>, Assistant Professor of Microbial Ecology, Department of Biology, East Carolina University, Greenville, NC</p>
<p><strong>Anne Readel (Ph.D.)</strong>, Patent Attorney, Perkins Coie LLP, Madison, WI</p>
<p><strong>Noah Reynolds (M.S.)</strong>, Postdoctoral Associate, Yale University, New Haven, CT</p>
<p><strong>Rose M. Reynolds (Ph.D.)</strong>, Assistant Professor, Genetics, William Jewell College, Liberty, MO</p>
<p><strong>Matthew Richardson (Ph.D.)</strong>, Biologist, Smithsonian Conservation Biology Institute, Washington, DC</p>
<p><strong>Karen Cavey Rowe (Ph.D.)</strong>, Postdoctoral Researcher, Museum of Vertebrate Zoology, University of California, Berkeley, CA</p>
<p><strong>Elizabeth Ruedi (Ph.D.)</strong>, Director of Education and Professional Development, Genetics Society of America, Bethesda, MD</p>
<p><strong>Eli Rudinow Saetnan (Ph.D.)</strong>, Postdoctoral Research Assistant, Aberystwyth University, Shrewsbury, United Kingdom</p>
<p><strong>Scott Schlossberg (Ph.D.)</strong>, Postdoctoral Researcher, University of Massachusetts, Amherst, MA</p>
<p><strong>Daniel Scholes (Ph.D.)</strong>, Postdoctoral Researcher, UIUC</p>
<p><strong>Eric Scott (M.S.)</strong>, Graduate Student Researcher, Tufts University, Medford, MA</p>
<p><strong>Chris Smith (Ph.D.)</strong>, Assistant Professor, Earlham College, Richmond, IN</p>
<p><strong>Sigrid Smith (Ph.D.)</strong>, Research Area Specialist Associate, School of Natural Resources &amp; Environment, University of Michigan, Ann Arbor, MI</p>
<p><strong>Steve Stoddard (Ph.D.)</strong>, Assistant Project Scientist, University of California, Davis, CA</p>
<p><strong>Anita Stone (Ph.D.)</strong>, Assistant Professor, Grand Valley State University, Allendale, MI</p>
<p><strong>Corey Tarwater (Ph.D.),&nbsp;</strong>Postdoctoral Researcher, University of California, Berkley</p>
<p><strong>Amy Toth (Ph.D.)</strong>, Assistant Professor, Iowa State University, Ames, IA</p>
<p><strong>Molly Tranel (M.S.)</strong>, Wildlife Research/Habitat Evaluation Biologist, Minnesota Department of Natural Resources, Madelia, MN</p>
<p><strong>Yung-Ho (Ophelia) Wang (M.S.)</strong>, Adjunct Faculty, School of Earth Sciences and Environmental Sustainability, Northern Arizona University, Founder of Conservation Leadership Initiation Practicum (CLIP), <span class="locality">Flagstaff, AR</span></p>
<p><strong>Helen Wood (Ph.D.)</strong>, Environmental Monitoring Officer, Environment Agency, UK</p>
<p><strong>Allison (Witt) Sommers (M.S.)</strong>, High School Biology and Chemistry Teacher, Hamilton, OH</p>
<p><strong>Sarah Hollis Woodard (Ph.D.)</strong>, Postdoctoral Fellow, University of Texas at Austin, Austin, TX</p>
<p><strong>Muchu Zhou (Ph.D)</strong>, Postdoc Research Associate, Department of Animal Biology, University of Illinois at Urbana-Champaign</p>
<p><strong>Lesley (Zuehls) Brotkowski (M.S.)</strong>, Ecologist, TRC Solutions, Omaha, NE</p>
