<%# KA: June 2015 Added Bootstrap styles %>


<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'peec_news_ex' ) %>


<h2> Featured Alumni </h2>
<h4 style="text-align:center">J. Dylan Maddox</h4>


<div style="float: right; clear: right; margin-left: 1.5em;">
	<%= image_tag 'peec/maddox_colony.jpg', width: '240px'%>
</div>


<div>
<p><strong>NSF Postdoctoral Fellow </strong>&nbsp;<br /> El Centro de Investigaciones de Recursos Naturales de la Amazon&iacute;a&nbsp;(CIRNA)<br /> Universidad Nacional de la Amazon&iacute;a Peruana&nbsp;(UNAP)<br /> Iquitos, Per&uacute; &nbsp;</p>
<br>

<p style="text-align: justify;">Dr. Maddox is an NSF International Fellow at the Universidad Nacional de la Amazon&iacute;a Peruana in Iquitos, Peru. He has broad interests in the ecology, behavior, and evolution of birds. His current research focuses on understanding the mating system of a colonial blackbird in the Peruvian Amazon. Yellow-rumped caciques (<em>Cacicus cela</em>) commonly live in dense colonies of up to 200 individuals,&nbsp;in which dominant males largely control mating&nbsp;opportunities simply due to their size&nbsp;and strength advantages over females. Specifically, he wants to identify the characteristics that determine male dominance and if dominant males obtain the majority of the colony's reproductive success.&nbsp;Prior to working in Peru, Dr. Maddox had postdoctoral positions at the University of Chicago and the University of Florida. Dr. Maddox was advised by Dr. Patrick Weatherhead during his tenure in the PEEC program.</p>
</div>


	<div class="row">
 	   <div class="col-md-6">
		<%= image_tag 'peec/maddox_observing.jpg' ,width: '100%', height: '200'%>
	   </div>
  	   <div class="col-md-6">
		<%= image_tag 'peec/maddox_cacique.jpg' ,width: '100%', height: '200'%>
	   </div>
	</div>

<br>
<center><h3> <a href="/peec/alumni/featured"> Other Featured Alumni </h3>

