<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>David Nelson</h1>
<p>
<%= image_tag 'peec/nelson1.jpg', width: '280px', :style => 'float: right' %>
<p>Assistant Professor<br /> <a href="http://www.al.umces.edu/nelson/index.html">Appalachian Laboratory</a><br /> <a href="http://www.al.umces.edu/nelson/index.html">Center for Environmental Science</a><br />University of Maryland<br /> <a href="mailto:dnelson@al.umces.edu">dnelson@al.umces.edu</a></p>
<p>Appalachian Lab in Frostburg, MD in 2009. His research interests are diverse and include topics in the fields of paleoecology, microbial ecology, and stable isotope biogeochemistry. Shortly after arriving in Frostburg, Dr. Nelson established the Central Appalachians Stable Isotope Facility (CASIF) with funding from NSF. CASIF is a multi-user facility that provides isotopic analyses for a variety of projects conducted by researchers throughout the world <a href="http://casif.al.umces.edu/" target="_blank">(visit CASIF website)</a>. The interdisciplinary training that Dr. Nelson received in PEEC helped to position him to pursue a career in academia.</p>
<p>
<%= image_tag 'peec/nelson_lysimster.jpg', height: '200px', :style => 'float: right' %>
<%= image_tag 'peec/nelson_tree_coring.jpg', width: '200px', :style => 'float: right' %>
<%= image_tag 'peec/nelson_casif.jpg', height: '200px', :style => 'float: right' %>
