<% content_for( :title, 'About Peec' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'peec_ex' ) %>

<h1>The Program in Ecology, Evolution, &amp; Conservation Biology</h1>
<p>PEEC is an interdisciplinary, campuswide program designed to provide individualized training for graduate students. This program prepares individuals for research and teaching careers in ecology and evolutionary biology and produces scientists who are both technically competent and broadly educated in ecology and evolutionary biology.</p>
<h3>A Ph.D. PEEC student declares three areas of emphasis:</h3>
<ul>
<li>A general area of ecology or evolution</li>
<li>A complementary general area (e.g., behavior, systematics, physiology, genetics)</li>
<li>A specific area related to the dissertation</li>
</ul>
<p>Because of the breadth of fields covered by this program, there are no fixed courses required of all students. The goal is to allow maximum flexibility while providing close supervision.</p>
<p>The number of courses and the particular courses taken depend on the individual's previous training and knowledge. <a href="http://sib.illinois.edu/peec/courses" target="_blank">Courses</a> and laboratory and field experiences are supplemented by <a href="http://illinois.edu/calendar/list/4109" target="_blank">seminars</a> on current topics in ecology and evolutionary biology.</p>
<p>For more information about PEEC, see program <a href="http://sib.illinois.edu/peec/bylaws" target="_blank">by-laws</a>, <a href="http://sib.illinois.edu/peec/handbook" target="_blank">handbook</a>, and <a href="http://sib.illinois.edu/peec/faqs" target="_blank">FAQs</a>.</p>
<p>&nbsp;</p>
<h1>Cooperating Departments &amp; Programs</h1>
<p>The Program in Ecology, Evolution, and Conservation Biology serves as a focal point for interaction between basic and applied ecologists on campus that are housed in several colleges, departments, and governmental agencies listed below. The program is housed in the School of Integrative Biology.</p>
<h2 style="text-align: left;" align="left"><a href="http://www.las.illinois.edu/" target="_blank">College of Liberal Arts and Sciences</a></h2>
<ul>
<ul>
<li>
<h3><a href="http://sib.illinois.edu/" target="_blank">School of Integrative Biology</a></h3>
<ul>
<ul>
<li>
<h3><a href="http://www.life.illinois.edu/animalbiology/" target="_blank">Department of Animal Biology</a></h3>
</li>
<li>
<h3><a href="http://www.life.illinois.edu/entomology/home.html" target="_blank">Department of Entomology</a></h3>
</li>
<li>
<h3><a href="http://www.life.illinois.edu/plantbio/" target="_blank">Department of Plant Biology</a></h3>
</li>
</ul>
</ul>
</li>
</ul>
</ul>
<ul style="list-style-type: circle;">
<ul style="list-style-type: circle;">
<li>
<h3><a href="http://www.anthro.illinois.edu/" target="_blank">Department of Anthropology</a></h3>
</li>
<li>
<h3><a href="http://www.geog.illinois.edu/" target="_blank">Department of Geography</a></h3>
</li>
<li>
<h3><a href="http://www.stat.illinois.edu/" target="_blank">Department of Statistics</a></h3>
</li>
</ul>
</ul>
<h2 style="text-align: left;" align="left"><a href="http://www.aces.illinois.edu/" target="_blank">College of Agricultural, Consumer and Environmental Sciences</a></h2>
<ul>
<ul style="list-style-type: circle;">
<li>
<h3><a href="http://www.nres.illinois.edu/" target="_blank">Department of Natural Resources and Environmental Sciences</a></h3>
</li>
<li>
<h3><a href="http://www.cropsci.illinois.edu/" target="_blank">Department of Crop Sciences</a></h3>
</li>
<li>
<h3><a href="http://ansci.illinois.edu/" target="_blank">Department of Animal Sciences</a></h3>
</li>
</ul>
</ul>
<h2 style="text-align: left;" align="left"><a href="http://www.engr.illinois.edu/" target="_blank">College of Engineering</a></h2>
<blockquote>
<ul style="list-style-type: circle;">
<li>
<h3><a href="http://cee.illinois.edu/" target="_blank">Department of Civil and Environmental Engineering</a></h3>
</li>
</ul>
</blockquote>
<h2 style="text-align: left;" align="left"><a href="http://www.faa.illinois.edu/" target="_blank">College of Fine and Applied Arts</a></h2>
<blockquote>
<ul style="list-style-type: circle;">
<li>
<h3><a href="http://www.urban.illinois.edu" target="_blank">Department of Urban and Regional Planning</a></h3>
</li>
</ul>
</blockquote>
<h2 style="text-align: left;" align="left"><a href="http://www.cvm.illinois.edu/" target="_blank"> College of Veterinary Medicine</a></h2>
<blockquote>
<ul style="list-style-type: circle;">
<li>
<h3><a href="http://www.cvm.illinois.edu/vp/" target="_blank">Department of Veterinary Pathobiology</a></h3>
</li>
</ul>
</blockquote>
<h2 style="text-align: left;" align="left"><a href="http://www.inhs.illinois.edu/" target="_blank">Illinois Natural History Survey</a></h2>
<h2 style="text-align: left;" align="left"><a href="http://www.life.illinois.edu/programs/SBE/" target="_blank">Systematics and Biodiversity Group</a></h2>
<p>&nbsp;</p>
