<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1><a id="top"></a>By-Laws<br />of the<br />Program in Ecology, Evolution, and Conservation Biology</h1>
<div style="width: 100%;">
<div style="width: 60%; float: left;">
<ul>
<li><a href="http://sib.illinois.edu/Peec/bylaws#I">I. Mission</a></li>
<li><a href="#II">II. Organization</a></li>
<li><a href="#III">III. Governance-Director and Committees</a>
<ul>
<li><a href="#1">1. Steering Committee</a></li>
<li><a href="#2">2. Graduate Committee</a></li>
<li><a href="#3">3. Entrance Review Committee</a></li>
</ul>
</li>
</ul>
</div>
<div style="width: 40%; float: left;">
<ul>
<li><a href="#IV">IV. The Faculty</a></li>
<li><a href="#V">V. Change of By-Laws</a></li>
</ul>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>These by-laws establish regulations for the governance and mechanisms for policy formation for the Program in Ecology, Evolution, and Conservation Biology.</p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="I"></a>I. Mission</h2>
<p>As the vanguard in ecological, evolutionary and conservation biology research, the interdepartmental Program in Ecology, Evolution, and Conservation Biology (PEEC) provides graduate training leading to the Masters and Doctoral degrees and promotes research that will advance these fields. The program draws on faculty from the School of Integrative Biology, the College of Agricultural, Consumer and Environmental Sciences, the Illinois Natural History Survey, the Department of Civil Engineering, the College of Veterinary Medicine, and other campus units. Research in the Program addresses basic ecological and evolutionary processes at the genetic, physiological, population, community and ecosystem levels, and includes application of scientific principles to current environmental problems such as global change, conservation biology, and restoration ecology. Graduate training is flexible and designed to promote broad interaction across sub-disciplines in the Program. In preparation for careers in academia, government, or the private sector, students will achieve a thorough understanding of the concepts of ecology, evolutionary, and conservation biology as well as proficiency in analytical and quantitative methods. <br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="II"></a>II. Organization</h2>
<p>Prospective candidates must meet the requirements for admission set by the Graduate College of the University of Illinois at Urbana-Champaign. Only applicants who have graduated from an accredited college or university and who hold or will be granted a baccalaureate degree (or its equivalent) comparable in content and completed credit hours to that granted by the University of Illinois will be considered. Applicants must have a minimum grade point average of 3.0 (A=4.0) computed from the last 2 years of undergraduate and all years of graduate work completed. The program will give preference to candidates who hold a baccalaureate degree in biology or a closely related discipline and show promise of excellence in research and teaching. Typically, only students with strong letters of recommendation, high scores on the Graduate Record Examinations and a GPA well above the minimum stated above and will be admitted, although demonstration of academic excellence by other means (e.g., extensive field or laboratory research experience) will be considered. Decisions concerning admission will be made by the Graduate Committee of the program.<br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="III"></a>III. Governance</h2>
<h3>A. Director of Program</h3>
<p>The Director of the Program shall be drawn from and elected by the Program faculty for a renewable term of five years. This election is advisory to the Director of the School of Integrative Biology. The responsibilities of the Director are to:</p>
<ul>
<li>administer the graduate program and provide input into the development and implementation of campus-wide curricula in ecology, evolution, and conservation biology.</li>
<li>represent the Program in the School of Integrative Biology through participation in the School of Integrative Biology Executive Committee.</li>
<li>coordinate recruitment of graduate students into the program.</li>
<li>appoint the Chair of the Graduate Committee to a two-year term.</li>
<li>appoint the Chair of the Entrance Interview Committee to a two-year term.</li>
<li>in consultation with the Steering Committee, appoint faculty and graduate student members to serve on the Graduate Committee and Entrance Interview Committee.</li>
<li>oversee the election of a Steering Committee by the program faculty and preside over meetings of the Committee.</li>
<li>with the Steering Committee, evaluate and renew, as appropriate, requests by faculty to participate in the Program.</li>
<li>initiate activities for acquiring additional funding for the Program.</li>
<li>in consultation with the Steering Committee, initiate requests for new faculty positions.</li>
<li>evaluate recommendations from other units for new hires in ecology, evolution and conservation biology.</li>
<li>act as liaison with other campus units in the promotion of ecology, evolution and conservation biology.</li>
<li>appoint <em>ad hoc</em> committees of the faculty as necessary to fulfill administrative and academic needs of the Program.</li>
</ul>
<p><a href="#top">top</a></p>
<h3>B. Standing Committees</h3>
<h3><a id="1"></a>1. Steering Committee</h3>
<p style="padding-left: 30px;"><strong>PEEC Steering Committee 2014-2015</strong><br /> A. Kent, CHR.<br /> B. Allan &ndash; LAS<br /> K. Heath &ndash; LAS<br /> K. Sears &ndash; LAS<br />J. Miller&ndash; ACES<br />A. Yannarell&ndash; ACES<br /> D. Wahl &ndash; INHS<br /> A. Beck, student rep.</p>
<p>The Steering Committee serves as the representative body of the faculty on all matters pertaining to policy formulation and operation of the Program. It shall</p>
<ul>
<li>be chaired by the Director.</li>
<li>consist of six elected faculty members plus the Director and one student member. Three members shall be elected from within the College of Liberal Arts and Sciences (LAS), two members shall be elected from the College of Agricultural and Consumer Sciences (ACES), and one member shall be elected from the Illinois Natural History Survey (INHS). Voting constituency will be determined according to primary appointment. PEEC faculty members from other units can be nominated and stand for election through affiliate/adjunct appointments with departments in LAS or ACES. One graduate student representative shall be elected by students within the program. Faculty representatives shall serve for staggered three-year terms, and the graduate student representative shall serve for a one-year term.</li>
<li>approve an annual budget presented by the Director.</li>
<li>evaluate requests for faculty participation in the Program, and conduct periodic evaluation of faculty for continued participation in the program.</li>
<li>advise the Director on matters pertaining to undergraduate and graduate curricula.</li>
<li>work with the Director in the development of funding initiatives.</li>
<li>serve as a voice of the faculty and students to the Director regarding any matter relating to the function or operation of the Program and encourage faculty participation in formulating policy.</li>
<li>oversee and coordinate the five-year evaluation of the Director.</li>
</ul>
<p><a href="#top">top</a></p>
<h3><a id="2"></a>2. Graduate Committee</h3>
<p>The Graduate Committee is appointed by and advisory to the Director. It shall</p>
<ul>
<li>consist of five faculty members broadly representative of faculty constituencies and one graduate student who is a member in good standing of the Program.</li>
<li>review graduate student applications in conjunction with potential faculty advisors and make recommendations to the Director concerning candidates for acceptance into the Program. The Graduate Committee shall also identify potential fellowship candidates.</li>
<li>review application for Program Summer Research and Travel Support and make recommendations to the Director.</li>
<li>conduct periodic evaluations of the progress of each graduate student toward her/his degree (excluding the student representative).</li>
<li>hear graduate student appeals.</li>
</ul>
<p><a href="#top">top</a></p>
<h3><a id="3"></a>3. Entrance Interview Committee</h3>
<p>The Entrance Interview Committee is appointed by and advisory to the Director. It shall:</p>
<ul>
<li>consist of three faculty members broadly representative of faculty constituencies and one graduate student who is a member in good standing of the Program.</li>
<li>conduct an interview with new students and their advisors during the first semester of residence in the program.</li>
<li>advise and assist students to select their areas of emphasis for their Preliminary Exam as specified in the Program&rsquo;s Graduate Regulations.</li>
<li>recommend coursework for students in preparation for their research and Preliminary Exam.</li>
</ul>
<p><a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="IV"></a>IV. The Faculty</h2>
<p>The faculty of the Program consists of those approved by the Director and the Steering Committee.</p>
<p>Participating faculty must be a member of the Graduate College and have an appointment in an academic department.</p>
<p>The Faculty shall meet at least once each academic year to discuss issues relating to the functioning of the Program. Meetings may be called by the Director, the Steering Committee, or a majority of the faculty.</p>
<p>Membership in the Faculty of the Program is initiated by written request to the Director. The request will be evaluated by the Director and the Steering Committee in the context of the applicant's ability to serve the Program's mission through graduate training, teaching and service. As part of this evaluation, prospective members will present a seminar highlighting their research interests. Continuing membership in the Program will be evaluated on a three-year basis.<br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="V"></a>V. Change of By-Laws</h2>
<p>Amendments and additions to these bylaws must be discussed at a faculty meeting, be distributed to the faculty at least two weeks before a formal vote by written ballot, and be approved by a two-thirds majority of the Program faculty voting.<br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<p><span style="font-size: 90%;">Adopted 05/10/02</span></p>
<p>&nbsp;</p>
