<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Courses</h1>
<p>Because of the breadth of fields covered by this program, there are no fixed courses required of all students other than IB 546A (and IB 546B for new first-year students)&mdash;see <a href="http://sib.illinois.edu/peec/core" target="_blank">Core Courses</a>. The goal is to allow maximum flexibility while providing close supervision. It is strongly recommended that you confer with your advisor regarding the courses which you should take.</p>
<p>The number of courses and the particular courses taken depend on the individual's previous training and knowledge. Courses and laboratory and field experiences are supplemented by&nbsp;<a href="http://illinois.edu/calendar/list/4109" target="_blank">seminars</a>&nbsp;on current topics in ecology and evolutionary biology. PEEC students must take at least one course in <a href="http://sib.illinois.edu/Peec/courses#Ecol">Ecology</a>, one course in <a href="http://sib.illinois.edu/Peec/courses#Taxo">Evolution and Systematics</a>, and one course in <a href="http://sib.illinois.edu/Peec/courses#Conserv">Conservation Biology</a> (reading groups can fulfill these requirements, or see <a href="http://sib.illinois.edu/peec/courses/#CourseAreas" target="_blank">Other Courses</a> below for suggestions).</p>
<p><strong>Doctoral students:</strong>&nbsp;You must complete at least 96 hours of 400- or 500-level courses (64 hours beyond the M.S. requirements) with grades no lower than B or S.</p>
<p><strong>Terminal Master's students:</strong>&nbsp;By the end of the second year, you must complete 32 hours of course work in your three core areas with grades no lower than B or S. <span style="text-decoration: underline;">No more than 12 hours of research (590 or 599 courses) can be counted</span>.</p>
<p>&nbsp;</p>
<h1>Individual Topics (590) or Thesis Research (599)?</h1>
<p><strong>Doctoral students</strong> should be registered in IB 590 before your Prelim and then in 599 from the time of your Prelim until your Final Defense. Terminal <strong>Master&rsquo;s students</strong> need to register in at least one semester of 599, but may register in 599 for all terms.&nbsp;</p>
<p>Approved rubrics for 599 are&nbsp;BIOL, NRES, ENT or PBIO. Approval to count 599 courses in rubrics other than those listed above, must be granted through a&nbsp;<a href="http://www.grad.illinois.edu/sites/default/files/pdfs/petition_form.pdf">petition</a>. The CRNs used for IB 590 and the 599 courses are individual to your advisor, and sometimes the semester. Please contact the PEEC secretary (or the secretary of your advisor's department) to obtain the correct CRN. Note: The number in the Course Schedule is a generic number and is&nbsp;<strong>NOT&nbsp;</strong>the correct number to use.</p>
<p>&nbsp;</p>
<h1><a id="CourseAreas"></a><a id="Top"></a>Other Courses</h1>
<p>Each semester, <a href="http://sib.illinois.edu/peec/special" target="_blank">Special Topics</a> courses are offered that may be of particular interest to students in the Program in Ecology, Evolution, and Conservation Biology.</p>
<p>Also, the following is a partial list of courses that may be taken by PEEC students. You may want to take a look at the <a href="http://sib.illinois.edu/courses/semesters.html" target="_blank">advanced IB courses by semester controlled by IB</a>&nbsp;as well.</p>
<p>&nbsp;</p>
<h3 align="center"><a href="http://sib.illinois.edu/Peec/courses#Ecol">Ecology</a><a> | </a><a href="http://sib.illinois.edu/Peec/courses#Taxo">Evolution &amp; Systematics</a><a> | </a><a href="http://sib.illinois.edu/Peec/courses#Conserv">Conservation Biology</a><a> | </a><a href="http://sib.illinois.edu/Peec/courses#Tool">Tools</a></h3>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="Ecol"></a>Ecology</h2>
<ul>
<li><strong>IB 405</strong>. Ecological Genetics. Study of genetics of natural populations stressing empirical observations and experiments.</li>
<li><strong>IB 429</strong>. Animal Behavior. Study of how patterns of behavior promote survival, change through evolution, and are modified by the environment.</li>
<li><strong>IB 431</strong>. Behavioral Ecology. Areas of current interest at the interface of behavior, ecology, and evolution.</li>
<li><strong>IB 439</strong>. Biogeography. Spatial and temporal patterns of biological diversity and the factors that goven the distribution and abundance of taxa.</li>
<li><strong>IB 441</strong>. Plant Ecology. Principles of ecology exemplified by vegetation and environments of Illinois.</li>
<li><strong>IB 442</strong>. Functional Ecology of Trees. Synthesis of the physiological and morphological mechanisms defining the ecological performance of trees and other woody plants in natural communities.</li>
<li><strong>IB 443</strong>. Evolutionary Ecology. Evolution of life-history strategies in plants and animals and the coevolution of animals and plants.</li>
<li><strong>IB 444</strong>. Insect Ecology. Practical and theoretical aspects of ecology in relation to insects as individuals, populations, and communities.</li>
<li><strong>IB 445</strong>. Chemical Ecology. Chemical bases of ecological interactions among organisms.</li>
<li><strong>IB 446</strong>. Tropical Ecology. Ecological principles as they apply to plants, animals, and humans in tropical habitats.</li>
<li><strong>IB 447</strong>. Field Ecology. Study of plant communities in various sections of North America.</li>
<li><strong>IB 449</strong>. Limnology. Study of the lake, pond, and river with emphasis on the physical environment as well as on plants and animals that live in fresh water.</li>
<li><strong>IB 450</strong>. Stream Ecology. A description of physical, chemical, and biological characteristics of streams and rivers including an integrated study of the environmental factors affecting the composition and distribution of biota.</li>
<li><strong>IB 453</strong>. Community Ecology.</li>
<li><strong>IB 480</strong>. Ecological Parasitology. Ecological perspective on parasite-host associations and parasitic diseases of vertebrates.</li>
<li><strong>IB 518</strong>. Discussions in Plant Ecology and Geography. Developments in plant ecology and plant geography.</li>
<li><strong>IB 543</strong>. Problems in Primate Ecology. Primate ecology, ethology, and evolution.</li>
<li><strong>IB 544</strong>. Concepts in Ethology. Discussion, review, and critical analysis of concepts and specific problems in behavior.</li>
<li><strong>IB 552</strong>. Concepts in Ecology. Discussion, review, and critical analysis of concepts and specific problems in ecology.</li>
<li><strong>NRES 416</strong>. Advanced Forest Ecology. Relationship between environmental factors and the structure and function of forests.</li>
<li><strong>NRES 419</strong>. Environment and Plant Ecosystems. Relationships between environmental factors and structural characteristics and processes in ecosystems; impact of human activities on the environment and their effect on plant ecosystems. <br /><a href="http://sib.illinois.edu/Peec/courses#Top">Top</a></li>
</ul>
<h2><a class="anchorFix" name="Taxo"></a>Evolution and Systematics</h2>
<ul>
<li><strong>CPSC 452</strong>. Evolutionary Genetics and Genomics, Fall 2010.</li>
<li><strong>IB 402</strong>. Molecular Evolution. Introduction to evolutionary change at the molecular and cellular levels of organization.</li>
<li><strong>IB 404</strong>. Genomic Analysis of Insects. Insect genomic analysis from the molecular level to that of the population.</li>
<li><strong>IB 406</strong>. Evolution of Adaptive Systems. Evolutionary mechanisms underlying adaptations.</li>
<li><strong>IB 416</strong>. Population Genetics. Mathematical theory of the genetics of populations.</li>
<li><strong>IB 426</strong>. Environmental and Evolutionary Physiology of Animals. Physiological adaptations of invertebrate and vertebrate animals to diverse aquatic and terrestrial environments.</li>
<li><strong>IB 460</strong>. Introduction to Entomology. Integrated studies of the principal morphological, physiological, ecological, and behavioral relationships among insects.</li>
<li><strong>IB 461</strong>. Ornithology. Structure, function, ecology, behavior, and evolution of birds of the world.</li>
<li><strong>IB 462</strong>. Mammalogy. Classification, distribution, life history, evolution, and identification of mammals.</li>
<li><strong>IB 463</strong>. Ichthyology. Classification, anatomy, ecology, behavior, distribution, and evolution of fishes of the world.</li>
<li><strong>IB 464</strong>. Herpetology. Classification, diversity, structure, function, ecology, behavior, and evolution of amphibians and reptiles.</li>
<li><strong>IB 465</strong>. Field Vertebrate Natural History. Intensive study of North American vertebrates with emphasis on vertebrates of Illinois.</li>
<li><strong>IB 467</strong>. Principles of Systematics. Comprehensive survey of the theory and methodology of systematics as they are applied today to all groups of organisms.</li>
<li><strong>IB 468</strong>. Insect Classification and Evolution. Analytical survey of the classification and evolution of the orders and principal families of insects.</li>
<li><strong>IB 471</strong>. General Mycology. Structure, classification, and identification of fungi.</li>
<li><strong>IB 571</strong>. Advanced Mycology: Special Groups. Several classes of fungi and their activities are considered. <br /><a href="http://sib.illinois.edu/Peec/courses#Top">Top</a></li>
</ul>
<h2><a class="anchorFix" name="Conserv"></a>Conservation Biology</h2>
<ul>
<li><strong>IB 444</strong>. Insect Pest Management. Study of the principles underlying the control of important insect pests of agriculture and of human and animal health.</li>
<li><strong>IB 451</strong>. Conservation Biology. Emphasis on the preservation of biological diversity and its evolutionary potential.</li>
<li><strong>IB 545</strong>. Fish and Wildlife Ecology Seminar. Modern ecological principles and concepts to specific problems in fisheries and wildlife.</li>
<li><strong>NRES 420</strong>. Restoration Ecology. Historical development of ecological restoration, its philosophical foundation, multi-disciplinary borrowings from the natural, applied, and social sciences, and varied practical applications, with an emphasis on the application of ecological principles.</li>
<li><strong>NRES 429</strong>. Aquatic Ecosystem Conservation.</li>
<li><strong>NRES 474</strong>. Soil Conservation and Management. Application of principles of soil conservation and management to the solution of land-use problems.</li>
<li><strong>NRES 512</strong>. Discussions in Natural Resources and Environmental Sciences. <br /><a href="http://sib.illinois.edu/Peec/courses#Top">Top</a></li>
</ul>
<h2><a class="anchorFix" name="Tool"></a>Tools</h2>
<ul>
<li><strong>CPSC 440</strong>. Applied Statistical Methods. Statistical methods involving relationships between populations and samples.</li>
<li><strong>CPSC 540</strong>. Design and Analysis of Biological Experiments. Statistical methods as tools for research.</li>
<li><strong>IB 488</strong>. Quantitative Biology I. Theory and practical application in biology of probability and statistics.</li>
<li><strong>IB 489</strong>. Quantitative Biology II. Additional topics in biostatistics, emphasizing nonparametric comparative, correlational, and sequential analyses.</li>
<li><strong>IB 491</strong>. Biological Modeling. Interdisciplinary modeling course for students interested in dynamic system modeling of living processes.</li>
<li><strong>IB 492</strong>. Spatial Ecosystem Modeling. Students build a spatial dynamic ecosystem computer model as a research team, focusing on a specific endangered species or ecosystem.</li>
<li><strong>IB 493/NRES 493</strong>. Statistical Ecology. Study of methods used in the collection and analyses of ecological data.</li>
<li><strong>NRES 421</strong>. Natural Resource Biometrics. Statistical methods and modeling techniques used in management of forest and natural resources.</li>
<li><strong>NRES 427</strong>. Ecological Modeling for Natural Resource Analysis. Mathematical and computational methods to develop and analyze dynamic ecological system models.</li>
<li><strong>NRES 445</strong>. Statistical Methods. Design and analysis of experiments.</li>
<li><strong>NRES 446</strong>. Ecological Numeracy: Planning Analysis of Environmental Issues.</li>
<li><strong>NRES 449</strong>. Science, Technology, and Environmental Policy. The environmental policy process.</li>
<li><strong>NRES 454</strong>. Geographical Information Systems for Natural Resource Management.</li>
<li><strong>NRES 455</strong>. Advanced GIS for Natural Resource Planning. Application of Geographic Information Systems to natural resource planning and decision making.</li>
<li><strong>NRES 460</strong>. Analysis and Interpretation of Aerial Photography.</li>
<li><strong>NRES 469</strong>. Spatial Ecosystem Modeling. Build a spatial dynamic ecosystem computer model, focusing on a specific endangered species or ecosystem.</li>
<li><strong>NRES 477</strong>. Introduction to Remote Sensing.</li>
<li><strong>NRES 489</strong>. The Physics of the Plant Environment. The physics of transport processes in the soil and aerial environment of plants.</li>
<li><strong>NRES 502</strong>. Research Methods in Natural Resources. Theory and practice of research methods in forestry.</li>
<li><strong>NRES 516</strong>. Biogeochemistry and Modeling of Forest Ecosystems. Study of biological, geological, and chemical processes of forest ecosystems.</li>
<li><strong>NRES 535</strong>. Advanced Forest Biometry. Developments and techniques used in forest inventory, growth models, and ecological models. <br /><a href="http://sib.illinois.edu/Peec/courses#Top">Top</a></li>
</ul>