<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Admissions Criteria Details<br /> Program in Ecology, Evolution, &amp; Conservation Biology</h1>
<h2>Applicants for admission to the Program in Ecology, Evolution, &amp; Conservation Biology:</h2>
<ul>
<li>Must have at least a bachelor's degree from an accredited college in the United States or a comparable degree from a recognized institution of higher learning abroad. (Current or previous UIUC graduate students should not submit an application or pay the application fee, but must follow <a href="http://www.grad.illinois.edu/admissions/apply/reentry" target="_blank">re-entry instructions</a> or <a href="http://www.grad.illinois.edu/gsas/curriculum-transfer" target="_blank">petition for a change of curriculum</a>.)</li>
<li>Must have a minimum grade-point average (GPA) of 3.0 (A = 4.0) for the last 2 years of bachelor's degree work and a minimum GPA of 3.0 for previous graduate degree work.</li>
<li>Must take the Graduate Record Examination (GRE) test administered by the Educational Testing Service (ETS). The GRE Subject test is not required. All exam scores must be dated less than five years prior to an applicant's desired date of admission. Typically, students that are admitted to PEEC have very competitive GRE scores.</li>
<li>Naturalized citizens, permanent resident aliens, and legal immigrants may be required to furnish TOEFL or IELTS scores, depending on their countries of origin, their length of residency in the US, or the locations and media of instruction for previous institutions they have attended.</li>
<li>Must possess the potential for success in advanced research, as documented in letters of reference (at least 3) from prior instructors or research supervisors and demonstrated in the applicant's "Statement of Purpose."</li>
</ul>
<h2>Additional requirements for international applicants:</h2>
<ul>
<li>Applicants whose native language is not English are required to submit TOEFL or IELTS scores. International applicants must have a TOEFL score of at least 613 (paper-based test), 257 (computer-based test),103-104 (internet-based test), or an IELTS score of 6.5 (with a score of 6 or higher in all sub-sections) to be considered for admission. The TOEFL/IELTS scores must be less than two years old from the first day of class at the proposed term of entry in order to be valid. Older scores are not valid. Request that official TOEFL/IELTS scores be sent directly to the University of Illinois at Urbana-Champaign.</li>
</ul>