<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h2>&nbsp;</h2>
<h2><strong>IMPORTANT DATES TO REMEMBER FOR SPRING 2015:</strong></h2>
<center></center>
<table border="1" width="98%" cellpadding="2">
<tbody>
<tr>
<td valign="top" width="35%">Tues. Jan. 20</td>
<td valign="top" width="65%">Instruction begins.</td>
</tr>
<tr>
<td valign="top" width="35%">Mon. Feb. 2</td>
<td valign="top" width="65%">Last day for students to add a semester course without permission.</td>
</tr>
<tr>
<td valign="top" width="35%">Mon. Feb. 16</td>
<td valign="top" width="65%">Deadline to submit application for <a href="http://www.grad.illinois.edu/general/travelaward" target="_blank">Grad College Fall Conference Travel Award</a> to PEEC office.</td>
</tr>
<tr>
<td valign="top" width="35%">Tues. March 3</td>
<td valign="top" width="65%">Deadline to submit applications for Spring <a href="https://www.grad.illinois.edu/fellowship/listing/3080">Dissertation Travel Grant</a> or <a href="https://www.grad.illinois.edu/fellowship/listing/3301">Master's Project Travel</a> to PEEC office</td>
</tr>
<tr>
<td valign="top" width="35%">Thurs. March 12</td>
<td valign="top" width="65%">Deadline to submit application for <a href="http://sib.illinois.edu/grants">SIB Awards and Grants</a> to SIB office</td>
</tr>
<tr>
<td valign="top" width="35%">Fri. March 13</td>
<td valign="top" width="65%">Last day for students to drop a semester course via <a href="https://apps.uillinois.edu/selfservice/" target="_blank">UI Integrate Self-Service</a>.</td>
</tr>
<tr>
<td valign="top" width="35%">Fri. March 20</td>
<td valign="top" width="65%">Last day to submit applications for PEEC Summer Research Grant and PEEC Travel Grant to PEEC office</td>
</tr>
<tr>
<td valign="top" width="35%">Sat. March 21 - Sun. March 29</td>
<td valign="top" width="65%">SPRING BREAK</td>
</tr>
<tr>
<td valign="top" width="35%">Tues. March 31</td>
<td valign="top" width="65%">Deadline to submit application for <a href="https://www.grad.illinois.edu/fellowship/listing/2807">Dissertation Completion Fellowship</a> to PEEC office</td>
</tr>
<tr>
<td valign="top" width="35%">Mon. April 6</td>
<td valign="top" width="65%"><strong>Registration for Summer begins.</strong> Start times vary. See your time ticket for your exact enrollment time at <a href="https://apps.uillinois.edu/selfservice/" target="_blank">UI Integrate Self-Service</a>.</td>
</tr>
<tr>
<td valign="top" width="35%">Fri. April 10</td>
<td valign="top" width="65%"><strong>Last day</strong> to take <strong>final exam</strong> for <strong>May</strong><strong> doctoral degree</strong>.</td>
</tr>
<tr>
<td valign="top" width="35%">Fri. April 17</td>
<td valign="top" width="65%"><strong>Last day</strong> for students <strong>to add themselves to the December degree list</strong> via <a href="https://apps.uillinois.edu/selfservice/" target="_blank">UI Integrate Self-Service</a>.&nbsp; Last day for students to drop a semester course without a grade of W and without approval.</td>
</tr>
<tr>
<td valign="top" width="35%">Fri. April 24</td>
<td valign="top" width="65%"><strong>Last day</strong> to complete <strong>deposit of May doctoral dissertation.</strong></td>
</tr>
<tr>
<td valign="top" width="35%">Fri. May 1</td>
<td valign="top" width="65%"><strong>Last day</strong> to complete <strong>deposit of May master's thesis</strong></td>
</tr>
<tr>
<td valign="top" width="35%">Wed. May 6</td>
<td valign="top" width="65%">Last day of Instruction</td>
</tr>
<tr>
<td valign="top" width="35%">Fri. May 7</td>
<td valign="top" width="65%"><strong>Reading Day&nbsp;</strong></td>
</tr>
<tr>
<td valign="top" width="35%">Fri. May 8 - Fri. May 15</td>
<td valign="top" width="65%">Final examination period</td>
</tr>
<tr>
<td valign="top" width="35%">Sat. May 16</td>
<td valign="top" width="65%">May Commencement (SIB)</td>
</tr>
</tbody>
</table>
<p>See <a href="http://illinois.edu/calendar/list/3284?cal=20120724&amp;skinId=4101" target="_blank">Graduate College Academic deadlines</a> for a more extensive list of deadlines.</p>