<!--KA: June 2015-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'peec_dir_ex' ) %>

<h2>PEEC Directory</h2>
<p>/// Populate this page from Database ///</p>

