<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Research Area: Evolution and Systematics</h1>
<table border="0" width="100%" cellpadding="2">
<tbody>
<tr>
<td valign="top" width="34%">
<h4>Behavioral Genetics and Evolution</h4>
<ul>
<li><a href="http://www.life.illinois.edu/bell/" target="_blank">Alison Bell</a></li>
<li><a href="http://www.life.illinois.edu/scameron/" target="_blank"><span style="color: #000080;"> Sydney Cameron</span></a></li>
<li><a href="http://www.life.illinois.edu/fuller/" target="_blank">Becky Fuller</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=philipp" target="_blank">David Philipp</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=caphilli" target="_blank">Christopher Phillips</a></li>
<li><a href="http://www.psychology.illinois.edu/people/jrhodes" target="_blank">Justin Rhodes</a></li>
<li><a href="http://www.life.illinois.edu/robertson/lab.html" target="_blank">Hugh Robertson</a></li>
<li><a href="http://www.life.illinois.edu/entomology/faculty/robinson.html" target="_blank"><span style="color: #000080;">Gene Robinson</span></a></li>
<li><a href="http://ansci.illinois.edu/directory/alfred-roca" target="_blank">Alfred Roca</a></li>
<li><a href="http://www.life.illinois.edu/suarez/" target="_blank">Andrew Suarez</a></li>
<li><a href="http://www.life.illinois.edu/cwwhitfield/" target="_blank">Charles Whitfield</a></li>
</ul>
</td>
<td valign="top" width="33%">
<h4>Biodiversity</h4>
<ul>
<li><a href="http://vetmed.illinois.edu/faculty/vb/val.html" target="_blank">Val Beasley</a></li>
<li><a href="http://www.life.illinois.edu/berenbaum/" target="_blank">May Berenbaum</a></li>
<li><a href="http://nres.illinois.edu/directory/jbrawn" target="_blank">Jeffrey Brawn</a></li>
<li><a href="http://www.life.illinois.edu/scameron/" target="_blank">Sydney Cameron</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=yongcao" target="_blank">Yong Cao</a></li>
<li><a href="http://www.life.illinois.edu/dalling/" target="_blank">James Dalling</a></li>
<li><a href="http://www.inhs.illinois.edu/%7Edietrich/" target="_blank"><span style="color: #000080;">Christopher Dietrich</span></a></li>
<li><a href="http://www.life.illinois.edu/downie/" target="_blank">Stephen Downie</a></li>
<li><a href="http://nres.illinois.edu/directory/aendress" target="_blank"><span style="color: #000080;">Anton Endress</span></a></li>
<li><a href="http://nres.illinois.edu/directory/jmf" target="_blank">Jennifer Fraterrigo</a></li>
<li><a href="http://cropsci.illinois.edu/faculty/yhanzawa/" target="_blank">Yoshi Hanzawa</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=kpjohnso" target="_blank">Kevin Johnson</a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Levin.htm" target="_blank">Geoffrey Levin</a></li>
<li><a href="http://wwx.inhs.illinois.edu/research/pi/amiller" target="_blank">Andrew Miller</a></li>
<li><a href="http://nres.illinois.edu/directory/jrmillr" target="_blank">James Miller</a></li>
<li><a href="http://www.life.illinois.edu/paige/" target="_blank">Ken Paige</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=caphilli" target="_blank">Christopher Phillips</a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Punyasena.htm" target="_blank">Surangi Punyasena</a></li>
<li><a href="http://nres.illinois.edu/directory/schooley" target="_blank">Robert Schooley</a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Shearer.htm" target="_blank"><span style="color: #000080;">Carol Shearer</span></a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=sjtaylor" target="_blank">Steven J. Taylor</a></li>
<li><a href="http://wwx.inhs.illinois.edu/directory/show/dwahl" target="_blank">David Wahl</a></li>
<li><a href="http://www.life.illinois.edu/whitfield/" target="_blank"><span style="color: #000080;"> James Whitfield</span></a></li>
</ul>
</td>
<td valign="top" width="33%">
<h4>Coevolutionary Interactions</h4>
<ul>
<li><a href="http://www.anthro.illinois.edu/people/ambrose" target="_blank">Stanley Ambrose</a></li>
<li><a href="http://www.life.illinois.edu/berenbaum/" target="_blank"><span style="color: #000080;">May Berenbaum</span></a></li>
<li><a href="http://www.geog.illinois.edu/people/achhatre" target="_blank">Ashwini Chhatre</a></li>
<li><a href="http://nres.illinois.edu/directory/jdawson2" target="_blank"><span style="color: #000080;">Jeffrey Dawson</span></a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=chdietri" target="_blank">Christopher Dietrich</a></li>
<li><a href="http://www.anthro.illinois.edu/people/p-garber" target="_blank"><span style="color: #000080;">Paul Garber</span></a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Heath.htm" target="_blank">Katy Heath</a></li>
<li><a href="http://www.inhs.illinois.edu/%7Ekjohnson/" target="_blank"><span style="color: #000080;">Kevin Johnson</span></a></li>
<li><a href="http://www.life.illinois.edu/paige/" target="_blank"><span style="color: #000080;">Ken Paige</span></a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Seigler.htm" target="_blank">David Seigler</a></li>
<li><a href="http://www.anthro.illinois.edu/people/rstumpf" target="_blank">Rebecca Stumpf</a></li>
<li><a href="http://mcb.illinois.edu/faculty/profile/rwhitakr" target="_blank"><span style="color: #000080;">Rachel Whitaker</span></a></li>
<li><a href="http://www.life.illinois.edu/whitfield/" target="_blank"><span style="color: #000080;">James Whitfield</span></a></li>
<li><a href="http://nres.illinois.edu/directory/acyann" target="_blank">Anthony Yannarell</a></li>
</ul>
</td>
</tr>
<tr>
<td valign="top" width="34%">
<h4>Evolutionary Developmental Biology</h4>
<ul>
<li>Thomas Frazzetta</li>
<li><a href="http://cropsci.illinois.edu/faculty/yhanzawa/" target="_blank">Yoshi Hanzawa</a></li>
<li><a href="http://www.life.illinois.edu/sears/Home.html" target="_blank">Karen Sears</a></li>
</ul>
<p>&nbsp;</p>
</td>
<td valign="top" width="33%">
<h4>Evolutionary Genetics</h4>
<ul>
<li><a href="http://www.life.illinois.edu/bell/" target="_blank">Alison Bell</a></li>
<li><a href="http://www.life.illinois.edu/ccheng/" target="_blank">Christina Cheng</a></li>
<li><a href="http://scholar.google.com/citations?hl=en&amp;user=ClKVJn4AAAAJ&amp;view_op=list_works&amp;gmla=AJsN-F6ZKM9KBPHDMGWjrKS8g9UZDlYIYPFvXwAFWtb_xPmpq5q5Iz83CLorqnzrs5bBmkarw_9ceZyEagwyoUmBQFsVBnGut11idJ9EjcTNlTgzdxp5MBxFr9XAiNdU9jPPbxPcuPGW" target="_blank">Zachary Cheviron</a></li>
<li><a href="http://www.inhs.illinois.edu/caec/" target="_blank">John Epifanio</a></li>
<li><a href="http://www.life.illinois.edu/fuller/" target="_blank">Becky Fuller</a></li>
<li><a href="http://cropsci.illinois.edu/faculty/yhanzawa/" target="_blank">Yoshi Hanzawa</a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Heath.htm" target="_blank">Katy Heath</a></li>
<li><a href="https://sib.illinois.edu/malhi/people/2_Malhi" target="_blank">Ripan Malhi</a></li>
<li><a href="http://www.life.illinois.edu/paige/" target="_blank"><span style="color: #000080;">Ken Paige</span></a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=philipp" target="_blank">David Philipp</a></li>
<li><a href="http://www.psychology.illinois.edu/people/jrhodes" target="_blank">Justin Rhodes</a></li>
<li><a href="http://www.life.illinois.edu/robertson/lab.html" target="_blank">Hugh Robertson</a></li>
<li><a href="http://ansci.illinois.edu/directory/alfred-roca" target="_blank">Alfred Roca</a></li>
<li><a href="http://www.life.illinois.edu/sears/Home.html" target="_blank">Karen Sears</a></li>
<li><a href="http://www.life.illinois.edu/suarez/" target="_blank">Andrew Suarez</a></li>
<li><a href="http://mcb.illinois.edu/faculty/profile/rwhitakr/" target="_blank"><span style="color: #000080;">Rachel Whitaker</span></a></li>
<li><a href="http://www.life.illinois.edu/whitfield/" target="_blank">James Whitfield</a></li>
</ul>
</td>
<td valign="top" width="33%">
<h4>Evolutionary Physiology</h4>
<ul>
<li><a href="http://www.anthro.illinois.edu/people/ambrose" target="_blank">Stanley Ambrose</a></li>
<li><a href="http://www.life.illinois.edu/berenbaum/" target="_blank"><span style="color: #000080;">May Berenbaum</span></a></li>
<li><a href="http://www.life.illinois.edu/ccheng/" target="_blank"><span style="color: #000080;"> Christina Cheng</span></a></li>
<li><a href="http://scholar.google.com/citations?hl=en&amp;user=ClKVJn4AAAAJ&amp;view_op=list_works&amp;gmla=AJsN-F6ZKM9KBPHDMGWjrKS8g9UZDlYIYPFvXwAFWtb_xPmpq5q5Iz83CLorqnzrs5bBmkarw_9ceZyEagwyoUmBQFsVBnGut11idJ9EjcTNlTgzdxp5MBxFr9XAiNdU9jPPbxPcuPGW" target="_blank">Zachary Cheviron</a></li>
<li><a href="http://www.life.illinois.edu/animalbiology/" target="_blank"><span style="color: #000080;"> Arthur DeVries</span></a></li>
<li>Thomas Frazzetta</li>
<li><a href="http://www.life.illinois.edu/fuller/" target="_blank">Becky Fuller</a></li>
<li><a href="http://www.psychology.illinois.edu/people/jrhodes" target="_blank">Justin Rhodes</a></li>
</ul>
</td>
</tr>
<tr>
<td valign="top" width="34%">
<h4>Life-History Evolution</h4>
<ul>
<li><a href="http://vetmed.illinois.edu/faculty/vb/val.html" target="_blank">Val Beasley</a></li>
<li><a href="http://www.life.illinois.edu/bell/" target="_blank">Alison Bell</a></li>
<li><a href="http://www.life.illinois.edu/berenbaum/" target="_blank"><span style="color: #000080;"> May Berenbaum</span></a></li>
<li><a href="http://www.life.illinois.edu/brawn/" target="_blank"><span style="color: #000080;"> Jeffrey Brawn</span></a></li>
<li><a href="http://www.life.illinois.edu/caceres/" target="_blank">Carla <span class="style1">C&aacute;ceres</span></a></li>
<li><a href="http://scholar.google.com/citations?hl=en&amp;user=ClKVJn4AAAAJ&amp;view_op=list_works&amp;gmla=AJsN-F6ZKM9KBPHDMGWjrKS8g9UZDlYIYPFvXwAFWtb_xPmpq5q5Iz83CLorqnzrs5bBmkarw_9ceZyEagwyoUmBQFsVBnGut11idJ9EjcTNlTgzdxp5MBxFr9XAiNdU9jPPbxPcuPGW" target="_blank">Zachary Cheviron</a></li>
<li><a href="http://www.life.illinois.edu/fuller/" target="_blank">Becky Fuller</a></li>
<li><a href="http://www.anthro.illinois.edu/people/p-garber" target="_blank">Paul Garber</a></li>
<li><a href="http://www.life.illinois.edu/paige/" target="_blank"><span style="color: #000080;">Ken Paige</span></a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=philipp" target="_blank">David Philipp</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=caphilli" target="_blank">Christopher Phillips</a></li>
<li><a href="http://www.psychology.illinois.edu/people/jrhodes" target="_blank">Justin Rhodes</a></li>
<li><a href="http://www.anthro.illinois.edu/people/rstumpf" target="_blank">Rebecca Stumpf</a></li>
</ul>
</td>
<td valign="top" width="33%">
<h4>Molecular Evolution</h4>
<ul>
<li><a href="http://www.anthro.illinois.edu/people/ambrose" target="_blank">Stanley Ambrose</a></li>
<li><a href="http://www.life.illinois.edu/berenbaum/" target="_blank"><span style="color: #000080;">May Berenbaum</span></a></li>
<li><a href="http://www.life.illinois.edu/ccheng/" target="_blank"><span style="color: #000080;">Christina Cheng</span></a></li>
<li><a href="http://scholar.google.com/citations?hl=en&amp;user=ClKVJn4AAAAJ&amp;view_op=list_works&amp;gmla=AJsN-F6ZKM9KBPHDMGWjrKS8g9UZDlYIYPFvXwAFWtb_xPmpq5q5Iz83CLorqnzrs5bBmkarw_9ceZyEagwyoUmBQFsVBnGut11idJ9EjcTNlTgzdxp5MBxFr9XAiNdU9jPPbxPcuPGW" target="_blank">Zachary Cheviron</a></li>
<li><a href="http://www.life.illinois.edu/animalbiology/faculty.htm" target="_blank"><span style="color: #000080;"> Arthur DeVries</span></a></li>
<li><a href="http://www.life.illinois.edu/downie/" target="_blank"><span style="color: #000080;">Stephen Downie</span></a></li>
<li><a href="http://cropsci.illinois.edu/faculty/yhanzawa/" target="_blank">Yoshi Hanzawa</a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Heath.htm" target="_blank">Katy Heath</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=kpjohnso" target="_blank"><span style="color: #000080;">Kevin Johnson</span></a></li>
<li><a href="https://sib.illinois.edu/malhi/people/2_Malhi" target="_blank">Ripan Malhi</a></li>
<li><a href="http://wwx.inhs.illinois.edu/research/pi/amiller" target="_blank">Andrew Miller</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=philipp" target="_blank">David Philipp</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=caphilli" target="_blank">Christopher Phillips</a></li>
<li><a href="http://www.psychology.illinois.edu/people/jrhodes" target="_blank">Justin Rhodes</a></li>
<li><a href="http://www.life.illinois.edu/robertson/lab.html" target="_blank"><span style="color: #000080;">Hugh Robertson</span></a></li>
<li><a href="http://www.life.illinois.edu/entomology/faculty/robinson.html" target="_blank">Gene Robinson</a></li>
<li><a href="http://ansci.illinois.edu/directory/alfred-roca" target="_blank">Alfred Roca</a></li>
<li><a href="http://mcb.illinois.edu/faculty/profile/rwhitakr" target="_blank"><span style="color: #000080;">Rachel Whitaker</span></a></li>
<li><a href="http://www.life.illinois.edu/cwwhitfield/" target="_blank">Charles Whitfield</a></li>
<li><a href="http://www.life.illinois.edu/whitfield/" target="_blank"><span style="color: #000080;"> James Whitfield</span></a></li>
</ul>
</td>
<td valign="top" width="33%">
<h4>Morphologic and Phenotypic Evolution</h4>
<ul>
<li><a href="http://scholar.google.com/citations?hl=en&amp;user=ClKVJn4AAAAJ&amp;view_op=list_works&amp;gmla=AJsN-F6ZKM9KBPHDMGWjrKS8g9UZDlYIYPFvXwAFWtb_xPmpq5q5Iz83CLorqnzrs5bBmkarw_9ceZyEagwyoUmBQFsVBnGut11idJ9EjcTNlTgzdxp5MBxFr9XAiNdU9jPPbxPcuPGW" target="_blank">Zachary Cheviron</a></li>
<li><a href="http://wwx.inhs.illinois.edu/directory/show/dietrich" target="_blank">Christopher Dietrich</a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Heath.htm" target="_blank">Katy Heath</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=kpjohnso" target="_blank">Kevin Johnson</a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Levin.htm" target="_blank">Geoffrey Levin</a></li>
<li><a href="http://www.life.illinois.edu/marcot/Home.html" target="_blank">Jonathan Marcot</a></li>
<li><a href="http://wwx.inhs.illinois.edu/research/pi/amiller" target="_blank">Andrew Miller</a></li>
<li><a href="http://www.life.illinois.edu/paige/" target="_blank">Ken Paige</a></li>
<li><a href="http://www.psychology.illinois.edu/people/jrhodes" target="_blank">Justin Rhodes</a></li>
<li><a href="http://www.life.illinois.edu/sears/Home.html" target="_blank">Karen Sears</a></li>
<li><a href="http://www.life.illinois.edu/whitfield/" target="_blank">James Whitfield</a></li>
</ul>
</td>
</tr>
<tr>
<td valign="top">
<h4>Paleobiology</h4>
<ul>
<li><a href="http://www.anthro.illinois.edu/people/ambrose" target="_blank">Stanley Ambrose</a></li>
<li>Thomas Frazzetta</li>
<li><a href="http://www.life.illinois.edu/marcot/Home.html" target="_blank">Jonathan Marcot</a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Punyasena.htm" target="_blank">Surangi Punyasena</a></li>
<li><a href="http://www.life.illinois.edu/sears/Home.html" target="_blank">Karen Sears</a></li>
</ul>
</td>
<td valign="top">
<h4>Speciation</h4>
<ul>
<li><a href="http://www.life.illinois.edu/entomology/faculty/berlocher.html" target="_blank">Stewart Berlocher</a></li>
</ul>
</td>
<td valign="top">
<h4>Systematics</h4>
<ul>
<li><a href="http://www.life.illinois.edu/berenbaum/" target="_blank">May Berenbaum</a></li>
<li><a href="http://www.life.illinois.edu/entomology/faculty/berlocher.html" target="_blank">Stewart Berlocher</a></li>
<li><a href="http://www.life.illinois.edu/scameron/" target="_blank"><span style="color: #000080;">Sydney Cameron</span></a></li>
<li><a href="http://www.life.illinois.edu/ccheng/" target="_blank"><span style="color: #000080;"> Christina Cheng</span></a></li>
<li><a href="http://wwx.inhs.illinois.edu/directory/show/dietrich" target="_blank"><span style="color: #000080;">Christopher Dietrich</span></a></li>
<li><a href="http://www.life.illinois.edu/downie/" target="_blank"><span style="color: #000080;">Stephen Downie</span></a></li>
<li><a href="http://www.inhs.illinois.edu/%7Ekjohnson/" target="_blank"><span style="color: #000080;">Kevin Johnson</span></a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=levin1" target="_blank"><span style="color: #000080;">Geoffrey Levin</span></a></li>
<li><a href="https://sib.illinois.edu/malhi/people/2_Malhi" target="_blank">Ripan Malhi</a></li>
<li><a href="http://www.life.illinois.edu/marcot/Home.html" target="_blank">Jonathan Marcot</a></li>
<li><a href="http://wwx.inhs.illinois.edu/research/pi/amiller" target="_blank">Andrew Miller</a></li>
<li><a href="http://www.inhs.illinois.edu/staff/index.php?action=list&amp;user_name=caphilli" target="_blank"><span style="color: #000080;">Christopher Phillips</span></a></li>
<li><a href="http://ansci.illinois.edu/directory/alfred-roca" target="_blank">Alfred Roca</a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Seigler.htm" target="_blank">David Seigler</a></li>
<li><a href="http://www.life.illinois.edu/plantbio/People/Faculty/Shearer.htm" target="_blank"><span style="color: #000080;">Carol Shearer</span></a></li>
<li><a href="http://mcb.illinois.edu/faculty/profile/rwhitakr" target="_blank"><span style="color: #000080;">Rachel Whitaker</span></a></li>
<li><a href="http://www.life.illinois.edu/cwwhitfield/" target="_blank">Charles Whitfield</a></li>
<li><a href="http://www.life.illinois.edu/whitfield/" target="_blank"><span style="color: #000080;"> James Whitfield</span></a></li>
</ul>
</td>
</tr>
<tr>
<td valign="top">
<h4>See also</h4>
<ul>
<li><a href="http://www.life.illinois.edu/programs/SBE/" target="_blank"> Systematics and Biodiversity Group</a></li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
