<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1><a id="top"></a>Graduate Program Handbook</h1>
<div style="width: 100%;">
<div style="width: 50%; float: left;">
<ul>
<li><a href="http://sib.illinois.edu/Peec/handbook#I">Program</a></li>
<li><a href="http://sib.illinois.edu/Peec/handbook#II">Admission Requirements</a></li>
<li><a href="http://sib.illinois.edu/Peec/handbook#III">Selection of Course of Study</a></li>
<li><a href="http://sib.illinois.edu/Peec/handbook#IV">M.S. Degree Requirements</a></li>
<li><a href="http://sib.illinois.edu/Peec/handbook#V">Ph.D. Degree Requirements</a></li>
<li><a href="http://sib.illinois.edu/Peec/handbook#VI">Full-Time Course of Study</a></li>
</ul>
</div>
<div style="width: 50%; float: left;">
<ul>
<li><a href="http://sib.illinois.edu/Peec/handbook#VII">Satisfactory Progress</a></li>
<li><a href="http://sib.illinois.edu/Peec/handbook#VIII">Probation Policy</a></li>
<li><a href="http://sib.illinois.edu/Peec/handbook#IX">Petition to Transfer</a></li>
<li><a href="http://sib.illinois.edu/Peec/handbook#X">Financial Support</a></li>
<li><a href="http://sib.illinois.edu/Peec/handbook#XI">Grievance and Appeals Procedures</a></li>
</ul>
</div>
</div>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="I"></a>I. The Program</h2>
<p>The Program in Ecology, Evolution, and Conservation Biology is an interdisciplinary, interdepartmental program administered through the School of Integrative Biology and is designed to provide individualized training in preparation for careers in ecology and evolutionary biology. Because of the breadth of fields covered by this program, there are no fixed course requirements other than attendance at the program's seminar series and annual graduate student symposium. Courses taken by a student and the student's advisory committee generally will come from multiple departments. The goal of the program's regulations is to allow maximum flexibility while providing close supervision, with the outcome of producing scientists who are technically competent and broadly educated in ecology, evolutionary biology and associated disciplines. The program offers M.S. and Ph.D. concentrations in Ecology, Evolution, and Conservation Biology.<br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="II"></a>II. Admission Requirements</h2>
<p>Prospective candidates must meet the requirements for admission set by the Graduate College of the University of Illinois at Urbana-Champaign. Only applicants who have graduated from an accredited college or university and who hold or will be granted a baccalaureate degree (or its equivalent) comparable in content and completed credit hours to that granted by the University of Illinois will be considered. Applicants must have a minimum grade point average of 3.0 (A=4.0) computed from the last 2 years of undergraduate and all years of graduate work completed. The program will give preference to candidates who hold a baccalaureate degree in biology or a closely related discipline and show promise of excellence in research and teaching. Typically, only students with strong letters of recommendation, high scores on the Graduate Record Examinations and a GPA well above the minimum stated above and will be admitted, although demonstration of academic excellence by other means (e.g., extensive field or laboratory research experience) will be considered. Decisions concerning admission will be made by the Graduate Committee of the program.<br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="III"></a>III. Selection of Course of Study</h2>
<p>Before their first semester in the Program each student will be assigned a major advisor, and the student and advisor will meet with an Entrance Committee to identify an appropriate course of study. The advisor usually will have been selected by the student before admission to the program and can be changed with approval by the director of the program. The student or the advisor may initiate a request to identify and alternate advisor. The Entrance Committee will be appointed by the chairperson of the Graduate Committee.</p>
<p>In consultation with their advisor and the committee, the student will select three core areas of emphasis:</p>
<ul>
<li>the general area of ecology or evolutionary biology;</li>
<li>a complementary general area (such as: behavior, systematics, physiology, genetics); and</li>
<li>a specific area related to their research (such as speciation, sexual selection, bioenergetics, population dynamics, and organismal biology of primary interest).</li>
</ul>
<p>Beyond these requirements, the particular courses recommended by the Entrance Committee will depend on the individual student's previous training, experience, and knowledge of the subject matter. All students will be required to develop strong quantitative skills, which may require advanced course work in statistics or other analytical methods.<br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="IV"></a>IV. M.S. Degree Requirements</h2>
<p>The following milestones must be met to earn the M.S.</p>
<ul>
<li>By the end of the second year, students must complete 32 hours of course work in their three core areas with grades no lower than B or S. No more than 12 hours of research can be counted.</li>
<li>All students must enroll in and attend the weekly PEEC seminar series (IB 546, Sec. A). Excuses because of conflicts must be approved by the Director of the Program. New students must enroll in both sections A and B.</li>
<li>In addition to course work, graduate requirements include completion of a thesis (599) that is defended. Student research will be guided and approved by an Advisory Committee of three faculty from at least two departments, including the Major Advisor who will serve as chair. Membership of the Advisory Committee must be approved by the director of the program.</li>
</ul>
<p><br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="V"></a>V. Ph.D. Degree Requirements</h2>
<ul>
<li>Before receiving their degree, students must complete at least 96 hours of 400- or 500-level courses (64 hours beyond the M.S. requirements) with grades no lower than B or S.</li>
<li>All students must enroll in and attend the weekly PEEC seminar series (IB 546, Sec. A). Excuses because of conflicts must be approved by the director of the program. New students must enroll in both sections A and B.</li>
<li>All students must complete at least two semesters of favorably evaluated teaching before receiving their degree.</li>
<li><em>No later than their second semester</em> in the program, the student in consultation with their major advisor, will select members of the student's Doctoral Committee, which will meet annually with the student to plan coursework and research and to review and facilitate progress toward the degree. Students will prepare a short written report of their activities during the previous year for consideration by the Doctoral Committee.&nbsp; The Doctoral Committee will thoroughly consider all aspects of the student's activities, after which the major advisor will provide a written report of progress to the Graduate Committee.
<p>The faculty constituting a student's Doctoral Committee must come from two or more departments, comprise a minimum of four members (including the major advisor), be familiar with the student's area of research interest, and be approved by the director of the program. The chair of the Doctoral Committee is typically the major advisor, provided that the advisor is both a member of the University's Graduate Faculty and the Program in Ecology and Evolutionary Biology. If this is not the case, the director of the program will appoint a chairperson who fulfills these requirements from among the committee membership. The Doctoral Committee will be responsible for administering the necessary examinations.</p>
</li>
</ul>
<ul>
<li><em>No later than their sixth semester</em> in the program, and preferably in their fifth semester before the deadline for submission of a proposal for an NSF Dissertation Improvement Grant (currently the third Friday in November), doctoral students must take a Preliminary Examination. For this exam a member of the Doctoral Committee other than the major advisor will be appointed chair by the director of the program. The first part of the three-hour oral exam will be general and cover the student's three core areas of emphasis. The second part of the exam will be a defense of the research proposal.
<p>Two weeks prior to the exam, the student must present to the Doctoral Committee a proposal prepared in the format of a proposal for an NSF Dissertation Improvement Grant. It should describe the objectives of the research project, the experimental plan and rationale, the results of pilot studies, a budget, and a tentative timetable for its completion. The student will present evidence of feasibility and significance of the proposal, but the main research for the dissertation shall not have been performed prior to the Preliminary Examination.</p>
<p>A detailed report of the exam and a copy of the research proposal shall be submitted to the Graduate Committee. A passing grade qualifies the student as a Ph.D. candidate. A failing grade will require the student to take a second preliminary examination no later than the following semester. A second failure will result in dismissal from the program.</p>
<p>Three weeks prior to the <strong>preliminary exam</strong>, the PEEC secretary must be provided with the following information :</p>
<ul>
<li>Date of exam</li>
<li>Members of the student's committee and their departments:<br />
<ul>
<li>chair (must be a member of the Graduate Faculty). For a prelim exam a member of the Doctoral Committee other than the major advisor will be appointed chair by the director of the program.</li>
<li>contingent chair (optional)</li>
<li>director of dissertation research</li>
<li>other members</li>
<li>The committee must include at least four voting members, three of whom must be members of the Graduate Faculty and two tenured members of the faculty. &nbsp;Non-voting members, such as an external reader, a member of the faculty who is off campus, or others who can make a significant contribution to the research, may be appointed.&nbsp; For any non-member of the Graduate Faculty, a letter of justification is required. A CV must be submitted.</li>
<li>The committee should include faculty members from more than one area of specialization.</li>
</ul>
</li>
</ul>
</li>
</ul>
<ul>
<li>Upon completion of a dissertation and the other requirements of the program, the student shall be subject to a Final Examination, which shall consist of a defense of the dissertation. Copies of the completed dissertation, approved by the advisor, should be submitted to the Doctoral Committee at least two weeks prior to the Final Examination. The thesis will be judged in relation to published scholarly work in the field, and students are encouraged to began publishing their results before taking their Final Examination. Passing this exam and presentation of the dissertation by the student at a public seminar sponsored by the program qualify the student for the Ph.D. degree. Failure will require the student to conduct additional research and to repeat the Final Examination. <br /> <br /> Three weeks prior to the <strong>final exam</strong>, the PEEC secretary must be provided with the following information :<br />
<ul>
<li>Date of exam</li>
<li>Members of the student's committee and their departments:<br />
<ul>
<li>chair (must be a member of the Graduate Faculty). For the final examination, the chair can be the major advisor</li>
<li>contingent chair (optional)</li>
<li>director of dissertation research</li>
<li>other members</li>
<li>The committee must include at least four voting members, three of whom must be members of the Graduate Faculty and two tenured members of the faculty. &nbsp;Non-voting members, such as an external reader, a member of the faculty who is off campus, or others who can make a significant contribution to the research, may be appointed.&nbsp; For any non-member of the Graduate Faculty, a letter of justification is required. A CV must be submitted.</li>
<li>The committee should include faculty members from more than one area of specialization.</li>
</ul>
</li>
</ul>
</li>
</ul>
<p><br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="VI"></a>VI. Full-Time Course of Study for Graduate Students</h2>
<p>Graduate students may be required to maintain full-time enrollment for several reasons. Many academic programs require registered students to maintain a full-time load. Full-time status may also be required for certification related to student loans, fellowship and traineeship appointments, and certain types of non-University medical insurance policies. International students may be required to maintain full-time status for purposes of Student Exchange and Visitor Information System (SEVIS) reporting.</p>
<p><strong>Graduate students with 25%-67% assistantships, except Fellows (see below)</strong></p>
<ul>
<li>Fall and spring terms: a minimum of 8 graduate hours ; individual programs may set higher requirements.</li>
<li>Summer term: a minimum of 4 graduate hours in thesis units or a course that meets for at least eight weeks (enrollment in a four-week course in the summer term will not fulfill the requirement for full-time registration)</li>
</ul>
<p><strong>Graduate students with traineeships or waiver-generating fellowships (regardless of whether the student holds a concurrent assistantship) and graduate students with "stand-alone" tuition waivers</strong></p>
<ul>
<li>Fall and spring terms: a minimum of 12 graduate hours</li>
<li>Summer term: a minimum of 4 graduate hours in thesis units or a course that meets for at least eight weeks (enrollment in a four-week course in the summer term will not fulfill the requirement for full-time registration)</li>
</ul>
<p><strong>Graduate students with 1%-24% assistantships and graduate students without assistantships</strong></p>
<ul>
<li>Fall and spring terms: a minimum of 12 graduate hours</li>
<li>Summer term: a minimum of 6 graduate hours in thesis units or a course that meets for at least eight weeks (enrollment in a four-week course in the summer term will not fulfill the requirement for full-time registration)</li>
</ul>
<p>&nbsp;</p>
<h2>Important Notes</h2>
<ul>
<li>Fellows are required to maintain a full course load each term of registration unless a reduced course load has been approved by the Graduate College Fellowship Office. Fellows who are international students must also have a reduced course load approved by the Office of International Student Affairs.</li>
<li>For purposes of load, each required or recommended ESL course taken as a result of the English as a Second Language Placement Test (EPT) will count as the equivalent of 4 graduate hours, even if the course credit is recorded as zero hours.</li>
<li>International students whose first term of study is the Summer term must register for 6 hours. International students should check with the <a href="http://www.isss.illinois.edu/" target="_blank">International Student and Scholar Services</a> office for details.</li>
<li>Continuing international students are not required by the campus to enroll for the summer terms, although their departments may require enrollment. Those who do enroll do not need to carry a full course load for SEVIS purposes.</li>
<li>International graduate students who have completed all credit requirements (course work and thesis research) for their degree programs may register for zero hours of 599 until completion of study. This registration will be considered full-time for purposes of SEVIS reporting. International students seeking any exception to the full-time credit requirements should contact the <a href="http://www.isss.illinois.edu/" target="_blank">International Student and Scholar Services </a>office before registering for the reduced credit load.</li>
<li>For purposes of loan deferral only, zero credit registration in GC 599 will count as full time registration.</li>
<li>Graduate students not registered for at least a half-time load in a particular term will be subject to Social Security and Medicare deductions for that term.</li>
</ul>
<p>Students with specific loan repayment questions should consult their lenders (school, bank, or loan agency). Students with questions about their fellowships or traineeships should consult the Graduate College Fellowship Office or the funding agency. Students with questions about certification of full-time status should contact the Office of Admissions and Records. Questions about the requirements of specific academic programs should be directed to the graduate office for that program.<br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="VII"></a>VII.&nbsp; Satisfactory Progress</h2>
<p>Each student is expected to make satisfactory progress towards the M.S. or Ph.D. degree. Satisfactory progress is defined as meeting all degree requirements, including satisfactory grades in coursework, participation in seminars, performance in teaching and research, and passing examinations on or before their scheduled dates. A finding of unsatisfactory progress can be made at any time during the student's participation in the program and will be reported by the Graduate Committee to the student, the major advisor, and the director and result in the student being placed upon probation. A second finding of unsatisfactory progress will be cause for dismissal from the program. For doctoral students, the annual meeting with their Doctoral Committee will provide the major input for their progress evaluation. Masters students are typically expected to complete their degree within two years, depending upon their prior experience. Doctoral students are typically expected to complete their degree within five years, depending upon their prior experience.<br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="VIII"></a>VIII.&nbsp; Probation Policy</h2>
<p>Effective September 2004. Graduate students must make satisfactory progress in all aspects of their program in order to continue pursuing a graduate degree. Factors that a program may use to determine satisfactory academic progress include, but are not limited to, performance on qualifying, preliminary, and other examinations; performance in course work; satisfactory and timely completion of all milestones as determined by the program; satisfactory progress in research; and overall graduate and/or program grade-point average (GPA). Students enrolled in approved joint degree programs must meet the minimum GPA requirements of each degree program in order to maintain satisfactory academic progress and to graduate. All graduate students must meet the minimum degree GPA specified by the degree program in order to have the degree certified and to graduate. Most factors that determine satisfactory academic progress are monitored by the student's degree program, and failure to meet these requirements can result in the program recommending to the Graduate College that the student be placed on probation or dismissed from the Graduate College. While all factors to determine satisfactory academic progress are important, the Graduate College monitors only overall graduate grade-point average. The graduate degree programs monitor all other aspects of academic progress.</p>
<ul>
<li>
<p><strong>GPA Requirements</strong>. The Graduate College requires a minimum overall graduate GPA of at least 2.75 on a 4.0 scale; however, graduate degree programs can and often do set a higher minimum. If a minimum GPA higher than 2.75 on a 4.0 scale is approved by the Graduate College and published by the program, this higher minimum overall graduate GPA will be required by the Graduate College of students in that program. Students who have an overall graduate GPA below the degree program's minimum at the end of any semester of enrollment will be placed on probation. Once a student has been placed on probation, he or she will have one semester in which to raise his/ her overall graduate GPA to his/her program's minimum. Failure to do so will result in dismissal from the Graduate College.</p>
</li>
<li>
<p style="margin-top: 6px;"><strong>Limited Status Admission</strong>. A student admitted to the Graduate College on limited status due to low undergraduate GPA must meet the degree program's minimum overall graduate GPA at the end of the first semester of registration, or be dismissed from the Graduate College.</p>
</li>
<li>
<p style="margin-top: 6px;"><strong> Appeal of Dismissal</strong>. If a student is dismissed from the Graduate College because of a low overall graduate GPA, the graduate student petition process may be used to appeal this dismissal. The Graduate College will consider petitions containing strong program support and strong justification based on other factors pertinent to the program's determination of satisfactory academic progress.</p>
</li>
</ul>
<p><br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2><a class="anchorFix" name="IX"></a>IX. Petition to Transfer</h2>
<p>The Program in Ecology, Evolution, and Conservation Biology will evaluate petitions to transfer once each year. The deadline for petitions is January 1. Students wishing to transfer into the program from other programs or departments at the University of Illinois at Urbana-Champaign should:</p>
<ul>
<li>Obtain written approval to transfer from your current advisor (if you have one) and department chair.</li>
<li>Submit a complete application, including a personal statement, letters of recommendation, transcripts, and GRE scores <strong>directly to the program secretary</strong>. Do not submit your application electronically; by submitting your application to the program secretary you can avoid paying the application fee.</li>
<li>Once the application is complete, it will be evaluated by the program's graduate committee and you will be notified of the decision, usually within one week of the committee meeting.</li>
</ul>
<p>At this time, the program is considering transfer petitions only from students wishing to enroll in the doctoral program. If you have questions about the application process, please contact the PEEC secretary. For additional information about petitions, consult the <a href="http://www.grad.illinois.edu/petitions" target="_blank">Graduate College</a>.<br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2 style="text-align: center;"><a class="anchorFix" name="X"></a>X. Financial Support</h2>
<p>Continued offers of assistantships or fellowships each academic year will depend on an evaluation of satisfactory progress by the Graduate Committee and upon satisfactory teaching evaluations. Students who require more than two years to complete the M.S. degree or five years to complete the Ph.D. degree must submit a written petition to the Graduate Committee, supported by their Advisory Committee or Doctoral Committee, to be considered for an additional year of support.<br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<h2 style="text-align: center;"><a class="anchorFix" name="XI"></a>XI. Grievance and Appeals Procedure</h2>
<p>Individual exceptions to these regulations may be sought by petition to the Graduate Committee. The Graduate Committee shall also serve as a Grievance Committee, unless it is the object of the grievance, in which case the Steering Committee of the program shall assume this function. The program follows the grievance procedures adopted by the Graduate College.<br /> <a href="#top">top</a></p>
<p>&nbsp;</p>
<p>10/2/12</p>
