<%# 12-Jun-2015 uebele@ validated (2 errors),
      removed content_for :expand since its now a sidebar_header link
-%>
<!-- PEEC Index page content
       in /peec/
       updated by uebele@ Jun-2015 -->

<% # rails variables for title and sidebar
content_for( :title, 'PEEC Home' )
content_for( :sidebar, 'peec' )
-%>
<p>
  <%= image_tag 'peec/peec_banner.jpg',
                alt: "Program in Ecology, Evolution, and Conservation Biology",
                style: "max-width:98%;" %>
</p>
<br>

<p>The <strong>Program in Ecology, Evolution, and Conservation Biology (PEEC)</strong> is an interdisciplinary, campuswide program designed to provide individualized training for graduate students. This program prepares individuals for research and teaching careers in ecology and evolutionary biology and produces scientists who are both technically competent and broadly educated in ecology and evolutionary biology.</p>
    <h3>A Ph.D. student declares three areas of emphasis:</h3>
    <ul>
      <li>A general area of ecology or evolution</li>
      <li>A complementary general area (e.g., behavior, systematics, physiology, genetics)</li>
      <li>A specific area related to the dissertation</li>
    </ul>
<br>

<div style="border: 1px solid #666666; padding: 1em; margin: 1em; background-color:lightgray"><p>Congratulations to PEEC student Bailey Morrison for receiving the 2015 NASA Earth and Space Science Fellowship. Her winning proposal was entitled, “The Velocity of Tree Cover in California".  Bailey was one of the 64 students out of 400 applicants to win this highly competitive fellowship!</p></div>

<hr>

<center>
  <h3><strong>Contact Us:</strong></h3>
  <p>265 Morrill Hall, MC-116<br /> 
    505 South Goodwin Ave.<br /> 
    Urbana, IL 61801&nbsp; USA<br /> 
    phone: 217/ 300-1166; fax: 217/ 244-7246<br /> 
    <a href="mailto:ecoevo@life.illinois.edu">ecoevo@life.illinois.edu</a>
  </p>
</center>

<div style="height: 80px;">&nbsp;</div>

