<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Steps for Terminal Master's Defense</h1>
<p><strong>Master's Students:</strong></p>
<p><em>Before your Defense</em></p>
<ol>
<li><strong>Register for 599 Thesis Research</strong>. Terminal master&rsquo;s students should register for at least one semester of 599, and may register in 599 for all terms.</li>
<li><strong>Complete at least&nbsp;32 credit hours</strong> of course work in your three core areas with grades no lower than B or S. No more than 12 hours of research can be counted.</li>
<li><strong>Add yourself to the degree list</strong> in the term you plan to deposit your thesis via <a href="https://apps.uillinois.edu/selfservice/" target="_blank">UI Integrate Self-Service</a>. You do not need to be registered in the semester in which you deposit your thesis if it is not the same semester as the one in which you took your exam.</li>
<li><strong>Reserve a room for the defense of your thesis</strong> after the date and time have been approved by your Advisory Committee, and inform PEEC&rsquo;s secretary of the date, time, and place. Terminal Master's Advisory Committees do not need to be approved by the Graduate College; however, membership of the Advisory Committee must be approved by the Director of the Program as outlined in PEEC&rsquo;s <a href="http://sib.illinois.edu/Peec/handbook#IV" target="_blank">Graduate Program Handbook</a>.</li>
<li><strong>File your title page with the Graduate College Thesis Office</strong> via <a href="mailto:thesis@illinois.edu">thesis@illinois.edu</a>. This optional step can be done any time before your deposit and after you're reasonably sure of your title. Make sure your title page is formatted correctly (see <a href="http://www.grad.illinois.edu/graduate-college-thesis-requirements" target="_blank">Grad College Thesis Requirements</a>). If you have any questions about this, send your title page to PEEC's secretary first to be approved before sending it to the Thesis Office.</li>
</ol>
<p><em>After your defense </em></p>
<ol>
<li>After you have made the revisions recommended by your committee, make sure that you have followed the&nbsp;<a href="http://www.grad.illinois.edu/graduate-college-thesis-requirements" target="_blank">Grad College Thesis Requirements</a> for formatting your thesis, and then <strong>email the PEEC&rsquo;s secretary a copy of your thesis for format review <span style="text-decoration: underline;">at least</span> 4-5 days before the deposit deadline</strong>.</li>
<li>After making any necessary format changes suggested by the secretary, resubmit the final revision to the secretary for a final review and approval. The secretary will then submit a <strong>format approval form </strong>to the Grad College and notify you that you may then submit your dissertation/thesis for electronic deposit to the Graduate College.</li>
<li>Give a <strong>copy of your <a href="http://www.grad.illinois.edu/forms/tda" target="_blank">Thesis/Dissertation Approval (TDA) form</a></strong> signed by all of your committee members to PEEC&rsquo;s secretary, who is authorized to submit it electronically to the Grad College.</li>
<li><strong>Deposit your thesis and submit supplemental materials.</strong><ol style="list-style-type: lower-alpha;">
<li>Convert your thesis file(s) to a single PDF file, if not already in that format.<ol style="list-style-type: lower-roman;">
<li>Name the PDF file: Lastname_Firstname.pdf (use first and last names from title page; do not include middle names/initials in filename)</li>
<li>Do not embed audio/video files in or apply security settings to PDF file</li>
</ol></li>
<li>Go to <a href="http://www.grad.illinois.edu/submit-etd" target="_blank">www.grad.illinois.edu/submit-etd</a> to create a submission profile and submit your electronic thesis.</li>
<li><strong>At the same time</strong>, and if applicable, submit one copy of each permission letter to reprint copyrighted material (accepted by fax or email) to the Thesis Office (the deposit is not complete until all items are received).</li>
<li>Make all necessary corrections to your thesis, if any, as required by the Thesis Office. They will notify you of required changes via email.</li>
<li>The Thesis Office will notify you via email when your deposit is complete. The deposit fee ($15) will be charged to your student account.</li>
<li>All final corrections and required materials are due no later than 4:45 p.m. on the final day of the deposit period for your intended graduation (see <a href="http://illinois.edu/calendar/list/3284?cal=20120724&amp;skinId=4101" target="_blank">Graduate College Academic deadlines</a>).</li>
</ol></li>
</ol>
<p>&nbsp;</p>