<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>News</h1>
<p>Please check out some of our <a href="http://sib.illinois.edu/peec/student_research" target="_blank">Current Students' Research</a> and what some of our <a href="http://sib.illinois.edu/peec/alumni_featured" target="_blank">PEEC Alumni</a> are doing now.</p>
<p>If you are a current PEEC Graduate Student or a PEEC Alumnus and would like to be featured on either of these pages, please send Laura Thurlwell<a href="mailto:thurlwel@illinois.edu"> (thurlwel@illinois.edu)</a> a short write-up along with a couple of pictures, and we'll gladly add you to our pages.</p>