<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Research Areas</h1>
<ul>
<li>
<h3><a href="http://sib.illinois.edu/peec/ecology" target="_blank">Ecology</a></h3>
</li>
<li>
<h3><a href="http://sib.illinois.edu/peec/evolution" target="_blank">Evolution and Systematics</a></h3>
</li>
<li>
<h3><a href="http://sib.illinois.edu/peec/conservation" target="_blank">Conservation Biology</a></h3>
</li>
</ul>