

<% content_for( :title, 'PEEC Seminars' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'peec_ex' ) %>


<div style="width: 100%;">
  <div>
    <h2>Upcoming Seminars</h2>
    <h3 style= text-align:center>Wednesdays at 4:00 p.m.<br /> B102 CLSL<strong>&mdash;</strong>Charles G. Miller Auditorium</h3>
    <table border="1" cellspacing="0" cellpadding="1" align="left" width="98%">
      <tbody>
        <tr>
          <td style="color: white;" valign="top" bgcolor="#548DD4" width="28%">
            <p align="center"><strong>Date</strong></p>
          </td>
          <td style="color: white;" valign="top" bgcolor="#548DD4" width="72%">
            <p align="center"><strong>Speaker</strong></p>
          </td>
        </tr>
        <tr>
          <td style="color: white;" valign="top" bgcolor="#548DD4" width="28">
            <p align="center"><strong>March 18<br /></strong></p>
          </td>
          <td valign="top" bgcolor="#BCD2EE" width="72%">
            <p style="text-align: center;"><strong><a href="http://ib.berkeley.edu/people/faculty/simmse">Ellen Simms</a></strong><br /> University of California-Berkeley<br /><em>"Legume-Rhizobium Mutualisms:&nbsp; Intergenerational Feedbacks and Selection on Cheating"<br /></em></p>
          </td>
        </tr>
        <tr>
          <td style="color: white;" valign="top" bgcolor="#548DD4" width="28">
            <p align="center"><strong>April 1<br /></strong></p>
          </td>
          <td valign="top" bgcolor="#D3DFEE" width="72%">
<p align="center"><a href="http://www.bio.fsu.edu/faculty-travis.php"><strong>Joseph Travis</strong></a><br /> Florida State University<br /> <em>"When Might the Concept of Eco-Evolutionary Dynamics Actually Be Meaningful?"<br /></em></p>
          </td>
        </tr>
        <tr>
          <td style="color: white;" valign="top" bgcolor="#548DD4" width="28">
            <p style="text-align: center;"><strong>April 8</strong></p>
            <p>&nbsp;</p>
          </td>
          <td valign="top" bgcolor="#BCD2EE" width="72%">
            <p align="center"><a href="http://falco.biol.mcgill.ca/~guichard/index.html"><strong>Fred Guichard</strong></a><br /> McGill University<br /> <em>"Fluctuations and functions of meta-ecosystems"<br /></em></p>
          </td>
        </tr>
        <tr>
          <td style="color: white;" valign="top" bgcolor="#548DD4" width="28">
            <p style="text-align: center;"><strong>April 15<br /></strong></p>
            <p>&nbsp;</p>
          </td>
          <td valign="top" bgcolor="#BCD2EE" width="72%">
            <p align="center"><a href="http://bio.psu.edu/directory/mjr25"><strong>Marilyn Roosnick</strong></a><br /> Penn State<br /> <em>"Ecology of plant and fugal viruses"<br /></em></p>
          </td>
        </tr>
        <tr>
          <td style="color: white;" valign="top" bgcolor="#548DD4" width="28">
            <p style="text-align: center;"><strong>April 22<br /></strong></p>
            <p>&nbsp;</p>
          </td>
          <td valign="top" bgcolor="#BCD2EE" width="72%">
            <p align="center"><a href="http://SirumBERD.wikispaces.com/"><strong>Karen Sirum</strong></a><br /> Bowling Green State University<br /> <em>"A Scientific Approach to Understanding the Undergraduate Biology Classroom Ecosystem"<br /></em></p>
          </td>
        </tr>
        <tr>
          <td style="color: white;" valign="top" bgcolor="#548DD4" width="28">
            <p style="text-align: center;"><strong>April 29<br /></strong></p>
            <p>&nbsp;</p>
          </td>
          <td valign="top" bgcolor="#BCD2EE" width="72%">
            <p align="center"><a href="http://www.biology.ucr.edu/people/faculty/Garland.html"><strong>Ted Garland</strong></a><br /> University of California, Riverside<br /> <em>"Born to Run: The biology and genetics of voluntary exercise as revealed by a long-term, replicated selection experiment"<br /></em></p>
          </td>
        </tr>
        <tr>
          <td style="color: white;" valign="top" bgcolor="#548DD4" width="28">
            <p style="text-align: center;"><strong>May 6<br /></strong></p>
            <p>&nbsp;</p>
          </td>
          <td valign="top" bgcolor="#BCD2EE" width="72%">
            <p align="center"><strong>Rebecca Smith</strong><br />&nbsp; Veterinary Medicine- UIUC<br /> <em>Simple Models in a Complex World:&nbsp; Using Livestock Disease Data to Understand Pathogen Ecology"<br /></em></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    <center>
      <p><a href="http://illinois.edu/calendar/list/4109" target="_blank">Click here</a> to view the Seminar Series for Spring 2015.</p>
    </center>
  </div>
</div>
<center>
  <p style="font-size: 85%;"><strong>Contact us at:</strong></p>
  <p style="font-size: 85%;">265 Morrill Hall, MC-116<br /> 
    505 South Goodwin Ave.<br /> 
    Urbana, IL 61801&nbsp; USA<br /> 
    phone: 217/ 300-1166; fax: 217/ 244-7246<br /> 
    <a href="mailto:ecoevo@life.illinois.edu">ecoevo@life.illinois.edu</a>
  </p>
</center>
