<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1 style="text-align: center; padding: 0 4em 0 4em; margin-bottom: 0; padding-bottom: 0;">Topics in Ecology &amp; Evolution</h1>
<h1 style="text-align: center; padding: 0 4em 0 4em; margin-bottom: 0; padding-bottom: 0;">and</h1>
<h1 style="text-align: center; padding: 0 4em 0 4em; margin-bottom: 0; padding-bottom: 0;">Special Topics Courses</h1>
<h2 style="padding-left: 2em; padding-right: 2em; text-align: center;">Spring 2015</h2>
<center></center>
<table border="1" width="98%" cellpadding="2">
<tbody>
<tr>
<td style="text-align: center;" valign="top" width="50%"><strong>Course</strong></td>
<td style="text-align: center;" width="50%"><strong>Topic</strong></td>
</tr>
<tr>
<td style="text-align: center;" valign="top" width="50%"><strong>IB 546-BB (62169)</strong><br /> 1 hour<br /> Time: TBA<br /> Place: TBA<br /> Instructor: A. Bell and B. Fuller</td>
<td style="text-align: center;" width="50%">Readings in Gen. Evolution and Behavior</td>
</tr>
<tr>
<td style="text-align: center;" valign="top" width="50%">&nbsp;<strong>IB 546-C (62171)</strong><br /> Time: TBA<br /> Place: TBA<br /> Instructor: J. Marcot and K. Sears</td>
<td style="text-align: center;" width="50%">TBA</td>
</tr>
<tr>
<td style="text-align: center;" valign="top" width="50%"><strong>IB 546-EPG (61535)</strong><br /> 1 hour<br /> Time: TBA<br /> Place: TBA<br /> Instructor: A. Bell</td>
<td style="text-align: center;" width="50%">Evolutionary and Population Genetics</td>
</tr>
<tr>
<td style="text-align: center;" valign="top" width="50%"><strong><strong>IB 546-JD (60812)</strong><br /> </strong>1 hour<br /> Time: Thursday 12:00pm - 12:50pm<br /> Place: ARR Morrill Hall<br /> Instructor: A. Harmon-Threatt</td>
<td style="text-align: center;" width="50%">Graduate Seminar in Ecology</td>
</tr>
<tr>
<td style="text-align: center;" valign="top" width="50%">&nbsp;<strong>IB 526-AH (56070)</strong><br /> 1 hour<br /> Time: TBA<br /> Place: TBA<br /> Instructor: TBA</td>
<td style="text-align: center;" width="50%">TBA</td>
</tr>
<tr>
<td style="text-align: center;" valign="top" width="50%">&nbsp;<strong>IB 526-C (56285)</strong><br /> 1 hour<br /> Time: TBA<br /> Place: TBA<br /> Instructor: TBA</td>
<td style="text-align: center;" width="50%">Advanced Systematics</td>
</tr>
<tr>
<td style="text-align: center;" valign="top" width="50%">&nbsp;<strong>IB 496-BP (60877)</strong><br /> 2 hours<br /> Time: Tuesday 10:00am - 11:50am<br /> Place: 314 International Studies Building<br /> Instructor: M. Bello Bravo and B. Pittendrigh</td>
<td style="text-align: center;" width="50%">International Development in Practice</td>
</tr>
<tr>
<td style="text-align: center;" valign="top" width="50%">&nbsp;<strong>IB 496-CRF (61937)</strong><br /> 2 hours<br /> Time: Tuesday 4:00pm - 4:50pm<br /> Place: 140 Burrill Hall<br /> Instructor: C. Taylor</td>
<td style="text-align: center;" width="50%">Coral Reef Field Ecology</td>
</tr>
<tr>
<td style="text-align: center;" valign="top" width="50%">&nbsp;<strong>IB 496-SC (59327)</strong><br /> 2 hours<br /> Time: Thursday 3:00pm-4:50pm<br /> Place: ARR Morrill Hall<br /> Instructor: S. Cameron</td>
<td style="text-align: center;" width="50%">Becoming a Research Scientist</td>
</tr>
<tr>
<td style="text-align: center;" valign="top" width="50%">
<p><strong>NRES 598 (60861)</strong><br /> 4 hours<br /> Time: Friday 9:00am-11:50am Friday<br /> Place: 19 Temple Hoyne Buell Hall<br />Instructor: B. Cutts and A. Greenlee</p>
</td>
<td style="text-align: center;" width="50%">Urban Environmental Equity</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>