<!--KA: Modified: June 2015-->

<!--KA: June 2015: Restyled the entire page with bootstrap-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'peec_news_ex' ) %>

<h2>Student Research</h2>
<p style="text-align: center;"><em>Click on the name of each student to see more about their research.</em></p>



 <!--Student Research - Thumbnails begin -->
   <!--KA: Row 1   -->          
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/berkley.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/students/berkey">Abigail Berkey</a>
                </h3>
                <p><span style="text-decoration: underline;">Research Focus</span>: Social behavior of the four-toed salamander (<em>Hemidactylium scutatum</em></p>
            </div>


              <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/change_name.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/students/welsh">Erin Welsh</a> - <a href="http://www.igert.org" target="_blank">IGERT Recipient</a>.</a>
                </h3>
                <p><span style="text-decoration: underline;">Research Focus</span>: Tropical tick ecology</p>
            </div>
       
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/600_cohen1.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/students/cohen">Dora Cohen</a>
                </h3>
                <p><span style="text-decoration: underline;">Research Focus</span>: Disturbance regimes and microbial ecology</p>
            </div>
        </div>

<!--KA: Row 2   -->
        <div class="row">
     	    <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/pearish1.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/students/pearish">Simon Pearish</a>
                </h3>
                <p><span style="text-decoration: underline;">Research Focus</span>: Behavioral ecology of the three-spined stickleback (<em>Gasterosteus aculeatus</em>)</p>
            </div> 

            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/forest.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/students/haselhorst">Derek Haselhorst</a>
                </h3>
                <p><span style="text-decoration: underline;">Research Focus</span>: Tropical palynology</p>
            </div>

       
    	   <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assetspeec/powers1.jpg" alt="">
                </a>
                <h3>
                    <a href="/peec/students/powers">Lisa Powers</a>
                </h3>
                <p><span style="text-decoration: underline;">Research Focus</span>: Reproductive ecology of bats</p>
            </div>     
   	</div>
 
<!--KA: Row 3   -->
        <div class="row  item_height" >
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/peec/chipman3_cropped.jpg" alt="" >
                </a>
                <h3>
                    <a href="/peec/students/chipman">Melissa Chipman</a>
                </h3>
                <p> <span style="text-decoration: underline;">Research Focus</span>: Paleoclimate-vegetation dynamics of Alaska</p>
            </div>
	</div>

<p><em>If you are a current PEEC Graduate Student and would like to be featured here, please send Laura Thurlwell<a href="mailto:thurlwel@illinois.edu"> (thurlwel@illinois.edu)</a> a short write-up along with a couple of pictures, and we'll gladly add you.</em></p>
