<%# 08-Jun-2015 uebele@ moved/renamed, Rails content_for, accessable h-tags
-%>
<!-- Grant Detail page content
       in /graduate/grants
       updated by uebele@ Jun-2015 --> 

<% # rails variables for title and sidebar
content_for( :title, 'Banks Memorial Fund' )
content_for( :sidebar, 'grad' )
content_for( :expand, 'grants_ex' )
-%>
<h2>Edwin Banks</h2>
<h4 style="text-align:center">Memorial Fund</h4>



<p>The Edwin Banks Memorial Fund was established by Dr. Banks' wife, Mrs. Hilda Banks, and family to honor his long and distinguished career as a faculty member in the Department of Ecology, Ethology and Evolution (now the Department of Animal Biology) at the University of Illinois (1957-1985).
Dr. Banks was a pre-eminent researcher in the areas of mammalian sociality and reproduction.</p>

<h3>Purpose:</h3> 
<p>To support graduate student research in animal behavior.One research award of $800 will be awarded following a positive evaluation by the Graduate Programs Committee.</p>

<h3>Eligibility:</h3> 
<p>Any graduate student in the Department of Animal Biology studying any aspect of behavior may apply.</p>

<h3>Application:</h3> 
<p>To apply, please submit one copy of each of the following:</p>

<ol>
<li>A proposal describing the research to be conducted.
The proposal should not exceed two-double spaced pages.</li>
<li>A current C.V.</li>
</ol>

<h3>Closing Date:</h3>
<p>TBA, see Department of Animal Biology</p>


<h3>Submit Completed Application by Closing Date to:</h3>
<p>
Edwin Banks Memorial Fund<br>
Attn: Lisa Smith<br>
Department of Animal Biology<br>
515 Morrill Hall<br>
505 S. Goodwin Av.<br>
Urbana, IL 61801
</p>
