<%# 8-Jun-2015 uebele@ moved/renamed, Rails content_for, accessable h-tags
-%>
<!-- Grant Detail page content
       in /graduate/grants
       updated by uebele@ Jun-2015 -->        

<% # rails variables for title and sidebar
content_for( :title, 'Clark Research Support Grant' )
content_for( :sidebar, 'grad' )
content_for( :expand, 'grants_ex' )
-%>
<h2>Francis M. and Harlie M. Clark Research Support Grant</h2>

<p>Dr. Francis M. Clark joined the then Department of Bacteriology, later the Department of Microbiology, as an instructor in 1933, after having completed his undergraduate and graduate work here previously. He had a distinguished career, teaching microbiology and conducting research in the microbiology of foods. He was past president of the Illinois Society for Microbiology.</p>
<p>The Clark Research Support Grants were established to honor Dr. Clark and his wife, Harlie M. Clark.</p>
<p>The Francis M. and Harlie M. Clark Research Support Grants, administered by the IB Fellowship Committee, are awarded in recognition of outstanding achievement in the biological sciences by graduate students. In recent years, grants have been awarded primarily for expenses relating to presentation of papers at international and national meetings, short specialty courses offered off campus, and conducting research or making collections away from the UIUC campus.</p>
<p><span style="text-decoration: underline;">Eligibility</span>: Graduate students majoring in a program of study sponsored by the School of Integrative Biology are eligible to apply. Applicants must have completed or be nearing completion of a significant field, laboratory, or informatics research project. Applicants must provide evidence for outstanding academic achievement in the biological sciences. Students that have previously received the award will be given low priority and may not receive the award more than twice.</p>
<p><span style="text-decoration: underline;">Allowable Expenses</span>: One or more grants may be made to help defray expenses incurred during the upcoming summer involving research, training or conference participation. Legitimate expenses include payment of:</p>
<ul>
<li>Tuition, fees, and housing costs incurred while participating in a summer course at a biological station or similar facility</li>
<li>Research-related expenses and housing costs incurred while acquiring research techniques in a laboratory at another university or research center</li>
<li>Travel, registration, and housing costs incurred in relation to participation in a scientific meeting (student must be presenting)</li>
<li>Costs of supplies required for completion of research at the University of Illinois (will be given low priority)</li>
</ul>
<p>Grants may not be used to defray ordinary living expenses while attending the University of Illinois, to defray expenses related to meeting requirements for a graduate degree at another university, or for purposes unrelated to academic activities in the biological sciences. Applicants should plan to make use of funds awarded in this competition by September 1, 2013. Moderate extensions may be requested in special circumstances.</p>
<p><span style="text-decoration: underline;">Grant Amounts</span>: The IB Fellowship Committee may choose to make two or more grants of lesser amounts to fund or partially fund more than one application. Applicants are urged to trim their requests to the minimum to permit maximum utilization of available funds.</p>
<p><strong>Application Procedure</strong>: The applicant, with the help of his/her advisor, is responsible for gathering and assembling information required on the <strong><a href="Grad Application Checklist.docx">application form</a></strong>. Incomplete applications will not be considered. Submit completed application electronically to: <a href="mailto:sibawards@life.illinois.edu">sibawards@life.illinois.edu</a> or by mail to: Chairperson, IB Fellowship Committee, 286 Morrill Hall <strong>by 5 pm, March 12, 2015.</strong></p>
<p><span style="text-decoration: underline;">Announcement of Awards</span>: Grant recipients will be announced no later than April 23, 2015.</p>
