<%# 8-Jun-2015 uebele@ moved/renamed, Rails content_for, accessable h-tags
-%>
<!-- Grant Detail page content
       in /graduate/grants
       updated by uebele@ Jun-2015 -->

<% # rails variables for title and sidebar
content_for( :title, 'Emerson Memorial Award' )
content_for( :sidebar, 'grad' )
content_for( :expand, 'grants_ex' )
-%>
<h2>Robert Emerson Memorial Award</h2>

<center>
<h2>Deadline: <span style="text-decoration: underline;">5 PM</span>, March 12, 2015</h2>
</center>
<p>The School of Integrative Biology announces this year's competition for the Robert Emerson Memorial Award. This prestigious award is given annually to a graduate student in the School of Integrative Biology to recognize exceptional academic achievement and research potential. The amount of this award is $3,000.</p>
<p>Dr. Emerson, a former professor in the Department of Botany, was a distinguished and dedicated scientist of international stature in the field of photosynthesis. Dr. Emerson's research explored the action of pigments, including the carotenoids and phycobilins, in photosynthesis. His collaborative research efforts were directed toward studies of the efficiencies of various wavelengths of light in promoting energy transfer among pigments involved in photosynthesis, and he discovered the enhancing effect of shorter wavelengths upon the efficiency of long wave red light. Dr. Emerson and Dr. Eugene Rabinowich established and nurtured the growth of a leading center for research in photosynthesis at the University of Illinois. Dr. Emerson received many honors in recognition of his scientific achievements and was a member of the National Academy of Sciences. His brilliant career was brought to a close by his death in a plane crash in 1959.</p>
<p><span style="text-decoration: underline;">Eligibility</span>: Each Department or Program in IB is eligible to nominate three Ph.D. candidates whose studies (including graduation) will likely be completed during the current calendar year.</p>
<p>During the selection process, the IB Fellowship Committee will place strong emphasis upon research promise, excellence in research and teaching, record of publications and presentations at scientific meetings, and upon the quality of the research statement. A significant indicator of research promise will be the student's independent role in defining and carrying out the research project.</p>
<p><span style="text-decoration: underline;">Application Procedures</span>: Each IB Department or Program may submit three candidates. <a href="Grad Application Checklist.docx">The application form can be downloaded here</a>. Submit <strong><span style="text-decoration: underline;">ONLY</span></strong> those items requested under enclosures. Submit applications electronically to sibawards@life.illinois.edu.</p>
<p><span style="text-decoration: underline;">Announcement of Awards</span>: Grant recipients will be announced no later than April 23, 2015</p>
