<%# 8-Jun-2015 uebele@ moved/renamed, Rails content_for, accessable h-tags
-%>
<!-- Grant Detail page content
       in /graduate/grants
       updated by uebele@ Jun-2015 -->

<% # rails variables for title and sidebar
content_for( :title, 'Labinsky Award in Plant Biology' )
content_for( :sidebar, 'grad' )
content_for( :expand, 'grants_ex' )
-%>
<h2>
Harold C. and Sonja L. Labinsky Award
<br>
in the Department of Plant Biology
</h2>

<p>Harold C. and Sonja L. Labinsky have established an award for students working with faculty in the Department of Plant Biology that use plant genetics in their research program. The award may be given to: 1) recognize graduate student research achievements using the methods and approaches of plant genetics, 2) recognize meritorious research using the methods and approaches of plant genetics by an undergraduate, or 3) as support for participation by a graduate student in a scientific workshop or meeting that will assist in the application of genetic approaches to the student's thesis research.</p>
<p><strong>Call for Nominations:</strong></p>
<p>The Harold C. and Sonja L. Labinsky Award committee requests nominations from the faculty of the Department of Plant Biology.</p>
<p>The nomination package should include:</p>
<ol>
<li>A two page summary, written by the nominated student, detailing their overall research accomplishments, including clear linkages to their use of the methods and approaches of plant genetics, defined in the broadest possible terms ranging from research examining mutant phenotypes to ecosystem level questions in population genetics.</li>
<li>A letter of recommendation from the nominating faculty member of Department of Plant Biology.</li>
<li>A copy of their transcripts at the University of Illinois (unofficial copies are acceptable).</li>
</ol>
<p>Nominations for the Harold C. and Sonja L. Labinsky Award should be submitted to Rayme Dorsey (<a href="mailto:derosset@illinois.edu">rdorsey@illinois.edu</a>) no later than <strong>March 12, 2015</strong>.</p>
