<%# 10-Jun-2015 uebele@ moved/renamed, Rails content_for, accessable h-tags
-%>
<!-- Grant Detail page content
       in /graduate/grants
       updated by uebele@ Jun-2015 -->

<% # rails variables for title and sidebar
content_for( :title, 'Larimore Scholarship' )
content_for( :sidebar, 'grad' )
content_for( :expand, 'grants_ex' )
-%>
<h2>R. Weldon Larimore Scholarship<br>Jordan Creek Endowment Fund</h2>
<h4 style="text-align:center;">In Support of Natural History Research</h4>

<h3>Invitation for Scholarship Application:</h3>
<p>The family and friends of Dr. R. Weldon Larimore have established a legacy fund in honor of his long and distinguished career at the Illinois Natural History Survey (1946-2002) and the University of Illinois (1969-1988). Dr. Larimore is a pre-eminent researcher in the area of stream ecology and a pioneer in many research techniques used today. His research has taken him all over the world, but Dr. Larimore&rsquo;s passion was the study of Jordan Creek in Vermilion County, Illinois. The establishment of this fund is to maintain ongoing research in stream ecology, a vital and important part of natural history and aquatic biology.
<br /><br />
This year, scholarship(s) of up to $3,000 will be considered, and one or more requests receiving positive evaluations by reviewers will be funded. In the event that no suitable proposals are received, the committee reserves the right not to fund any proposal in the current year. The review committee will hold all applications in confidence.</p>


<h3>Eligibility:</h3>
<p>The research, technical, and support staff of the Illinois Natural History Survey or beginning research professionals and enrolled students with the University of Illinois, Champaign-Urbana are eligible to apply. Individuals engaged in natural history or stream ecology research will receive highest consideration. Natural history research addresses ecology, evolution, or systematics of living organisms, and may focus on individual aquatic species (e.g., distribution, behavior, and life history), communities (e.g., diversity and composition), and their relationships with environments.</p>


<h3>Application Procedure:</h3>
<p><strong>Applicants should submit the following:</strong></p>
<p>A proposal describing the research to be conducted and how a Larimore/Jordan Creek endowment would be used to further this research. A title, authorship line, and one-paragraph abstract must begin the proposal. The abstract and narrative must not exceed three double-spaced pages. One of the three pages should be a concise description of the proposed research, including a timetable, estimated budget, and amount requested from the Larimore Grant. Figures, tables, and literature cited should follow the narrative but do not count toward the three-page limit.</p>
<p>A list of names, titles, affiliations, addresses, email address, and telephone numbers of three references who can attest to the applicant&rsquo;s academic qualifications and ability to conduct a successful project in aquatic ecology also should be included. Letters of reference from these individuals should be sent directly to Mr. Jeremy Tiemann at the address or email shown below.</p>
<p>University students should include a current transcript that details courses taken and grades received. INHS or beginning U of I research professionals should provide a maximum 2-page resume in addition to most recent transcripts.</p>
<p>A word document of the application can be found here. For questions about guidelines, e-mail Mr. Jeremy Tiemann at jtiemann@illinois.edu.</p>


<h3>Closing Date:</h3>
<p>5:00 pm, Friday, 7 February 2014</p>


<h3>Submit Completed Application by Closing Date to:</h3>
<p>R. Weldon Larimore Scholarship Program<br />Attn: Jeremy Tiemann<br />Illinois Natural History Survey<br />1816 South Oak Street<br />Champaign, Illinois 61820<br />(Campus Mail Code - 652)</p>
