
<!--KA: Got rid of the flickering in this page by adding "2 <p> tags with &nbsp in it" at the end of the page-->


<h1 style="padding-bottom: 0; margin-bottom: 0;">John R. Laughnan Fund</h1>
<h2 align="center">Department of Plant Biology</h2>
<p>The John R. Laughnan Fund was established in 1995 to support travel to scientific meetings for graduate students in the Department of Plant Biology at the University of Illinois, Urbana-Champaign. The amount of the award will be approximately $600. Retroactive awards normally will not be considered.</p>
<p><strong>Eligibility:</strong> Applicants must be full-time graduate students currently enrolled in graduate studies in the Department of Plant Biology. Applicants must be presenting either a talk or a poster in a national or international scientific meeting, as opposed to merely attending. Both the research and scholarship record of the applicant will be considered. Students receiving a Laughnan award will not be eligible a second time.</p>
<p><strong>Application:</strong> Applications should include the following information:</p>
<ol>
<li>Applicant's name and year of study.</li>
<li>Student curriculum vitae (with current GPA indicated)</li>
<li>Name, location and date(s) of meeting to be attended. A statement about the benefits of attendance must be included.</li>
<li>Copy of abstract or paper to be presented. (Has it been accepted for the program?)</li>
<li>Estimated costs of attending the meeting by category (travel, lodging, registration, meals, etc.). If travel is by car, will costs be shared with others?</li>
<li>Amount (expected) to be covered from other sources (identify them).</li>
<li>Total amount requested from the J.R. Laughnan Fund.</li>
<li>Advisor's letter of endorsement.</li>
</ol>
<p>Applications should be submitted to Rayme Dorsey (<a href="mailto:derosset@illinois.edu">rdorsey@illinois.edu</a>) no later than <strong>March 12, 2015. &nbsp;</strong>Announcement of the award will be made by late April and official recognition will be given at the SIB awards ceremony in May.</p>
<p>It is expected that if, for any reason, the travel cannot be accomplished or there are anticipated changes, the Graduate Affairs Committee must be notified at once. If there is an opportunity in the student's presentation to acknowledge the John R. Laughnan award, it would be greatly appreciated.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
