<h1 style="padding-bottom: 0; margin-bottom: 0;">Lebus Fund Award</h1>
<h2 align="center">Deadline: 5 PM, March 12, 2015</h2>
<p>The Lebus Fund was established by James Hagan to honor the memory of his aunt, Bertha Lebus.</p>
<p><strong>Purpose:</strong> To provide summer research support for meritorious M.S. and Ph.D. students of the College of Liberal Arts and Sciences of the University of Illinois in the life sciences and other fields. This award is intended to recognize students with outstanding potential to succeed in their chosen academic field. One award of $1,000 will be granted.</p>
<h2>Eligibiliity:</h2>
<ul>
<li>Students must be enrolled in a MS or PhD degree-granting program within the School of Integrative Biology.</li>
<li>A clear statement of objectives to be accomplished during the summer session must be included.</li>
<li>Recipients of the award must enroll for the summer session.</li>
<li>Recipients of the award must not have overlapping support for one half summer month.</li>
<li>The Fellowship Committee will place strong emphasis on need, on a clear statement of research objectives, and on the promise of the student for a successful career in their chosen academic field in making its decision.</li>
</ul>
<h2>Application Procedures - <a href="Grad Application Checklist.docx">Application Form</a></h2>
<ul>
<li>Each IB Department or Program may submit up to three candidates. Incomplete applications will not be considered.</li>
<li>Submit ONLY those items requested under enclosures.</li>
<li>Submit the application package electronically to <a href="mailto:sibawards@life.illinois.edu">sibawards@life.illinois.edu</a>.</li>
</ul>
<h2>Announcement of Award</h2>
<p>Announcement of the Award will be made no later than April 23, 2015.</p>