<h1>Isabel Norton Award</h1>
<p>The Isabel Norton Award is named in honor of Isabel L. Norton, a 1947 graduate in General Curriculum in the College of Liberal Arts and Sciences.</p>
<p><strong>Purpose:</strong> To provide research funding for advanced Master's and Ph.D. students for the completion of their thesis or dissertation research. The IB Fellowship Committee may choose to make one award of $2,000 or two or more awards of lesser amounts to fund or partially fund more than one application.</p>
<h2>Eligibility</h2>
<ul>
<li>Graduate students majoring in a program of study sponsored by the School of Integrative Biology are eligible to apply.</li>
<li>Applicants must be within one year of graduation from the University of Illinois (M.S. or Ph.D. program), and the funds requested must be to complete their thesis or dissertation research.</li>
<li>Applicants must provide evidence for outstanding academic achievement in the biological sciences.</li>
</ul>
<h2>Allowable Expenses:</h2>
<ul>
<li>One or more awards may be made to help defray expenses incurred by students completing their Master's thesis or Ph.D. dissertation research.</li>
<li>Legitimate expenses include but are not limited to payment of costs of supplies or experiments required for completion of research at the University of Illinois.</li>
<li>Requests for routine research supply costs will be given low priority.</li>
<li>Grants may not be used to defray ordinary living expenses while attending the University of Illinois, to defray expenses related to meeting requirements for a graduate degree at another university, or for purposes unrelated to academic activities in the biological sciences.</li>
<li>Applicants should plan to make use of funds awarded in this competition. Moderate extensions may be requested in special circumstances.</li>
</ul>
<p><strong>To Apply:</strong> Applicants are urged to trim their requests to the minimum to permit maximum utilization of available funds. Incomplete applications will not be considered. Submit completed application to: <a href="mailto:sibawards@life.illinois.edu">sibawards@life.illinois.edu</a> by 5 pm, March 12, 2015.</p>
<p><a href="Grad Application Checklist.docx">Application Form </a></p>
<h2>Announcement of Awards</h2>
<p>Announcement of awards will be made no later than April 23, 2015.</p>