<!--KA: Got rid of the flickering in this page by adding "2 <p> tags with &nbsp in it" at the end of the page-->



<h1>The Eugene P. Odum - S. Charles Kendeigh Fund In Support of Graduate Research in Ecology, Behavior and Evolutionary Biology</h1>
<p>Dr. Eugene Odum established the Odum-Kendeigh fund for graduate research in the fields of ecology, behavior and evolution in the Department of Animal Biology in honor of his major professor, Dr. Charles Kendeigh and the Department of Zoology (now Animal Biology) from which he received his Ph.D. Dr. Odum is one of the most influential figures in the field of ecology. He has been dubbed "the father of modern ecology" and is credited with pioneering the concept of the ecosystem. His textbook Fundamentals of Ecology, published in 1953, was the catalyst that changed ecology from the study of the microcosm to the study of the macrocosm. Dr. Odum was inducted into the Ecology Hall of Fame in 2002.</p>
<p><strong>Purpose:</strong> To support graduate student research in ecology, behavior, and evolutionary biology. This year, summer research awards of $1000 will be considered and one or more requests receiving positive evaluations by the Graduate Programs Committee will be funded.</p>
<p><strong>Eligibility:</strong> Applicants must be graduate students in the Department of Animal Biology.</p>
<p><strong>Application:</strong> Applicants should submit one copy of the following:</p>
<ol>
<li>A proposal describing the research to be conducted. The proposal should not exceed two-double spaced pages.</li>
<li>A current C.V.</li>
</ol>
<p><strong>Closing Date: TBA, see Department of Animal Biology</strong></p>
<center>SUBMIT COMPLETED APPLICATION BY CLOSING DATE TO:<br /> Eugene P. Odum-S. Charles Kendeigh Fund<br /> Attn: Lisa Smith<br /> Department of Animal Biology<br /> 515 Morrill Hall<br /> 505 S. Goodwin Av.<br /> Urbana, IL 61801</center>


<p>&nbsp;</p>
<p>&nbsp;</p>
