<%# KA: July 2015 %>


<% # rails variables for title and sidebar
content_for( :title, 'Ross Memorial Fund-Instructions' )
content_for( :sidebar, 'grad' )
content_for( :expand, 'grants_ex' )
-%>
<h2>Herbert Holdsworth Ross <br>Memorial Fund</h2>
<h4 style="text-align:center">Application Instructions</h4>



<p><strong>General:</strong>Proposals are expected to be carefully written and succinct. Those not following the prescribed format, lacking any category below, or exceeding the page limit will be immediately rejected. It is highly recommended that proposals be proofed by colleagues or faculty advisors before submission.</p>

<p>The Abstract, Background, Objectives, Methods, and Significance of Research combined must not exceed three single-spaced pages, with a minimum 12-point font and 1 inch (2.5 cm) margins. Literature Cited, figures, tables, and Budget and Budget Description are not included in this limit. All pages must have a header that includes the award name (Ross Award), the PI's last name, and the page number (numbered consecutively).</p>


<p><strong>The following categories must be included in the proposal, in this order</strong> (if figures and tables are included, they should follow the Literature Cited):</p>

<ul>
  <li><strong>Title:</strong> must be short, but convey topic adequately.
  <li><strong>Full Name</strong>
  <li><strong>Address, Phone, E-mail</strong>
  <li><strong>Affiliation:</strong> INHS Center or UofI Dept.
  <li><strong>Graduate Advisor:</strong> for graduate students.
  <li><strong>Abstract:</strong> stand-alone paragraph summarizing the problem, objectives, methods, and significance of the project.
  <li><strong>Background:</strong> succinctly state the issues you are trying to address, including the broader context for your project.
  <li><strong>Objectives:</strong> clearly state what hypotheses you intend to address or accomplishments expected from the research.
  <li><strong>Methods:</strong> succinctly state the methods you will use.
Illustrations may help in this regard.
  <li><strong>Significance of Research:</strong> how will this study aid you in attaining your research goals, impact the scientific community, and be useful to society in general?
  <li><strong>Literature Cited:</strong> citing current literature allows reviewers to assess how well PIs know their discipline.
Please cite literature in the text, where appropriate, and include full bibliographic information in this section.
  <li><strong>Budget and Budget Description:</strong> present a budget that clearly shows how Ross or Smith Award funds will be used.
You may state in the Budget Description how these funds relate to a larger project, but we do not want to see the budget for that project.
Budget categories normally used are Personnel, Supplies, Travel, Contractual Services, and Equipment.
Overhead is not allowed on these funds. In the Budget Description, explain how the figures presented in the budget were calculated and provide any additional budgetary information you feel is appropriate. The Budget and Budget Description must not exceed one page in length.
  <li><strong>A Curriculum Vitae for each investigator</strong> (no transcripts).
</ul>

