<%# 10-Jun-2015 uebele@ moved/renamed, Rails content_for, accessable h-tags
-%>
<!-- Grant Detail page content
       in /graduate/grants
       updated by uebele@ Jun-2015 -->

<% # rails variables for title and sidebar
content_for( :title, 'Ross Memorial Fund' )
content_for( :sidebar, 'grad' )
content_for( :expand, 'grants_ex' )
-%>
<h2>Herbert Holdsworth Ross</h2>
<h4 style="text-align:center">Memorial Fund</h4>


<p>Charles A. Ross and June R. P. Ross Fund established the Fund in honor of Charles A. Ross' parents, Dr. Herbert Holdsworth Ross and Jean Alexander Ross for their many accomplishments in education and research, he in entomology and she in zoology.</p>
<p>Dr. Herbert Holdsworth Ross was one of the most productive entomologists in North America. He produced about 220 scientific publications, including six books and chapters in seven others. Dr. Ross was a leader of several professional organizations, including president of the Entomological Society of America, Society for the Study of Evolution, and Society of Systematic Zoology. A Guggenheim Fellow, Dr. Ross was also a fellow of both the Entomological Society and the Royal Entomological Society of London.</p>
<p>Jean Alexander Ross was not only Herbert Holdsworth Ross' devoted wife of 46 years but also shared his deep love of biological science and was his valued colleague. After obtaining her Bachelors and Masters degrees, she came to the University of Illinois and worked with Dr. Harley J. VanCleave in his studies of Acanthocephala intestinal parasites. Mrs. Ross published papers on zoology laboratory techniques and co-authored several of Dr. VanCleave's Acanthocephala papers. She also played a prominent role in the development and writing of her husband's Textbook of Entomology. An accomplished artist, she drew many of the original illustrations in the Textbook of Entomology and re-drew and clarified many other drawings in the book</p>


<h3>Purpose:</h3> 
<p>The Herbert H. Ross Memorial Fund supports research in biological systematics, including taxonomy, phylogeny, biogeography, and related subjects. Award amounts are typically $1,000 - $1,500.</p>


<h3>Eligibility:</h3> 
<p>Staff, faculty, and graduate students of the Illinois Natural History Survey and the University of Illinois at Urbana-Champaign are eligible for this award. Multi-investigator proposals must have as the principle investigator (PI) someone who meets these eligibility requirements.</p>


<h3>Application:</h3>
<p>Submit proposal as either Microsoft Word or Adobe PDF files to <a href="mailto:smithaward@inhs.uiuc.edu">rossaward@inhs.uiuc.edu</a>.</p>
<p><a href="/graduate/grants/ross_instructions">Look here</a> for more detailed application instructions</p>


<h3>Closing Date:</h3>
<p>April 3, 2015</p>
