<%# 10-Jun-2015 uebele@ moved/renamed, Rails content_for, accessable h-tags
-%>
<!-- Grant Detail page content
       in /graduate/grants
       updated by uebele@ Jun-2015 -->

<% # rails variables for title and sidebar
content_for( :title, 'Van Cleave Research Award' )
content_for( :sidebar, 'grad' )
content_for( :expand, 'grants_ex' )
-%>
<h2>Harley J. Van Cleave Research Award</h2>
<h3 style="text-align:center; font-size:1.5em; margin:-20px 0 25px 0;">
  Deadline:&nbsp; 5:00 pm, March 12, 2015
</h3>

<p>
The School of Integrative Biology announces competition for the Harley J. Van Cleave Research Award.  Dr. Van Cleave was a Professor of Zoology at the University of Illinois from 1913-1952.  This award is funded by a generous gift from Malcom and Ruth Ferguson to support a graduate student investigating new frontiers and demonstrating promise and high aptitude in the fields of Cell and Structural Biology, Physiology, Ecology, Microbiology, Genetics and related fields.  The award is intended to recognize outstanding academic achievement and research potential. The amount of this award is $1,000. 
</p>

<h3>Eligibility:</h3>
<p><ul>
<li>
<b>Graduate students</b> majoring in a program of study sponsored by the School of Integrative Biology are eligible to apply.
</li>
<li>
Applicants must provide evidence for outstanding academic achievement in the biological sciences.
</li>
<li>
During the selection process, the IB Fellowship Committee will place strong emphasis upon scholarly excellence and research promise.
</li>
</ul>
</p>

<h3>Application:</h3>
<p>
<ul>
<li>
Each Department or Program in IB is eligible to nominate two Ph.D. candidates who have demonstrated excellence in academic achievement and research.  Use the application form provided. 
</li>
<li>
Submit ONLY those items requested in the application description.
</li>
<li>
Submit application materials electronically to your department or program office 
</li>
</ul>
</p>

<h3>Announcement of Award:</h3>
<p>Announcement of the Harley J. Van Cleave Research Award recipient will be made no later than April 23, 2015. 
</p>
