<!--KA: June 2015-->


<% content_for( :title, 'Prospective FAQ' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'prospective_ex' ) %>

	<h2>Prospective Undergraduate FAQs</h2>
	  	
		<p>This page lists Frequently Asked Questions relevant to prospective majors in Integrative Biology (both high school students and those already enrolled at the University of Illinois).  Other FAQs on the SIB web site can be found <a href="/about/faq">here</a>. </p>
	   	
	   	<table class="table table-striped">
		        <tbody>
		           <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#1"> What is Integrative Biology?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#2"> Is Integrative Biology a good major to prepare for medical or dental school or for training in other health professions?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#3"> What are IB advising options?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#4"> Must I follow one of the IB advising options?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#5"> Does it cost more to be an Integrative Biology student?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#6"> I'm a high school student. When should I apply to the University of Illinois?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#7"> Do I have to register for classes by myself?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#8"> Can I apply AP credit in biology and other sciences?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#9"> Do I have to take bio and chemistry and math together in a semester?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#10"> Is there a foreign language requirement?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#11"> Will I be in large classes with several hundred other students?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#12"> Can I get to all my classes with only 10 minutes between classes?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#13"> Can I do research and what's the process?</a></td></tr>
			   <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#14"> Can I get paid to do research?</a></td></tr>		
	</tbody>
		      </table>
<br>

		<h3><a  class="jump_link" id="1"></a>1) What is Integrative Biology?</h3>
		<p>Integrative Biology is the study of life, from the level of molecules and cells to that of global ecosystems. The word integrative merely means that the emphasis is on how different parts of biological systems interact with one another.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a  class="jump_link" id="2"></a>2) Is Integrative Biology a good major to prepare for medical or dental school or for training in other health professions?</h3>
		<p>Yes! Integrative Biology will give you the broadest possible preparation in the foundations of biology and therefore will be excellent preparation for any advanced work in the health professions.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="3"></a>3) What are IB advising options?</h3>
		<p>Advising options are a set of recommended courses for students who wish to follow a particular academic path or prepare for a particular career. The list of options and an explanation of what purpose each serves may be <a href="/options">found here</a>.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="4"></a>4) Must I follow one of the IB advising options?</h3>
		<p>No. The options are sets of suggested courses to meet specific educational or career goals. They are entirely optional.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="5"></a>5) Does it cost more to be an Integrative Biology student?</h3>
		<p>Yes, unfortunately. Instruction that involves laboratory or field work is much more expensive than that involving lectures only. For this reason, the University charges a higher (differential) tuition to students majoring in biology (both IB and MCB) and some other disciplines (like chemistry).</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="6"></a>6) I'm a high school student. When should I apply to the University of Illinois?</h3>
		<p>You should apply in the fall of the year preceding the year in which you want to enroll. The deadline for priority application is November 1. The deadline for regular application is January 2. . You should check out the <a href="http://www.las.illinois.edu/students/prospective/">Application and Admissions web site</a> for more specific information. Deadlines are discussed at <a href="http://admissions.illinois.edu/apply/dates_freshman.html">http://admissions.illinois.edu/apply/dates_freshman.html</a>.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="7"></a>7) Do I have to register for classes by myself?</h3>
		<p>No. The first time through, academic advisors and upperclassmen in IB will assist you with registration. They will be available for registration questions in subsequent semesters as well.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="8"></a>8) Can I apply AP credit in biology and other sciences?</h3>
		<p>Yes, but... You can certainly receive AP credit for biology or other science courses, but we encourage you to take the introductory IB 150 and MCB 150 courses even though you might have scored high enough on the AP exam to bypass them. This is because these courses cover such a diversity of material that it is hard to consider that any experience you had in high school is genuinely equivalent. We also encourage you to take the introductory chemistry sequence here rather than opting out via AP credit. In other subject areas, if you have the required score, we encourage you to bypass the relevant class to give yourself time to take classes you might want to take.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="9"></a>9) Do I have to take bio and chemistry and math together in a semester?</h3>
		<p>You do have to double up on some science and math courses. Since as an IB (or MCB) major you must take biology, chemistry, physics, and math, it is unavoidable that you will have to take at least two of these subjects in the same semester several semesters. Take a look at our sample 4-year plan of study for <a href="/typical4year">regular</a> or <a href="/typical4year_premed">pre-med</a> students to see how you might do this.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="10"></a>10) Is there a foreign language requirement?</h3>
		<p>Yes. The College of Liberal Arts and Sciences requires that undergraduate students show proficiency in a non-primary language (NPL), either through high school or college study or via a proficiency exam. Check out the <a href="http://www.las.illinois.edu/students/requirements/language/">LAS website</a> for specific details.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="11"></a>11) Will I be in large classes with several hundred other students?</h3>
		<p>At least in the beginning, yes. IB 150 and MCB 150 must be taken by all biology majors. Furthermore, these classes are taken by students who need biology but will not major in it. Therefore, both IB 150 and MCB 150 are quite large. The IB core courses may also have several hundred students in them. However, once you get past your core courses, class sizes are typically fewer than 100 and more often about 50 or so.&nbsp; The IB student to faculty ration is 13:1.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="12"></a>12) Can I get to all my classes with only 10 minutes between classes?</h3>
		<p>Yes. Though the campus is large, classes in broad disciplines like Engineering or Liberal Arts and Science tend to be clustered in just a few buildings. Most science and general education courses you will be taking are given in buildings around the quad. Furthermore, there's good bus service for those instances where you might have to go some distance between classes.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="13"></a>13) Can I do research and what's the process?</h3>
		<p>You certainly can, and we encourage you to do so. Check out the web page that talks about <a href="http://sib.illinois.edu/research_undergrad.htm">undergraduate research</a> for detailed information.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>
	
		<h3><a class="jump_link" id="14"></a>14) Can I get paid to do research?</h3>
		<p>Yes and no. Some laboratories hire undergraduates as paid assistants, but you should not expect the same kind of experience as an assistant as you would have doing independent research. Furthermore, if you are a paid assistant, you will not receive academic credit for your research. On the other hand, it may be possible for you to obtain financial assistance while you are doing independent academic research. Check out the <a href="http://sib.illinois.edu/undergrad_support.htm">undergraduate support web page</a> for more details.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>
