<!--KA: June 2015-->

<% content_for( :title,   'Ugrad Prospective-Maps' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'prospective_ex' ) %>

<h2 style="text-align: center;">Campus Maps</h2>

<p>Planning a visit to campus? Here are driving directions to get you there. You may also follow these links to obtain a <a href="http://illinois.edu/ricker/CampusMap" target="_blank">general map of the campus</a> and a map of <a href="http://www.parking.uiuc.edu/campus_map/" target="_blank">campus parking lots</a>.</p>

<h3>If You Are Arriving:</h3>
<p><strong>From the North</strong> - Take Interstate 57 south to the intersection with I74. Take exit 237B east toward Champaign/Urbana and Indianapolis. Continue about 4 miles to exit 183, Lincoln Avenue. Turn south. Drive about 1.5 - 2 miles to Green Street or Illinois Street. Turning right on Green Street will take you through campus into the business district in campustown. Turning right on Illinois Street will take you to the Krannert Center for the Performing Arts (which has visitor parking) and which is just across the street from the offices of the School of Integrative Biology.</p>

<p><strong>From the East</strong> - Take Interstate 74 to exit 183, Lincoln Avenue. Turn south. Drive about 1.5 - 2 miles to Green Street or Illinois Street. Turning right on Green Street will take you through campus into the business district in campustown. Turning right on Illinois Street will take you to the Krannert Center for the Performing Arts (which has visitor parking) and which is just across the street from the offices of the School of Integrative Biology.</p>

<p><strong>From the West</strong> - There are two main routes to campus from the west. If you come in on Interstate 74, drive east to exit 183, Lincoln Avenue. Turn south. Drive about 1.5 - 2 miles to Green Street or Illinois Street. Turning right on Green Street will take you through campus into the business district in campustown. Turning right on Illinois Street will take you to the Krannert Center for the Performing Arts (which has visitor parking) and which is just across the street from the offices of the School of Integrative Biology. If you come in on Interstate 72 from Springfield or Montecello, either continue into town on University Avenue when I72 ends, or take exit 182B to I57 north, then exit 237A to I74, and follow I74 to Lincoln Ave., as described above.</p>

<p><strong>From the South</strong> - Take Interstate 57 north to the intersection with I74. Take exit 237A east toward Champaign/Urbana and Indianapolis. Continue about 4 miles to exit 183, Lincoln Avenue. Turn south. Drive about 1.5 - 2 miles to Green Street or Illinois Street. Turning right on Green Street will take you through campus into the business district in campustown. Turning right on Illinois Street will take you to the Krannert Center for the Performing Arts (which has visitor parking) and which is just across the street from the offices of the School of Integrative Biology.</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
