<!--KA: May 2015: About-FAQ-->


<% content_for( :title, 'Graduate FAQ' ) %>
<% content_for( :sidebar, 'about' ) %>
<% content_for( :expand,  'faq_ex' ) %>

<div>

	 	<h2>Transfer Student FAQs</h2>
		<h4 style="text-align: center;">For Prospective Off-campus Transfer Students</h4>
	  	
		<p>This page lists Frequently Asked Questions relevant to students who are considering transferring to the University of Illinois to major in Integrative Biology.</p>
	   	
		    <table class="table table-striped">
		        <tbody>
		            <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#1"> How is IB different from MCB?</a></td></tr>
		            <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#2"> Can I still graduate in four years?</a></td></tr>
		            <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#3"> How much of my course work will transfer?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#4"> Do I have to take both MCB 150 and IB 150 equivalents before transferring to UI?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#5"> If I go to summer school, can I take these courses anywhere or do I have to take them here?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#6"> Can I go to medical school with an IB degree?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#7"> What are IB advising options?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#8"> Must I follow one of the IB advising options?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#9"> What kind of jobs can I get with this degree?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#10"> How do I get tutoring assistance in biology, chemistry, physics, and math?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#11"> Can I study abroad as a transfer student?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#12"> Can I get research experience even though I'm a transfer?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#13"> What minors are available to me?</a></td></tr>
			</tbody>
		      </table>
<br>

		<h3><a class="jump_link" id="1"></a>1) How is IB different from MCB?</h3>
		<p>As the name implies, the School of Molecular and Cellular Biology (MCB) has a heavy emphasis on cells and the molecules that make them function, including DNA. Integrative Biology (IB), on the other hand, has an emphasis on systems biology, in which the relationship of one component is studied in relation to other components.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="2"></a>2) Can I still graduate in four years?</h3>
		<p>With appropriate foundational coursework at your previous institution, yes.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="3"></a>3) How much of my course work will transfer?</h3>
		<p>Transfer.org is a great website containing course articulations for many classes that have already been evaluated by U of I. Check here first. Please note that the transfer course equivalencies contained here and the reports generated from the system<strong> do not</strong> constitute a contract between the student and the University of Illinois at Urbana-Champaign.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="4"></a>4) Do I have to take both MCB 150 and IB 150 equivalents before transferring to UI?</h3>
		<p>Yes, students must satisfactorily complete course work equivalent to these two courses prior to admission.&nbsp; IB advisors also strongly suggest taking General Chemistry before transferring.&nbsp; Other recommended courses include Organic Chemistry, Physics and Calculus.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="5"></a>5) If I go to summer school, can I take these courses anywhere or do I have to take them here?</h3>
		<p>This depends on the number of credit hours transferred to UI. The College of Liberal Arts and Sciences requires a certain number of credit hours to be earned here on campus. If you take summer courses here, these will count toward these residency requirements. You should contact your LAS Records Officer in the <a href="http://www.las.uiuc.edu/students/advising/college/">Student Affairs Office</a> for more detailed information.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="6"></a>6) Can I go to medical school with an IB degree?</h3>
		<p>Yes! Medical school and MCAT requirements can easily be met in the IB major. Consider following our Pre-Health Advising Option.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="7"></a>7) What are IB advising options?</h3>
		<p>Advising options are a set of recommended courses for students who wish to follow a particular academic path or prepare for a particular career. The list of options and an explanation of what purpose each serves may be <a href="/options">found here</a>.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="8"></a>8) Must I follow one of the IB advising options?</h3>
		<p>No. The options are sets of suggested courses to meet specific educational or career goals. They are entirely optional.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="9"></a>9) What kind of jobs can I get with this degree?</h3>
		<p>Many careers are open to IB majors. Check out the <a href="/options">career options page</a> for a sampling.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="10"></a>10) How do I get tutoring assistance in biology, chemistry, physics, and math?</h3>
		<p>Each department offers academic assistance to students. Check out the departmental websites bulletin boards near the departmental offices for details. For help in IB, see an <a href="http://sib.illinois.edu/advising/">academic advisor</a> to find out about tutoring. Check out these links for help in <a href="http://www.math.uiuc.edu/UndergraduateProgram/tutoring.html">math</a>, <a href="http://74.125.95.132/custom?q=cache:cM1vZiRJfdkJ:physics.illinois.edu/courses/tutors.pdf+tutoring&amp;hl=en&amp;ct=clnk&amp;cd=1&amp;gl=us&amp;client=google-coop-np">physics</a>, and <a href="http://www.chem.uiuc.edu/clcwebsite/index.html">chemistry</a>.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="11"></a>11) Can I study abroad as a transfer student?</h3>
		<p>Yes, we have had several IB transfer students go abroad to earn credit hours toward graduation. Some great opportunities exist in Costa Rica, South Africa, and Australia; many more have also served as sites for our IB majors to study abroad.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="12"></a>12) Can I get research experience even though I'm a transfer?</h3>
		<p>Yes. Faculty make no distinction between students who started at the UI and those who transferred from elsewhere. Check out the web page that describes <a href="http://sib.illinois.edu/research_undergrad.htm">undergraduate research</a>.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>

		<h3><a class="jump_link" id="13"></a>13) What minors are available to me?</h3>
		<p>Interdisciplinary minors are available to all UI students. Though students may choose any minor, many IB students have supplemented their academic records with minors in a foreign language, Business, Anthropology, Chemistry, and the Environmental Fellows Program. <a href="http://www.las.uiuc.edu/students/programs/minors/">Click here</a> to find out more about getting a minor in the College of Liberal Arts and Sciences.</p>
		<p><a href="#top"><em>Back to Top</em></a></p>


</div>
