<!--KA: June 2015-->

<% content_for( :title,   'Ugrad Prospective-Visiting' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'prospective_ex' ) %>

		<h2 style="text-align: center;">Visiting Illinois</h2>

<div style="float: right; clear: left; margin: .5em; ">
	<%= image_tag 'sib/visiting3.jpg',  alt: "NHB", size: "180x280" %>
</div>

<p>We encourage you to come check out the campus for yourself! The university provides a <a href="http://admissions.illinois.edu/visit/visit_prospective.html">helpful web site</a> offering a variety of visiting options.</p>
<p>&nbsp;</p>

<div style="float: left; clear: left; width: 150px; padding-right: 1em; ">
	<%= image_tag 'sib/visiting_class1.jpg',  alt: "classroom", size: "150x150" %>
</div>


<p style="text-align: justify; "><em>If you are a high school student or an undergraduate elsewhere</em>, you can make an appointment to chat with one of our academic advisors by calling 217-333-6774.&nbsp;&nbsp; They can tell you more about the advantages of an IB degree.</p>
<p>&nbsp;</p>
<p style="text-align: justify;"><em>If you are a prospective graduate student</em>, you should contact the <a href="/units">department or program </a>in which you are interested and make arrangements to talk with faculty while you are here.</p>

 

