<!--KA: Alumni Page-->
<div class="row">
            <div class="col-lg-12"><p></div>

</div>


<div class="row">
<!--KA: Sidebar start-->
	<div class="col-md-4">
	   <%= render 'layouts/sidebar_alumni' %>
	 </div>
<!--KA: Sidebar end-->

         <div class="col-md-8">
		<h2 style="text-align: center;">SIB Alumni</h2>	
	<br>

	<p>Whether you are a graduate with a degree in Integrative Biology, an old-timer with a degree in biology, or someone who obtained a graduate degree from one of our departments or programs, this page will help you connect with your alma mater and your former classmates. Use the links on this page and in the menus at the left to help you find what you want.</p>
	<p>Did you know that the University of Illinois has its own Facebook-like site? Follow <a href="http://illinois.edu/pc/imageList/1176">this link</a> to sign up at Always Illinois or to access your entry. It's a great way to keep up with classmates and other friends!</p>


 <!-- Featured Alumni - Thumbnails begin -->
        <div class="row">
            <div class="col-lg-12">
                <h4 style="text-align: center;">Featured Alumni</h4>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/sib/colleen_stoyas.jpg" alt="">
                </a>
                <h3>
                    <a href="/headlines/Alumni-Stoyas">Colleen Stoyas</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/sib/amanda_ilag.jpg" alt="">
                </a>
                <h3>
                    <a href="/headlines/Alumni-Ilag">Amanda Ilag</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/sib/muhammed_fazeel.jpg" alt="">
                </a>
                <h3>
                    <a href="/headlines/Alumni-Fazeel">Muhammed Fazeel</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/sib/space2.jpg" alt="">
                </a>
                <h3>
                    <a href="/headlines/KamilInSpace">Alumnus Aims High</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/sib/jona_kristo.jpg" alt="">
                </a>
                <h3>
                    <a href="/headlines/Alumni-Kristo">Jona Kristo</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          




   </div>
        </div>
        <!-- /.row -->






</div>
	</div>





