<!--KA: Alumni Page-->
<div class="row">
            <div class="col-lg-12"><p></div>

<!--KA: Sidebar start-->
	<div class="col-md-4">
	   <%= render 'layouts/sidebar_alumni' %>
	 </div>
<!--KA: Sidebar end-->

         <div class="col-md-8">
		<h2 style="text-align: center;">SIB Alumni</h2>
		<h4 style="text-align: center;">Featured Alumni</h4>

		<!--Featured slider begin -->
		<div class="news_slider">
    		   <div id="newsItem" class="carousel slide" data-interval="3000" data-ride="carousel">
		 	<!-- Carousel indicators -->
		        <ol class="carousel-indicators">
		            <li data-target="#newsItem" data-slide-to="0" class="active"></li>
		            <li data-target="#newsItem" data-slide-to="1"></li>
		            <li data-target="#newsItem" data-slide-to="2"></li>
			    <li data-target="#newsItem" data-slide-to="3"></li>
			    <li data-target="#newsItem" data-slide-to="4"></li>	    
		        </ol>   
   
	       <!-- KA: Loop through the items and set the class for the first item as 'active' -->
	       <div class="carousel-inner">
		  <div class="item active">
			<div class="fill" style="background-image:url('/assets/sib/colleen_stoyas.jpg');" ></div>
	                <div class="carousel-caption">
        	            <h3> <a class="links" href="/headlines/Alumni-Stoyas"><i class="fa fa-link"></i> Alumni: Colleen Stoyas</a></h3>
                	</div>
	          </div>
	      	   <div class="item">
			<div class="fill" style="background-image:url('/assets/sib/amanda_ilag.jpg');" ></div>
                	<div class="carousel-caption">
                    		<h3> <a class="links" href="/headlines/Alumni-Ilag"><i class="fa fa-link"></i> Alumni: Amanda Ilag</a></h3>
	                </div>
             	   </div>
		   <div class="item">
			<div class="fill" style="background-image:url('/assets/sib/space2.jpg');" ></div>
        	        <div class="carousel-caption">
                	    <h3> <a class="links" href="/headlines/KamilInSpace"><i class="fa fa-link"></i> Alumnus Aims High</a></h3>
                        </div>
	          </div>
	 	  <div class="item">		
			<div class="fill" style="background-image:url('/assets/sib/muhammed_fazeel.jpg');" ></div>
	                <div class="carousel-caption">
        	            <h3> <a class="links" href="/headlines/Alumni-Fazeel"><i class="fa fa-link"></i> Alumni: Muhammed Fazeel</a></h3>
                	</div>	
                 </div>	  
  	    	<div class="item">
			<div class="fill" style="background-image:url('/assets/sib/jona_kristo.jpg');" ></div>
                	<div class="carousel-caption">
                    		<h3> <a class="links" href="/headlines/Alumni-Kristo"><i class="fa fa-link"></i> Alumni: Jona Kristo</a></h3>
                	</div>
            	</div>
	     </div>


        <!-- Slider navigation -->
        <a class="carousel-control left" href="#newsItem" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#newsItem" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
	<br>

	<p>Whether you are a graduate with a degree in Integrative Biology, an old-timer with a degree in biology, or someone who obtained a graduate degree from one of our departments or programs, this page will help you connect with your alma mater and your former classmates. Use the links on this page and in the menus at the left to help you find what you want.</p>
	<p>Did you know that the University of Illinois has its own Facebook-like site? Follow <a href="http://illinois.edu/pc/imageList/1176">this link</a> to sign up at Always Illinois or to access your entry. It's a great way to keep up with classmates and other friends!</p>
	
<br><br>

</div>
</div>






