<!--KA: MAy 2015: Business HR-->

  <div class="row">
            <div class="col-lg-12"><p></div>

<!--Sidebar start-->
	<div class="col-md-4">
		 <%= render 'layouts/sidebar_ugrad_advising' %>
	 </div>
<!--Sidebar end-->

<!--Main content-->
         <div class="col-md-8 no-gutter">
		<h2>Business Office Operations & Services</h2>
		<h4 style="text-align: center;">Reimbursements/Voucher Processing</h4>
		<p>Our goal is to assist in the reimbursement process of faculty, staff, students and guests within the School in the areas of small expense reimbursement and travel reimbursements.&nbsp; We serve in conjunction with Departmental Offices to insure reimbursements are processed accurately and in a timely fashion.&nbsp; Please feel free to contact us if you have any questions.</p>

		<h3>Who to contact</h3>
		<p>Jim McGraw (217) 244-0822 or <a href="mailto:jmcgraw@illinois.edu">jmcgraw@illinois.edu</a></p>

		<h3>Small Expense Reimbursement</h3>
		<p>In the day-to-day operations situations may arise that require employees of the University to make purchases for research or instructional purposes using their personal funds.&nbsp; When these situations occur, original receipts should be submitted for reimbursement to the employee.&nbsp; Purchases of supplies should not exceed $250.&nbsp; Individuals should be aware that “stringing” successive small purchases or payment to bypass the $250 limitation or any other purchasing policy is not permitted whether with one or multiple vendors.</p>
		<p>The University is exempt from paying sales taxes.&nbsp; Individuals making authorized cash purposes for approved business purposes should supply a copy of the University’s sales tax exemption letter to merchants and request that sales tax not be charged.&nbsp; A copy of the sales tax exemption letter may be obtained from the Business Office.&nbsp; Please remember the University reserves the right to deduct the amount of sales tax paid when reimbursing individuals.</p>
		<p>Employees requesting expense reimbursement should submit a completed <a href="/BusinessForms/MiscReimbursementRequest.doc">Miscellaneous Reimbursement Request form</a> with applicable original receipts to their departmental support staff.</p>

		<h3>Travel Reimbursements</h3>
		<p>Requests for reimbursement of expenses while incurred in travel status should be submitted to Departmental Office support staff upon return from travel.&nbsp; University Policy requires prompt submission of reimbursement requests.&nbsp; If a travel reimbursement is not submitted to Campus within 60 days of the completion of travel, the reimbursement is considered taxable income to the traveler, unless a reasonable justification for an exception is presented.&nbsp; If the justification is not submitted or approved, taxes will be withheld at the following rates: 25% Federal, 3% State of Illinois, and, if applicable, 1.45% Medicare and 6.2% Social Security.&nbsp; This deduction will be included on the employee’s Form W-2.</p>
<p>Employees requesting travel reimbursement should submit a completed <a href="/BusinessForms/TravelReimbursementRequest.doc">travel reimbursement request form</a> with applicable original receipts to their departmental support staff.</p>

 

</div>
</div>


