<!--KA: MAy 2015: Business Grants-->

  <div class="row">
            <div class="col-lg-12"><p></div>

<!--Sidebar start-->
	<div class="col-md-4">
		 <%= render 'layouts/sidebar_ugrad_advising' %>
	 </div>
<!--Sidebar end-->

<!--Main content-->
         <div class="col-md-8 no-gutter">
		<h2>Business Office Operations & Services</h2>
		<h4 style="text-align: center;">Research Grant Submission</h4>
		<p>Our goal is work with grant applicants to aid in the submission of research grant applications to federal and private agencies.&nbsp; The Business Office will serve as the primary contact for Campus (Pre-Award Processing and Post-Award Accounting) and Principal Investigators.</p>

		<h3>Proposal Processing</h3>
		<p>Please contact the Business Office as soon as possible when preparing a grant application.&nbsp; The Business Office will work directly with budget development and provide advice on proposal preparation.</p>
		<p>Grants.gov is now the primary mechanism for electronic submission of federal research grant applications.&nbsp; We will assist in obtaining the correct form set, downloading application files, and submitting the completed files to Campus for processing.&nbsp; This submission mechanism operates via electronic file transfer from Campus to Grants.gov.&nbsp; After a series of validations, Grants.gov transmits the electronic application to the relevant federal agency.&nbsp; System errors have been none to exist in either the transmission from Campus to Grants.gov or from Grants.gov to the Agency.&nbsp; It is important to allow extra processing time for Campus prior to the Agency deadline.&nbsp; Campus prefers to receive these applications at least 7 business days prior to the due date to allow for full review and submission.&nbsp; This extra time aims to allow for re-submission needs due to system errors or problems.</p>
		<p>Submissions of proposals via NSF FastLane will continue to be available for Collaborative Research Proposals and other proposals as listed in the proposal guidelines.</p>

		<h4 style="text-align: center;">Resources</h4>
		<p><a href="http://grants.nih.gov/grants/oer.htm" target="_blank">NIH Office of Extramural Research</a><br> *Note – Agency ID required for investigators. Please contact the Business Office for assistance in obtaining. <br><br> <a href="http://www.nsf.gov/index.jsp" target="_blank">NSF</a><br> *Note – Agency ID required for investigators. Please contact the Business Office for assistance in obtaining. <br><br> <a href="http://www.csrees.usda.gov/qlinks/research.html" target="_blank">USDA</a><br> For FY 2009, CSREES has issued the Agriculture and Food Research Initiative Funding Opportunity. This opportunity replaces the NRI (National Research Initiative). For additional information, please see the <a href="http://www.csrees.usda.gov/funding/afri/pdfs/program_announcement.pdf" target="_blank">AFRI Program Announcement</a> <br><br> <a href="http://www.energy.gov/index.htm" target="_blank">DOE</a>
 

</div>
</div>



