<!--KA: MOdified: June 2015-->


<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>


<h2> Student Research</h2>
<h4 style="text-align:center">Abigail Berkey </h4>

<p><%= image_tag 'peec/scandinavian_immigrants.jpg', width: '300px', :style => 'float: right' %></p>

<h4> PhD Student</h4>

<h3>Research focus:</h3> 
<p>Social behavior of the four-toed salamander &nbsp;(<em>Hemidactylium scutatum</em>)

<h3>Advisors:</h3>
<p> Drs. Christopher A. Phillips &<br> Marlis Douglas <br> Illinois Natural History Survey<br /> <a href="mailto:ajmaley2@illinois.edu">ajmaley2@illinois.edu</a></p>

<p>My research focuses on the social behavior of the four-toed salamander, <em>Hemidactylium scutatum</em>. The dispersal limitations of this species have the potential to result in limited gene flow, increased numbers of related individuals within a population, and ultimately a higher probability of encounters between closely related individuals. I am interested in investigating these interactions between related individuals and examining the potential role of kinship on the ecology of this species. The four-toed salamander is particularly interesting for this work because, unlike most salamanders, <em>H. scutatum</em> has indirect development, i.e. it possesses a larval stage. In direct developing species, the presence of a terrestrial nest means that the distribution of kinship across a landscape is automatically correlated with clutch placement. Because indirect developing species typically place most or all of the larvae in a population in very few, often one, central breeding pools, all newly metamorphosed juveniles must begin their movement into the population from the same original location. This means that any pattern seen in the distribution of individuals within a population is likely to be an indicator of some underlying process, such as kin selection or the avoidance of inbreeding. Using this as my starting point, I am specifically interested in investigating how the degree of relatedness between individuals may influence the territory and nest placement of adults, mediate aggressive encounters, or allow for increased sharing of resources between adults and closely related juveniles.</p>
<p><%= image_tag 'peec/201203_kentucky_fieldwork.jpg', width: '350px', :style => 'float: left' %> 
<%= image_tag 'peec/hemidactylium_scouting20080505.jpg', width: '260px', :style => 'float: right' %></p>


<br><br>
<p><a href="/peec/student_research"> See Other Students</a></p>
