<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Dora Cohen</h1>
<p><%= image_tag 'peec/600_cohen1.jpg', width: '312px', :style => 'float :right' %></p>
<p>PhD student<br /><span style="text-decoration: underline;">Research focus</span>: Disturbance regimes and microbial ecology<br /> <span style="text-decoration: underline;">Advisor</span>: Dr. Angela Kent, Natural Resources and Environmental Sciences<br /> <a href="mailto:dbcohen3@illinois.edu">dbcohen3@illinois.edu</a></p>
<p>Microbes play key roles in many biogeochemical cycles, thus there is a critical need to understand processes that create and maintain microbial diversity. I am investigating the effect of altered disturbance regimes on the structure and function of floodplain soil communities. Floodplains offer an ideal ecosystem in which to study how disturbance shapes microbial communities, as they present microbial communities with a gradient of disturbance. In addition, floodplain microbial communities carry out important ecosystem services that affect water quality and greenhouse gas production. As global change will impact precipitation and flood regimes in floodplain habitats, the typical pattern of disturbance experienced by soil microbes will be altered, with unknown consequences for nutrient cycling functions and GHG production.</p>
<p>Photos below are of purple photosynthetic bacterial colonies on plates (non-sulfur bacteria <em>Rhodopseudomonas palustris</em>) that I was culturing.</p>
<p><%= image_tag 'peec/cohen2.jpg', width: '330px', :style => 'float: left' %></p>
<p><%= image_tag 'peec/cohen3.jpg', height: '240px', :style => 'float: right' %></p>



