<!--KA: MOdified: June 2015-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h2> Student Research</h2>
<h4 style="text-align:center">Derek Haselhorst</h4>

<p><%= image_tag 'peec/forest.jpg', width: '312px', :style => 'float: right' %></p>

<h4>PhD Student</h4>
<h3>Research focus:</h3> 
<p>Tropical palynology</p> 

<h3>Advisors:</h3>
<p>Dr. Surangi Punyasena, Plant Biology<br /> <a href="mailto:derek.haselhorst@gmail.com">derek.haselhorst@gmail.com</a></p>


<p>Pollen productivity plays an integral role in shaping the structure of plant communities. Outside of the predominant influence of extant species richness and abundance, the amount of pollen produced by plant communities is also influenced in part by variability in climate. In traditional palynological analyses of lake sediment records, changes in pollen assemblage composition and abundance over time have been used to suggest how plant communities have changed under different climatic conditions. However, without a firm understanding of how sensitive different species in poorly studied tropical ecosystems are to short-term changes in climate today, our current understanding of paleoenvironments may be misrepresented. My dissertation research in the PEEC program looks at nearly twenty years of pollen trap data (airborne pollen) to determine how the pollen productivity of tropical forest communities correlates with climatic variability over durations more representative of sedimentary pollen records. I am also interested in expanding the use of modern pollen trap data into a modern ecological framework by correlating concurrently sampled pollen data with other metrics of community plant reproduction such as flower and seed set. Together, I aim to address the pre-existing environmental assumptions of pollen records and better establish the ecological role of pollen productivity in tropical forest communities as it relates to long-term variability in climate, community structure, and reproductive output.</p>

<div class="row">
  <div class="col-md-4">
	<%= image_tag 'peec/croton1.jpg', height:'190px', width: '180px' %>
  </div>
  <div class="col-md-4">
	<%= image_tag 'peec/trap.jpg',  width: '180px'%>
  </div>
  <div class="col-md-4">
	<%= image_tag 'peec/dalechampia1.jpg', height:'190px', width: '180px' %>
  </div>
</div>


<p>&nbsp;</p>

<center><p><strong><a href="/peec/student_research"> See Other Students</a></strong></p></center>


<p>&nbsp;</p>

