<!--KA: MOdified: June 2015-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h2> Student Research</h2>
<h4 style="text-align:center">Simon Pearish</h4>

<p><%= image_tag 'peec/pearish1.jpg', width: '312px', :style => 'float: right' %></p>

<h4>PhD Candidate</h4>

<h3>Research focus:</h3> 
<p>Behavioral ecology of the three-spined stickleback (<em>Gasterosteus aculeatus</em>)

<h3>Advisors:</h3>
<p>Dr. Alison Bell, Animal Biology<br /> <a href="mailto:pearish1@illinois.edu">pearish1@illinois.edu</a></p>
<p>Recently, a growing number of behavioral ecologists have become interested in consistent individual differences in behavior between the individuals of a species or population. When individuals differ consistently, the mean behavior of any given individual can be referred to as its behavioral type. For example, some behavioral types are more cautious when exploring their habitat while others are less inhibited. When particular behavioral types occur more frequently in certain environments a behavioral type - environment correlation exists. Behavioral type - environment correlations might have important implication for ecology and evolution as they could potentially affect natural and sexual selection, the maintenance of variation, reproductive isolation, and speciation. While there has been extensive research conducted in the analogous area of research in humans (personality-environment correlations) we know little about behavioral type - environment correlations in non-human animals.</p>
<p>The species I study is the three-spined stickleback (<em>Gasterosteus aculeatus</em>), a small fish that occurs in freshwater and marine habitats throughout the Northern hemisphere. I found that bold behavioral types occurred more frequently in groups while shy individuals were more often alone. Exploratory individuals occurred alone in open habitats where cover from vegetation was lacking (<a href="http://link.springer.com/article/10.1007/s00265-013-1500-2" target="_blank">link to the paper</a>). I am currently writing up results that show that plasticity might have a role in generating behavioral - type environment correlations. This August, I am conducting fieldwork to test whether behavioral type - environment correlations are adaptive. Stay tuned for the results of this exciting research!</p>
<p><%= image_tag 'peec/pearish2.jpg', width: '557' %></p>
<p>&nbsp;</p>

<center><p><strong><a href="/peec/student_research"> See Other Students</a></strong></p></center>


<p>&nbsp;</p>

