<!--KA: MOdified: June 2015-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h2> Student Research</h2>
<h4 style="text-align:center">Lisa Powers</h4>

<table class="image" style="width: 350px; float: right; padding: 12px;">
<tbody>
<tr>
<td><%= image_tag 'peec/powers1.jpg', width: '340px', :style => 'float: right' %></td>
</tr>
<tr>
<td class="caption" style="font-size: 75%;">Image caption: The northern long-eared bat (<em>Myotis septentrionalis</em>) is a species facing catastrophic declines due to white-nose syndrome.</td>
</tr>
</tbody>
</table>

<h4>PhD Candidate</h4>
<h3>Research focus:</h3> 
<p>Reproductive ecology of bats</p>
<h3>Advisors:</h3>
<p>Dr. Bettina Francis,&nbsp;Animal Biology<br /> <a href="mailto:lpowers@life.illinois.edu">lpowers@life.illinois.edu</a></p>
<p>I study the reproductive ecology of bats. There are over 1200 species of bats worldwide. Many of these species are at risk of extinction due to changes in their environments.</p>
<p>Bats may be especially sensitive to environmental change because they are long-lived animals with slow reproductive rates. Unlike other types of small mammals, females of most bat species give birth once a year to a single pup. Ecological factors that disrupt reproduction have the potential to heavily impact the viability of bat populations. I am interested in finding the factors that make a large impact on bat reproduction, which will provide clues on how to best manage bat habitats to support at-risk populations.</p>
<p>I am currently a PhD candidate in the lab of <a href="http://www.life.illinois.edu/entomology/faculty/francis.html" target="_blank"><strong>Bettina Francis</strong></a> in the <a href="../../../peec/" target="_blank"><strong>Program in Ecology, Evolution and Conservation Biology</strong></a> at the <a href="http://illinois.edu/" target="_blank"><strong>University of Illinois</strong></a>. For my PhD thesis, I am particularly interested in the impact of <a href="http://whitenosesyndrome.org/" target="_blank"><strong>white-nose syndrome</strong></a> on reproduction in North American cave-hibernating bat species.</p>




<div class="row">
  <div class="col-md-6">
	<%= image_tag 'peec/powers2.jpg',  height: '250px', width: '250px' %><br>
	<p style="font-size: 75%;">Fluctuations in temperature and precipitation affect the growth of bat pups (like this juvenile big brown bat &ndash; <em>Eptesicus fuscus</em>).</p>
  </div>
  <div class="col-md-6">
	<%= image_tag 'peec/powers3.jpg', height: '250px', width: '250px'%><br>
	<p style="font-size: 75%;"> Graafian follicle in the ovary of a little brown bat (<em>Myotis lucifugus</em>). Little brown bat females ovulate only once a year. The Graafian follicle develops when the female mates in autumn, is stored all winter, and is ovulated in spring when the bat emerges from hibernation. I study the effects of white-nose syndrome on bats&rsquo; ability to store the follicle throughout winter.</p>
	
  </div>
</div>


<p>&nbsp;</p>

<center><p><strong><a href="/peec/student_research"> See Other Students</a></strong></p></center>


<p>&nbsp;</p>




