<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Erin Welsh - IGERT Recipient</h1>
<p><%= image_tag 'peec/falcon.jpg', width: '240px', :style => 'float: right' %></p>
<p>PhD student<br /><span style="text-decoration: underline;">Research focus</span>: Tropical tick ecology<br /> <span style="text-decoration: underline;">Advisor</span>: Dr. Brian Allan, Entomology<br /> <a href="mailto:ewelsh2@illinois.edu">ewelsh2@illinois.edu</a></p>
<p>My research takes me to Central Panama where I conduct field studies on tropical tick ecology in order to better understand transmission dynamics of tick-borne disease. In particular, I focus on assessing the extent to which biotic and abiotic factors such as microbial infection and seasonality in rainfall affect tick survival, thus influencing the potential for disease transmission. Ultimately, I seek to evaluate the potential impact of climate change on tick and tick-borne disease distribution in the Neotropics.</p>
<table class="image">
<tbody>
<tr>
<td><%= image_tag 'peec/welsh1.jpg', width: '160px', :style => 'float: right' %></td>
<td><%= image_tag 'peec/welsh2.jpg', height: '160px' %> </td>
<td><%= image_tag 'peec/tick.jpg', height: '160px', :style => 'float: right' %></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
