<%# KA: June 2015 %>

<% content_for( :title, 'Profile' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>

      <h2 style="text-align: center;">Student Profile</h2>
       <h4 style="text-align: center;">Jackie Capron</h4>

<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;">
	<img style="width: 160px;" src="/assets/sib/jackie_capron.jpg" alt="Jackie Capron" width="160">
</div>

<p><strong>Year in School: </strong>Senior</p>

<p><strong>Career Plan: </strong></p>
<p>I applied to Dental School in June and just started receiving interview invitations. By Christmas I should know which school I'll be attending.</p>

<p><strong>Why you chose IB: <br></strong></p>
<p>I switched to IB during my sophomore year because it would prepare me for the rigor of Dental School while allowing me to explore other areas of science that interest me. I feel that my well-rounded science background will be an asset in Dentistry.</p>

<p><strong>Favorite IB class and why: <br></strong></p>
<p>IB 202- Anatomy & Physiology. The curriculum was so interesting- Monday lectures provided a large scale introduction, Wednesday lectures went in-depth, and Friday lectures focused on exceptional cases in nature.</p>

<p><strong>Favorite extra curricular activities (undergraduate research, clubs, etc) and why:</strong></p>
<p>I have really enjoyed my time assisting in the Bell Lab. After learning about theories tested by famous experiments in class, it has been really exciting to work on the front lines of science.<br>
In my spare time, I am also the Head Course Assistant for Statistics 100. I spend several hours per day tutoring students and assisting with exam preparation.<br>
My work as a statistician has made me a better scientist, just as my work as a scientist has made me a better statistician. I also enjoy hitting the courts at the ARC with the Illini Handball Club. The athletic competition is a great stress outlet and the team members are some of the nicest people on campus.</p>

<p><strong>Secret Weapon for Success: <br></strong></p>
<p>Early morning studying! I have never stayed up past 1 AM to study. When I have a big midterm in the morning, I shut my books, go to bed, and let my brain rest. I wake up at about 4:00 AM instead, pour a cup of coffee, and start reviewing material. I study so much more efficiently with a fresh mind.</p>

<p><strong>Best Advice: <br></strong></p>
<p>Sit in the front of the lecture hall. Not only will you focus better, but your professors will start to get to know you.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p class="clear_float">&nbsp;</p>



