<%# KA: June 2015 %>

<% content_for( :title, 'Profile' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>

      <h2 style="text-align: center;">Student Profile</h2>
       <h4 style="text-align: center;">Celeste Guzman</h4>

<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;">
	<img style="width: 160px;" src="/assets/sib/celeste_guzman.jpg" alt="Celeste Guzman" width="160">
</div>

<p><strong>Year in School: </strong>Senior</p>

<p><strong>Career Plan: </strong></p>
<p>I just took my MCAT and I am currently applying to Medical Schools. Hopefully, I get to stay in the Chicagoland area next fall when school starts!</p>

<p><strong>Why you chose IB: <br></strong></p>
<p>What interested me the most was that IB had a wider range in subjects and classes that allowed me to become a better well rounded scientist. Also, in my Pre-Med route, I was able to choose classes that not only satisfied the requirements, but that also interested me.</p>

<p><strong>Favorite IB class and why: <br></strong></p>
<p>It’s difficult to pinpoint one, but my favorite semester was when I was taking IB 203- Evolution and IB 361- Ecology and Human Health. In both classes we were learning about Malaria- one dealt with what the disease entailed, while the other dealt with how the disease spread. This is a perfect example of how IB ranges from the cellular level to the ecosystem.</p>

<p><strong>Favorite extra curricular activities (undergraduate research, clubs, etc) and why:</strong></p>
<p>I am currently on the Executive Board for the Global Medical Brigade Club. Going to Honduras with the club was one of the most rewarding and wonderful experiences I’ve had in college. By providing medical aid and playing with the children, I knew I was heading in the right direction in wanting to become a pediatrician.</p>

<p><strong>Secret Weapon for Success: <br></strong></p>
<p>I like to study with friends so we can talk out problems and questions we may encounter. After I have all the material gathered and organized, I head to Grainger Library and stay put.</p>

<p><strong>Best Advice: <br></strong></p>
<p>Remember to have a good balance between all your classes, extra-curriculars, friends, and SLEEP! Most importantly, believe in yourself- that’s half the battle!</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p><br> </p>
<p class="clear_float">&nbsp;</p>


