<%# KA: Student Profile %>
<% content_for( :title, 'Profile' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>

      <h2 style="text-align: center;">Student Profile</h2>
       <h4 style="text-align: center;">Rachel Siller</h4>

<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;">
	<img style="width: 300px;" src="/assets/sib/rachel_siller.jpg" alt="Rachel Siller" width="300">
</div>


<p><strong>Year in School:&nbsp;</strong>Junior in IB Honors</p>


<p><strong>Career Plan: </strong></p>
<p>I plan on applying to Graduate Schools next year. I am leaning towards a career in ornithology, but anything regarding wildlife is exciting.</p>
<p><strong>Why you chose IB: <br></strong></p>
<p>I chose IB mostly because I knew I wanted to work with wildlife. I did not want just the management side or to be limited mostly to the molecular side of things. IB has a wider view of biology and seemed to provide the best opportunity to tailor my education in the direction that I wanted it to go. IB has plenty of opportunities for finding a lab to work in and take fun courses on top of the requirements.</p>
<p><strong>Favorite IB class and why: <br></strong></p>
<p>IB 199- Introduction to Research. As a freshman, the class only had twelve students which was nice. A variety of professors came in and talked about their research allowing us to start meeting professors we might have in the future and make connections early on.. It also put us into a lab doing research immediately. I have worked in the ant lab I was placed in for the past two years and loved every moment of it.</p>
<p><strong>Favorite extra curricular activities (undergraduate research, clubs, etc) and why:</strong></p>
<p>My favorite is The Wildlife Society. Every week we have a speaker talk about their research. We also have social outings where we go hiking, to wildlife sanctuaries, or various other wildlife/outdoors centered activities. It's great because it is an excuse to get out of town and hang out with people as excited to come across a white-breasted nuthatch as you are.</p>
<p><strong>Secret Weapon for Success: <br></strong></p>
<p>Sleep is a necessity (assuming nothing fun and/or interesting is occurring). As are chocolate malted balls from 57 North.</p>
<p><strong>Best Advice: <br></strong></p>
<p>Academics are important but so are the people; get out of your room, go out for dinner, go to concerts, socialize. Don't forget about your classes, but campus life should not be boring.</p>
<p>&nbsp;</p>




<p>&nbsp;</p>
<p><br> </p>
<p class="clear_float">&nbsp;</p>
