<%# KA: Modified: Applied styles %>

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'current_ex' ) %>

<h2>Important Dates to Remember</h2>
<h4 style="text-align:center"> For Spring 2015</h4>
<table border="1" width="98%" cellpadding="5" class="peec_table">
<tbody >
<tr>
<td id ="col1" >Tues. Jan. 20</td>
<td id ="col2" >Instruction begins.</td>
</tr>
<tr>
<td id="col1">Mon. Feb. 2</td>
<td id="col2">Last day for students to add a semester course without permission.</td>
</tr>
<tr>
<td id="col1">Mon. Feb. 16</td>
<td id="col2">Deadline to submit application for <a href="http://www.grad.illinois.edu/general/travelaward" target="_blank">Grad College Fall Conference Travel Award</a> to PEEC office.</td>
</tr>
<tr>
<td id="col1">Tues. March 3</td>
<td id="col2">Deadline to submit applications for Spring <a href="https://www.grad.illinois.edu/fellowship/listing/3080">Dissertation Travel Grant</a> or <a href="https://www.grad.illinois.edu/fellowship/listing/3301">Master's Project Travel</a> to PEEC office</td>
</tr>
<tr>
<td id="col1">Thurs. March 12</td>
<td id="col2">Deadline to submit application for <a href="http://sib.illinois.edu/grants">SIB Awards and Grants</a> to SIB office</td>
</tr>
<tr>
<td id="col1">Fri. March 13</td>
<td id="col2">Last day for students to drop a semester course via <a href="https://apps.uillinois.edu/selfservice/" target="_blank">UI Integrate Self-Service</a>.</td>
</tr>
<tr>
<td id="col1">Fri. March 20</td>
<td id="col2">Last day to submit applications for PEEC Summer Research Grant and PEEC Travel Grant to PEEC office</td>
</tr>
<tr>
<td id="col1">Sat. March 21 - Sun. March 29</td>
<td id="col2">SPRING BREAK</td>
</tr>
<tr>
<td id="col1">Tues. March 31</td>
<td id="col2">Deadline to submit application for <a href="https://www.grad.illinois.edu/fellowship/listing/2807">Dissertation Completion Fellowship</a> to PEEC office</td>
</tr>
<tr>
<td id="col1">Mon. April 6</td>
<td id="col2"><strong>Registration for Summer begins.</strong> Start times vary. See your time ticket for your exact enrollment time at <a href="https://apps.uillinois.edu/selfservice/" target="_blank">UI Integrate Self-Service</a>.</td>
</tr>
<tr>
<td id="col1">Fri. April 10</td>
<td id="col2"><strong>Last day</strong> to take <strong>final exam</strong> for <strong>May</strong><strong> doctoral degree</strong>.</td>
</tr>
<tr>
<td id="col1">Fri. April 17</td>
<td id="col2"><strong>Last day</strong> for students <strong>to add themselves to the December degree list</strong> via <a href="https://apps.uillinois.edu/selfservice/" target="_blank">UI Integrate Self-Service</a>.&nbsp; Last day for students to drop a semester course without a grade of W and without approval.</td>
</tr>
<tr>
<td id="col1">Fri. April 24</td>
<td id="col2"><strong>Last day</strong> to complete <strong>deposit of May doctoral dissertation.</strong></td>
</tr>
<tr>
<td id="col1">Fri. May 1</td>
<td id="col2"><strong>Last day</strong> to complete <strong>deposit of May master's thesis</strong></td>
</tr>
<tr>
<td id="col1">Wed. May 6</td>
<td id="col2">Last day of Instruction</td>
</tr>
<tr>
<td id="col1">Fri. May 7</td>
<td id="col2"><strong>Reading Day&nbsp;</strong></td>
</tr>
<tr>
<td id="col1">Fri. May 8 - Fri. May 15</td>
<td id="col2">Final examination period</td>
</tr>
<tr>
<td id="col1">Sat. May 16</td>
<td id="col2">May Commencement (SIB)</td>
</tr>
</tbody>
</table>

<br>


<p>See <a href="http://illinois.edu/calendar/list/3284?cal=20120724&amp;skinId=4101" target="_blank">Graduate College Academic deadlines</a> for a more extensive list of deadlines.</p>
