<!--KA: June 2015: Restyled the entire page-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'current_ex' ) %>


<h2>Frequently Asked Questions</h2>
<h4 style="text-align:center"> Program in Ecology, Evolution, and Conservation Biology</h4>


	  <p>This page lists Frequently Asked Questions about the PEEC.</p>
	   	<table class="table table-striped">
		        <tbody>
		            <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#1"> I'm confused when people ask me what Department or Program I am in. What should I tell them?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#2"> Does an MS student enroll in "590" or "599" and what CRN do I use?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#3"> Does a PhD student enroll in "590" or "599"  and what CRN do I use?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#4"> When do I have to take my prelim?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#5"> What do I need to give to my Doctoral Committee prior to the prelim?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#6"> What happens if I don't pass my prelim?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#7"> What's involved in the final defense?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#8"> What format does the dissertation need to be in and who checks it?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#9"> Who do I need to notify about setting up the prelim and/or defense?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#10"> How do I get information about my Research Assistantship?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#11"> What about my Teaching Assistantship?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#12"> What do I need to do to petition?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#13"> Who should I notify of changes to my address, phone, etc.?</a></td></tr>
			    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <a href="#14"> Can I take a course Credit/No Credit?</a></td></tr>
			   </tbody>
		      </table>
<br>


	<h3><a class="jump_link" id="1"></a>1) I'm confused when people ask me what Department or Program I am in. What should I tell them?</h3>
	<p>Your Department is the School of Integrative Biology (not the department your advisor is in) and your Program is Ecology, Evolution, and Conservation Biology.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="2"></a>2) Does an MS student enroll in "590" or "599"  and what CRN do I use?</h3>
	<p>An M.S. student should <span style="text-decoration: underline;">always</span> enroll in "599," which requires a defense and a <a href="http://www.grad.illinois.edu/thesis-dissertation" target="_blank">thesis</a> to be deposited in the Graduate College. Approved 599 rubrics are BIOL, NRES, ENT or PBIO. See <a href="http://www.grad.illinois.edu/sites/default/files/PDFs/MastersChecklist.pdf">Masters Checklist</a> from the Thesis Office website.<p>
	<p><strong>Get CRN:</strong> To obtain the correct CRN for <em>your</em> advisor for these courses, please contact the secretary of that department, or the PEEC secretary can also provide the correct CRN. Note:&nbsp;The CRN is not always the same number for all semesters. The number in the Course Schedule is a generic number and is <strong><span style="text-decoration: underline;">NOT</span></strong> the correct number to use.
</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="3"></a>3)  Does a PhD student enroll in "590" or "599"  and what CRN do I use?</h3>
	<p>For research prior to your prelim, enroll in "IB 590." After you have passed your prelim, enroll in "599" which requires a <a href="http://www.grad.illinois.edu/thesis-dissertation" target="_blank">dissertation</a> to be deposited in the Graduate College. Approved rubrics are BIOL, NRES, ENT or PBIO. See <a href="http://www.grad.illinois.edu/sites/default/files/PDFs/DoctoralChecklist.pdf">Doctoral Checklist</a> from the Thesis Office website.</p>
	<p><strong> Get CRN:</strong> To obtain the correct CRN for <em>your</em> advisor for these courses, please contact the secretary of that department, or the PEEC secretary can also provide the correct CRN. Note:&nbsp;The CRN is not always the same number for all semesters. The number in the Course Schedule is a generic number and is <strong><span style="text-decoration: underline;">NOT</span></strong> the correct number to use. <a href="#top">top</a></p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="4"></a>4) When do I have to take my prelim?</h3>
	<p>Doctoral students must take a Preliminary Examination no later than your sixth semester in the program, and preferably in your fifth semester before the deadline for submission of a proposal for an NSF Dissertation Improvement Grant (currently the third Friday in November). For this exam a member of the Doctoral Committee other than the major advisor will be appointed chair by the director of the program. The first part of the three-hour oral exam will be general and cover the student's three core areas of emphasis. The second part of the exam will be a defense of the research proposal.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="5"></a>5) What do I need to give to my Doctoral Committee prior to the prelim?</h3>
	<p>The <a href="/peec/PEEC%20Pre-Prelim%20Form.pdf">PEEC Pre-Prelim Form</a> has been developed for students preparing to take their Prelim Exam. The form is a means for students to get recommendations from their committee regarding the material/areas the student is expected to know or study up on. Each member of the student's committee should fill out the form while the student is present. The student then makes copies of all to send to each committee member. PEEC students are required to get this form completed in anticipation of the prelim exam.</p>
<p>Two weeks prior to the exam, you must present to the Doctoral Committee a proposal prepared in the format of a proposal for an NSF Dissertation Improvement Grant. It should describe the objectives of the research project, the experimental plan and rationale, the results of pilot studies, a budget, and a tentative timetable for its completion. You will present evidence of feasibility and significance of the proposal, but the main research for the dissertation shall not have been performed prior to the Preliminary Examination. A detailed report of the exam and a copy of the research proposal shall be submitted to the Graduate Committee. A passing grade qualifies you as a Ph.D. candidate. </p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="6"></a>6) What happens if I don't pass my prelim?</h3>
	<p>A failing grade will require you to take a second preliminary examination no later than the following semester. A second failure will result in dismissal from the program.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="7"></a>7) What's involved in the final defense?</h3>
	<p>Upon completion of your dissertation and the other requirements of the program, you shall be subject to a Final Examination, which shall consist of a defense of the dissertation. Copies of the completed dissertation, approved by the advisor, should be submitted to the Doctoral Committee at least two weeks prior to the Final Examination. The thesis will be judged in relation to published scholarly work in the field, and students are encouraged to began publishing their results before taking their Final Examination. Passing this exam and presentation of the dissertation by the student at a public seminar sponsored by the program qualify you for the Ph.D. degree. Failure will require you to conduct additional research and to repeat the Final Examination.</p>
	<p><a href="#top"><em>Back to Top</em></a>&nbsp;</p>

	<h3><a  class="jump_link" id="8"></a>8) What format does the dissertation need to be in? Who checks it?</h3>
	<p>Information pertaining to formatting can be found on the <a href="http://www.grad.illinois.edu/thesis/" target="_blank">Thesis Office website</a>. The Thesis Office and the PEEC secretary will need to perform a thesis check one week prior to the date of deposit. (This allows time for any errors to be corrected.) </p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="9"></a>9) Who do I need to notify about setting up the prelim and/or defense?</h3>
	<p>Provide the PEEC secretary with the following information for the prelim and final:</p>
	<ol>
		<li>Date of exam</li>
		<li>Members of your committee and their department:
	   	    <ol style="list-style-type: lower-alpha;">
			<li>Chair (must be a member of the Graduate Faculty). <em>For a prelim exam,</em> a member of the Doctoral Committee other than the major advisor will be appointed Chair by the Director of the Program. <em>For the final exam</em>, the Chair is usually the major advisor.</li>
			<li>Contingent Chair (optional)</li>
			<li>Director of Dissertation Research (advisor)</li>
			<li>Other members&nbsp;</li>
		    </ol>
		</li>
	</ol>
	<p>The committee must include at least four voting members, three of whom must be members of the Graduate Faculty and two tenured members of the faculty. Non-voting members, such as an external reader, a member of the faculty who is off campus, or others who can make a significant contribution to the research, may be appointed. For any non-member of the Graduate Faculty, a letter of justification is required. A CV would be helpful to submit; and (e) the committee should include faculty members from more than one area of specialization.</p>
	
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="10"></a>10) How do I get information about my Research Assistantship?</h3>
	<p>For information on RA appointments, contact the department your advisor is in, since that department will process the appointment papers.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="11"></a>11) What about my Teaching Assistantship?</h3>
	<p>TA appointments are made by the department that controls the course.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="12"></a>12) What do I need to do to petition?</h3>
	<p>To petition, print out <a href="http://www.grad.illinois.edu/gsas/gradpetition" target="_blank">petition</a> from the Graduate College. All petitions should be commented on and signed by your advisor and Director of PEEC and brought to the PEEC secretary to check. She will send the petition with supporting documents to the proper office for processing.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>
	
	<h3><a  class="jump_link" id="13"></a>13) Who should I notify of changes to my address, phone, etc.?</h3>
	<p>Inform the PEEC secretary of all changes (address, phone, email, leaving campus for extended period of time, etc.). You should also inform the PEEC secretary of all TA and RA appointments, grants, fellowships, awards, and publications each semester.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>

	<h3><a  class="jump_link" id="14"></a>14) Can I take a course Credit/No Credit?</h3>
	<p>No. PEEC students cannot take courses Credit/No Credit.</p>
	<p><a href="#top"><em>Back to Top</em></a></p>




