<!--KA: Modified: June 2015-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'current_ex' ) %>


<h2> Timeline of Milestones</h2>
<br>
<h3><strong>Doctoral students:</strong></h3>

<p><%= image_tag 'peec/milestonestimeline.jpg', width: '98%', alt: '' %></p>
<p>You must complete at least 96 hours of 400- or 500-level courses (64 hours beyond the M.S. requirements) with grades no lower than B or S.</p>
<p>You must also complete at least two semesters of favorably evaluated teaching before receiving your degree.</p>

<hr>

<h3><strong>Terminal Master's students:</strong></h3>
<p>At the <span style="text-decoration: underline;">beginning of your second year</span>, you must schedule an annual committee meeting with an Advisory Committee of three faculty from at least two departments, including the Major Advisor who will serve as chair. (Membership of the Advisory Committee must be approved by the director of the program.)</p>
<p>By the <span style="text-decoration: underline;">end of the second year</span>, you must complete 32 hours of course work in your three core areas with grades no lower than B or S. <span style="text-decoration: underline;">No more than 12 hours of research (590 or 599 courses) can be counted</span>.</p>
<p>Finally, you must successfully complete, defend, and deposit a thesis (599).</p>


<p> &nbsp; </p>
<p> &nbsp; </p>

