<!--KA: Modified: June 2105-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'current_ex' ) %>

<h2>Prelim Exam</h2>
<h4 style="text-align:center"> Steps to Follow </h4>
<h3><strong>Doctoral Students:</strong></h3>
<p><em><strong>Before your Prelim:</strong></em></p>
<ol>
<li><strong>Register for 590 Individual Topics.</strong> (After your Prelim, you will register for 599 Thesis Research until your Final Defense.)</li>
<li><strong>Schedule your Prelim</strong>. <em>No later than your sixth semester</em> in the program, and preferably in your fifth semester before the deadline for submission of a proposal for an NSF Dissertation Improvement Grant (currently the third Friday in November), work with your Advisor to schedule your Preliminary Examination. (The first part of the three-hour oral exam will be general and cover the three core areas of emphasis (see Step 5). The second part of the exam will be a defense of your research proposal (see Step 6).)</li>
<li><strong>Reserve a room for your Prelim </strong>after the date and time have been approved by your committee, and inform PEEC&rsquo;s secretary of the date, time, and place. If you need help in reserving a room, contact PEEC's secretary.</li>
<li>Give the names of your committee members and the Chair to PEEC&rsquo;s secretary in order to <strong>get approval from the Grad College for your committee</strong>. This <em>must</em> be done before your Prelim, preferably at least 3 weeks before. (For this exam, a member of the Doctoral Committee other than your major advisor needs to be appointed Chair by the Director of the Program. See PEEC&rsquo;s <a href="/peec/current/handbook">Graduate Program Handbook</a> for specifications for your committee.)</li>
<li><strong>Get the Prelim Form completed and send copies to all of your Doctoral Committee members. </strong>The <a href="pre_prelim_form.pdf" target="_blank">PEEC Pre-Prelim Form</a> is a means for you to get recommendations from your committee regarding the material/areas you are expected to know or study up on. Each member of your committee should fill out the form while you are present. You should then makes copies of all to send to each committee member.</li>
<li><strong>Two weeks before your Prelim, send your research proposal to your Doctoral Committee.</strong> The proposal should be prepared in the format of a proposal for an NSF Dissertation Improvement Grant. It should describe the objectives of the research project, the experimental plan and rationale, the results of pilot studies, a budget, and a tentative timetable for its completion. Present evidence of feasibility and significance of the proposal, but the main research for the dissertation must not have been performed prior to the Preliminary Examination.</li>
</ol>
<p><em><strong>After your Prelim:</strong> </em></p>
<p style="padding-left: 30px;">A detailed report of the exam and a copy of the research proposal will be submitted to the Graduate Committee. A passing grade qualifies the student as a Ph.D. candidate. A failing grade will require the student to take a second Preliminary Examination no later than the following semester. A second failure will result in dismissal from the program.</p>
<p>&nbsp;</p>
