<% content_for( :title, 'About Departments' ) %>
<% content_for( :sidebar, 'about' ) %>
<% content_for( :expand,  'departments_ex' ) %>

<!--KA: May 2015: About-Departments-->

	 <h2 style="text-align: center;">Departments</h2>
	 <h4 style="text-align: center;">The School of Integrative Biology comprises of three academic departments:</h4>
	 
<!--Animal Bio-->	
	 <div class="col-md-4">
	     <h4 style="text-align: center;"><a href="http://www.life.illinois.edu/animalbiology/" target="_blank">Animal Biology</a></h4>		    
	     <a	class="no_underline" href="http://www.life.illinois.edu/animalbiology/" >
		<%= image_tag 'sib/animalBio1.jpg',  alt: "IB Spotlight", size: "180x150"%></a><br>
	     <p style="text-align: center;">Understanding animal interactions from ecological, behavioral and evolutionary perspectives.</p>
	 </div>	
<!--Entomology-->
	 <div class="col-md-4">
	    <h4 style="text-align: center;"><a href="http://www.life.illinois.edu/entomology/index.html" target="_blank">Entomology</a></h4>	
            <a class="no_underline" href="http://www.life.illinois.edu/entomology/index.html">
               <%= image_tag 'sib/entomology2.jpg',  alt: "IB Spotlight", size: "180x150" %></a>
	     <p style="text-align: center;">Biology with six legs, from molecules to ecosystems.</p>
	 </div>
<!--Plant BIo-->	
	 <div class="col-md-4">
 	    <h4 style="text-align: center;"><a href="http://www.life.illinois.edu/plantbio/" target="_blank">Plant Biology</a></h4>	
            <a	class="no_underline" href="http://www.life.illinois.edu/plantbio/">
	       <%= image_tag 'sib/plantBio1.jpg',  alt: "IB Spotlight", size: "180x150" %></a>
	     <p style="text-align: center;">Understanding plants from photosynthesis to their role in global cycles.</p>
	</div>
	
  
