<!--KA: June 2015-->

<% content_for( :title, 'Guidelines-Abstract' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'guidelines_ex' ) %>

		
<h2>Guidelines</h2>
<h4 style= "text-align: center"> For Writing an Abstract </h4>


<p><strong>Some hints about writing an abstract:</strong></p>
  <ol class="ul_list">
	<li>Importance: most people read only the abstract of a paper!</li><br>
	<li>Content: the context, the problem (question, objectives, hypotheses), methods, results, conclusions/significance.</li><br>
	<li>Brevity: each component above must be restricted to 1-3 sentences; longest = results, shortest = other components each are 1 sentence.</li><br>
	<li>Style:
		<ol style="list-style: lower-alpha;" class="ul_list">
			<li>Exact, inclusive, concise</li>
			<li>Not just a <span style="text-decoration: underline;">hint</span> of what is in the paper ("plovers were studied, feeding preferences determined"), but what is in the paper (plovers were found to prefer mussels).</li>
		</ol>
	</li><br>
	<li>Length: not to exceed 250 words.</li>
  </ol>

<p><strong>Components to include (see example below):</strong></p>
	<ul style="list-style: none;"class="ul_list">
		<li> 1. Context</li><br> 	
		<li> 2. Questions</li><br> 
		<li> 3. Hypothesis/prediction</li><br> 
		<li> 4. Methods (abbreviated); include study site and study organism(s).</li><br> 
		<li> 5. Results</li><br> 
		<li> 6. Conclusion/Significance</li>
	</ul>

<hr>
<h4 style= "text-align: center">Example:</h4>
<center><strong>Factors Affecting the Rate of Seed Predation in a Temperate Forest</strong></center><center><strong> M.F. Libsch and J.K. Rosenthal<br> University of Illinois, Urbana, IL. USA </strong></center>
<p>&nbsp;</p>
<p><strong>Abstract: (1)</strong> Factors that affect the post-dispersal survivorship of seeds are likely to influence the patterns of distribution and abundance of seedlings and may also influence the patterns of distribution and abundance of adults. <strong>(2)</strong> In this study in Trelease Prairie in Central Illinois, we examined how rates of seed predation vary with seed density, seed oil content, and handling time. We also tested for indirect effects of the presence of one seed type on the likelihood of predation of another seed type located nearby. <strong>(3)</strong> If seed predators find large clumps of seeds more easily than small clumps of seeds and preferentially select seeds that are highly nutritious and easily handled, then predators will find and consume a greater proportion of seeds per clump as seed density increases, and as the number of high-nutrient or easily handled seeds in clumps increases. <strong>(4)</strong> Predation for different-sized pure clumps of low-nutrient sunflower seeds, high-oil sunflower seeds, hulled sunflower seeds, and non-hulled sunflower seeds were compared to predation for mixtures of low and high-nutrient sunflower seeds and mixtures of hulled and non-hulled sunflower seeds. <strong>(5)</strong> Predation increased with nutrient content and density (at high oil-content), but was not affected by handling time. No indirect effects of the presence of one seed type on the likelihood of predation of other types of seeds were detected, because most of the seeds in each mixture were consumed. <strong>(6)</strong> These results suggest that large nutrient stores may predispose seeds to higher levels of predation, especially when seed densities are high.</p>
<p>&nbsp;</p>
