<!--KA: June 2015-->

<% content_for( :title, 'Guidelines' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'guidelines_ex' ) %>

		
	<h2>Guidelines</h2>
	<h4 style="text-align: center;">Library Search for Articles and Books </h4>
	<p style="text-align: center;"><em>NOTE: The library gateway is constantly updating; some of these directions may have changed since this guideline was written. If you have questions/problems with any of these, ask an instructor.</em></p><br>
	
	<p>The best place to start searching for articles and books is through one of the online databases, which you can access through any computer with a Web browser and access to the University’s system. The university libraries also have computers that allow you to search for articles. You can search for books as well as journal articles through the UI library Web page using these instructions:</p><br>

	<div id="menu">
		<div class="panel list-group"> 	
		  <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link1" data-parent="#menu"><strong>Searching for the Location of Books and Journals</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link1" class="sublinks collapse">
			 <ol class="ul_list"> 
				<br>
				<li>Go to the library gateway at <a href="http://www.library.illinois.edu/">http://www.library.illinois.edu/</a></li><br>
				<li>Under Library Catalogs, click on “Classic Catalog”.</li><br>
				<li>Enter the title, author, or subject heading of the book or journal you want to find.&nbsp; You will then be provided with the location, call number, and availability of the item.&nbsp; If you click the link of the item, you can get more information about the item.&nbsp; This search mode does not allow you to refine your search.</li><br>
				<li>Under the Classic Catalog, click the “Quick Search: Advanced Search” link to do a more refined search.&nbsp; For example, if you enter “Wetzel” after “search for” on the first line and enter “author words” on the “search by” line, then enter “Limnology” on the second line and enter “title words” on the “search by” line, you will get books by Wetzel that have Limnology in the title.</li><br>
			</ol>
			 </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link2" data-parent="#menu"><strong>Searching Databases for Journal Articles</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link2" class="sublinks collapse">
			 <ol  class="ul_list"><br>
				<li>Go to: <a href="http://www.library.illinois.edu/">http://www.library.illinois.edu/</a></li><br>
				<li>Click on the “Online Journals &amp; Databases” link under <strong>Articles</strong>.</li><br>
				<li>Type in “Biological Abstracts (BIOSIS)” or “Web of Science” after Title.</li><br>
				<li>Click “Starts with”, then click “Go”.</li><br>
				<li>Click “Web of Science”.</li><br>
				<li>Click “Thomson Reuters Databases”.</li><br>
				<li>Once in the database, you search just like a normal Web search.&nbsp;</li><br>
				<li>From the lists you get, you can check the articles you want to save, and then print or e-mail to bibliographic info.</li><br>
			</ol>
   		      </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link3" data-parent="#menu"><strong>Searching for Articles* in a Specific Journal</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link3" class="sublinks collapse">
			 <ol class="ul_list"><br>
				<li>Go to: <a href="http://www.library.illinois.edu/">http://www.library.illinois.edu/</a></li><br>
				<li>Click on “Online Journals &amp; Databases” under <strong>Articles</strong>.</li><br>
				<li>Type in Journal title after Title.</li><br>
				<li>Click “Starts with”, then click “Go”</li><br>
				<li>Click on one of the databases that include this journal, e.g. JSTOR…</li><br>
				<li>Browse through the journal’s website to locate articles in different years/months or by entering name of author or title.</li><br>
			</ol>
   		      </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link4" data-parent="#menu"><strong>Searching for a Specific Article* in a Journal</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link4" class="sublinks collapse">
			  <ol class="ul_list"><br>
				<li>Go to: <a href="http://www.library.illinois.edu">http://www.library.illinois.edu</a></li><br>
				<li>Click on "Journal and Article Locator" under <strong>Articles</strong>.</li><br>
				<li>Enter journal name and specific article information.</li><br>
			</ol>
   		      </div>

	<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link5" data-parent="#menu"><strong>A Quick Search for Journal Articles* (with automatic PDF files)</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link5" class="sublinks collapse">
			 <ol class="ul_list"><br>
				<li>Go to: <a href="http://www.google.com">http://www.google.com</a></li><br>
				<li>Type "google scholar".</li><br>
				<li>Click "Google Search".</li><br>
				<li>Click the arrow at the right of the long box to get to “Advanced Scholar Search”.</li><br>
				<li>Type keywords into sections in Find Articles and/or Return articles authored by.</li><br>
				<li>Click “Blue ?” at bottom of page.</li><br>
			</ol>
   		      </div>
		</div>
	</div>	

<p> &nbsp;</p>
