<!--KA: June 2015-->

<% content_for( :title, 'Guidelines-Presentation' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'guidelines_ex' ) %>

		
	<h2>Guidelines</h2>
	<h4 style= "text-align: center"> How to Construct & Deliver a Scientific Presentation</h4>

	<p>A scientific presentation is a shortened version of a scientific paper delivered as a simple story with a strong take-home message. It includes all parts of the paper but deemphasizes methods and highlights results. The story is set in context to other ecological studies at the beginning. The framework of the story is provided by an explicit hypothesis and prediction. The discussion is brief with emphasis on conclusions.</p>

	<h4>Creation</h4>
	<ol class="ul_list">
		<li>Create a Powerpoint Presentation in Microsoft Word. First, look carefully at the example of one on the course website: http://www.life.illinois.edu/ib/203/</li><br>
		<li>Plan on about 1 minute per slide so have at most 12 slides.<br> Include these sections:
		   <ol style="list-style: lower-alpha;" class="ul_list">
			<li>Title slide</li>
			<li>Introduction<ol style="list-style: none;" class="ul_list">
				<li>Background literature/context of study</li>
				<li>Question</li>
				<li>Hypothesis/Prediction (assumptions)</li>
				</ol>
			</li>
			<li>Methods<ol style="list-style: none;" class="ul_list">
				<li>Study site/Organisms</li>
				<li>Experimental Design if Complex (use a drawing)</li>
				</ol>
			</li>	
			<li>Results<ol style="list-style: none;" class="ul_list">
				<li>Figures (with stats)</li>
				<li>Tables (with stats)</li>
				</ol>
			</li>
			<li>Discussion summarize results<ol style="list-style: none;" class="ul_list">
				<li>Interpret hypothesis</li>
				<li>Relate to other studies</li>
				<li>How limited/improve</li>
				<li>Conclusions/significance of study</li>
				</ol>
			</li>
		  </ol>
		</li><br>
		<li>Use large font (32 for small; 44 for large).</li><br>
		<li>DO NOT put too much information on one slide. Use an outline format, not complete sentences.</li>
	</ol><hr>

	<h4>Delivery</h4>
	<ol class="ul_list">
		<li>Time limit is 12 minutes, followed by 3 minutes for questions from audience.</li><br>
		<li>Give a spontaneous talk using the slides as your "props". At most, prepare an index card to help with the introduction. <span style="text-decoration: underline;">Don't read</span> your talk from cards or from the slides on the screen. Look at your audience most of the time.</li><br>
		<li>Orient the listener to each figure/table <span style="text-decoration: underline;">first</span> pointing out the variables on each axis and any other legends. Then summarize the main pattern to the data.</li><br>
		<li>Practice your talk repeatedly and give to a friendly reviewer who can offer suggestions for improvement.</li>


<p>&nbsp;</p><p>&nbsp;</p>
