<%# KA: June 2015: 
TBD: Since its not a priority for now, cleaned up the code as much as I could. Still needs good formatting.  %>

<% content_for( :title, 'Guidelines' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'guidelines_ex' ) %>

		
<h2>Guidelines: Scientific Process</h2>

<table class="sib_tables" border="1">
	<tbody>
		<tr bgcolor="lightgray" >
			<th style="border-bottom: 1px;"><p>Main Conceptual Flow</p></th>
			<th style="border-bottom: 1px solid #999999;" width="35%"><p>Subconcepts</p></th>
			<th style="border-bottom: 1px solid #999999;" width="45%"><p>Biological Example: Moth Color</p></th>
		</tr>
   <tr>
	<td><p><strong>1. Observe/Question: </strong></p></td>
	<td>&nbsp;</td>
	<td><p>Moths are hard to see when they rest on certain backgrounds; they are cryptic.</p></td>
  </tr>
  <tr>
	<td><p><strong>2. Wonder/Speculate/Think: </strong></p></td>
	<td>&nbsp;</td>
	<td><p>I wonder if cryptic coloration of moths hides them from predators.</p></td>
  </tr>
  <tr>
	<td><p><strong>3. Generate Biological Hypothesis</strong><ol style="list-style: none;" class="ul_list">
		<li><strong>If</strong> (hypothesis)</li>
		<li><strong>then</strong> (prediction)</li></ol></p>
	</td>
	<td><p>Deduction (if....then logic)<br />Testability<br />Assumptions</p></td>
	<td><p>If cryptic coloration hides moths from predation, then number of survivors will be higher for moths with non-altered coloration than moths with altered coloration.<br /> Assumptions: 1) Predators can see altered coloration; 2) Investigators can see altered and non-altered equally.</p>
	</td>
  </tr>
  <tr>
	<td><p><strong>4. Determine Experimental Design: </strong></p>
		A. Independent Variable(s)<ol style="list-style: none;">
			<li>Number of independent variables</li>
			<li>Number of treatments per variable</li>
		</ol></li></ol>
	</p></td>
	<td><p><strong>Experimentation: </strong></p>
		<ol style="list-style: none;" class="ul_list">
			<li>Creation of variation in independent variable</li>
			<li>Treatment - Control</li></ol>
		<p><strong>Observation:</strong></p>
			<ol style="list-style: none;" class="ul_list">
				<li>Use natural existing variation in independent variable</li>
			</ol>
	</td>
	<td><p>Experiment: alter wing coloration (with neon spray paint) = treatment; <br />no alteration of wing coloration = control <br />1 independent variable = coloration; 2 treatments = altered and non-altered</p></td>
	</tr>
	<tr>
		<td>B. Dependent Variable(s)<ol style="list-style: none;">
			<li>Observation</li>
			<li>Measurements/Counts</li>
			</ol></td>
	<td><p>Categorical variable<br />Continuous variable</p></td>
	<td><p>Dependent Variable = count of number of altered and non-altered moths recaptured and not recaptured</p></td>
   </tr>
   <tr>
	<td>C. Replicates</td>
	<td><p>Sample size per treatment<br />&nbsp;&nbsp;Relation to probability</p></td>
	<td><p>Sample size = 100 moths/treatment</p></td>
    </tr>
<tr>
<td><strong>5. Collect Data: </strong></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>6. Analyze Data:</strong><br><br>
	A. Create Data File</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>B. Calculate Descriptive Statistics</td>
<td>Types of Distributions (Frequency distributions)<ol>
<li>normal</li>
<li>skewed</li>
<li>bimodal</li>
</ol></td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Descriptors of Central Tendencies of Distributions<ol>
<li>Mean</li>
<li>Dispersion<ol style="list-style: lower-alpha;" class="ul_list">
<li>range</li>
<li>variance</li>
<li>standard deviation<br /> (SD) = &radic;variance<br /> 34% x 2 = 68% of data within 1 SD of mean<br /> 47.7% x 2 = 95.5% of data within 2 SD of mean</li>
</ol></li>
</ol></td>
<td>&nbsp;</td>
</tr>
<tr>
<td>C. Graph Data</td>
<td>Horizontal axis (x, independent variable)<br /> Vertical axis (y, dependent variable)<br /> Types of graphs<br /><ol style="list-style: none;">
<li>Box + Whisker (X , SD, range)</li>
<li>Bar (column) (independent variable = categorical)</li>
<li>Histogram of Frequency Distribution (continuous classes; tally frequency/class)</li>
</ol></td>
<td><center><img src="http://sib.illinois.edu/SkillGuidelines/moths1.jpg" alt="graph about moths" width="180px" /></center></td>
</tr>
<tr>
<td rowspan="4">D. Calculate Analytical (Comparative) Statistics</td>
<td>What is question? What is hypothesis?<br />Choice of statistical test</td>
<td>Difference between distributions &rArr;&chi;<sup>2</sup> contingency test</td>
</tr>
<tr>
<td>Null H<sub>o</sub>/Alternate H<sub>1</sub><ol style="list-style: none;" class="ul_list">
<li>[symbolic format]</li>
</ol></td>
<td>H<sub>o</sub>: # non-altered recaptured = # altered recaptured <br />H<sub>1</sub>: # non-altered recaptured &gt; # altered recaptured</td>
</tr>
<tr>
<td>Probability/Level of Significance Relate to SD + distributions Type I, II error</td>
<td>&alpha; = .05 (p&lt;0.05 of rejecting true H<sub>o</sub>)</td>
</tr>
<tr>
<td>Interpretation of statistical output</td>
<td>n.s. = non-significant; p &gt; 0.05 Failure to reject null hypothesis (H<sub>o</sub>)</td>
</tr>
<tr>
<td rowspan="2"><strong>7. Reach Conclusion:</strong></td>
<td>Fail to reject H<sub>o</sub>; Support for H<sub>1</sub> No proof</td>
<td>No evidence that cyptic coloration hides moths from predators.</td>
</tr>
<tr>
<td>Assumption may have been violated.</td>
<td>Predators may not see altered coloration as well as humans. Need to test that assumption.</td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>

