<!--KA: Added styles, added it under /Ugrad/career_development sidebar -->
<% content_for( :title, 'Workshops' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'career_ex' ) %>

<h2>Local Opportunities for IB Students</h2>

<h4 style="text-align:center"> Find local opportunities in the field you are interested in:</h4>



	<div id="menu">
		<div class="panel list-group"> 	
		  <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link1" data-parent="#menu"><strong>Ecology & Conservation</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link1" class="sublinks collapse">
				<ul><br>
				 <a href="http://allerton.illinois.edu/volunteer-at-allerton/">Allerton Park and Retreat Center</a>, Monticello <br> </strong> <strong>Activities/Purpose:</strong> The natural areas of the Park are used by a variety of University departments, as well as other universities and conservation agencies, for environmental study and for participatory student interactions.</p>
				<p><strong><a href="http://www.ccfpd.org/GetInvolved/Volunteer.html">Champaign County Forest Preserve</a>, Mahomet</strong><br> <strong>Activities/Purpose: </strong> Planting (ornamental &amp; native species), Trail Steward Program, Assisting With Special Events, Exotic Species Control, and more.</p>
				<p><strong><a href="http://www.champaignparkdistrict.com/work-volunteer/volunteer">Champaign Park District</a>, Champaign </strong><br> <strong>Activities/Purpose:</strong> With an abundance of programs and events, and acres of gardens and park land, the Champaign Park District is fertile ground to lend your time or talent. Whether you want to exercise your green thumb, work with children, help at the Virginia Theatre, or assist with a special event, the Champaign Park District invites you to be a member of their team!</p>
				<p><strong><a href="http://grandprairiefriends.org/volunteer.php">Grand Prairie Friends</a>, Champaign County</strong><br> <strong>Activities/Purpose:</strong> To preserve and restore natural communities in east-central Illinois and to promote an understanding and appreciation of natural resources. The internship program is designed for students interested in environmental conservation, natural lands management, ecological restoration, plant identification, and the preservation of Illinois natural areas.</p>
				<p><strong><a href="http://www.dnr.illinois.gov/outreach/Volunteer/Pages/default.aspx">Illinois Department of Natural Resources</a>, Champaign County</strong><br> <strong>Activities/Purpose:</strong> Volunteers are needed throughout the State at State Parks, Campgrounds, Wildlife Management Areas, Nature Preserves, Special Events, and with many special programs. They have a variety of volunteer positions available so there is something for everyone.</p>
				<p><strong><a href="http://www.inhs.illinois.edu">Illinois Natural History Survey</a>, Urbana</strong><br> <strong>Activities/Purpose:</strong> The mission of the Illinois Natural History Survey (INHS) is to investigate and document the biological resources of Illinois and other areas, and to acquire and provide natural history information that can be used to promote the common understanding, conservation, and management of these resources.</p>
				<p><strong><a href="http://www.research.uiuc.edu/cna/">Prairie Burns of UIUC Natural Areas</a>, Champaign County</strong><br> <strong>Activities/Purpose:</strong> Regular prescribed burns are implemented as part of the management plan to increase the diversity and vigor of the prairie plant communities at our Natural Area research sites.<br> <strong> Contact: </strong> <a href="mailto:sbuck@life.uiuc.edu">Steve Buck</a>,&nbsp; Research Technologist, UIUC Committee on Natural Areas.</p>
				<p><strong><a href="http://thefarm.illinois.edu/node/3">Sustainable Student Farm</a>, Urbana</strong><br> <strong>Activities/Purpose:</strong> The farm serves as a production farm to supply our residence halls with locally grown, low-input sustainable food. In addition, the farm acts as a&nbsp;living laboratory to connect students, community members, and the state at large with regional, small-scale food systems.</p>
				<p><strong><a href="http://www.urbanaparks.org/get-involved/volunteer/">Urbana Park District</a>, Urbana </strong><br> <strong>Activities/Purpose:</strong> Remove invasive species and replace wood chips on paths in Meadowbrook Park, Busey Woods, Anita Purves Nature Center and other Urbana parks. Volunteer naturalists also needed to teach school groups.</p><br>
				</ul>
			 </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link2" data-parent="#menu"><strong>Organismal Biology</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link2" class="sublinks collapse">
			 <ul><br>
				<p><strong><strong><strong><strong><a href="http://www.catsnap.org/volunteer.htm">CATSNAP (Champaign Area Trap Spay/Neuter Adoption Program),</a> Urbana</strong><br> <strong> Activities/Purpose:</strong></strong></strong></strong><span style="font-family: Arial; color: black;"> CATSNAP seeks to reduce pet overpopulation and to improve the welfare of animals in the greater Champaign County Illinois area.&nbsp;<span style="font-family: Arial; color: black;">This program offers spay and neuter assistance and basic veterinary treatment - including flea and parasite treatment and routine vaccinations - to needy or unowned animals.&nbsp; It also provides humane education to community and civic groups on the care of animals and the importance of spaying/neutering in population control.&nbsp; </span></span></p>
				<p><strong><strong><a href="http://www.cuhumane.org/volunteers/index.html">Champaign County Humane Society</a>, Urbana</strong><br> <strong> Activities/Purpose: </strong></strong>"Open door" shelter and accept all animals needing shelter, regardless of age, physical condition or adoptability.</p>
				<p><strong><a href="https://champaignparks.com/project/accessible/prairie-farm/">Prairie Farm </a>(Champaign Park District), Champaign</strong><br> <strong>Activities/Purpose:</strong> Prairie Farm is a replica of a turn-of-the century farm complete with barns, farmhouse, pond, pasture, &amp; flower garden. The Farm features traditional farm animals such as sheep, pigs, goats, horses, cows, chickens, and geese.</p>
				<p><strong><a href="https://cuvolunteer.org/organizations/profile/415">Prairieland Anti-Cruelty Program, </a>Champaign</strong><br> <strong>Activities/Purpose:</strong> Spay/neuter program to help control the pet population and to help out people who cannot afford the cost. Rescue dogs and cats, spay/neuter, get them healthy with all shots-- then try to find them homes.</p>
				<p><strong><a href="http://www.s-h-a-r-e.net/">SHARE (Society for Hooved Animal Rescue and Emergency)</a>, Champaign</strong> <br> <strong>Activities/Purpose:</strong> Mission is to maintain the integrity, well-being, and health of hooved animals through education first.</p>
				<p><strong><a href="http://publish.illinois.edu/wildlifemedicalclinic/volunteer/">Wildlife Medical Clinic</a>, Urbana</strong><br><strong>Activities/Purpose:</strong> The Wildlife Medical Clinic (WMC) is a nonprofit, volunteer-operated, donation-funded clinic within the University of Illinois Veterinary Teaching Hospital.</p>
			</ul>
   		      </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link3" data-parent="#menu"><strong>Health Care</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link3" class="sublinks collapse">
			 <ul><br>
				<p><strong><strong><a href="http://www.avicennahealth.org/">Avicenna Community Health Center</a>, Champaign</strong><br> <strong>Activities/Purpose:</strong></strong> Avicenna Community Health Center primary objective is to assist with the medical needs of Urbana-Champaign community, particularly those who are uninsured and under-insured.</p>
				<p><strong><a href="http://www.carle.org/Careers/VolunteerOpportunities.aspx">Carle Hospital</a>, Urbana</strong><br> <strong>Activities/Purpose: </strong>From helping in clinical areas, to comforting family members in times of need, there is a place and pace that allows volunteers to contribute to patient care at Carle and touch the lives of visitors, patients and families.</p>
				<p><strong><a href="http://www.ccchc2003.org/Volunteer">Champaign County Christian Health Center</a>, Champaign</strong><br> <strong>Activities/Purpose:</strong> Champaign County Christian Health Center is a not for profit health center founded in 2003. Our mission is to provide holistic, free, and quality health care services.</p>
				<p><strong><a href="http://www.co.champaign.il.us/ccnh/activities.htm">Champaign County Health Care Consumers</a>, Champaign</strong><br> <strong>Activities/Purpose:&nbsp;</strong>Champaign County Health Care Consumers (CCHCC) believes that health care is a basic human right, and is dedicated to the mission of working for quality affordable health care for all. CCHCC organizes individuals and communities to have a voice in the health care system and to affect social change. CCHCC carries out its mission through consumer education, advocacy, and community organizing.</p>
				<p><strong> <a href="http://www.co.champaign.il.us/ccnh/activities.htm"> Champaign County Nursing Home</a>, Urbana </strong><br> <strong>Activities/Purpose: </strong>One-to-one visits are high on the list of needs for residents. You can visit one resident only or several, as your time permits. And your volunteer time can be at your convenience.</p>
				<p><strong><a href="http://www.c-uphd.org/employment.html">Champaign-Urbana Public Health District</a>, Urbana</strong><br><strong>Activities/Purpose:</strong> Mission is to prevent disease and injury and to lessen the impact of disease, striving to make our services accessible to anyone in Champaign County.</p>
				<p><strong> <a href="http://communityelements.org/volunteers/"> Community Elements</a>, Champaign </strong><br> <strong>Activities/Purpose:</strong> Community Elements educates, advocates, and helps build communities of well-being by providing individuals and families a range of prevention, intervention, and mental health treatment services. These services are culturally inclusive, client/family-focused, and recovery-centered through service excellence, mentoring, and leadership.</p>
				<p><strong><a href="http://www.disability.illinois.edu/">Disability Resources and Educational Services</a>, Campus </strong><br> <strong>Activities/Purpose:</strong> Volunteers can observe physical therapy appointments and assist with stretching and exercises.</p>
				<p><strong> <a href="http://www.provena.org/covenant/body.cfm?id=653"> Provena Covenant Hospital</a>, Urbana </strong><br><strong>Activities/Purpose:</strong> Provena Covenant has many challenging and interesting volunteer opportunities available for persons interested in working in clinical or non-clinical areas within the medical center.</p><br>

			</ul>
   		      </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link4" data-parent="#menu"><strong>Children / Education</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link4" class="sublinks collapse">
			  <ul><br>
				<p><strong><a href="http://www.champaignschools.org/pages/getting-involved"> Champaign Unit 4 Schools</a>, Champaign </strong><br><strong> Activities/Purpose: </strong> Mentoring</p>
				<p><strong><a href="http://www.crisisnursery.net/Volunteers.aspx">Crisis Nursery</a>, Urbana</strong><br> <strong>Activities/Purpose:</strong> Crisis Nursery is committed to creating an island of safety dedicated to the prevention of child abuse and neglect through the provision of emergency intervention, respite care and support to families in crisis.</p>
				<p><strong><a href="http://www.cunninghamhome.org/internship-opportunities">Cunningham Children's Home</a>, Urbana </strong><br> <strong>Activities/Purpose:</strong> The mission of Cunningham Children's Home is to offer emotional, social, educational and spiritual support to children, youth and families.</p>
				<p><strong><a href="http://www.dmbgc-cu.org/index.php?option=com_content&amp;view=article&amp;id=12&amp;Itemid=14">Don Moyer Boys &amp; Girls Club</a>, Champaign </strong><br> <strong>Activities/Purpose:</strong> The Boys &amp; Girls club is a place to do things; a positive place that offers all kinds of recreational, instructional and social activities for children in the Champaign-Urbana area.</p>
				<p><strong><a href="http://www.getyourgirlpower.org/volunteers">Girl Scouts of Central Illinois</a>, Champaign-Urbana</strong><br> <strong>Activities/Purpose:</strong> For more than 100 years, Girl Scouts of the USA made a commitment to helping girls learn about themselves and the world around them. Today we continue that tradition through our mission to build girls of courage, confidence, and character who make the world a better place.</p>
				<p><strong> <a href="http://www.montessorischoolofcu.org/"> Montessori School of Champaign</a>, Champaign </strong><br> <strong>Activities/Purpose:</strong> To use the principles and philosophies developed by Dr. Maria Montessori, an Italian physician and educator who developed her educational method from a profound appreciation for the power and mystery of the child.</p>
				<p><strong><a href="http://www.scs.uiuc.edu/%7Ekidsnchem/mission.php">REACT Program (formerly Kids &amp; Chemistry)</a>, Campus </strong><br> <strong>Activities/Purpose:</strong> UIUC students visit local schools to do hands-on chemistry activities with third graders. UIUC students may earn James Scholar Honors credit in CHEM 101, 102, 104, 202, 204, 232 and 332.</p>
				<p><strong><a href="http://www.usd116.org/index.php/parents/volunteer/"> Urbana Unit 116 Schools</a>, Urbana</strong><br> <strong> Activities/Purpose: </strong> Mentoring, Tutoring</p>
<br>
			</ul>
   		      </div>

	<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link5" data-parent="#menu"><strong>Community Volunteer Activities</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link5" class="sublinks collapse">
			 <ul><br>
				<p><strong><strong><a href="http://illinoisasb.org/">Alternative Seasonal Breaks</a>, Campus </strong><br><strong>Activities/Purpose:</strong> </strong>100% student-run, non-profit volunteer organization of the&nbsp; <a href="http://universityymca.org">University YMCA</a>. ASB sends U of I students on nationwide service trips four times throughout the year. During their fall, winter, spring, and summer breaks, ASB participants travel throughout the country to learn about and actively combat social justice and environmental issues. Trips concern issues such as homelessness, poverty, animals, healthcare, environment, and <em>many</em> more.</p>
				<p><strong><a href="http://shelter-austinsplace.weebly.com/">Austin's Place</a>, Champaign</strong><br> <strong>Activities/Purpose:</strong> Austin's place is an emergency shelter for single women in Champaign County.&nbsp;</p>
				<p><strong><a href="https://cuvolunteer.org/opportunities/profile/615">Champaign-Urbana Public Health District Community Garden</a>, Champaign</strong><br> <strong>Activities/Purpose:</strong> Volunteers are needed to help plant, harvest, and maintain C-UPHD’s community garden. All fruits and vegetables harvested are given to members of the community that utilize services at C-UPHD.</p>
				<p><strong><a href="http://courageconnection.org/">Courage Connection</a>, Champaign</strong><br> <strong>Activities/Purpose:</strong> To eliminate violence against women and children, and to provide safety and support to survivors of sexual violence.</p>
				<p><strong><a href="http://www.cuathome.us/about/">C-U at Home</a>, Champaign</strong><br> <strong>Activities/Purpose:</strong> Engages and mobilizes our community to house and support the most vulnerable homeless on their journey of healing and restoration.</p>
				<p><strong><a href="http://www.icasa.org/home.aspx?PageID=500&amp;">Illinois Coalition Against Sexual Assault</a>, Urbana</strong><br><strong>Activities/Purpose:</strong> The Illinois Coalition Against Sexual Assault (ICASA) is a not-for-profit corporation of&nbsp;29 community-based sexual assault crisis centers working together to end sexual violence. Each center provides 24-hour crisis intervention services, counseling and advocacy for victims of sexual assault and their significant others. Each center presents prevention education programs in Illinois schools and communities.</p>
				<p><strong><a href="http://disability.illinois.edu/beckwith-residential-support-services-nugent-hall/about-staff-staff/prospective-and-current-employee#1">Nugent Hall</a>, Campus</strong><br> <strong>Activities/Purpose:</strong> To provide personal assistance to disabled UIUC students.</p><br>
			</ul>
   		      </div>
		</div>
	</div>	

<p> &nbsp;</p>
<p> &nbsp;</p>

