
<% content_for( :title,   'Summer Jobs' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'career_ex' ) %>


<h2>Summer Enrichment Opportunities </h2>
<h4 style="text-align:center"> For IB Students </h4>
<div class="course_table course_table_left">
<table style="float: left;" cellspacing="0">
<tbody>
<tr><th width="331" style="text-align: center;"><strong>Summer Plan</strong></th>
    <th width="274" style="text-align: center;"><strong>Location</strong></th></tr>
<tr>
<td style="background-color: #cccccc;" colspan="2"><strong>Research (including medical, ecological, organismal, and more)<br /></strong></td>
</tr>
<tr>
<td><a href="http://www.amnh.org/our-research/anthropology/policies-links/internship-program">American Museum of Natural History Anthropology Internship</a></td>
<td>New York, NY</td>
</tr>
<tr>
<td><a href="http://www.amnh.org/our-research/center-for-biodiversity-conservation/capacity-development/internships">American Museum of Natural History Biodiversity and Conservation Internship</a></td>
<td>New York, NY</td>
</tr>
<tr>
<td><a href="http://www.anl.gov">Argonne National Laboratory</a></td>
<td>Argonne, IL</td>
</tr>
<tr>
<td><a href="http://hyenas.zoology.msu.edu/courses/beam-course.html">Behavioral Ecology of African Mammals</a></td>
<td>Masai Mara Game Reserve, Kenya</td>
</tr>
<tr>
<td><a href="http://www.cbs.umn.edu/explore/field-stations/cedarcreek/about/employment">Cedar Creek Ecosystem Science Reserve</a></td>
<td>University of Minnesota</td>
</tr>
<tr>
<td><a href="http://www.ndsu.edu/cpr/">Center for Protease Research</a></td>
<td>North Dakota State University</td>
</tr>
<tr>
<td><a href="http://www.chromatininc.com/careers.php">Chromatin, Inc.</a></td>
<td>Champaign or Chicago, IL</td>
</tr>
<tr>
<td><a href="http://cancer.northwestern.edu/cure/index.cfm">CURE Summer Research Program at Lurie Cancer Center</a></td>
<td>Northwestern University</td>
</tr>
<tr>
<td><a href="http://eco-informatics.engr.oregonstate.edu/">Eco-informatics internship</a></td>
<td>Oregon State University</td>
</tr>
<tr>
<td><a href="http://emt.oregonstate.edu/summer-undergraduate-research-internships-toxicology">Environmental &amp; Molecular Toxicology Research Internship</a></td>
<td>Oregon State University</td>
</tr>
<tr>
<td><a href="http://www.fieldmuseum.org/about/careers/internships">Field Museum Internships</a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://fimrc.org/">Foundation of the International Medical Relief of Children</a></td>
</tr>
<tr>
<td><a href="http://www.med.cornell.edu/mdphd/summerprogram/">Gateways to the Laboratory Summer Program </a></td>
<td>New York, NY</td>
</tr>
<tr>
<td><a href="http://www.inhs.uiuc.edu/">Illinois Natural History Survey</a></td>
<td>Urbana, IL</td>
</tr>
<tr>
<td><a href="http://www.optometry.iu.edu/academics/summer-research.shtml">IU School of Optometry Summer Research Program</a></td>
<td>Indiana University</td>
</tr>
<tr>
<td><a href="http://biology.wisc.edu/Undergraduates-GettingInvolvedBeyondtheClassroom-UndergraduateResearch-IntergratedBiologicalSciencesSummerResearchProgram.htm">Integrated Biological Sciences Summer Research Prog.</a></td>
<td>University of Wisconsin</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.mbl.edu/education/undergraduate-programs/">Marine Biological Laboratory</a></td>
</tr>
<tr>
<td><a href="http://www.mayo.edu/mgs/programs/summer-undergraduate-research-fellowship">Mayo Clinic SURF</a></td>
<td>Rochester, MN</td>
</tr>
<tr>
<td><a href="http://web.mit.edu/odge/undergraduate/msrp/index.html">MIT Summer Research Program</a></td>
<td>Cambridge, MA</td>
</tr>
<tr>
<td><a href="http://cvm.msu.edu/research/undergraduate-student-summer-research-program-in-biomedical-sciences/check-eligibility">Michigan State University Summer Research Program</a></td>
<td>East Lansing, MI</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;"colspan="2"><a href="https://intern.nasa.gov/">NASA Internships</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.nsf.gov/crssprgm/reu/">National Science Foundation Research Experiences for Undergraduates</a></td>
</tr>
<tr>
<td><a href="http://www.northshore.org/research/about-us/summer-fellowship-program/">NorthShore Research Institute</a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td><a href="http://underc.nd.edu">University of Notre Dame Environmental Research Center</a></td>
<td>MI, MT</td>
</tr>
<tr>
<td><a href="http://www.oceans-research.com/">Oceans Research</a></td>
<td>South Africa</td>
</tr>
<tr>
<td><a href="http://seagrant.oregonstate.edu/fellowships/summer-scholars#sthash.j61PycXC.dpuf">Oregon Sea Grant Summer Scholars</a></td>
<td>Oregon State University</td>
</tr>
<tr>
<td><a href="http://orise.orau.gov/cdc/applicants/default.html">ORISE Research Participation Program</a></td>
<td>Oak Ridge, TN</td>
</tr>
<tr>
<td><a href="http://bti.cornell.edu/education/internships">Institute for Plant Research</a></td>
<td>Cornell University</td>
</tr>
<tr>
<td><a href="http://www.ag.purdue.edu/btny/pages/srp.aspx">Purdue Botany and Plant Pathology Research Internship</a></td>
<td>Purdue University</td>
</tr>
<tr>
<td><a href="http://www.siteman.wustl.edu/contentpage.aspx?id=254">Siteman Cancer Center Summer Opportunities Program </a></td>
<td>St. Louis, MO</td>
</tr>
<tr>
<td><a href="http://www.si.edu/interns/BySubject#ScienceAndResearch">Smithsonian Internships</a></td>
<td>Washington, D.C.</td>
</tr>
<tr>
<td><a href="http://www.stritch.luc.edu/lumen/deptwebs/microbio/summer/details.php">Summer Research Program in Microbiology and Immunology </a></td>
<td>Loyola University Chicago</td>
</tr>
<tr>
<td><a href="http://pritzker.bsd.uchicago.edu/current/students/summerresearch.shtml">Summer Research Program </a></td>
<td>University of Chicago</td>
</tr>
<tr>
<td><a href="http://www.oucom.ohiou.edu/Admissions/SURF.htm">Summer Undergraduate Research Fellowship (SURF) program</a></td>
<td>Ohio University College of Osteopathic Medicine</td>
</tr>
<tr>
<td><a href="http://www.stjude.org/poe">St. Judes Hospital - Pediatric Oncology Program</a></td>
<td>Memphis, TN</td>
</tr>
<tr>
<td><a href="http://graduate.ucsf.edu/content/summer-research-opportunities">UCSF Summer Research Opportunities</a></td>
<td>University of California, San Francisco</td>
</tr>
<tr>
<td><a href="http://pritzker.uchicago.edu/about/diversity/pipeline/psomer.shtml">University of Chicago Experience in Research</a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td><a href="http://www.healthcare.uiowa.edu/mstp/New/mstp/summer/index.htm">University of Iowa Medical Scientist Training Program</a></td>
<td>Iowa City, IA</td>
</tr>
<tr>
<td><a href="http://sitemaker.umich.edu/cvcsummerfellowship/home">University of Michigan Cardiovascular Center Summer Research Fellowship</a></td>
<td>Ann Arbor, MI</td>
</tr>
<tr>
<td><a href="https://www.physiology.med.umich.edu/programs/undergraduate/mipsrf/index.html">University of Michigan Summer Research Fellowship in Molecular and Integrative Physiology</a></td>
<td>Ann Arbor, MI</td>
</tr>
<tr>
<td><a href="http://www.med.unc.edu/pharm/summer-undergraduate-research">UNC Summer Fellowship Program</a></td>
<td>Univ. of North Carolina Chapel Hill</td>
</tr>
<tr>
<td><a href="https://medschool.vanderbilt.edu/vssa/">Vanderbilt Summer Science Academy</a></td>
<td>Nashville, TN</td>
</tr>
<tr>
<td><a href="http://dbbs.wustl.edu/divprograms/SummerResearchforUndergrads/Pages/SummerResearchforUndergrads.aspx">Washington University in St. Louis Summer Research</a></td>
<td>St. Louis, MO</td>
</tr>
<tr>
<td><a href="http://wbi-icc.com/who-we-work-with/students-teachers">Wright Brothers Institute</a></td>
<td>Dayton, OH</td>
</tr>
<tr>
<td style="background-color: #cccccc;" colspan="2"><strong>Industry</strong></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.abbott.com/careers/students/internships.html">Abbott Labs </a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.abbvie.com/careers/student-opportunities/internships.html">AbbVie </a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.cargill.com/careers/global-careers/cargill-careers-us/university-recruiting/internships/index.jsp">Cargill</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.dow.com/careers/programs/student.htm">Dow</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.dupont.com/corporate-functions/careers/university-recruiting/student-employment-programs/articles/dupont-internships.html">DuPont</a></td>
</tr>
<tr>
<td colspan="2"><a href="https://www.pioneer.com/home/site/about/careers/student-center/internships/">DuPont Pioneer</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.lilly.com/careers/student-opportunities/Pages/internships.aspx">Eli Lilly</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.monsanto.com/careers/pages/student-opportunties.aspx">Monsanto</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://jobs.syngenta.com/content/student-opportunities/">Syngenta</a></td>
</tr>
<tr>
<td style="background-color: #cccccc;" colspan="2"><strong>Health</strong></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.akorn.com/car_opportunities.php">Akorn Pharmaceuticals </a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.redcross.org/support/get-involved/internship-program">American Red Cross</a></td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://smdep.org/">AAMC Summer Medical and Dental Education Program</a></td>
</tr>
<tr>
<td><a href="https://www.bcm.edu/departments/surgery/education/students/summer-surgery-program">DeBakey Summer Surgery Program</a></td>
<td>Baylor University</td>
</tr>
<tr>
<td><a href="http://emergency.med.nyu.edu/education/undergraduates/project-healthcare">Bellevue Hospital Project Healthcare</a></td>
<td>New York, NY</td>
</tr>
<tr>
<td><a href="http://www.carle.org/Careers/Employment/Internships.aspx">Carle Hospital Intern </a></td>
<td>Urbana, IL</td>
</tr>
<tr>
<td><a href="http://www.carle.org/Careers/VolunteerOpportunities.aspx">Carle Hospital Volunteer </a></td>
<td>Urbana, IL</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.cdc.gov/employment/menu_student.html">Centers for Disease Control </a></td>
</tr>
<tr>
<td><a href="http://www.cdc.gov/nceh/cleh/">Centers for Disease Control-CLEH</a></td>
<td>Atlanta, GA</td>
</tr>
<tr>
<td><a href="http://www.co.champaign.il.us/ccnh/ccnh.htm">Champaign Co. Nursing Home</a></td>
<td>Urbana, IL</td>
</tr>
<tr>
<td><a href="http://www.c-uphd.org/dental-health.html">Champaign-Urbana Public Health District </a></td>
<td>Urbana, IL</td>
</tr>
<tr>
<td><a href="http://www.cookcountypublichealth.org/internships">Cook County Department of Public Health </a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.dciinc.org/internships/">Dialysis Clinic Inc.</a></td>
</tr>
<tr>
<td><a href="http://www.cpe.rutgers.edu/eph/environment-and-public-health.html">Environmental and Public Health Program</a></td>
<td>Rutgers University</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://floatingdoctors.com">Floating Doctors</a></td>
</tr>
<tr>
<td><a href="http://www.ico.edu/admissions/events-for-prospective-students/focus-on-your-future/">Focus on your Future Optometry Program </a></td>
<td>
<p>Illinois College of Optometry; Chicago, IL</p>
</td>
</tr>
<tr>
<td><a href="http://globalbrigades.org/">Global Medical Brigades</a></td>
<td>Central America</td>
</tr>
<tr>
<td><a href="http://kovlerdiabetescenter.org/kovler-krew-application//">Kovler Diabetes Center</a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td><a href="http://www.mckinley.uiuc.edu/">McKinley Health Center</a></td>
<td>Urbana, IL</td>
</tr>
<tr>
<td><a href="https://most.uic.edu/">Multidisciplinary Oral Science Training Program</a></td>
<td>University of Illinois, Chicago</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.jobs.nih.gov/vacancies/student/">National Institutes of Health</a></td>
</tr>
<tr>
<td><a href="http://www.meijer.com/content/corporate.jsp?pageName=pharmacy_tech_hourly#slot5">Pharmacy Technician at Meijer</a></td>
<td>Champaign, IL</td>
</tr>
<tr>
<td><a href="http://www.provena.org/covenant/Volunteer">Provena Covenant Hospital</a></td>
<td>Urbana, IL</td>
</tr>
<tr>
<td><a href="http://www.slu.edu/medicine/family-and-community-medicine/ahec-program">SLU Area Health Education Center</a></td>
<td>Saint Louis University</td>
</tr>
<tr>
<td><a href="http://www.somoshermanos.org/">Somos Hermanos Student Immersion Program </a></td>
<td>University of Southern California</td>
</tr>
<tr>
<td><a href="http://www.dentistry.umn.edu/programs-admissions/building-bridges/summer-program/">Summer Dental School Program </a></td>
<td>University of Minnesota</td>
</tr>
<tr>
<td><a href="http://www.sph.umich.edu/sep/index.html">Summer Enrichment Program in Health Management and Policy</a></td>
<td>University of Michigan</td>
</tr>
<tr>
<td><a href="http://swedishcovenant.org/careers/volunteering/how-become-volunteer">Swedish Covenant Hospital Volunteer</a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td><a href="http://pritzker.uchicago.edu/about/diversity/pipeline/camp.shtml">University of Chicago Academic Medicine Program</a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td style="background-color: #cccccc;" colspan="2"><strong>Organismal Biology</strong></td>
</tr>
<tr>
<td><a href="http://www.birdpop.org/Interns/NFM12.htm">Institute for Bird Populations</a></td>
<td>Sierra Nevada</td>
</tr>
<tr>
<td><a href="http://www.czs.org/Centers-of-Excellence/Center-for-Conservation-Leadership/Internships.aspx">Brookfield Zoo</a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td><a href="http://www.ecolife.co.za/">Ecolife Expeditions</a></td>
<td>Pretoria, South Africa</td>
</tr>
<tr>
<td><a href="http://www.lpzoo.org/conservation-science/resources/fellowships-and-internships">Lincoln Park Zoo </a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td><a href="http://www.northwoodswildlifecenter.com">Northwoods Wildlife Center</a></td>
<td>Minocqua, WI</td>
</tr>
<tr>
<td><a href="http://mote.org/">Mote Marine Laboratory</a></td>
<td>Sarasota, FL</td>
</tr>
<tr>
<td><a href="http://www.oceans-campus.com/">Oceans Campus</a></td>
<td>South Africa</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://opwall.com/">Operation Wallacea</a></td>
</tr>
<tr>
<td><a href="http://www.pacificwhale.org/content/research-department-internships-open-year-round">Pacific Whale Foundation</a></td>
<td>Maui, HI</td>
</tr>
<tr>
<td><a href="https://champaignparks.com/project/accessible/prairie-farm/">Prairie Farm at Champaign Park District</a></td>
<td>Champaign, IL</td>
</tr>
<tr>
<td><a href="http://www.stlzoo.org/about/contact/internshipsexternships/">Saint Louis Zoo </a></td>
<td>St. Louis, MO</td>
</tr>
<tr>
<td><a href="https://www.aza.org/Jobs/detail.aspx?id=37174">Sea Lion Training Internship</a></td>
<td>New Orleans, LA</td>
</tr>
<tr>
<td><a href="http://www.sheddaquarium.org/About-Us/Jobs-Internships-and-Volunteering/Internships/">Shedd Aquarium</a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td><a href="http://www.summerfieldfarmandzoo.com/Volunteers___Internships.html">Summerfield Zoo</a></td>
<td>Belvidere, IL</td>
</tr>
<tr>
<td><a href="http://www.fws.gov/humancapital/Pathways.cfm">U.S. Fish and Wildlife Service</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="http://www.votk.org/helpout.html">Valley of the Kings Big Cat Sanctuary</a></td>
<td>Darien, WI</td>
</tr>
<tr>
<td><a href="http://www.americanbear.org">Vince Shute Wildlife Sanctuary</a></td>
<td>Orr, MN</td>
</tr>
<tr>
<td><a href="http://us.whales.org/wdc-na-intern-residential-volunteer-program">Whale and Dolphin Conservation</a></td>
<td>Plymouth, MA</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.wildlife.org/internships">The Wildlife Society</a></td>
</tr>
<tr>
<td><a href="http://willowbrookwildlife.org/~willow34/how-can-i-help/">Willowbrook Wildlife Center</a></td>
<td>Willowbrook, IL</td>
</tr>
<tr>
<td style="background-color: #cccccc;" colspan="2"><strong>Environmental/Conservation</strong></td>
</tr>
<tr>
<td><a href="http://allerton.illinois.edu/volunteer-at-allerton/">Allerton Park - Natural Areas/Garden Intern</a></td>
<td>Monticello, IL</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.jfnew.com/Careers/SeasonalOpportunities.aspx">Cardno JFNew </a></td>
</tr>
<tr>
<td>Cedar Creek Ecosystem Science Reserve</td>
<td>Bethel, MN</td>
</tr>
<tr>
<td><a href="http://www.ccfpd.org/About/employment.html">Champaign County Forest Preserve</a></td>
<td>Champaign County, IL</td>
</tr>
<tr>
<td><a href="https://champaignparks.com/internships/">Champaign Park District</a></td>
<td>Champaign, IL</td>
</tr>
<tr>
<td><a href="http://www.chicagobotanic.org/seasonal/index.php">Chicago Botanic Gardens</a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td><a href="http://www.habitatproject.org/opportunity/index.html">Chicago Wilderness Habitat Project</a></td>
<td>Greater Chicagoland Area, IL</td>
</tr>
<tr>
<td><a href="http://www.cityofchicago.org/city/en/depts/dhr/provdrs/emp/svcs/internships.html">City of Chicago Internships</a></td>
<td>Chicago, IL</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.clminternship.org/">Conservation and Land Management Internship</a></td>
</tr>
<tr>
<td><a href="http://www.conservelakecounty.org/ways-to-help/volunteer">Conserve Lake County</a></td>
<td>Lake County, IL</td>
</tr>
<tr>
<td><a href="http://www.fpdccvolunteers.org/">Cook County Forest Preserve</a></td>
<td>Cook County, IL</td>
</tr>
<tr>
<td colspan="2"><a href="http://www.ecotraining.co.za/">Ecotraining in Africa</a></td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.epa.gov/internships/">Environmental Protection Agency</a></td>
</tr>
<tr>
<td><a href="http://underc.nd.edu/">Field Environmental Biology Program</a></td>
<td>University of Notre Dame</td>
</tr>
<tr>
<td><a href="http://www.dupageforest.com/Volunteer.aspx/">Forest Preserve District of DuPage County</a></td>
<td>Wheaton, IL</td>
</tr>
<tr>
<td><a href="http://www.reconnectwithnature.org/">Forest Preserve District of Will County</a></td>
<td>Joliet, IL</td>
</tr>
<tr>
<td><a href="http://www.epa.illinois.gov/educators/internships/index">Governor's Environmental Corps </a></td>
<td>Springfield, IL</td>
</tr>
<tr>
<td><a href="http://grandprairiefriends.org/internships.html">Grand Prairie Friends</a></td>
<td>
<p>Champaign/Urbana, IL</p>
</td>
</tr>
<tr>
<td><a href="http://www.thegreatbasininstitute.org/">Great Basin Institute </a></td>
<td>Nevada</td>
</tr>
<tr>
<td><a href="http://www.iiseagrant.org/funding/internship.html">Illinois-Indiana Sea Grant</a></td>
<td>Great Lakes</td>
</tr>
<tr>
<td><a href="http://www.inhs.uiuc.edu/opportunities/index.php?action=parttime">Illinois Natural History Survey</a></td>
<td>Central Illinois</td>
</tr>
<tr>
<td><a href="http://www.kaneforest.com/">Kane Co. Forest Preserve </a></td>
<td>St. Charles, IL</td>
</tr>
<tr>
<td><a href="http://www.mccdistrict.org/rccms/index.php/conservation-district-volunteers/">McHenry County Conservation District </a></td>
<td>McHenry County, IL</td>
</tr>
<tr>
<td><a href="https://www.mwrd.org/irj/portal/anonymous?NavigationTarget=navurl://dea23c098f5be5f2f388d444e5880578">Metropolitan Water Reclamation District of Greater Chicago</a></td>
<td>Chicagoland, IL</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.midwestgroundcovers.com/Careers">Midwest Groundcover, LLC</a></td>
</tr>
<tr>
<td><a href="http://mofep.mdc.mo.gov/ListJobs.asp">Missouri Ozark Forest Ecosystem Project</a></td>
<td>University of Missouri</td>
</tr>
<tr>
<td><a href="http://www.ngrrec.org/">National Great Rivers Research and Education Center</a></td>
<td>Godfrey, IL</td>
</tr>
<tr>
<td colspan="2"><a href="http://www.nps.gov/aboutus/workwithus.htm">National Park Service</a></td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.nature.org/about-us/diversity/globe/index.htm">Nature Conservancy</a></td>
</tr>
<tr>
<td><a href="http://www.nwmadil.com/job_opportunities1.html">Northwest Mosquito Abatement District</a></td>
<td>Cook County, IL</td>
</tr>
<tr>
<td><a href="http://www.osaconservation.org/Volunteer.html">Osa Conservation</a></td>
<td>Costa Rica</td>
</tr>
<tr>
<td><a href="http://www.pdhp.org/index.aspx?page=212">Park District of Highland Park</a></td>
<td>Highland Park, IL</td>
</tr>
<tr>
<td><a href="http://www.queensu.ca/biology/qubs.html">Queen's University Biological Station</a></td>
<td>Elgin, Ontario, Canada</td>
</tr>
<tr>
<td><a href="http://www.stlzoo.org/animals/soyouwanttobeazookeeper/">Saint Louis Zoo</a></td>
<td>St. Louis, MO</td>
</tr>
<tr>
<td><a href="http://www.dnr.state.il.us/lands/landmgt/parks/i&amp;m/east/starve/park.htm">Starved Rock State Park</a></td>
<td>Utica, IL</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.thesca.org/">The Student Conservation Association</a></td>
</tr>
<tr>
<td><a href="http://www.urbanaparks.org/jobs/">Urbana Park District</a></td>
<td>Urbana, IL</td>
</tr>
<tr>
<td colspan="2"><a href="http://www.usgs.gov/ohr/students/">U.S. Geological Survey</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.v3co.com/internship.html">V3 Companies</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.wildlandsstudies.com/">Wildlands Studies</a></td>
</tr>
<tr>
<td style="background-color: #cccccc;" colspan="2"><strong>Teaching</strong></td>
</tr>
<tr>
<td><a href="http://www.amnh.org/learn-teach/post-secondary/museum-education-and-employment-program">American Museum of Natural History Education Internship</a></td>
<td>New York, NY</td>
</tr>
<tr>
<td>Anita Purves Nature Center</td>
<td>Urbana, IL</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://www.diabetes.org/in-my-community/diabetes-camp/work-at-camp.html">Diabetes Camp Counselor</a></td>
</tr>
<tr>
<td><a href="http://cty.jhu.edu/summer/employment/index.html">Johns Hopkins Center for Talented Youth Camp</a></td>
<td>Baltimore, MD</td>
</tr>
<tr>
<td><a href="http://www.lincolnmemorialgarden.org/volunteer.html">Lincoln Memorial Gardens </a></td>
<td>Springfield, IL</td>
</tr>
<tr>
<td><a href="http://www.pacificwhale.org/content/education-department-internships">Pacific Whale Foundation</a></td>
<td>Maui, HI</td>
</tr>
<tr>
<td><a href="http://www.smm.org/volunteer">Science Museum of Minnesota</a></td>
<td>St. Paul, MN</td>
</tr>
<tr>
<td style="background-color: #e9e9e9;" colspan="2"><a href="http://science.energy.gov/wdts/">Workforce Development for Teachers and Scientists </a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.ymca.net/volunteer">YMCA </a></td>
</tr>
<tr>
<td style="background-color: #cccccc;" colspan="2"><strong>Internship Databases &amp; Lists</strong></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.thejobseeker.net">The Job Seeker</a> Use of this web site is free. If you would also like to receive the newsletter with additional jobs, first contact one of the IB advisors for the current password since this changes frequently. Then go to the "Subscribers' Area" and use: Username = subscriber, Password = [the password given to you by the Advisors].</td>
</tr>
<tr>
<td colspan="2"><a href="http://www.urop.uci.edu/frame_opportunities_off_campus.html">Univ. California, Irvine List</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://as-cascade.syr.edu/students/undergraduate/advising_academic_support/pre_health/_supporting_pages/resource_sp.html">Syracuse Health Professions Advisory Program</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://explorehealthcareers.org/en/careers/programs">Explore Health Careers</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.internships.com/">National Internship Directory</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.blackexcel.org/med-link.htm">Medical School Internships for African-American Students</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://people.rit.edu/gtfsbi/Symp/premed.htm">Medical School Internships List</a></td>
</tr>
<tr>
<td colspan="2">
<p><a href="http://www.eco.org"> Environmental Internship Database</a></p>
</td>
</tr>
<tr>
<td colspan="2">
<p><a href="http://people.rit.edu/gtfsbi/Symp/bioinformatics.htm">Bioinformatics Internships</a></p>
</td>
</tr>
<tr>
<td colspan="2">
<p><a href="http://www.conservationjobboard.com/"> Conservation Job Board</a></p>
</td>
</tr>
<tr>
<td colspan="2">
<p><a href="http://www.conservation-careers.com//"> Conservation Careers</a></p>
</td>
</tr>
<tr>
<td colspan="2">
<p><a href="http://www.conbio.org/jobs/"> Society for Conservation Biology Job Board </a></p>
</td>
</tr>
<tr>
<td><a href="http://www.aza.org/joblistings/">Association for Zoos and Aquariums</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="2"><a href="http://www.thesca.org/">Student Conservation Association</a></td>
</tr>
<tr>
<td colspan="2"><a href="https://www.usajobs.gov/studentsandgrads/">Student Government Database</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://makingthedifference.org/index.shtml">Federal Job Database</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://wfscjobs.tamu.edu/job-board/">Texas A&amp;M Job Board</a></td>
</tr>
<tr>
<td style="background-color: #cccccc;" colspan="2"><strong>Summer Study Abroad</strong></td>
</tr>
<tr>
<td><a href="https://app.studyabroad.illinois.edu/index.cfm?FuseAction=programs.ViewProgram&amp;Program_ID=10670">ACES African Wildlife Discovery Study Tour </a></td>
<td>Pretoria, South Africa</td>
</tr>
<tr>
<td><a href="https://app.studyabroad.illinois.edu/index.cfm?FuseAction=Programs.ViewProgram&amp;Program_ID=10859">Stockholm Summer Arctic Program </a></td>
<td>Stockholm, Sweden</td>
</tr>
<tr>
<td><a href="https://app.studyabroad.illinois.edu/index.cfm?FuseAction=Programs.SearchResults&amp;Program_Name=gaias&amp;Program_Type_ID=O&amp;pi=%7F&amp;pc=%7F&amp;pr=%7F&amp;pt=%7F&amp;Partner_ID=ANY&amp;p_10010=%7F&amp;p_10010_t=MULTI&amp;p_10000=%7F&amp;p_10000_t=MULTI&amp;p_10005=%7F&amp;p_10005_t=MULTI&amp;p_10002=%7F&amp;p_10002_t=MULTI&amp;p_10001=%7F&amp;p_10001_t=MULTI&amp;p_10011=%7F&amp;p_10011_t=MULTI&amp;p_10007=%7F&amp;p_10007_t=MULTI&amp;p_10013=%7F&amp;p_10013_t=MULTI&amp;Sort=Program_Name&amp;Order=asc&amp;pp=10010%2C10000%2C10005%2C10002%2C10001%2C10011%2C10007%2C10013">Galapagos Academic Institute for Arts and Sciences (GAIAS)</a></td>
<td>Galapagos Islands</td>
</tr>
<tr>
<td><a href="https://app.studyabroad.illinois.edu/index.cfm?FuseAction=Programs.ViewProgram&amp;Program_ID=10009">SAO Instituto San Joaquin de Flores </a></td>
<td>Costa Rica</td>
</tr>
<tr>
<td colspan="2"><a href="http://www.fieldstudies.org/">School for Field Studies </a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.ots.ac.cr/">Organization for Tropical Studies </a></td>
</tr>
<tr>
<td style="background-color: #cccccc;" colspan="2"><strong>Summer Field Courses</strong></td>
</tr>
<tr>
<td colspan="2"><a href="http://sib.illinois.edu/sib/courses/ib_447">IB 447: Field Ecology</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://sib.illinois.edu/sib/courses/special_courses_sp15">IB 496: Coral Reef Ecology</a></td>
</tr>
<tr>
<td colspan="2"><a href="https://publish.illinois.edu/pahre/colorado/">PS 224: Politics of National Parks</a></td>
</tr>
<tr>
<td style="background-color: #cccccc;" colspan="2"><strong>Other</strong></td>
</tr>
<tr>
<td><a href="http://coloradowm.org/undergraduate_courses.html">University of Colorado Course in Wilderness Medicine </a></td>
<td>Denver, CO</td>
</tr>
<tr>
<td colspan="2"><a href="http://profinterns.disneycareers.com/en/default/">Disney Internships </a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.ecologyproject.org/">Ecology Project International</a></td>
</tr>
<tr>
<td colspan="2"><a href="http://eliabroad.org">ELI Abroad </a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.fbi.gov/about-us/otd/internships">FBI Internships</a></td>
</tr>
<tr>
<td><a href="http://www.odos.uiuc.edu/newstudent/">I-Start Registration Student Leader </a></td>
<td>UIUC</td>
</tr>
<tr>
<td colspan="2"><a href="http://iprescue.org/">International Primate Rescue </a></td>
</tr>
<tr>
<td colspan="2"><a href="http://www.islonline.org//">International Service Learning </a></td>
</tr>
<tr>
<td colspan="2"><a href="http://isvonline.com/">International Student Volunteers </a></td>
</tr>
<tr>
<td colspan="2"><a href="http://orangutan.org//">Orangutan Foundation International </a></td>
</tr>
</tbody>
</table>
</div>
