<!--KA: June 2015-->

<% content_for( :title, 'Support Davis' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
		
	<h2>Robert H.Davis</h2>
	<h4 style="text-align: center;">Undergraduate Research Prize</h4>
	

        <div style="float: right; clear: left; margin: .5em; margin-right: 1.5em;">
                <%= image_tag 'sib/Davis_at_Awards.jpg',  alt: "DavisAtAwards", size: "210x155" %>               
        </div>

	<p><strong>Deadline:</strong> TBD</p>
	<p>&nbsp;The School of Integrative Biology announces competition for the Robert H. Davis Undergraduate Research Prize. Rob Davis had completed all his coursework for a major in Integrative Biology when he died tragically at age 21 in February, 2008 from a bacterial infection. This prize has been funded by a generous gift from Rob's family, and is intended to recognize "a student who exhibits significant academic curiosity, is hardworking and motivated...(with) interests outside of academia, such as the arts, sports, politics or literature and who is generally inquisitive about life." The amount of this prize is $1500.</p>
	<p><strong>Eligibility</strong></p>
	<ul class="ul_list">
		<li>Undergraduate working in an SIB/organismal biology relevant field of study on the UIUC campus, but not necessarily within an SIB faculty member's laboratory or research program.</li><br>
		<li>Applicants must provide evidence for outstanding academic achievement in the biological sciences; however, as suggested above, GPA will not be the sole determinative factor.</li><br>
		<li>Applicant should be one who is currently prevented from engaging in undergraduate research to the extent s/he desires, because s/he must be gainfully employed to pay college expenses. The award is intended to supplement the applicant's finances to allow a semester or summer of research.</li>
	</ul>
	<p><strong>Application Prodedures</strong></p>
	<ul class="ul_list">
		<li>Use the <a href="UG Application Form - Davis Award.docx">application form</a> provided and submit ONLY those items requested in the application description.</li><br>
		<li>Submit application electronically to <a href="mailto:sibawards@life.illinois.edu">sibawards@life.illinois.edu</a></li>
	</ul>
	<p><strong>Announcement of Award</strong></p>
	<p>Announcement of the Robert H. Davis Undergraduate Research Prize recipient will be made no later than April 23, 2015.</p>
<p>&nbsp;</p>
