<!--KA: May 2015-->

<% content_for( :title, 'Undergraduate Financial Support' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>

		<h2>Undergraduate Financial Support</h2>
		<p>The School of Integrative Biology is pleased to offer the following awards to undergraduates majoring in Integrative Biology or Integrative Biology Honors. Most of these awards have been made possible by generous donations by friends of the School.</p>
		<p>Full descriptions and eligibility requirements of all awards are provided below.&nbsp; To apply for one or more award, compile all required material into a single PDF and submit to <a href="mailto:sibundergrad@life.illinois.edu">sibundergrad@life.illinois.edu</a>.</p>
		<p><strong><a href="http://sib.illinois.edu/SIB%20UG%20Awards%202015.docx" target="_blank">Application</a></strong></p>
<p><strong>Deadline</strong> for receipt of applications is <strong>midnight on Monday, March 9, 2015</strong>. Please direct any questions to <a href="mailto:sibundergrad@life.illinois.edu">sibundergrad@life.illinois.edu</a>.</p>

		<h3>1) Mildred Parizek Zukor Award ($450) </h3>
		<p>Description: This award, made possible by the donor and her family, recognizes outstanding achievement in undergraduate research in Animal Biology or Zoology.</p>
		<p><strong>Eligibility</strong></p>
		<ul class="ul_list">
			<li>Current Juniors or Seniors</li>
			<li>At least one completed semester of IB 390 or 490</li>
			<li>Plans to continue as a graduate student on the UIUC campus</li>
			<li>Letter of reference from research advisor</li>
		</ul><hr>
		 <h3>2) Dr. A. Malmed Award ($750) </h3>
		<p>Description:<strong>This award, which will only be available in 2015, was provided by an alumnus providing leadership in the health field.</strong></p>
		<p><strong>Eligibility</strong></p>
		<ul class="ul_list">
			<li>Current Juniors</li>
			<li>Outstanding service and / or leadership</li>
			<li>Vision for future service or leadership</li>
		</ul><hr>

		<h3>3) Kimberly Clark Award ($1,000)</h3>
		<p>Description: This award was provided by a donation from the Kimberly – Clark Corporation for undergraduate scholarship support.</p>
		<p><strong>Eligibility</strong></p>
		<ul class="ul_list">
			<li>Current Sophomores, Juniors</li>
			<li>Minimum 3.0 GPA</li>
			<li>Outstanding service and / or leadership</li>
			<li>Vision for future service or leadership</li>
		</ul><hr>
		<h3>4) Robert H. Davis Memorial Award ($1,500)</h3>
		<p>Description: Rob Davis had completed all his coursework for a major in Integrative Biology when he died tragically at age 21 in February, 2008 from a bacterial infection. This prize has been funded by a generous gift from Rob's family, and is intended to recognize "a student who exhibits significant academic curiosity, is hardworking and motivated...(with) interests outside of academia, such as the arts, sports, politics or literature and who is generally inquisitive about life."</p>

		<strong>Eligibility</strong></p>
		<ul class="ul_list">
			<li>Current Sophomores or Juniors working in an SIB/organismal biology relevant field of study on the UIUC campus, but not necessarily within a SIB faculty member's laboratory or research program.</li><br>
			<li>Applicants must provide evidence for outstanding academic achievement in the biological sciences; however, GPA will not be the sole determinative factor.</li><br>
			<li>Applicant should be one who is currently prevented from engaging in undergraduate research to the extent s/he desires, because s/he must be gainfully employed to pay college expenses. The award is intended to supplement the applicant's finances to allow a semester or summer of research.</li><br>
			<li>Letter of reference from research advisor</li>
		</ul><hr>

		<h3>5) Camp Family Undergraduate Student Research + <em>i</em>Bio Summer internship ($5,000 stipend)</h3>
		<p>Description: Thanks to a generous gift by the Camp Family and funds from the School of Integrative Biology, this award will support a full-time (40 hours / week for 10 weeks) summer research experience in the lab of a School of Integrative Biology faculty member.</p>
		<p><strong>Eligibility</strong></p>
		<ul class="ul_list">
			<li>Current freshmen, sophomores or juniors</li>
			<li>Minimum 3.0 GPA</li>
			<li>Must be willing and able to engage in full time (40 hours/week) mentored research for 10 weeks during summer 2015.</li>
			<li>Graduate of a high school in the State of Illinois. &nbsp; &nbsp; &nbsp;</li>
			<li>Donors wish to support and help first generation college students.</li>
		</ul><hr>

		<h3>6) Spyros Kavouras Memorial Undergraduate Student Research + <em>i</em>Bio summer internship ($5,000 stipend)</h3>
		<p>Description: Thanks to a generous gift by Dr. Jerry Kavouras and funds from the School of Integrative Biology, this award will support a full-time (40 hours / week for 10 weeks) summer research experience in the lab of a School of Integrative Biology Faculty member.</p>
		<p><strong>Eligibility</strong></p>
		<ul class="ul_list">
			<li>Current freshmen, sophomores or juniors</li>
			<li>Minimum 3.0 GPA</li>
			<li>Must be willing and able to engage in full time (40 hours/week) mentored research for 10 weeks during summer 2015.</li>
			<li>Donor wishes to support and help first generation college students.</li>
		</ul><hr>

		<h3>7) <em>i</em>Bio Summer internship ($5,000 stipend)</h3>
		<p>Description: This award will support a full-time (40 hours / week for 10 weeks) summer research experience in the lab of a School of Integrative Biology Faculty member.</p>
		<p><strong>Eligibility</strong></p>
		<ul class="ul_list">
			<li>Current freshmen, sophomores or juniors</li>
			<li>Must be willing and able to engage in full time (40 hours/week) mentored research for 10 weeks during summer 2015.</li>
		</ul>
		<hr>

		<h3>Other Resources:</h3>
		<p><a href="http://studentaid.ed.gov/" target="_blank">US Department of Education </a></p>
		<p><a href="http://osfa.illinois.edu/" target="_blank">University of Illinois Office of Student Financial Aid</a></p>
		<p>Support for study abroad: <a href="http://international.illinois.edu/studyabroad/" target="_blank">Illinois International</a> and
                   <a href="https://www.studyabroad.illinois.edu/" target="_blank">Study Abroad Office</a></p>
		<p>Support for research: <a href="http://provost.illinois.edu/our/opportunities.html" target="_blank">Office of Undergraduate Research</a></p>
