<!--KA: Added styles, added it under /Ugrad/career_development sidebar -->
<% content_for( :title, 'Workshops' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'career_ex' ) %>


<h2>Career Development Workshops</h2>
<h4 style="text-align:center"> Fall 2013 </h4>


<h3><strong><span style="text-decoration: underline;">Health Professions Drop-ins</span></strong><br /> <span><strong>Tuesdays and Fridays, 1:30-3:00pm, Career Center</strong></span></h3>
<p>Discuss the realities and strategies for pursuing careers in medicine, dentistry, pharmacy or other health related careers. Our Health Professions Drop-In Advising service is intended for students interested in Health Professions to ask quick questions (10-15 minutes). Our advisors are knowledgeable about preparation, requirements, resources, and applications to health professional programs. All students pursuing health professions (such as medicine, pharmacy, dentistry, etc) are welcome to schedule an individual health professions advising appointment to discuss their progress, concerns, and questions.</p>


<h3><strong><span style="text-decoration: underline;">Interviewing for the Health Professions</span></strong><br /> <span><strong>Wed., Sept. 11th , Career Center, 6:00 pm</strong></span></h3>
<p>Are you currently in the application process for graduate and professional school? Are you getting ready to schedule your first set of interviews? Come to this workshop to learn about common interview formats, practice interview questions, and learn how to prepare.</p>


<h3><strong><span style="text-decoration: underline;">Successful Interviewing</span> </strong><br /> <strong>Thurs., Sept. 12th , Career Center, 6:00 pm</strong></span></h3>
<p>During an interview, candidates only have a short amount of time to portray their fit for an organization. This 30- 40 minute workshop introduces students to the most common interview styles, how to answer interview questions, and how to follow up afterward.</p>


<h3><strong><span style="text-decoration: underline;">Careers in the Federal Government</span></strong><br /> <span><strong>Wed., Sept. 18th,&nbsp;Career Center, 4:00 pm</strong></span></h3>
<p>This one-hour workshop will give you tips on how to make yourself competitive for federal government opportunities as well as discuss the benefits of working for the government, how to find the right agency fit, and how to best navigate usajobs.gov and other government resources.</p>


<h3><strong><span style="text-decoration: underline;">Winning Resumes and Cover Letters</span></strong><br /> <span><strong>Wed., Sept. 25th,&nbsp;Career Center, 6:00 pm</strong></span></h3>
<p>Having a well-thought-out resume and cover letter is the key to landing an interview! Upon completion of this 30- 40 minute workshop, attendees will be able to draft an effective resume and cover letter that includes all relevant experiential education.</p>


<h3><strong><span style="text-decoration: underline;">Surviving Science</span></strong><br /> <span><strong>Tues., Oct. 1st,&nbsp;135 Burrill Hall, 4:30 pm</strong></span></h3>
<p>Now that you have had a few weeks to experience life as a biology major at Illinois, maybe things aren&rsquo;t what you expected. Did you score poorly on your first exams? Are you struggling to keep up in your classes? Are you realizing you aren&rsquo;t sure how to study? Do you know where and what resources are available to you on campus? Biology advisors are here to help! At the Surviving Science workshop, biology advisors will give you suggestions to help you improve your time management and study skills. Current biology majors will also talk about what works for them and help you make a plan for yourself.</p>


<h3><strong><span style="text-decoration: underline;">Business Career Fair</span></strong><br /> <span><strong>Sept. 18-20, Illini Union, 12:00-5:00 pm</strong></span></h3>
<p>The Business Career Fair is open to all Illinois students and alumni. Attending the fair is an ideal way to&nbsp; network with company representatives and to learn about full-time and internship opportunities. Check <a href="https://i-link-illinois-csm.symplicity.com/">I-Link</a> for more details and to view a list of attending companies.</p>


<h3><strong><span style="text-decoration: underline;">ACES and Sciences Career Fair</span></strong><br /> <span><strong>Thurs., Oct. 3rd , ARC, 1:00-5:30 pm</strong></span></h3>
<p>The ACES and Sciences Career Fair is open to all Illinois students and alumni. It will feature companies, institutes and government agencies who are hiring in the agribusiness and science industries. Check <a href="https://i-link-illinois-csm.symplicity.com/">I-Link</a> for more details and to view a list of attending companies.</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
