<!--KA: MAy 2015: Resources-->

<% content_for( :title, 'Resources' ) %>
<% content_for( :sidebar, 'resources' ) %>


<!--Main content-->
         <div>
		<h2>Resources for Faculty & Staff</h2>
		
		<p>This is the main page through which SIB faculty and staff can reach web resources important to them. Use the orange menu at left to navigate to the information you need.</p>
		<p>For those new to SIB, here is a brief explanation of each link in the orange menu at left:</p>
		
		<h3><a href="people">SIB Directory</a></h3>
		<p>A listing of all faculty, staff, and affiliates of SIB and its departments and programs.</p>
		
		<h3><a href="http://illinois.edu/ows/PH">UI Directory</a></h3>
		<p>A link to the University of Illinois campus electronic phone book.</p>
	
		<h3><a href="https://apps.uillinois.edu/selfservice/">UI Enterprise</a></h3>
		<p>Enterprise Applications is a University-wide web site through which faculty and staff may perform certain functions. Faculty must use the site to enter student grades. First-time users must obtain an EnterpriseID and password before they can use the site.</p>

		<h3><a href="http://www.provost.uiuc.edu/communication/index.html">Provost Communications</a></h3>
		<p>The Office of the Provost provides a series of documents that spell out procedures and guidelines for various programs and processes. These include procedures for appointments and terminations and guidelines for tenure and sabbatical leaves as well as other matters. This link gives the complete list.</p>

		<h3><a href="https://nessie.uihr.uillinois.edu/cf/index.cfm">NESSIE</a></h3>
		<p>NESSIE (Net-driven Employee Self-Service and Information Environment) allows UI employees to view information about their employment status. Download <a href="BusinessForms/Things-to-do-in-NESSIE.pdf">"Things to do in Nessie"</a> for a guide to using Nessie to its fullest.</p>

		<h3><a href="http://www.uihr.uillinois.edu/panda-cf/employment/index.cfm">Benefits</a></h3>
		<p>Documents that outline employee benefits at the University of Illinois can be found on the university's human resources web page by clicking on the Staff (civil service) or Faculty and Academic Professionals links under BENEFITS on this page.</p>

		<h3><a href="http://www.surs.com/homepage.surs">SURS</a></h3>
		<p>The SURS (State Universities Retirement System) web site gives information for UI employees about retirement benefits. The link in the menu at left will take you to the SURS home page. The university's <a href="https://nessie.uihr.uillinois.edu/cf/benefits/index.cfm
">human resources web site</a> also provides information about SURS.</p>

		<h3><a href="http://illinois.edu/resourcesfor/faculty_staff/instructional_resources.html">Faculty Instructional Resources</a></h3>
		<p>There are a number of resources on campus that faculty can use to help them improve their teaching. These can be accessed through the <a href="http://illinois.edu/resourcesfor/faculty_staff/instructional_resources.html">Instructional Resources</a> web site.</p>
 

</div>
</div>


