<% content_for( :title, 'Links' ) %>
<% content_for( :sidebar, 'resources' ) %>

<!--KA: Links-->

    <div>
	<h2>Life Science Links</h2>  	

	<div id="menu">

		<div class="panel list-group">
		  <a href="http://www.life.illinois.edu/facilities/" target="_blank" class="list-group-item" data-toggle="collapse" data-target="#" data-parent="#menu"><strong>Facilities & Operations</strong> <i class="fa fa-external-link pull-right"></i></a>

		  <a href="http://www.life.illinois.edu/" target="_blank" class="list-group-item" data-toggle="collapse" data-target="#" data-parent="#menu"><strong>Life Science Resources</strong> <i class="fa fa-external-link pull-right"></i></a>

 	
		  <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link1" data-parent="#menu"><strong>Email</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link1" class="sublinks collapse">
			  <a class="list-group-item small" href="https://webmail.life.illinois.edu/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Life Science Webmail </a>
			  <a class="list-group-item small" href="http://www.cites.illinois.edu/email/logins.html" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Cites Express Email </a>
			 </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link2" data-parent="#menu"><strong>Library</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link2" class="sublinks collapse">
			  <a class="list-group-item small" href="http://www.library.illinois.edu/bix/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Biology Library </a>
			  <a class="list-group-item small" href="http://www.library.illinois.edu/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; UI Main Library </a>
			 </div>

		<a href="http://www.life.illinois.edu/help/" target="_blank" class="list-group-item" data-toggle="collapse" data-target="#" data-parent="#menu"><strong>Office of Information Technology</strong> <i class="fa fa-external-link pull-right"></i></a>

		</div>
	</div>
</div>

