<!--KA: June 2015-->

<% content_for( :title, 'Research' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
		
<h2>Student Research: Josie Chambers</h2>


<p>Josephine Chambers, an IB Honors undergraduate student did field research in Kibale National Forest, Uganda. Here is her account of the trip:</p>

<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;">
	<%= image_tag 'sib/Josie-at-the-equator.jpg',  alt: "Cassie Wesseln", size: "220x310"%>
</div>

<p>I had a wonderful time in Uganda, and the research project went well. I was working closely with University of Illinois PhD candidate, Krista Milich, who helped orient me to logged and unlogged forest regions of Kibale National Park and the red colobus monkey groups that inhabit them. She has been habituating and collecting data on six different study groups for the past 8 months. I worked with all 14 of her Ugandan field assistants, collecting feeding tree information, behavioral data, and urine samples, to help Krista assess how forest degradation impacts female red colobus feeding ecology and reproductive success. I have attached a group picture including most of the field assistants I worked with, Krista Milich, and myself. I am currently analyzing feeding tree data, as well as home range measurements that I collected with my field assistant, in order to compose a report on some of the impacts of forest degradation on red colobus feeding ecology to then submit to the Uganda Wildlife Authority.</p>
<p>The forest diversity at Kibale is truly incredible, and I feel very fortunate to have had the opportunity to carry out research in such an inspiring environment. The primate diversity is particularly remarkable, and I usually saw many primate species besides red colobus every day, including chimpanzees, black and white colobus, red tails, blue monkeys, mangabeys, baboons, and L' Hoests. I have included two photographs of the red colobus monkeys I studied, one of which showcases their incredible leaping ability! The picture of the chimpanzee is from the day I spent tracking chimpanzees in another region of Kibale forest. I also couldn't resist including a picture of a tree-climbing lion I saw while visiting another National Park in Southwestern Uganda (Queen Elizabeth)- a savanna habitat with elephants, hippos, warthogs, crocodiles, buffalo, and many unique bird species! The breathtaking view of Ugandan hillsides includes one of the 80 crater lakes around Kibale, and several tea fields, which is the predominant agricultural crop in that region.</p>

<div style="float: left; clear: left; margin: .5em; margin-right: 1.5em; border: 2px solid #dddddd;">
	<%= image_tag 'sib/Chimpanzee.jpg',  alt: "Chimpanzee", size: "220x165"%>
</div>

<p>My understanding of Kibale forest ecology improved greatly throughout my stay, and my experiences facing the many challenges that accompany fieldwork taught me a lot about the different kinds of problems to expect in future work. Most importantly, this experience has provided reassurance that I would like to do more fieldwork in the future, and continue pursuing an academic future in primatology. I am considering returning to Kibale to do my PhD research, and greatly appreciate that my familiarity with the field site and research logistics, as well as the many connections I have formed with both local people and well-established professors, will aid greatly in the planning of a future project. As for my future plans, I am hoping to receive scholarships to support a year of work abroad for a conservation organization following graduation. During that year, I will be applying to enter into a PhD program in Biological Anthropology for the following year.</p>

<p>I also feel that I have gained important life experiences this summer that go well beyond the sphere of academia. I became aware of many important conservation-related issues while in Uganda that have sparked my interest to learn more about how various efforts of development and conservation are intersecting with the needs and wellbeing of the people living in different regions of Africa. This trip has made a world of difference both towards the future academic opportunities I will have, and in establishing my perspective on global issues.</p>

<p>&nbsp;</p>

