<!--KA: June 2015-->

<% content_for( :title,   'Research-Wesein' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>

	<h2>Student Research: Cassie Wesseln</h2>

<p>Cassie received the Undergraduate Research Experience and Knowledge Award (UREKA) from University College Dublin and headed to Ireland to work with Triassic-Jurassic pollen from East Greenland.&nbsp; Here is her account of the trip:</p>

<div style="float: left; clear: left; margin: .5em; margin-right: 1.5em; border: 2px solid #dddddd;">
	<%= image_tag 'sib/Davis_Cassie.jpg',  alt: "Cassie Wesseln", size: "210x280" %>
</div>

<p>Since starting work in <a href="http://www.life.illinois.edu/punyasena/">Dr. Punyasena's lab</a>, my curiosity in paleobotany has grown tenfold considering all of the fascinating work being done in this field. Specifically, I have become involved with palynology, the study of pollen. When using the pollen record to determine the abundance and dominance of particular plant species over time in a given area, one must also be able to effectively visualize something as tiny as pollen grains. Thus, while we have been applying palynology to broader issues in paleobotany and tropical ecology, we have also been developing a protocol that leads to better visualization of these grains so that the pollen record can be utilized to deduce solid scientific conclusions.</p>

<p>In addition to modern applications, palynology extends to paleobotany with the study of fossil pollen grains. With fossil pollen records, the abundances of particular grains indicate what species existed in a past environment. Using the floral fossil record to reconstruct the Earth's past is one of the most interesting problems that I have encountered in science. With the generous gift from the Davis scholarship and the support from the SIB Enhancement fund, I have been given the most exciting opportunity to delve further into my interests regarding paleobotany and palynology. My research goal is to create an index for measuring the preservation quality of the Triassic-Jurassic East Greenland fossil pollen record. Such a preservation scale will be applied to the entire East Greenland fossil pollen record in order to evaluate the extent of reworking in the samples (when older fossils mix into younger rock).</p>

<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;">
	<%= image_tag 'sib/TJ_spore.jpg',  alt: "TJ spore", size: "210x140" %>
</div>

<p>With these 200 million year old samples, I am traveling back in time to study one of Earth's least understood mass extinction events at the Triassic-Jurassic boundary. Questions concerning plant responses to the Triassic-Jurassic extinction are actively pursued in paleobotany, and I want to make sure that the fossil pollen records used to answer such questions accurately reflect changes in species abundance.</p>

<p>I have happily discovered that the use of fossils to study ancient plants and their importance in paleoenvironments has emerged as a fixed focal point for my future explorations in scientific research.</p>
<p>&nbsp;</p>

<h3 style="text-align:center" ><a href="news">Past Headlines...</a></h3>
