<!--KA: Alumni Page-->
<% content_for( :title, 'Alumni' ) %>
<% content_for( :sidebar, 'alumni' ) %>

      <h2 style="text-align: center;">Alumni Profile</h2>
       <h4 style="text-align: center;">Muhammed Fazeel</h4>


<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;">
	<img style="width: 300px;" src="/assets/sib/muhammed_fazeel.jpg" alt="Muhammed Fazeel" height="225" width="300">
</div>

<p><strong>Graduated:&nbsp;</strong>May 2012</p>
<p><br> <strong>What you're up to now:</strong> Soon after I graduated, I started a biomedical startup in Chicago. We have set up partnerships with a few clinics and our work is set to help several heart patients across America.</p>
<p><strong>How you feel IB helped prepare you for your career:&nbsp; </strong>My time at U of I has given me the basic skills needed to better understand and address problems.</p>
<p><strong>Why you chose IB:&nbsp; </strong>Integrative Biology took a broader approach at understanding the world from a biology perspective which I found very stimulating.</p>
<p><br> <strong>Favorite IB class and why: </strong>Ecology and Human Health&nbsp;(IB 361). Professor Allan held a fantastic class related to health. I especially liked it since he made a conscious effort of making relevant lectures based on current/recent epidemics.</p>
<p><br> <strong>Favorite extra curricular activities (undergraduate research, clubs, etc) and why: </strong>Being part of the Illinois Launch program at the Academy for Entrepreneurial Leadership.</p>
<p class="clear_float">&nbsp;</p>
 <h3 style="text-align: center;"><a href="/alumni/featured">See Other Featured Alumni</a></h3>
	
<!--
 <h3 style="text-align: center;"><a href="archive.htm">Past Headlines...</a></h3>
  -->  
    <p>&nbsp;</p>    <p>&nbsp;</p>    <p>&nbsp;</p>

