<!--KA: June 2015: Featured Alumni-->

<% content_for( :title, 'Featured Alumni' ) %>
<% content_for( :sidebar, 'alumni' ) %>


		<h2 style="text-align: center;">Featured Alumni</h2>	
		<p>Doing Cool things?&nbsp; <a href="mailto:sib@illinois.edu">Let Us Know!</a>&nbsp; Have advice for our current students?&nbsp; Follow Matt Grobis's example and <a href="http://blog.sib.illinois.edu/author/grobis/">post to our blog</a>!</p>

 <!-- Featured Alumni - Thumbnails begin -->
             
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/sib/colleen_stoyas.jpg" alt="">
                </a>
                <h3>
                    <a href="/headlines/Alumni-Stoyas">Colleen Stoyas</a>
                </h3>
                <p>Colleen gradauted in May 2011. She says, IB focuses on teaching, analytical thinking and problem solving skills. <a href="/headlines/Alumni-Stoyas">Read more...</a></p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/sib/amanda_ilag.jpg" alt="">
                </a>
                <h3>
                    <a href="/headlines/Alumni-Ilag">Amanda Ilag</a>
                </h3>
                <p> IB gave me the reasoning, writing, and analytical skills I need to be successful in as a medical student and eventually as a physician. <a href="/headlines/Alumni-Ilag">Read more...</a></p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/sib/muhammed_fazeel.jpg" alt="">
                </a>
                <h3>
                    <a href="/headlines/Alumni-Fazeel">Muhammed Fazeel</a>
                </h3>
                <p>Integrative Biology took a broader approach at understanding the world from a biology perspective which I found very stimulating. <a href="/headlines/Alumni-Fazeel">Read more...</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/sib/space2.jpg" alt="">
                </a>
                <h3>
                    <a href="/headlines/KamilInSpace">Alumnus Aims High</a>
                </h3>
                <p>One of our undergrads is competing to go into space! He’ll be on campus for Engineering Open House this weekend. Go check him out and show your support! <a href="/headlines/KamilInSpace">Read more...</a></p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/assets/sib/jona_kristo.jpg" alt="">
                </a>
                <h3>
                    <a href="/headlines/Alumni-Kristo">Jona Kristo</a>
                </h3>
                <p>According to Jona IB was the perfect major to understand the broad spectrum of biology. <a href="/headlines/Alumni-Kristo">Read more...</a>
</p>
            </div>     
   	</div>
 



