<!--KA: Alumni Page-->
<% content_for( :title, 'Alumni' ) %>
<% content_for( :sidebar, 'alumni' ) %>

      <h2 style="text-align: center;">Alumni Profile</h2>
       <h4 style="text-align: center;">Amanda Ilag</h4>


<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;">
	<img style="width: 300px;" src="/assets/sib/amanda_ilag.jpg" alt="Amanda Ilag" height="225" width="300">
</div>

<p><strong>Graduated:&nbsp;</strong>May 2013</p>
<p><strong>What you're up to now: </strong>Right now I am a first year medical student at Southern Illinois University in Carbondale and it is a challenging and rewarding experience. Medical school allows you to continue to grow so much more as a person and allows you to put your book knowledge to clinical use. It gives me a chance to continuously learn new things and show compassion towards people I am serving. Best of all it is a crucial step to becoming the best physician I can be.</p>
<p><strong>How you feel IB helped prepare you for your career:&nbsp; </strong>IB gave me the reasoning, writing, and analytical skills I need to be successful in as a medical student and eventually as a physician. Physicians need to be able to take tons of detailed information and compress it in order to make a successful diagnosis. Medicine requires, discipline, action, and responsibility as well as great communication skills both verbally and written. My IB classes definitely helped me gain all these skills through constant practice and by allowing me to learn things by through classroom lectures, discussions, and interactions with faculty and peers.</p>
<p><strong>Why you chose IB:&nbsp; </strong>I chose integrative biology because it was easy to tailor it to fit my needs. They offer so many classes and learning tracts; you feel like you are learning a lot about many biology subjects and constantly making connections between them. I felt that we learned biological concepts in light of real world issues and were able to use what we learned to understand the important connections between the living and non-living organism. I also felt well rounded since I learned not only about detailed molecular processes, but how these processes are related to topics such as conservation, ecology, evolution, human health.<br> <br> <strong>Favorite IB class and why:&nbsp; </strong>Evolution and Human Health-It was interesting to learn that things like pain during pregnancy, fever, stress, diabetes are responses to things that were once adaptive in primitive times. For example, obesity can be linked to the sugar craving gene that kept our ancestors from starving but has now led us to crave sugar even after so much intake from processed food.</p>
<p><br> <strong>Favorite extra curricular activities (undergraduate research, clubs, etc) and why: </strong>I was super involved in Alpha Epsilon Delta both as an officer and general member. It was fun to be able to talk with other pre-meds and learn how all health professional students are similar in some way. I loved being exposed to medicine as a career, through volunteer work, shadowing, guest lecturers, past students.</p>
<p>I also enjoyed researching speciation of killifish in the Becky Fuller Lab. My supervisors in lab were very nice, informative, and thorough when it came to teaching me lab techniques and the principles of scientific research. This lab was a good balance between actual hands on work and reflection/data analysis.</p>
<p class="clear_float">&nbsp;</p>

 <h3 style="text-align: center;"><a href="/alumni/featured">See Other Featured Alumni</a></h3>

