<!--KA: Alumni Page-->
<% content_for( :title, 'Alumni' ) %>
<% content_for( :sidebar, 'alumni' ) %>

      <h2 style="text-align: center;">Alumni Aims High</h2>
       <h4 style="text-align: center;">Kamil in Space</h4>



<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;"><img src="/assets/sib/space1.jpg" alt="Kamil in Spacesuit" style="width: 250px;"></div>

<p>One of our undergrads is competing to go into space!  He’ll be on campus for Engineering Open House this weekend.  Go check him out and show your support!</p>

<p>&nbsp;</p>

<em>Hi everybody,</em>

<p>&nbsp;</p>

<p><em>So AXE, the deodorant company and not the chemistry fraternity, teamed up with Space Expedition Corporation, a private aerospace company developing a miniature space shuttle, to send a few people from around the world to outer space.  The United States gets two seats.  One of them was assigned with a sweepstakes during the Superbowl.  The other one will be determined at a later date.  The competition I'm in would allow me to get a chance to get that other seat.  I am basically in a popularity contest:  the top two spots with the most amount of votes move on to attend Space Camp.  The two winners will join eight others chosen from other sweepstakes to go to Space Camp.  The last seat for space travel will be chosen from people attending.  Space Camp itself should be fairly exciting:  it covers a ride in a fighter jet, a microgravity flight, and simulator space flight.  I am currently in 24th place in that popularity contest.  I've been dressing up as an astronaut everyday at George Mason University (just doing everyday things like doing hw, eating, going to class, etc...) and I'll do the same at U of I when I visit March 8-10.  That's during my spring break so I'll also have time to hand out flyers/pamphlets. The school newspaper there is going to run a story on me fairly soon.</em></p>

<p>&nbsp;</p>

<div style="float: left; clear: left; margin: .5em; margin-right: 1.5em; border: 2px solid #dddddd;"><img src="/assets/sib/space2.jpg" alt="Kamil in Spacesuit with friend" style="width: 220px;"></div>

<p><em>For my graduate studies, I am pursing a Master's degree in chemistry.  My advisor is Paul Cooper and he specializes in the chemistry of planetary ices.  The research I am conducting involves elucidating the mechanism behind methanol formation in irradiated ice.  Water ice is the most dominant ice in the solar system and that ice is constantly bombarded by high-speed electrons, protons, and ions.  This can lead to the creation of new and more complex chemical species if the ice contains other primordial chemical species like methane or carbon dioxide.  My experiments involve shooting high speed electrons at water ice laced with methane.  We identify various products using IR spectroscopy and mass spectroscopy.  The exact mechanism or mechanisms of formation will be identified by using deuterium that will replace the hydrogen atoms in either the methane or water so that we can trace the movement of the hydrogen atoms.</em></p>

<p>&nbsp;</p>

<em>-Kamil</em>
