<!--KA: Alumni Page-->
<% content_for( :title, 'Alumni' ) %>
<% content_for( :sidebar, 'alumni' ) %>

      <h2 style="text-align: center;">Alumni Profile</h2>
       <h4 style="text-align: center;">Jona Kristo</h4>

<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;">
	<img style="width: 300px;" src="/assets/sib/jona_kristo.jpg" alt="Jona Kristo" width="300">
</div>


<p><strong>Graduated:&nbsp;</strong>May 2012</p>
<p><strong>What you're up to now:</strong> <span class="text">Currently, I am working as a Sales Consultant for a biotech company, specializing in life science research solutions for labs of all sizes</span>. I love the ability to utilize my major and past experience in the lab to help my customers find the best solutions to advance their research.&nbsp; After seeing how dedicated they are to advancing science and medicine, it truly makes me feel like I am making a difference in the world of science.</p>
<p><strong>How you feel IB helped prepare you for your career:&nbsp; <br></strong>IB was the perfect major to understand the broad spectrum of biology. When I speak with my customers, I feel thankful that I had the chance to study a major that is completely applicable to all areas of research.</p>
<p><br> <strong>Why you chose IB: </strong>I knew I wanted to study Biology from all perspectives of life and IB<br>allowed me to visit each of these perspectives. It truly painted the entire picture of what<br>Biology is and how it affects our daily lives.<br> <br> <strong>Favorite IB class and why:&nbsp;</strong>IB 360 because I really enjoyed the applications of the concepts<br>we learned in our core classes. I always knew I had a passion for medicine and the world of<br>research, and this class really put those concepts into an everyday perspective. Overall, it made me appreciate the wonders of biology and science.</p>
<p><br> <strong>Favorite extra curricular activities (undergraduate research, clubs, etc) and why:&nbsp;</strong>I had the opportunity to work in Dr. Gaskins’ lab in the Department of Animal Sciences. After several years with the amazing staff, I learned the many processes of the research lab that I utilize in my career to this day.</p>
<p>&nbsp;</p>

 <h3 style="text-align: center;"><a href="/alumni/featured">See Other Featured Alumni</a></h3>
	
<!--
 <h3 style="text-align: center;"><a href="archive.htm">Past Headlines...</a></h3>
  -->  
    <p>&nbsp;</p>


