<!--KA: Alumni Page-->
<% content_for( :title, 'Alumni' ) %>
<% content_for( :sidebar, 'alumni' ) %>

      <h2 style="text-align: center;">Alumni Profile</h2>
       <h4 style="text-align: center;">Colleen Stoyas</h4>



<div style="float: right; clear: right; margin: .5em; margin-left: 1.5em; border: 2px solid #dddddd;"><img src="/assets/sib/Stoyas4.jpg" alt="Colleen Stoyas on the Beach" style="width: 300px;"></div>

<p><strong>Graduated:&nbsp;</strong>May 2011 <br>
  <br>
  <strong>Favorite IB class and why:&nbsp;</strong>I loved my Ecology and Evolution class  and the field work it entailed, my Organismal Biology class because of its  labs, Coral Reef Ecology and its mandatory lab in Belize, Genes and Behavior,  and so many others. I think the class I find myself continually applying to my  every day "life" choices is Ecology and Human Health, taught by Dr.  Brian Allan. This course investigates human health issues from an ecological  perspective and regularly influences my perception of infectious disease  outbreaks,&nbsp;grocery purchases,&nbsp;choice of where within a city or area  to live (did you know lyme disease most commonly occurs in communities of  moderate population size and not in rural areas?), and more.&nbsp;<br>
  <br>
  <strong>Favorite extra curricular activities (undergraduate research, clubs, etc)  and why:</strong>&nbsp;My favorite activity was definitely my undergraduate research  on yeast genetics in the Freeman Lab (dept of MCB), and I submitted a  distinction project prior to graduation. Outside of the lab I was in a co-ed  Honor Fraternity, Phi Sigma Pi, that allowed me to make a great group of  friends outside of my science courses and participate in service projects in  the Champaign-Urbana community.&nbsp;<br>
  <br>
  <strong>Why you chose IB:</strong>&nbsp;I chose IB over other Life Sciences majors  because of the emphasis on analytical thinking and problem solving. In IB  courses you are required to memorize less facts and instead given a set of  information and asked to apply the principles you learned to answer questions  on that information. This type of learning is extremely engaging and affected  not only my studies, but how I approach any information given to me in  life.&nbsp;I entered Illinois generally interested in science and was told  growing up that I would make a good physician.&nbsp;While taking IB150, I  realized that&nbsp;my interest in medicine had been in the discovery portion  all along, and not in actually treating patients.<br>
  <br>

</p><div style="float: left; clear: left; margin: .5em; margin-right: 1.5em; border: 2px solid #dddddd;"><img src="/assets/sib/Stoyas2.jpg" alt="Colleen Stoyas with turtle" style="width: 280px;"></div>  
  
<p>  <strong>How you feel IB helped prepare you for your career:</strong>&nbsp;As I mentioned  above, IB focuses on teaching&nbsp;analytical thinking and problem solving  skills. I once had a project where I was asked to pick a plant on campus, and I  had to email my professor a paragraph on that plant every week. Sometimes it  seems hard to find a difference in a dormant magnolia tree from week-to-week in  January and February, but "no change" was unacceptable. By the end of  that semester I was at that tree every single day noticing so many differing  events in its immobile life. IB taught me to be observant, patient, and responsive  to my environment in addition to the value the knowledge the coursework  provided me. These skills have been invaluable in my current career as a PhD  student in Biomedical Sciences.&nbsp;<br>
  <br>
  <strong>What you're up to now and what you like about it:</strong>&nbsp;I am currently  starting my third year as a&nbsp;PhD student in the Biomedical Sciences program  at the University of California, San Diego. I am a member of the La Spada  Laboratory, a large and diverse environment that studies the genetics of  inherited neurodegenerative diseases such as Huntington's disease. My favorite  part of my schooling/job is engaging with leaders in the neurodegeneration  field and working at the cutting-edge of scientific discovery.&nbsp;</p>
  <p>&nbsp;</p>
    

 <h3 style="text-align: center;"><a href="/alumni/featured">See Other Featured Alumni</a></h3>
	
<!--
 <h3 style="text-align: center;"><a href="archive.htm">Past Headlines...</a></h3>
  -->  
    <p>&nbsp;</p>
	
