<!--KA: Added bgcolor to sidebar header-->

<div class="panel-group" id="accordion">
  <div class="panel panel-default" >

    <ul id="sidebar1" class="sidebar_menu">

      <li class="panel-title sidebar_header">
        <%= link_to "Alumni", '/', class: 'header' %>
      </li>

      <li class="panel-title">
       	<a class="collapsed" target="_self" id="giving_ex" href="/alumni/donations">Giving to SIB</a>
     	   <ul>
		<li><a href="/alumni/donations/funds">See Funds</a></li>
               	<li><a href="/alumni/donations/impact">Make an Impact</a></li>
               	<li><a href="/alumni/donations/major">Major Donations</a></li>                	     
           </ul>
      </li>
      <li class="panel-title">
        <a class="collapsed" target="_self" href="/alumni/featured">Featured Alumni</a>
      </li>

      <li class="panel-title">
        <a class="collapsed" target="_self" href="#">News & Features</a>
      </li>
      <li class="panel-title">
        <a class="expanded" target="_blank" href="http://www.uiaa.org/illinois/">UI Alumni Association &nbsp;&nbsp; <i class="fa fa-external-link"></i></a>
      </li>
      <li class="panel-title">
        <a class="collapsed" target="_blank" href="http://www.las.illinois.edu/alumni/">LAS Alumni &nbsp;&nbsp; <i class="fa fa-external-link"></i></a>
      </li>
     
    </ul>

  </div>
</div>


