<!--KA: June 2015-->

<% content_for( :title,   'Typical 4 Year Premed' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'programs_ex' ) %>

	<h2>Typical Four Year PreMed Program</h2>

<h6><em>Suggested courses for pre-med student highlighted in blue</em></h6>
<div class="course_table" style="font-size: 90%;">
<table style="margin-left: auto; margin-right: auto;" cellspacing="0px">
<tbody>
<tr>
<td>
<p><strong><span style="text-decoration: underline;">Semester 1</span></strong><br> IB150 <strong><em>or</em></strong> MCB 150 (4 hrs.)<br> CHEM 102/103 (4 hrs.) <strong><em>or</em></strong> 202/203 (5hrs.)<br> MATH 115 (3 hrs.) <strong><em>or</em></strong> 220 (5 hrs.) <br> <strong><em>or</em></strong> 221 (4 hrs.) <strong><em>or</em></strong> RHET 105 (4 hrs.)<br> Gen Ed. <strong><em>or</em></strong> elective (1-3 hrs.)</p>
<strong>Total 13-16 hrs.</strong></td>
<td>
<p><strong><span style="text-decoration: underline;">Semester 2</span></strong><br> IB150 <strong><em>or</em></strong> MCB 150 (4 hrs.)<br> CHEM 104/105 (4 hrs.) <strong><em>or</em></strong> 204/205 (5 hrs.)<br> MATH 220 (5 hrs.) <strong><em>or</em></strong> 221 (4 hrs.) <br> <strong><em>or</em></strong> STAT 100 (3 hrs.) <strong><em>or</em></strong> RHET 105 (4 hrs.)<br>&nbsp; Gen. Ed. <strong><em>or</em></strong> NPL<sup>1</sup> (1-4 hrs.)<br> <strong>Total 14-16 hrs.</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong><span style="text-decoration: underline;">Semester 3</span></strong><br> IB 203 – Ecology <span style="font-size: 80%;">- advanced composition</span> (4 hrs.) <br> IB 204 – Genetics (4 hrs.)<br> CHEM 232 (4 hrs.)<br> STAT 100 (3 hrs.)<strong><em>,</em></strong> Gen Ed.<sup>3</sup> (3-4 hrs.)<br>&nbsp;&nbsp; <strong><em>or</em></strong> NPL (3-5 hrs.)<br> <strong>Total 13-17 hrs.</strong></p>
</td>
<td>
<p><strong><span style="text-decoration: underline;">Semester 4</span></strong><br> IB 202 – Anatomy and Physiology (4 hrs.)<br> IB 302 – Evolution (4 hrs.)</p>
<p>Chem 233 (2 hrs.)<br> STAT 100 (3 hrs.)<strong><em>,</em></strong> Gen Ed. (3-4 hrs.)<br>&nbsp;&nbsp; <strong><em>or</em></strong> NPL (3-5 hrs.)<br> <strong>Total 13-16 hrs.</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong><span style="text-decoration: underline;">Semester 5</span></strong><br> PHYS 101 (5 hrs.)</p>
<p>Adv IB course (3-4 hrs.) <span style="color: #0000ff;">e.g. IB 360</span><br> <span style="color: #0000ff;">MCB 450 (3 hrs.)</span><br>&nbsp; Gen Ed., NPL <strong><em>or</em></strong> elective (3-4 hrs.)<br> <strong>Total 13-16 hrs.</strong></p>
</td>
<td>
<p><strong><span style="text-decoration: underline;">Semester 6</span></strong><br> PHYS 102 (5 hrs.)</p>
<p>Adv IB course (3-4 hrs.) <span style="color: #0000ff;">e.g. IB 361</span><br> Gen Ed. <strong><em>or</em></strong> NPL (3-5 hrs.)<br>&nbsp; Gen Ed. <strong><em>or</em></strong> elective (1-3 hrs.)<br> <strong>Total 14-16 hrs.</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong><span style="text-decoration: underline;">Semester 7</span></strong></p>
<p>Adv. IB course<sup>2</sup> <span style="color: #0000ff;">e.g. IB 329</span> (3 hrs.)</p>
<p>Adv IB course (3-4 hrs.) <span style="color: #0000ff;">e.g. IB 426</span><br> Gen Ed. <strong><em>or</em></strong> elective (3 hrs.) <br> Gen Ed. <strong><em>or</em></strong> elective (3 hrs.) <br> <strong>Total 13-16 hrs.</strong></p>
</td>
<td>
<p><strong><span style="text-decoration: underline;">Semester 8</span></strong></p>
<p>Adv IB course (3-5 hrs.) <span style="color: #0000ff;">e.g. IB 433</span> <br> Adv IB course(3-4 hrs.) <span style="color: #0000ff;">e.g. IB 485</span></p>
<p>&nbsp; Gen. Ed. <strong><em>or</em></strong> elective (3 hrs.)<br>&nbsp; Gen. Ed. <strong><em>or</em></strong> elective (3 hrs.)</p>
<strong>Total 14-17 hrs.</strong></td>
</tr>
</tbody>
</table>
</div>
<p><sup>1</sup>NPL = Non Primary Language <br> <sup>2</sup>Selected from Lists of <a href="http://sib.illinois.edu/courses/area_courses">Approved Area Courses</a> and <a href="http://sib.illinois.edu/courses/add_courses">Additional Approved IB Courses</a></p>
<p><sup>3</sup>At least one course each in psychology and sociology should be taken. Three social/behavioral science courses (2 in the same area) are recommended.</p>
<p>NOTE: Medical schools require grades of C or better in all prerequisite coursework. AP and proficiency credits are not always accepted by medical schools to fulfill prerequisite requirements.</p>
<h3>Please note, this is only a guide, many factors affect the sequencing of courses, including, but not limited to:</h3>
<ul class="ul_list">
<li>Beginning with CHEM 101 or Math 115</li>
<li>Starting IB late</li>
</ul>

