<!--KA: June 2015-->

<% content_for( :title,   'Undergraduate Programs-Career' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'career_ex' ) %>

<h2 style="text-align:center" > Career Development </h2>
<h4 style="text-align:center" >Prepare for life after college with these great resources</h4>
<p>Check out the many classroom, campus, and off campus experiential learning possibilities and career planning resources listed here.</p>


	<div id="menu" >
		<div class="panel list-group" > 	
		  <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link1" data-parent="#menu"><strong>Career Planning/Exploration</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link1" class="sublinks collapse" >
			   <ul class="ul_list"><br>
				<li><a href="http://www.careercenter.uiuc.edu/">The Career Center</a> - 715 S. Wright St. 217-333-0820</li>
				<li><a href="http://explorehealthcareers.org/en/home">Explore Health Careers</a> - information on wide variety of health careers</li>
				<li><a href="https://www.candidcareer.com/channel_detail.php?chid=16&amp;p=industry">Candid Career Healthcare Channel</a> - videos from current health professionals</li>
				<li><a href="http://www.grad.illinois.edu/careerservices">Graduate College Career Services</a> - 204 Coble Hall 217-333-0035</li>
				<li><a href="http://www.uiaa.org/careers/careermgmt.html">UI Alumni Virtual Career Center</a> - 200 S. Wacker Dr., Chicago</li>
				<li><a href="http://www.careercenter.illinois.edu/about/services/ilink">I-Link</a>- Campus Online Job Search</li>
				<li><a href="http://www.bls.gov/">Bureau of Labor Statistics</a></li>
				<li><a href="http://www.bls.gov/ooh/">Occupational Outlook Handbook</a></li>
				<li><a href="http://www.myplan.com/majors/index.php">My Plan </a>- Career Exploration Tools</li><br>
			   </ul>
			 </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link2" data-parent="#menu"><strong>Enrichment Opportunities Outside the Classroom</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link2" class="sublinks collapse">
			<ul class="ul_list"><br>
				<li><a href="/summer_jobs">Summer jobs/internships list for IB majors</a> - This is a list of activities that IB majors have found for themselves in previous years.</li>
				<li><a href="/localopportunities">Local Opportunities for IB Majors</a> - This is a list of opportunities in the local community for volunteering, job shadowing, or internships.</li><br>
</ul>
   		      </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link3" data-parent="#menu"><strong>Job Boards</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link3" class="sublinks collapse" class="div_height">
			  <ul class="ul_list"><br>
				<li><a href="http://www.simplyhired.com/">Simply Hired</a> - comprehensive job search engine</li>
				<li><a href="http://www.indeed.com/">Indeed</a> - comprehensive job search engine</li>
				<li><a href="http://www.idealist.org/">Idealist.org</a> - jobs in the non-profit sector</li>
				<li><a href="http://www.illinoisjobnetwork.com/">Illinois Job Network</a> - jobs in Illinois communities</li>
				<li><a href="http://www.thejobseeker.net">The Job Seeker</a> Internships and full-time positions in conservation, ecology, biodiversity, and education. Use of this web site is free. If you would also like to receive the newsletter with additional jobs, check the IB Spotlight for the password.</li>
				<li><a href="http://www.conservation-careers.com/">Conservation Careers</a></li>
				<li><a href="http://www.conbio.org/professional-development/scb-job-board">Society for Conservation Biology Board</a></li>
				<li><a href="http://www.swarthmore.edu/x8853.xml">Texas A&amp;M Job Board -</a> Biology jobs and internships</li>
				<li><a href="http://www.oceancareers.com/2.0/index.php">Marine Biology Job Board</a></li>
				<li><a href="https://www.usajobs.gov/">US Government Jobs</a></li>
				<li><a href="https://www.usajobs.gov/StudentsAndGrads">US Government Internships</a></li>
				<li><a href="http://www.makingthedifference.org">Federal Internship Database</a></li>
				<li><a href="http://www.internships.com">Internships.com</a></li>
				<li><a href="http://www.princetonreview.com/cte/search/internshipAdvSearch.asp">Princeton Review Internships</a></li>
				<li><a href="http://www.swarthmore.edu/x8853.xml">Swarthmore Health-related Summer Opportunities</a></li>
				<li><a href="http://explorehealthcareers.org/en/careers/programs">Explore Health Careers Enrichment Opportunities</a></li>
				<li><a href="http://www.aerotek.com/">Aerotek</a> -Recruiting and Staffing</li><br>
			</ul>
   		      </div>


		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link4" data-parent="#menu"><strong>On-Campus Resources</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link4" class="sublinks collapse">
			  <ul class="ul_list"><br>
				<li><a href="http://catalog.illinois.edu/">Add a minor</a></li>
				<li><a href="http://union.illinois.edu/get-involved/office-of-registered-organizations">Registered Student Organizations </a></li>
				<li><a href="https://secure.admin.illinois.edu/osfa/vjb/">UIUC Virtual Job Board </a></li>
				<li><a href="http://www.las.illinois.edu/students/las101/interns/">LAS 101 Intern</a></li>
				<li><a href="https://www.careercenter.illinois.edu/students/jobs/uintern">UIntern</a></li>
				<li><a href="http://union.illinois.edu/get-involved/office-of-volunteer-programs/resources">Office of Volunteer Programs</a></li><br>
			  </ul>
   		      </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link5" data-parent="#menu"><strong>Academic Opportunities in the Classroom or Laboratory</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
		<div id="link5" class="sublinks collapse" class="div_height">
		 <ul class="ul_list"><br>
			<li><a href="/undergraduate/research/">Independent Research Projects for IB Students</a> (IB 390 and 490)</li>
			<li><a href="/undergraduate/distinction">Graduation with Distinction in the Integrative Biology Major</a></li>
			<li><a href="/undergraduate/programs/honors">Honors Option in the Integrative Biology Major </a></li><br>
		</ul>
	      </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link6" data-parent="#menu"><strong>Study Abroad Resources</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
		<div id="link6" class="sublinks collapse">
		 <ul class="ul_list"><br>
			<li><a href="https://www.studyabroad.illinois.edu/">Campus Study Abroad Office</a></li>
			<li><a href="http://www.ots.ac.cr/">Organization for Tropical Studies (OTS)</a></li>
			<li><a href="http://www.fieldstudies.org/">School for Field Studies (SFS)</a></li>
			<li><a href="https://app.studyabroad.illinois.edu/index.cfm?FuseAction=Programs.SearchResults&amp;Program_Name=gaias&amp;Program_Type_ID=O&amp;pi=%7F&amp;pc=%7F&amp;pr=%7F&amp;pt=%7F&amp;Partner_ID=ANY&amp;p_10010=%7F&amp;p_10010_t=MULTI&amp;p_10000=%7F&amp;p_10000_t=MULTI&amp;p_10005=%7F&amp;p_10005_t=MULTI&amp;p_10002=%7F&amp;p_10002_t=MULTI&amp;p_10001=%7F&amp;p_10001_t=MULTI&amp;p_10011=%7F&amp;p_10011_t=MULTI&amp;p_10007=%7F&amp;p_10007_t=MULTI&amp;p_10013=%7F&amp;p_10013_t=MULTI&amp;Sort=Program_Name&amp;Order=asc&amp;pp=10010%2C10000%2C10005%2C10002%2C10001%2C10011%2C10007%2C10013">Galapagos Academic Institute for Arts and Sciences (GAIAS)</a></li>
			<li><a href="https://app.studyabroad.illinois.edu/index.cfm?FuseAction=programs.ViewProgram&amp;Program_ID=10670">ANSC 398: ACES African Wildlife Discovery Tour to South Africa</a></li>
			<li><a href="http://www.anthro.illinois.edu/courses/internships/">ANTH 399: Primate Behavior and Ecosystem Sustainability in Costa Rica</a></li>
			<li><a href="https://courses.illinois.edu/schedule/2015/spring/ESE/389">ESE 497: Field Expedition to Costa Rica</a></li>
			<li><a href="https://app.studyabroad.illinois.edu/index.cfm?FuseAction=Programs.ViewProgram&amp;Program_ID=10859">ESE 386: Environment and Society in a Changing Arctic</a></li><br>
		</ul>
	      </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link7" data-parent="#menu"><strong>National Organizations</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 		<div id="link7" class="sublinks collapse">
		 <ul class="ul_list"><br>
			<li><a href="http://www.nsf.gov/crssprgm/reu/">National Science Foundation Research Experiences for Undergraduates </a></li>
			<li><a href="http://www.americorps.gov">Americorps</a></li>
			<li><a href="http://www.peacecorps.gov/">Peace Corps</a></li>
			<li><a href="http://www.thesca.org/">Student Conservation Association (SCA)</a></li>
			<li><a href="http://www.teachforamerica.org/">Teach for America</a></li><br>
		</ul>
	      </div>
	</div>
</div>	

    <p>&nbsp;</p>  <p>&nbsp;</p>  <p>&nbsp;</p>



