<!--KA: June 2015-->

<% content_for( :title,   'Distinction' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'advising_ex' ) %>

<h2>Graduation with Distinction</h2> 
<h4 style="text-align:center">Requirements, Procedures and Deadlines for Integrative Biology Majors</h4>
<h4 style="text-align:center">2014-2015 Academic Year</h4>


<p>Many undergraduate students in the Integrative Biology major carry out undergraduate research. To provide recognition of senior students in the Integrative Biology major who have demonstrated excellence in research, the Integrative Biology Distinction Committee awards graduation honors of "Distinction in Integrative Biology" in three categories, based on quality of research:&nbsp; <em>Distinction</em>, <em>High Distinction</em>, and <em>Highest Distinction</em>. The final UIUC transcript and diploma will note if a student earned distinction and at what level.</p>

<p>Use <a href="/distinctionapplication2014_2015.docx" target="_blank">this link</a> to obtain an application for graduating with Distinction in IB (.doc reader).</p>

<h3>How to Get Involved in Undergraduate Research for Distinction in Biology</h3>

<p>Since good research requires intensive effort, you should plan to get started as soon as you can. Past experience indicates that one-semester projects rarely succeed in producing substantial results. Two-semester projects may succeed, but three-to-four semester projects are more likely to be successful. First decide what your area of interest is, then talk to potential faculty advisors in that area to arrange a research project.&nbsp; Individual departments have more detailed information about faculty research interests. Suggestions for how to get involved in research is available on the <em>For Undergraduate Students</em> website under <a href="/research/undergraduate">Undergraduate Research</a>. When you have found an advisor and the two of you have agreed on a project, the professor will direct you to the appropriate office to enroll under an independent study rubric (<strong>IB 390</strong> or <strong>IB 490</strong> - the latter course is letter graded). You must be signed up for <strong>IB 490</strong> prior to or during the semester during which you write your research paper.</p>

<h3>Specific Requirements for all submission dates (<a style="background-color: #dbe5f1;" href="/undergraduate/distinction#december">December</a>, <a style="background-color: #eaf1dd;" href="/undergraduate/distinction#may">May</a>, <a style="background-color: #fde9d9;" href="/undergraduate/distinction#august">August</a>)</h3>

<p>To be considered for Distinction in Integrative Biology, you must be enrolled as an Integrative Biology Major and meet the following requirements:</p>
<ul class="ul_list">
	<li>Must be or have been enrolled in IB 490 (not IB 390). If you wish to pursue a research project in the laboratory of a professor at UIUC who is not affiliated with an IB department, you must obtain approval from Dr. Carol Augspurger, Associate Director for Academic Affairs, School of Integrative Biology, 286 Morrill Hall, <strong>before you start your project</strong>.</li><br>
	<li>You must have a cumulative GPA of at least 3.25 at the start of the semester you intend to graduate.</li><br>
	<li>Must be on the graduation list for that semester</li>
</ul>

<div align="center"><a class="anchorFix" name="december"></a>
<table style="border: 1px solid #000000; margin: .5em; background-color: #dbe5f1;" cellpadding="3" cellspacing="3" width="600">
<tbody>
<tr>
<td colspan="2"><strong>December 2014 additional requirements and deadlines</strong></td>
</tr>
<tr>
<td width="240">
<p>11:00 AM, Thursday, Oct. 30, 2014</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td>Submit final paper (as a PDF file to <a href="mailto:slsears@illinois.edu">slsears@illinois.edu </a> <strong><span style="text-decoration: underline;">and</span></strong> one hard copy to Staci Sears, 286 Morrill Hall)</td>
</tr>
<tr>
<td>
<p>11:00 AM, Thursday, Oct. 30, 2014</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td>Advisor submits Evaluation Form&nbsp;of your research to Chair, Integrative Biology Distinction Committee (as a PDF file or Word document to <a href="mailto:slsears@illinois.edu">slsears@illinos.edu</a>)</td>
</tr>
</tbody>
</table>
<a class="anchorFix" name="may"></a>
<table style="border: 1px solid #000000; margin: .5em; background-color: #eaf1dd;" cellpadding="3" cellspacing="3" width="600">
<tbody>
<tr>
<td colspan="2"><strong>May 2015 additional requirements and deadlines</strong></td>
</tr>
<tr>
<td width="245">
<p>11:00 AM, Friday, Feb. 20, 2015</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td>Submit the <a href="/distinctionapplication2014_2015.docx"  target="_blank">application form</a>, along with a page that provides the tentative title of the research paper and a one paragraph summary to Staci Sears, 286 Morrill Hall. This information is needed by the Distinction Committee to determine the number and disciplinary distribution of papers to be reviewed.</td>
</tr>
<tr>
<td>
<p>Friday, March 13, 2015</p>
<p>&nbsp;</p>
</td>
<td>Submit the first draft of your distinction paper to your faculty research advisor.</td>
</tr>
<tr>
<td>
<p>11:00 AM, Monday, Mar. 30, 2015</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td>Submit final paper (as a PDF file to <a href="mailto:slsears@illinois.edu">slsears@illinois.edu </a> <strong><span style="text-decoration: underline;">and</span></strong> one hard copy to Staci Sears, 286 Morrill Hall)</td>
</tr>
<tr>
<td>
<p>11:00 AM, Monday, Mar 30, 2015</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td>Advisor submits Evaluation Form&nbsp;of your research to Chair, Integrative Biology Distinction Committee (as a PDF file or Word document to <a href="mailto:slsears@illinois.edu">slsears@illinois.edu</a>)</td>
</tr>
<tr>
<td>Afternoon of Friday, April 3, 2015</td>
<td>Give a 15 minute power-point presentation of your research at the SIB Undergraduate Research Symposium</td>
</tr>
</tbody>
</table>
<a class="anchorFix" name="august"></a>
<table style="border: 1px solid #000000; margin: .5em; background-color: #fde9d9;" cellpadding="3" cellspacing="3" width="600">
<tbody>
<tr>
<td colspan="2"><strong>August 2015 additional requirements and deadlines</strong></td>
</tr>
<tr>
<td width="255">
<p>11:00 AM, Friday, June 5, 2015</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td>Submit final paper (as a PDF file to <a href="mailto:slsears@illinois.edu">slsears@illinois.edu </a> <strong><span style="text-decoration: underline;">and</span></strong> one hard copy to Staci Sears, 286 Morrill Hall)</td>
</tr>
<tr>
<td>
<p>11:00 AM, Friday, June 5, 2015</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td>Advisor submits Evaluation Form&nbsp;of your research to Chair, Integrative Biology Distinction Committee (as a PDF file or Word document to <a href="mailto:slsears@illinois.edu">slsears@illinois.edu</a>)</td>
</tr>
</tbody>
</table>
</div>

<h3>The Research Project</h3>
<p>The research project must consist of original research, which should attempt to answer a specific scientific question. Simply learning to master a technique is not sufficient. Because research often involves unanticipated technical problems, you should be prepared to accept delay and frustration when things do not go smoothly. Your best approach to your project is to have a clear understanding of the questions you are asking and why you are asking those particular questions. This understanding is aided by a familiarity with the literature in your area before you start work.</p>
<h3>The Research Paper</h3>
<p>The research paper should be a <em>formal</em> report of your results, and therefore should follow accepted professional standards for such reports. To assist you in preparing your paper, you are strongly encouraged to purchase a guidebook on how to write about biology. A suggested title is:</p>
<p>Jan A. Pechenik. 2007. <em>A Short Guide to Writing About Biology</em> (Sixth Edition). Pearson Longman, New York. Used copies cost about $28 on Amazon.com. The book is about $36 new.</p>
<p>Also use the Guidelines for Writing A Scientific Paper in the SIB website under Undergraduate Students.</p>
<p>Model your paper after papers published in the major research journals in your field. Ordinarily, such papers contain an abstract, introduction, materials and methods, results, discussion, and references sections. Be sure to label and caption Tables and Figures. You must fully credit any data, analyses, illustrations, etc., that are produced/obtained by, or through collaboration with, other individuals. This credit must include the names of those with whom you collaborated and an explanation of the nature of their assistance and/or collaboration. Failure to give proper credit may disqualify you from consideration for graduation with distinction.</p>
<p>You should recognize that communication of your results is the final step in scientific research. Therefore, your paper should be as clear as you can make it. Do not get bogged down in detail. (Twenty double-spaced typewritten pages, including tables and figures, is the maximum acceptable length. About 10-15 pages double-spaced should do in most cases.) A well-written, concise paper should be understandable to researchers in allied fields as well as to specialists in your own field. Complex figures, color illustrations or other materials that do not Xerox well must be reproduced clearly in each copy. Copies of papers submitted by students who recently received distinction awards may be examined in 286 Morrill Hall.</p>
<h3>Evaluation Procedures</h3>
<p>Your presentation at the SIB Undergraduate Symposium will be attended by the SIB Distinction Committee, which consists of SIB Faculty members. They will be evaluating the extent to which you understand the context of your project and interpretation of your results. Then your research paper will be read and evaluated by members of the IB Distinction Committee. Committee members may ask other faculty for additional evaluation of papers that fall outside their range of expertise. Remember that committee members will consider clarity of expression as they read your paper. In addition, the committee members will also take into account the Evaluation Form&nbsp;submitted by your faculty research advisor.</p>
<p>The criteria of evaluation include whether the student has made a substantial investment of time and effort on the project, and whether the student gained a substantive research experience, achieved an in-depth understanding of the research, and greatly advanced his/her ability in scientific thought, conducting of research, and production of a high quality scientific manuscript.</p>
<p>The Committee will decide which papers, if any, are worthy of Distinction, High Distinction, or Highest Distinction. As a part of this evaluation process, the committee may interview some students. If you are interviewed, you will be asked to discuss your work and will be questioned on its technical aspects, the interpretation of results and the significance of the research. The objective of this interview is to find out how well you understand what you did, why you did it (the scientific reason), and what the results mean in relation to other knowledge in the field.</p>
<p>Questions for the 2014-2015 academic year should be referred to: Chair, Integrative Biology Distinction Committee, 286 Morrill Hall, <a href="mailto:slsears@illinois.edu">slsears@illinois.edu</a>
