<!-- KA: June 2015: course -index-->
<% content_for( :title, 'Courses' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'courses_ex' ) %>

<h2> Undergraduate Courses </h2>

<p>
Please explore using the categories below. 
Other information about courses, including current class schedules and catalogs, may be found in the University of Illinois <a href="https://courses.illinois.edu/" target="_blank">Course Explorer site</a>.
</p>

	    <table class="table table-striped" style="width: 80%; margin: auto; margin-bottom: 20px;">
              <colgroup>
                <col style="width: 42%">
                <col style="width: 58%">
              </colgroup>
		        <tbody>
		            <tr>
		                <td><strong><a href="/courses/level_100">100-Level</a><br>
				    <a href="/courses/level_200">200-Level</a><br>
				    <a href="/courses/level_300">300-Level</a></strong>
				</td>
		                <td>These courses may be taken for credit by undergraduate students only. <br>(Graduate students may enroll but will not receive academic credit for the courses)</td>
		            </tr>
		            <tr>
		                <td><strong><a href="/courses/level_400">400-Level</a></strong></td>
		                <td>These courses may be taken for credit by both graduate and undergraduate students.</td>
		            </tr>
		            <tr>
		                <td><strong><a href="/courses/semester">Advanced Courses by Semester</a></strong></td>
		                <td>A list of courses on a 4-semester schedule to use for long-term planning. These courses are approved for advanced hours credit for IB majors. </td>
		            </tr>
  			     <tr>
		                <td><strong><a href="/courses/area">Advanced Courses by Area</a></strong></td>
		                <td>These courses fulfill area requirements for the IB major. They are approved for advanced hours credit for IB majors. </td>
		            </tr>
     			    <tr>
		                <td><strong><a href="/courses/additional_advanced">Additional Approved Courses</a></strong></td>
		                <td>These courses <b>do not fulfill area requirements</b> for the IB major. They are approved for advanced hours credit for IB majors. </td>
		            </tr>
    			    <tr>
		                <td><strong><a href="/courses/special">Special Topic Courses</a></strong></td>
		                <td>These new courses <b>have not been approved yet</b> with a unique course number.They are approved for advanced hours credit for IB majors.  </td>
		            </tr>
 			   <tr>
		                <td><strong><a href="/courses/proficiency_exams">Proficiency Exams</a></strong></td>
		                <td>Dates of proficiency exams and link to sign up to take the exam.  </td>
		            </tr>	
		        </tbody>
		    </table>



<div style="height: 150px;">
&nbsp;
</div>



