<% content_for( :title, 'About Programs' ) %>
<% content_for( :sidebar, 'about' ) %>
<% content_for( :expand,  'programs_ex' ) %>

<!--KA: May 2015: About-Departments-->

	 <h2 style="text-align: center;">Programs</h2>
	 <h4 style="text-align: center;">The School of Integrative Biology offers or has connections with these interdisciplinary graduate programs: </h4>

<!--Ecology-->
        <div class="col-md-4 ">
               <a class="no_underline" href="/peec/">
               <%= image_tag 'sib/peec1.jpg',  alt: "PEEC", size: "180x150" %>
	       </a>
         </div>
         <div class="col-md-8">
                <h4><a href="/peec/">Program in Ecology, Evolution, &amp; Conservation Biology (PEEC)</a></h4>
		<p>Advanced and comprehensive training in ecology, evolutionary biology, and the conservation of biodiversity.</p> 
	  </div>

	<div class="col-lg-12"><hr></div>

<!--Neuroscience-->
 	<div class="col-md-4 ">
               <a class="no_underline" href="http://www.neuroscience.illinois.edu/" target="_blank">
               <%= image_tag 'sib/brain_image.gif',  alt: "Neuroscience", size: "180x150" %>
	       </a>
         </div>
         <div class="col-md-8">
                <h4><a href="http://www.neuroscience.illinois.edu/" target="_blank">Neuroscience Program</a></h4>
		<p>Studying how the nervous system works, from molecules to brain.</p> 
	  </div>

	<div class="col-lg-12"><hr></div>

<!--OMST -->
 	<div class="col-md-4 ">
               <a class="no_underline" href="http://omst.sib.illinois.edu/" target="_blank">
               <%= image_tag 'sib/MSTWordCloud.jpg',  alt: "MS Online Teaching Word Cloud", size: "180x150" %>
	       </a>
         </div>
         <div class="col-md-8">
                <h4><a href="http://omst.sib.illinois.edu/" target="_blank">Online Master of Science in the Teaching of Biological Science</a></h4>
		<p>Online program designed for individuals who are already certified to teach biology in public schools, specifically middle school general science teachers and high-school biology teachers.</p>
	  </div>

	<div class="col-lg-12"><hr></div>

<!--MS Plant Bio-->
 	<div class="col-md-4 ">
               <a class="no_underline" href="http://www.life.illinois.edu/plantbio/psm" target="_blank">
               <%= image_tag 'sib/PSM2.jpg',  alt: "Science meets Business", size: "180x150" %>
	       </a>
         </div>
         <div class="col-md-8">
                <h4><a href="https://wiki.cites.illinois.edu/wiki/display/PlantBiologyPSM/Illinois+Plant+Biotechnology+Professional+Science+Master%27s" target="_blank">Plant Biotechnology Professional Science Master's Degree</a></h4>
		<p>This 16-month program of study integrates graduate scholarship on the leading edge of plant sciences with business knowledge and skills targeted to immediate and emerging plant science and technology-based industry needs.</p>
	  </div>

