<!--KA: June 2015-->

<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'peec_dir_ex' ) %>

<h2>PEEC Directory</h2>
<h4 style="text-align:center">Alumni</h2>
  <p><strong> The list below shows the positions held by some of the PEEC Alumni.</strong></p>
    <table class="table table-striped">
        <tbody>
            <tr><td>Mihai Aldea (Ph.D.)</td><td>Managing Scientist<br>Exponent, Seattle, WA</td></tr>
            <tr><td>Michael R. Allen (Ph.D.)</td><td>Assistant Director for Research<br>Maryland Sea Grant, Cambridge, MD</td></tr>
            <tr><td>Katherine Amato (Ph.D.)</td><td>Postdoctoral Research Associate<br>University of Colorado at Boulder, Boulder, CO</td></tr>
 	    <tr><td>Lynn (Anderson) Carpenter (Ph.D.)</td><td> Lecturer<br> University of Michigan, Ann Arbor, MI</td></tr>
	<tr><td>Kelly Andersen (Ph.D.)</td><td> Postdoctoral Associate<br> San Diego Zoo, Institute for Conservation Research, Escondido, CA</td></tr>
	<tr><td>Claire Baldeck (Ph.D.)</td><td> Postdoc<br> Department of Global Ecology, Carnegie Institution for Science, Stanford, CA</td></tr>
	<tr><td>Douglas G. Barron (M.S.)</td><td> Postdoc<br> Psychology Department, University of South Florida, Tampa, FL</td></tr>
	<tr><td>Brandon Barthel (Ph.D.)</td><td> Research Scientist<br> Florida Fish and Wildlife Conservation Commission, Tallahassee, FL</td></tr>
	<tr><td>Allison Bormet (M.S.)</td><td> Ph.D. student<br> Indiana University, Bloomington, IN</td></tr>
	<tr><td>Michael P. Carey (Ph.D.)</td><td> Research Fish Biologist<br> USGS Alaska Science Center, Anchorage, AK</td></tr>
	<tr><td>Gerardo Carfagno (Ph.D.)</td><td> Assistant Professor<br> Manhattan College, Riverdale, NY</td></tr>
	<tr><td>Morgan Carr-Markell (M.S.)</td><td> Junior Scientist<br> Entomology, University of Minnesota, St. Paul, MN</td></tr>
	<tr><td>Amy Cash Ahmed (M.S.)</td><td> Research Specialist<br> Entomology, UIUC, Urbana, IL</td></tr>
	<tr><td>Therese Catanach (Ph.D.)</td><td> Teaching Assistant<br> Texas A & M University, College Station, TX</td></tr>
	<tr><td>Charles Chen (Ph.D.)</td><td> Postdoctoral Researcher<br> National Institute for Agro-Environmental Sciences (NIAES), Tsukuba, Japan</td></tr>
	<tr> <td>Benjamin Clegg (Ph.D.)</td><td> Lecturer<br> Plant Biology, UIUC, Urbana, IL</td></tr>
	<tr> <td>Bradley J. Cosentino (Ph.D)</td><td> Assistant Professor<br> Department of Biology, Hobart and William Smith Colleges, Geneva, NY</td></tr>
	<tr> <td>Carolyn Barrett Dash (Ph.D.)</td><td> Visiting Professor of Environmental Studies<br> Hamilton College, Clinton, NY</td></tr>
	<tr> <td>Nicole Davros (Ph.D.)</td><td> Wildlife Research Scientist<br> Minnesota Department of Natural Resources, Madelia, MN</td></tr>
	<tr> <td>Carrie DeJaco (Ph.D.)</td><td> Associate Professor<br> Biology Department, Queens University of Charlotte, Charlotte, NC</td></tr>
	<tr> <td>Orla Dermody (Ph.D.)</td><td> Technology Launch Manager<br> Europe, Pioneer Hi-Bred (Switzerland) SA, Manno, Switzerland</td></tr>
	<tr> <td>John E. Drake (Ph.D.)</td><td> Postdoc Research Fellow<br> Ecosystem Function and Integration Group, Hawkesbury Institute for the Environment, University of Western Sydney, Penrith, Australia</td></tr>
	<tr> <td>Brielle Fischman (Ph.D.)</td><td> Visiting Professor<br> Hobart and William Smith Colleges, Geneva, NY</td></tr>
	<tr> <td>Jeff Foster (Ph.D.)</td><td> Assistant Professor<br> Department of Molecular, Cellular, and Biomedical Science, University of New Hampshire, Durham, NH</td></tr>
	<tr> <td>Rachel Gallery (Ph.D.)</td><td> Assistant Professor<br> School of Natural Resources and the Environment, University of Arizona, Tucson, AR</td></tr>
	<tr> <td>Kyle Hanson (M.S. at UIUC, Ph.D. at Carleton University)</td><td> Fish Physiologist<br> Abernathy Fish Technology Center, U.S. Fish and Wildlife Service, Longview, WA</td></tr>
	<tr> <td>Paul Henne (Ph.D.)</td><td> Assistant (Senior Postdoc)<br> Oeschger Centre for Climate Change Research and Institute of Plant Sciences, University of Bern, Switzerland</td></tr>
	<tr> <td>Jinelle Hutchins Sperry (Ph.D.)</td><td> Adjunct Assistant Professor<br> Natural Resources and Environmental Sciences, University of Illinois at Urbana-Champaign</td></tr>
	<tr> <td>Eloisa Lasso (Ph.D.)</td><td> Assistant Professor<br> Universidad de los Andes, Bogota, Columbia</td></tr>
	<tr> <td>Mia Levine (M.S. at UIUC, Ph.D. at U.C. Davis)</td><td> Postdoctoral Researcher<br> Fred Hutchinson Cancer Research Center, Seattle, WA</td></tr>
	<tr> <td>Elena Lobo (Ph.D.)</td><td> Business Development Manager<br> DMCii, Guildford, UK</td></tr>
	<tr> <td>Joseph Dylan Maddox (Ph.D.)</td><td> NSF Postdoctoral Fellow<br> El Centro de Investigaciones de Recursos Naturales de la Amazonía (CIRNA), Universidad Nacional de la Amazonía Peruana (UNAP), Iquitos, Perú </td></tr>
	<tr> <td>Dave Moore (Ph.D.)</td><td> Associate Professor<br> School of Natural Resources and the Environment, University of Arizona, Tucson, AR</td></tr>
	<tr> <td>Nick Morphew (M.S.)</td><td>Lab Coordinator<br> Integrative Biology, UIUC, Urbana, IL</td></tr>
	<tr> <td>David Nelson (Ph.D.)</td><td> Assistant Professor<br> University of Maryland Center for Environmental Science, Appalachian Laboratory, Frostburg, MD</td></tr>
	<tr> <td>Sara Paver (Ph.D.)</td><td> Postdoc<br> Department of Geophysical Sciences, University of Chicago, Chicago, IL</td></tr>
	<tr> <td>Pearish, Simon (Ph.D.)</td><td> Lecturer<br> SUNY Potsdam, Potsdam, NY</td></tr>
	<tr> <td>Ariane Peralta (M.S. + Ph.D.)</td><td> Assistant Professor of Microbial Ecology<br> Department of Biology, East Carolina University, Greenville, NC</td></tr>
	<tr> <td>Anne Readel (Ph.D.)</td><td> Patent Attorney<br> Perkins Coie LLP, Madison, WI</td></tr>
	<tr> <td>Noah Reynolds (M.S.)</td><td> Postdoctoral Associate<br> Yale University, New Haven, CT</td></tr>
	<tr> <td>Rose M. Reynolds (Ph.D.)</td><td> Assistant Professor<br> Genetics, William Jewell College, Liberty, MO</td></tr>
	<tr> <td>Matthew Richardson (Ph.D.)</td><td> Biologist<br> Smithsonian Conservation Biology Institute, Washington, DC</td></tr>
	<tr> <td>Karen Cavey Rowe (Ph.D.)</td><td> Postdoctoral Researcher<br> Museum of Vertebrate Zoology, University of California, Berkeley, CA</td></tr>
	<tr> <td>Elizabeth Ruedi (Ph.D.)</td><td> Director of Education and Professional Development<br> Genetics Society of America, Bethesda, MD</td></tr>
	<tr> <td>Eli Rudinow Saetnan (Ph.D.)</td><td> Postdoctoral Research Assistant<br> Aberystwyth University, Shrewsbury, United Kingdom</td></tr>
	<tr> <td>Scott Schlossberg (Ph.D.)</td><td> Postdoctoral Researcher<br> University of Massachusetts, Amherst, MA</td></tr>
	<tr> <td>Daniel Scholes (Ph.D.)</td><td> Postdoctoral Researcher<br> UIUC</td></tr>
	<tr> <td>Eric Scott (M.S.)</td><td> Graduate Student Researcher<br> Tufts University, Medford, MA</td></tr>
	<tr> <td>Chris Smith (Ph.D.)</td><td> Assistant Professor<br> Earlham College, Richmond, IN</td></tr>
	<tr> <td>Sigrid Smith (Ph.D.)</td><td> Research Area Specialist Associate<br> School of Natural Resources & Environment, University of Michigan, Ann Arbor, MI</td></tr>
	<tr> <td>Steve Stoddard (Ph.D.)</td><td> Assistant Project Scientist<br> University of California, Davis, CA</td></tr>
		<tr> <td>Anita Stone (Ph.D.)</td><td> Assistant Professor<br> Grand Valley State University, Allendale, MI</td></tr>
	<tr> <td>Corey Tarwater (Ph.D.)</td><td> Postdoctoral Researcher<br> University of California, Berkley</td></tr>
	<tr> <td>Amy Toth (Ph.D.)</td><td> Assistant Professor<br> Iowa State University, Ames, IA</td></tr>
	<tr> <td>Molly Tranel (M.S.)</td><td> Wildlife Research/Habitat Evaluation Biologist<br> Minnesota Department of Natural Resources, Madelia, MN</td></tr>
	<tr> <td>Yung-Ho (Ophelia) Wang (M.S.)</td><td> Adjunct Faculty<br> School of Earth Sciences and Environmental Sustainability, Northern Arizona University, Founder of Conservation Leadership Initiation Practicum (CLIP), Flagstaff, AR</td></tr>
	<tr> <td>Helen Wood (Ph.D.)</td><td> Environmental Monitoring Officer<br> Environment Agency, UK</td></tr>
	<tr> <td>Allison (Witt) Sommers (M.S.)</td><td> High School Biology and Chemistry Teacher<br> Hamilton, OH</td></tr>
	<tr> <td>Sarah Hollis Woodard (Ph.D.)</td><td> Postdoctoral Fellow<br> University of Texas at Austin, Austin, TX</td></tr>
	<tr> <td>Muchu Zhou (Ph.D)</td><td> Postdoc Research Associate<br> Department of Animal Biology, University of Illinois at Urbana-Champaign</td></tr>
	<tr> <td>Lesley (Zuehls) Brotkowski (M.S.)</td><td> Ecologist<br> TRC Solutions, Omaha, NE</td></tr>
      </tbody>
</table>














     </tbody>
    </table>

