
<div id="adminDirectory">
    <h3>School of Integrative Biology <span style="float: right;">286 Morrill Hall</span></h3>
		<div>
			<p>Evan H. DeLucia, Director </p> 
			<p>Toni Helton, Assistant to the Director</p>
			<p>Carol K. Augspurger, Associate Director for Academic Affairs</p>
			<p>Staci Sears, Office Support Specialist</p>
			<p>Penny Broga, Associate Director for Business Affairs <span style="float: right;">506 Morrill Hall</p>
		</div>
		
	<h3>School of Molecular and Cellular Biology <span style="float: right;">393 Morrill Hall</span></h3>
		<div>
			<p>Stephen Sligar, Director </p>
			<p>Daniel Ozier, Executive Associate Director of Operations and Strategic Planning</p>
			<p>Ann Zielinski, Associate Director for Administration and Business Affairs</p>
		</div>
		
	<h3>Departments</h3>
	<div>
		<h4>Animal Biology <span style="float: right;">515 Morrill Hall</span></h4>
			<div>
				<p>Ken Paige, Head </p>
				<p>Lisa Smith, Office Administrator</p>
			</div>
		<h4 class="Not_Morrill">Biochemistry <span style="float: right;">419 Rogers Adams Lab</span></h4>
			<div class="Not_Morrill">
				<p>Susan A. Martinis, Head </p>
				<p>Marla Wilson, Administrative Aide</p>
				<p>Jeff Goldberg, Coordinator of Student Academic Affairs</p>
			</div>
		<h4 class="Not_Morrill">Cell and Developmental Biology <span style="float: right;">B107 Chemical &amp; Life Sciences</span></h4>
			<div class="Not_Morrill">
				<p>Andrew S. Belmont, Head </p>
				<p>Delynn M. Carter, Assistant to the Head</p>
			</div>
		<h4>Entomology <span style="float: right;">320 Morrill Hall</span></h4>
			<div>
				<p>May R. Berenbaum, Head </p>
				<p>Audra Weinstein, Office Administrator</p>
			</div>
		<h4 class="Not_Morrill">Microbiology <span style="float: right;">B103 Chemical &amp; Life Sciences</span></h4>
			<div class="Not_Morrill">
				<p>John E. Cronan, Head </p>
				<p>Debra K. Lebaugh, Staff Secretary</p>
			</div>
		<h4 class="Not_Morrill">Molecular and Integrative Physiology <span style="float: right;">524 Burrill Hall</span></h4>
			<div class="Not_Morrill">
				<p>Byron W. Kemper, Head </p>
				<p>Penny Morman, Administrative Secretary</p>
			</div>
		<h4 class="Not_Morrill">Plant Biology <span style="float: right;">265 Morrill Hall</span></h4>
			<div class="Not_Morrill">
				<p>Feng Sheng Hu, Head </p>
			</div>
	</div>	
	
	<h4 class="Not_Morrill">Electronics Shop, William Flesher <span style="float: right;">64 Burrill Hall</span></h4>
	<h4 class="Not_Morrill">Facilities &amp; Operations, Don Gerard <span style="float: right;">173 Burrill Hall</span></h4>
	<h4 class="Not_Morrill">Herbarium, David Seigler <span style="float: right;">350 Natural History Building</span></h4>
	<h4>Information Technology, Jeffrey Haas <span style="float: right;">333 Morrill Hall</span></h4>
	<h4 class="Not_Morrill">Machine Shop, Scott Baker <span style="float: right;">59 Burrill Hall</span></h4>
	<h4 class="Not_Morrill">Stores - Receiving, Gail Scott <span style="float: right;">C107A Chemical &amp; Life Sciences</span></h4>
		
</div>  