<%# KA: June 2015: Select courses table header %>


 <center><p><strong> | ADV: Advanced | SP: Spring | FA: Fall | SU: Summer | </strong></p></center>
   <table class="table table-bordered peec_table">
    <thead>
    <tr>
	<th>Course #</th>
      	<th>Course Name</th>
	<th>Hours</th>
	<th>ADV</th>
	<th>LAB</th>
	<th>SP</th>
	<th>FA</th>
	<th>SU</th>
	<th>Website</th>
    </tr>
  </thead>
