<!-- KA: June 2015: course -index-->
<% content_for( :title, 'Courses' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'courses_ex' ) %>

<h2> Undergraduate Level Courses </h2>
<h4 style="text-align:center">All Courses </h4>

<%= render '/courses/courses' %>

