<!--KA: June 2015: courses-proficiency exam-->
<% content_for( :title, 'Courses' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'courses_ex' ) %>


<h2> Proficiency Exams </h2>
<h4 style="text-align: center;"> Fall 2015 </h4>


<center><p><strong>
September 2, 2015<br>
124 Burrill Hall<br>
6:00 – 9:00 PM
</strong></p></center>

<br>
<h3  style="text-align: center;">To sign up for an exam:</h3><br>

<div class="row">
  <div class="col-md-4"><h3>IB 100</h3>
<p><a href="mailto:sdownie@illinois.edu"><span style="text-decoration: underline;"><span style="color: #0066cc;">sdownie@illinois.edu</span></span></a></p>
</div>
  <div class="col-md-4"><h3>IB 104</h3>
<p><a href="mailto:bfrancis@illinois.edu"><span style="color: #0066cc;">bfrancis@illinois.edu</span></a></p>
</div>
  <div class="col-md-4"><h3>IB 150</h3>
<p>&nbsp;<a href="mailto:bclegg@illinois.edu"><span style="color: #0066cc;">bclegg@illinois.edu</span></a></p>
</div>
</div>



