<!--KA: June 2015: courses-special-->

<%# KA: June 2015: Show Courses %>
<% content_for( :title, 'Courses' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'courses_ex' ) %>


<h2> Special Topic Courses </h2>
<h3> ** No special topics courses are being offered for Fall 2015 ** </h3>
