<!--KA: June 2015-->

<% content_for( :title, 'Academic Assistance' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'advising_ex' ) %>

	<h2>Academic Assistance</h2>
	  <ul>
	     <i class="fa fa-link"></i>&nbsp; <a href="https://illinois.edu/fb/sec/261690" target="_blank">Advising Self-Assessment Online Survey</a><br>
	     <i class="fa fa-link"></i>&nbsp; <a href="http://mcb.illinois.edu/undergrad/downloads/Weekly%20Schedule%20and%20Planning%20Sheet_fill.pdf" target="_blank">Time Management Form (Fillable PDF)</a><br>
	     <i class="fa fa-link"></i>&nbsp; <a href="http://mcb.illinois.edu/undergrad/downloads/Maintenance%20Studying_Weekly%20Planning.docx" target="_blank">Time Management Form (Word Doc)</a><br>
	    <!-- <i class="fa fa-link"></i>&nbsp; <a href="#GPACalc">GPA Calculator</a><br> -->
	     <i class="fa fa-link"></i>&nbsp; <a href="#WayHelp">Ways To Get Help</a><br>
	     <i class="fa fa-link"></i>&nbsp; <a href="#tutor">Tutoring Services</a><br></ul>

	  <hr>



<h4>What Is Probation?</h4>
<p>Serves as a warning that poor academic performance or failure to complete requirements in a timely fashion may jeopardize future enrollment status at and graduation from the University of Illinois.</p>

<h3>Types of Academic Probation:</h3>
   <table border="1" cellspacing="0" cellpadding="0" >
	<tbody>
		<tr>
		  <td colspan="2" height="23" valign="middle" bgcolor="lightgray">
		      <h3 align="center"><strong>Beginning Freshman </strong></h3>
		   </td>
		</tr>

		<tr>
		  <td height="66" valign="middle" width="166">
		      <p align="center"><strong>Code1</strong></p>
		  </td>
  		  <td valign="middle" width="395">
		     <p>Beginning freshman who does not earn at least a 2.00 (C) University GPA in the first semester is placed on a 2.00 probation for the next term</p>
		  </td>
		</tr>

		<tr>
		  <td colspan="2" height="27" valign="middle" bgcolor="lightgray">
			<h3 align="center"><strong>All other students </strong></h3>
		  </td>
		</tr>

		<tr>
		   <td valign="middle" width="166">
			<p align="center"><span class="rowtitle"><strong>Code1A</strong></span></p>
		   </td>

		   <td valign="top" width="395">
			<p>A student whose cumulative University GPA &lt; 2.00 or who does not earn at least a 2.00 in any semester or summer session is placed on a 2.00 probation for the next term</p>
		   </td>
		</tr>

		<tr>
		  <td valign="middle" width="166">
			<p  align="center"><strong>Code 1B</strong></p>
		  </td>
		  <td valign="top" width="395">
			<p >A student whose cumulative University GPA is 1.75-1.99, inclusive, is placed on a 2.25 probation</p>
		  </td>
		</tr>

		<tr>
		   <td valign="middle" width="166">
			<p  align="center"><strong>Code 1C</strong></p>
		   </td>

		  <td valign="top" width="395">
			<p >A student whose cumulative University GPA &lt; 1.75 is placed on 2.33 probation</p>
		  </td>
		</tr>

		<tr>
		  <td height="29" valign="middle" width="166">
			<p  align="center"><strong>Code 1G, 1H, 1P, 1T</strong></p>
 		  </td>
		  <td valign="top" width="395">
			<p >College-determined probation levels assigned at grade audit.</p>
		  </td>
		</tr>

		<tr>
		  <td colspan="2" height="23" valign="middle" bgcolor="lightgray">
			<h3 align="center"><strong>Biology Majors </strong></h3>
		  </td>
		</tr>

		<tr>
		  <td valign="middle" width="166">
			<p align="center"><strong>Low Core Grades</strong></p>
		  </td>
		  <td valign="top" width="395">
			<p>If you have received a C- or lower in one or more biology core courses, it is recommended that you meet with an advisor.&nbsp; Previous experience has shown that students who do poorly in a core course tend to struggle with future biology courses.</p>
		  </td>
		</tr>

		<tr>
		   <td valign="middle" width="166">
			<p  align="center"><strong>Low Major GPA</strong></p>
		   </td>
		   <td valign="top" width="395">
			<p >IB majors are required to have a major GPA of 2.00 or better.&nbsp; If your major GPA &lt;2.00 you will be required to meet with an advisor and a hold will be placed on your account until you do.</p>
		   </td>
		</tr>
	</tbody>
</table>

<hr>

<h4><a id="WayHelp" name="WayHelp"></a> Ways To Get Help</h4>
	<p>Seek advice from your Academic Advisor as soon as you know of your academic status or are notified by an advisor.&nbsp; We are here to help you get back on track.&nbsp; The advising staff will discuss with you what went may have gone wrong and help strategize a new plan and help set new and attainable goals.</p>
	<p>If you are struggling with a particular class; see the professor or TA during his/her office hours.&nbsp; Even seek help from your fellow students who may have a better grasp of the class and form a study group.&nbsp; Collaboration and perseverance will help you prevail.</p><hr>



<h4><a id="tutor" name="tutor"></a> Tutoring Services</h4>

	<p><strong>Integrative Biology Tutoring: </strong>The IB Club Integrative Illini offers free peer tutoring for a variety of IB courses.&nbsp; Please email <a href="mailto:integrativeillini@gmail.com">integrativeillini@gmail.com</a> for more information and a list of courses with tutors available.</p>
	<p><strong>Molecular and Cellular Biology Tutoring</strong>:&nbsp; The MCB Club Ligase offers free peer tutoring for any student enrolled in a MCB core course.&nbsp; Individual peer-tutoring appointments can be scheduled by emailing <a href="mailto:ligaseuiuc@gmail.com">ligaseuiuc@gmail.com</a>.</p>
	<p><strong><a href="http://www.chem.uiuc.edu/clcwebsite" target="_blank">Chemistry Learning Center</a>:</strong>&nbsp; The Chemistry Learning Center (212 Chemistry Annex) offers a variety of services to assist you with your chemistry courses.&nbsp; Free drop-in tutoring is also available during the hours posted on their web site. </p>
	<p><strong><a href="http://www.math.uiuc.edu/UndergraduateProgram/tutoring.html" target="_blank">Mathematics Tutoring:</a></strong>&nbsp; The Department of Mathematics offers free tutoring.</p>
	<p><strong><a href="http://physics.illinois.edu/courses/tutors.pdf" target="_blank">Physics Tutoring:</a></strong><em><strong>&nbsp; </strong></em>Fee-based tutoring is available through the Physics Department <br> (from $8 to $15/hr). </p>
	<p><strong><a href="http://www.omsa.illinois.edu/academics/tutoring.html" target="_blank">Office of Minority Student Affairs:</a></strong>&nbsp; The Office of Minority Student Affairs offers a variety of services including tutoring, review sessions and supplemental instruction.&nbsp; </p>
	<p><strong><a href="http://www.cws.illinois.edu/workshop/" target="_blank">Writer’s Workshop:&nbsp;</a></strong> The Writers' Workshop, part of the Center for Writing Studies, provides free writing assistance for University of Illinois students, faculty and staff from all disciplines and levels. Discuss your writing with consultants who are experienced writers and teachers of writing.&nbsp;</p>
	



