<!--KA: June 2015-->

<% content_for( :title, 'Campus Links' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'advising_ex' ) %>

	<h2>Student Resources</h2>
	 <p>This is the main page through which SIB students can reach web resources important to them.</p>
	<div id="menu">
		<div class="panel list-group">
		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link1" data-parent="#menu"><strong>ACADEMICS</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link1" class="sublinks collapse">
			  <a class="list-group-item small" href="http://registrar.illinois.edu/registration/index.html" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Class Registration</a>
			  <a class="list-group-item small" href="http://registrar.illinois.edu/dars-audit" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Degree Audit </a>
 			  <a class="list-group-item small" href="https://secure.admin.illinois.edu/registrar/GPACalculator/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; GPA Calculator </a>
			  <a class="list-group-item small" href="http://www.cws.illinois.edu/workshop/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Writer's Workshop </a>
			  <a class="list-group-item small" href="http://www.las.illinois.edu/students/dates/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Academic Calendar </a>
			  <a class="list-group-item small" href="http://www.omsa.illinois.edu/academics/tutoring.html" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Office of Minority Student Affairs </a>
			  <a class="list-group-item small" href="http://www.illinoisleadership.illinois.edu/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Illinois Leadership Center </a>

			 </div>


		 <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link2" data-parent="#menu"><strong>CAREERS </strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
			 <div id="link2" class="sublinks collapse">
			  <a class="list-group-item small" href="http://www.careercenter.illinois.edu/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Career Center</a>
			  <a class="list-group-item small" href="http://www.careercenter.illinois.edu/about/services/ilink" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; I-Link (career search page for Illinois students)</a>
			  <a class="list-group-item small" href="https://secure.admin.illinois.edu/osfa/vjb/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Virtual Job Board (on-campus job opportunities)</a>
			 </div>


		 <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link3" data-parent="#menu"><strong>HEALTH/WELLNESS </strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
			 <div id="link3" class="sublinks collapse">
			  <a class="list-group-item small" href="http://www.counselingcenter.illinois.edu/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Counseling Center</a>
			  <a class="list-group-item small" href="http://www.mckinley.illinois.edu/mhc.html" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; McKinley Health Center</a>
			  <a class="list-group-item small" href="http://www.disability.illinois.edu/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Disability Resources and Educational Services</a>
			  <a class="list-group-item small" href="http://www.campusrec.illinois.edu/wellnesscenter/#" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Wellness Center</a>
			 </div>

 
 		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link4" data-parent="#menu"><strong>CRISIS SERVICES</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
			 <div id="link4" class="sublinks collapse">
			  <a class="list-group-item small" href="http://www.odos.illinois.edu/studentAssistance/index.asp" target="_blank">&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Dean on Duty</a>
			  <a class="list-group-item small" href="http://www.odos.uiuc.edu/emergency/index.asp" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Emergency Dean (please see website regarding when to use Emergency Dean)</a>
			  <a class="list-group-item small" href="http://www.conflictresolution.illinois.edu/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Conflict Resolution</a>
			  </div>


		 <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link5" data-parent="#menu"><strong>FINANCIAL SERVICES</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
			 <div id="link5" class="sublinks collapse">
			  <a class="list-group-item small" href="http://www.osfa.illinois.edu/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Student Loans</a>
			  <a class="list-group-item small" href="http://www.osfa.illinois.edu/aid/scholarships/index.html" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Scholarships</a>
			  <a class="list-group-item small" href="http://www.osfa.illinois.edu/aid/international/index.html" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Financial Aid for International Students</a>
			</div>


		 <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link6" data-parent="#menu"><strong>MISCELLANEOUS</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
			 <div id="link6" class="sublinks collapse">
			  <a class="list-group-item small" href="https://illinois.collegiatelink.net/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Registered Student Organizations</a>
			  <a class="list-group-item small" href="http://www.undergradresearch.illinois.edu/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Office of Undergraduate Research</a>
			  <a class="list-group-item small" href="http://www.odos.illinois.edu/sls/geninfo/index.html" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Student Legal Services</a>
			  <a class="list-group-item small" href="http://veterans.illinois.edu/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Veterans Student Support</a>
			  <a class="list-group-item small" href="http://studyabroad.illinois.edu/default.aspx" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Study Abroad Office</a>
			  <a class="list-group-item small" href="http://illinois.edu/ows/PH" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; UI Directory</a>
			  <a class="list-group-item small" href="https://apps.uillinois.edu/selfservice/" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; UI Enterprise</a>
			  <a class="list-group-item small" href="http://illinois.edu/map/view" target="_blank">&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Campus Map</a>
			</div>


		</div>
	</div>


