<!--KA: June 2015: Spotlight-->

<% content_for( :title, 'Spotlight' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'advising_ex' ) %>

	 	<h2>Spotlight Newsletter</h2>	  	
		<p>This IB electronic newsletter contains important and timely information about the major, and about meetings, workshops, internships and career opportunities. It will also give you information about College and University deadlines and policies.</p>
	   	
		<ul class="ul_list"><i class="fa fa-info-circle"></i>&nbsp; How and when do I register for classes?<br>
	  	 <i class="fa fa-info-circle"></i>&nbsp; How do I add a class?<br>
	  	 <i class="fa fa-info-circle"></i>&nbsp; How do I drop a class?<br>
		 <i class="fa fa-info-circle"></i>&nbsp; How do I see an advisor?</ul>
		</ul>
		
		<p><a href="https://illinois.edu/gm/subscribe/6701" target="_blank">Click here</a> to subscribe to the mailing list.</p>
