<!--KA: May 2015: About-WHY IB-->

  <div class="row">
            <div class="col-lg-12"><p></div>

<!--Sidebar start-->
	<div class="col-md-4">
		 <%= render 'layouts/sidebar_ugrad_advising' %>
	 </div>
<!--Sidebar end-->

<!--Main content-->
         <div class="col-md-8 no-gutter">
		<h2>Why Major in IB?</h2>
		<p>This is the new biology, with an emphasis on bringing multiple disciplines to bear on complex scientific questions.&nbsp; For students, this emphasis leads to a deep understanding of biology and its interrelationships.</p>

		<p><strong> A major in Integrative Biology prepares students for countless careers in the life sciences.&nbsp; Here's how:</strong></p>

		<h4 style="text-align: left;">Research</h4>
		<p style="text-align: justify;">By any measure, the University of Illinois is one of the top public research universities in the nation.&nbsp; Faculty in Integrative Biology are some of the top researchers in their fields, innovating in areas such as health, climate change, bioenergy, animal behavior, and conservation, to name a few.&nbsp; Undergraduate students can contribute to world-changing innovations as an IB major.&nbsp; Here's what just a few of our faculty are up to:</p>
	<ul>
		<p><i class="fa fa-user"></i>&nbsp; <a href="https://sib.illinois.edu/pittendrigh/projects/">Dr. Barry Pittendrigh</a> works to fighting diseases in developing countries by creating simple technology for insect identification. <br>
		<i class="fa fa-user"></i>&nbsp; <a href="http://lab.igb.illinois.edu/ainsworth/welcome">Dr. Lisa Ainsworth</a> is focused on maintaining and improving future agricultural production and global food supply. <br>
		<i class="fa fa-user"></i>&nbsp; <a href="http://www.life.illinois.edu/sears/index.html">Dr. Karen Sears</a> researchs mammalian limb and girdle development with implications of helping diagnose and treat congenital limb malformations in humans. </p>
	</ul>
	<p style="text-align: justify;">And see even more about what IB Professors do, visit our <a href="http://sib.illinois.edu/faculty_interviews.htm">faculty interview</a> page.</p><hr>


	<h4 style="text-align: left;">Teaching</h4>
	 <div style="float: left; clear: right; margin: .5em; margin-left: 1.5em;"> 
	 	<a class="no_underline" href="http://www.sib.illinois.edu/peec/">
               		<%= image_tag 'sib/courses3.jpg',  alt: "courses", size: "280x150" %>
	 	</a>
	</div>
	<p style="text-align: justify;">In addition to contributing scientific innovation, IB faculty members are innovators in the classroom.&nbsp; IB faculty emphasize applying knowledge, problem solving, and collaboration in dynamic learning settings.&nbsp; IB students learn content in a way that they can apply it toward many areas in the life sciences, making our students well-equipped for the modern employment landscape.</p>
	<p style="text-align: justify;">IB also provides excellent preparation for careers in the <a href="advising/careers/prehealth.htm">health professions</a>, as well as for entrance exams, such as the MCAT, that required for admission to graduate or professional schools.</p>
	<p style="text-align: justify;">With around 450 declared Integrative Biology majors, our major is big enough to have fantastic learning and research opportunities for our students, but small enough that our students have access to our faculty and staff members.&nbsp; With a 13:1 student/faculty ratio, our students are able to get to know their professors personally.</p><hr>

	<h4 style="text-align: justify;">Support</h4>
	<p style="text-align: justify;">There are many ways that students can find support, including both academic and social during the sometimes-challenging college years.&nbsp; IB has several special programs to help students be successful and reach their highest potential.&nbsp; Examples of these programs include <a href="http://merit.illinois.edu/">Merit</a>, <a href="http://sib.illinois.edu/honors">IB Honors</a>, <a href="http://www.math.uiuc.edu/biomath/">Biomath</a>, and <a href="http://sib.illinois.edu/research/intro">IB 199</a> and <a href="http://sib.illinois.edu/bars">496</a>, which are special courses designed to help students forge a path in a research career.&nbsp;</p>

	<div style="float: right; clear: right; margin: 0.5em 0.5em 0.5em 1.5em; text-align: justify;">
		<a class="no_underline" href="http://www.sib.illinois.edu/peec/">
               		<%= image_tag 'sib/vancleave1.jpg',  alt: "courses", size: "334x146" %>
	 	</a>
	</div>
	<p style="text-align: justify;">In addition to these academic programs, IB recognizes the importance of social ties that form during college and encourages students to participate in student clubs and groups.&nbsp; IB has a club just for IB majors called the <a href="mailto:integrativeillini@gmail.com"> Integrative Illini</a>.&nbsp; Members participate in social, career, and volunteer activities.</p>


	<p style="text-align: justify;"><strong><em>Integrative Biology. Redefining the frontiers of biology.</em></strong></p>
          



</div>
</div>
