//KA: June 2015: Styles for form fields in admin pages

label{
display:inline-block;margin-right:10px; width:200px; }

input[type='checkbox'] {
display:inline-block; width:200px; margin-top:10px;height:5px;
}



