
@import "bootstrap-sprockets";
@import "bootstrap";


/* footer

KA: Using Nesting techniques to nest attributes with the element.
*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #fff;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*KA: href links in _header.html.erb page */

header {
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #fff;
    }
  }
}




/* header

AK: Using Nested rules. To nest the hover attribute with it's parent element #logo, in SCSS, we use ampersand.

 */


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* universal */

body {
  padding-top: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}



.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* KA: Super Menu styles 
Credits: Geedmo@yamm
*/
.supermenu .nav,
.supermenu .collapse,
.supermenu .dropup,
.supermenu .dropdown {
  position: static;
   
}
.supermenu .container {
  position: relative;
}
.supermenu .dropdown-menu {
  left: auto;
}
.supermenu .supermenu-content {
  padding: 20px 30px;
}
.supermenu .dropdown.supermenu .dropdown-menu {
  left: 0;
  right: 0;
}

/* KA:Show menu options on hover */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

/* menu styes */
.list-unstyled,
.list-unstyled ul { min-width: 50px }


.column-width {width: 400px }

/*=================*/

#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

#banner {
     	padding-bottom: 15px;
	text-align: center;
	        }


/*==============*/
/* KA: Home Page News Slider */


.item{
    
    text-align: center;
    height: 400px !important;
}
.news_slider{
	margin: 20px;
}

.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


.carousel-caption h3 {
	a{
	  color: white;
	}
}

/*KA: HTMl <a> tags in news slider*/
.links:hover, 
.style:focus{
    color: white;
    background: rgba(0, 0, 0, 0.65);
    text-decoration:none;

     }

/*==========================*/
/* Fixed panel */

 .fixed-panel {
             	height: 150px;
				
               }
