
@import "bootstrap-sprockets";
@import "bootstrap";


body {
  margin: 0;
}

#banner  {
  //background: #4188C8;
  //background: rgb(65,136,200);

//=================

width: 100%;
/*
background: #94a6a1;
background-image: url(header_back-3.png);
background-image: url(header_back-3.png), -webkit-gradient(linear, left top, left bottom, from(#6cab26), to(#6ceb86));background-image: url(header_back-3.png), -webkit-linear-gradient(top, #6cab26, #6ceb86); 
background-image: url(header_back-3.png),    -moz-linear-gradient(top, #6cab26, #6ceb86);
background-image: url(header_back-3.png),      -o-linear-gradient(top, #6cab26, #6ceb86); 
background-image: url(header_back-3.png),         linear-gradient(to bottom, #6cab26, #6ceb86); 
*/
 	

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(left, #FFFFFF 0%, #005982 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(left, #FFFFFF 0%, #005982 100%);

/* Opera */ 
background-image: -o-linear-gradient(left, #FFFFFF 0%, #005982 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #005982));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #005982 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to right, #FFFFFF 0%, #005982 100%);


//============

  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  padding: 50px 0 12px 60px;
  margin: 0;
  min-height: 120px;
}

#banner  #school_of {
  //color: white;
color: gray;
  font-size: 0.36em;
  font-variant: small-caps;
  font-weight: normal;
  //font-size: 0.3em;
  letter-spacing: 0.6em;
  text-shadow: 0px 0px 2px #888;
}
#banner  #integrative, #banner  #biology {
  //color: white;
color: gray;
 text-shadow: 0px 0px 2px lightgray;

  font-weight: bold;
  letter-spacing: 4px;
  position: relative;
}

#banner  #integrative {
  z-index: 1;
}
#banner  #biology {
  color: #4A2F76;
  //margin-top: -0.42em;
  margin-top: -0.53em;
  //margin-left: 2.38em;
  margin-left: 2.48em;
  z-index: 2;
  text-shadow: 1px 1px 4px #5A3F86;
}
#imark {
  float: left;
  padding: 0 30px 10px 0;
  height: 70px;
}
#cells{
  float: right;
  margin-top: -50px;
  height: 180px;
  display: none;
}

#horiz_nav ul {
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
  margin: 6px 0 0 0;
}

#horiz_nav ul li { 
display: inline; 
  border: 1px solid black;
  padding: 3px 7px 4px 7px;
  font-family: "Helvetica";
  font-size: 1.25em;
}

#horiz_nav ul li a {
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#horiz_nav ul li a:hover {
color: #fff;
background-color: #369;
}

