<!--KA: June 2015-->

<% content_for( :title, 'Guidelines' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'guidelines_ex' ) %>

		
	<h2>Guidelines</h2>
	<h4 style="text-align: center;">How to Lead an Effective Discussion</h4>
	<p style="text-align: center;"><em>By: Alison Bell (Adapted from Becky Fuller)</em></p>
	
	<p>As the leader of the discussion, your task is to provide a quick overview of the paper for your classmates and to pose interesting questions for them to discuss. You should spend no more than ~4-5 minutes summarizing the paper. If you understand it clearly and can describe it well, this should be no problem.</p>
	<p>&nbsp;</p>
	<p>To start, the leader should tell us why we are reading the paper, how it fits in with the rest of the course. Why is the topic interesting? Then, the leader should give a brief overview of the paper. Specifically, they should discuss the following points:</p>
	  <ol style="list-style: lower-alpha;" class="ul_list">
		<li>What questions were they trying to address? What was the objective of the study? What were the alternative hypotheses?</li>
		<li>What was the experimental design and how did this bring data to bear on the question?</li>
		<li>Explain the methods briefly.</li>
		<li>Explain the major findings of the study.<br>
		<div style="padding-left: 2em;">Be able to explain all of the graphs and tables. You should understand all of the data. If you tried REALLY hard (and you still can't understand something), then this is a very good thing to discuss with the group.</div>
		</li>
		<li><strong>Note:</strong> One trick that I use to make sure that I really understand the paper is to make sure that I can describe how all of the data were collected in each of the tables and figures.</li>
	</ol>
	<p>&nbsp;</p>

	<p>Finally, the leader should have several questions prepared to try to spark the discussion. Here are some helpful hints.</p>
	  <ol style="list-style: lower-alpha;"  class="ul_list">
		<li>Does the interpretation of the data arise logically from the data, or is it too far-fetched?</li>
		<li>Have shortcomings of the research been addressed?</li>
		<li>Is the experiment rigged so that it is pre-disposed to favor one of the hypotheses over the other? Was the experiment a powerful test of the hypothesis?</li>
		<li>Compare the interpretation to related studies cited in the article. Is the interpretation at odds or in line with other researchers' thinking?</li>
		<li>What does this article suggest for the future of the field? Does this have an impact on our thinking or is it largely confirmatory with existing studies? What studies need to be conducted next?</li>
	</ol>
