<!--KA: June 2015-->

<% content_for( :title, 'Guidelines' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'guidelines_ex' ) %>

		
<h2>Guidelines: Skills for IB Majors</h2>


<center>
<div  class="course_table">
<table cellspacing="0">
<tbody>
<tr>
	<td><h4 style="text-align:center"><a href="/undergraduate/guidelines/scientific_process">Guidelines: Scientific Process</a></h4></td>
	<td id="course_col2"><p>A flow chart of the steps used in scientific inquiry with a concrete example of one complete inquiry.</p></td>
</tr>
<tr>
	<td><h4 style="text-align:center"><a href="/undergraduate/guidelines/scientific_process_glossary">Glossary: Scientific Process</a></h4></td>
	<td  id="course_col2"><p>All the &lsquo;jargon&rsquo; used in the scientific process, including those involved with hypothesis testing, experimental design, figures, and statistics.</p></td>
</tr>
<tr>
	<td><h4 style="text-align:center"><a href="/undergraduate/guidelines/library_search">Guidelines: Library Search</a></h4></td>
	<td id="course_col2"><p>Simple set of steps to take to do an electronic search for literature for your project.</p></td>
</tr>
<tr>
	<td><h4 style="text-align:center"><a href="/undergraduate/guidelines/read_graph">Guidelines: How to Read a Graph</a></h4></td>
	<td id="course_col2"><p>A beginner&rsquo;s primer: 3 basic steps to follow in learning to describe and interpret scientific graphs.</p></td>
</tr>

<tr>
	<td><h4 style="text-align:center"><a href="/undergraduate/guidelines/basic_statistics">Guidelines: Basic Statistics</a></h4> </td>
	<td id="course_col2"><p>Includes explanation and formula for use in descriptive statistics (mean, standard deviation, range) and these analytical statistics:</p>
		 <ul class="ul_list">t-text, Chi-square (contingency test), correlation, regression, ANOVA.</ul>
	<p>How to Choose Among Statistical Tests</p>
		<ul class="ul_list">Criteria to use in selecting the statistical test appropriate for your experimental design.</ul>
	<p>Statistical Test Flow Diagram</p>
		<ul class="ul_list"> A hierarchical flow diagram to use in selecting the appropriate statistical test to use.</ul>  </td>
</tr>

<tr>
	<td> 	<h4 style="text-align:center"><a href="/undergraduate/guidelines/excel">Guidelines: Figures + Statistics in EXCEL 2010/11</a></h4>
	 </td>
	<td id="course_col2"> <p>Step-by-step instructions on how to produce figures and complete descriptive and analytical statistics using EXCEL. Also examples of how to write results, including reference to figures/tables and statistical summary.</p>
 </td>
</tr>
<tr>
	<td> <h4 style="text-align:center"><a href="/undergraduate/guidelines/abstract">Guidelines: Writing an Abstract</a></h4>
	
 </td>
	<td id="course_col2"><p>Hints to use in writing an abstract, including its six basic components; an example is given.</p>  </td>
</tr>
<tr>
	<td> 	<h4 style="text-align:center"><a href="/undergraduate/guidelines/manuscript">Guidelines: Writing a Scientific Manuscript</a></h4>
	
 </td>
	<td id="course_col2"> <p>Detailed instructions on how to write Introduction, Methods, Results, and Discussion, and format to use for Literature Cited of a scientific manuscript. When beginning to write an entire paper, start here to see all the steps and details to follow.</p> </td>
</tr>
<tr>
	<td>	<h4 style="text-align:center"><a href="http://sib.illinois.edu/SkillGuidelines/GuidelinesSampleManuscript.doc">Guidelines: A Sample Manuscript - Word Document</a></h4>
	  </td>
	<td id="course_col2"> <p>A complete manuscript is here, together with pointers highlighted at the side of many parts.</p>
 </td>
</tr>
<tr>
	<td>	<h4 style="text-align:center"><a href="/undergraduate/guidelines/presentation">Guidelines: Oral Presentation</a></h4>
	  </td>
	<td id="course_col2">  <p>Hints on how to create and deliver a successful 15-minute oral presentation.</p>
</td>
</tr>
<tr>
	<td> 
	<h4 style="text-align:center"><a href="/undergraduate/guidelines/discussion">Guidelines: Leading a Formal Discussion</a></h4>
	 </td>
	<td id="course_col2">  <p>Guidance for how to lead the discussion of a scientific paper.</p>
</td>
</tr>
<tr>
	<td> 	<h4 style="text-align:center"><a href="/undergraduate/guidelines/poster">Guidelines: Making a Poster</a></h4>
	
 </td>
	<td id="course_col2"> <p>A detailed guideline for making a poster- including tips on design and formatting and tips for clearer content.</p> </td>
</tr>
<tr>
	<td> 	<h4 style="text-align:center"><a href="http://sib.illinois.edu/SkillGuidelines/GuidelinesPosterTemplate.pdf">Poster Template - PDF Document</a></h4>
 </td>
	<td id="course_col2"> 	<p>A simple visual template for making a poster - with directions and tips for each component.</p>
<p>&nbsp;</p>
 </td>
</tr>




</tbody>
</table>
</div>
</center>






	






