<!--KA: June 2015-->

<% content_for( :title, 'Guidelines-Manuscript' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'guidelines_ex' ) %>

		
	<h2>Guidelines</h2>
	<h4 style= "text-align: center"> Writing a Scientific Paper</h4>

	<p>A scientific manuscript is organized to reflect the basis pattern of the scientific process. It follows a highly structured format. Some find it easier to write than a paper for a humanities course because cleverness, originality, and style are not required. Instead, aim for a clear, logical presentation of your question, methods of answering it, results you got, and your conclusion.</p>
	<p>We have written a <strong><a href="guidelines_sample_manuscript.doc">GUIDELINES: A SAMPLE MANUSCRIPT</a></strong>. Read it often. Keep it at your side and refer to it often BEFORE you write each section.</p>
	<h4 style= "text-align: center">Instructions to Authors</h4>
	<table border="1" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td><p>Paper</p></td>
				<td><p>8.5" x 11"; one side only</p></td>
			</tr>
			<tr>
				<td><p>Margins</p></td>
				<td><p>1.25" left and right; 1" top and bottom</p></td>
			</tr>
			<tr>
				<td><p>Font size</p></td>
				<td><p>12 point</p></td>
			</tr>
			<tr>
				<td><p>Typeface</p></td>
				<td><p>Times Roman</p></td>
			</tr>
			<tr>
				<td><p>Page numbers</p></td>
				<td><p>Type page numbers in top right (not on title page)</p></td>
			</tr>
			<tr>
				<td><p>Spacing</p></td>
				<td><p>Double</p></td>
			</tr>
			<tr>
				<td><p>New paragraph</p></td>
				<td><p>Indent 0.5"</p></td>
			</tr>
			<tr>
				<td><p>Headings</p></td>
				<td><p>Line up headings for Abstract, Introduction, Methods, Results, Discussion, and Literature Cited on left margin or center them. Don't start each section on new page.</p></td>
			</tr>
			<tr>
				<td><p>Literature Cited</p></td>
				<td><p>List references in alphabetical order by author's last name. All lines but the first are indented to separate references.</p></td>
			</tr>
			<tr>
				<td><p>Figures/Tables</p></td>
				<td><p>Put into text at end of first sentence in which they are used. Use sequential numbers. One per page. Attached at end of document.</p></td>
			</tr>
			<tr>
				<td><p>Final step</p></td>
				<td><p>Staple top left.</p></td>
			</tr>
		</tbody>
	</table>

	<br>
	<h3><strong>SHORT TITLE </strong> (includes key variables, study organism; habitat): </h3>
	<p>Your name and group members' names.</p>
	<p>Your address and contact information.</p><hr>

	<h3><strong>ABSTRACT</strong> (1 paragragh):</h3>
	<ul>
		<p>Context of study</p>
		<p>Introduction (focus, purpose of your project)</p>
		<p>Hypothesis/Prediction(s)</p>
		<p>Methods (short)</p>
		<p>Results (short)</p>
		<p>Conclusions/significance</p>
		<p>(250 words max)</p>
	</ul><hr>

	<h3><strong>INTRODUCTION </strong> (4-5 paragraphs): </h3>
	<ul>
		<p>Review current literature (primary journal articles) on the topic</p>
		<p>Paraphrase literature (change <span style="text-decoration: underline;">more</span> than a word or two) and cite source; no direct quotations</p>
		<h3>Use proper citation format</h3>
			<ul class ="ul_list">
				<li>Brokaw (1988) found that trees were more vulnerable in saturated soil.</li>
				<li>Or: Trees were more vulnerable in saturated soil (Brokaw 1988).</li>
				<li>One author: (Brokaw 1988)</li>
				<li>Two authors: (Dawson and Rolfe 2001)</li>
				<li>Three or more authors (Lin et al. 2004)</li>
			</ul>

		<h3>Use inverted triangle organization (big picture down to objectives of study)</h3>
		<p><strong>Paragraph 1: Introduction: </strong><p>
		<ol class ="ul_list">
			<li>make a general statement to interest reader in your topic.</li>
			<li>add background information.</li>
			<li>importance of topic and "why should reader care?"</li>
		</ol><br>
		
		<p><strong>Paragraphs 2-3-(4):Background: </strong></p>
		<ol class ="ul_list">
			<li>relevant prior studies/observation of what trying to explain</li>
			<li>factors that may contribute to explanation (introducing independent &amp; dependent variables)</li>
			<li>specific ideas of what factors may explain observation (developing hypothesis)</li>
		</ol><br>
		
		<p><strong>Final paragraph:</strong></p>
		<ol class ="ul_list">
			<li>objectives of project in general</li>
			<li>formal hypotheses/predictions</li>
			<li>assumptions</li>
		</ol><hr>


	<h3><strong>METHODS</strong> (1.5 - 2 pages):</h3>
	<p>Write in full sentences and paragraphs</p>
	<p>Past tense; passive voice</p>
	<p>Provide enough detail to enable the reader to repeat the experiment.</p>
	<h3>Scientific names</h3>
	<p>The first time an organism is mentioned, use its common name and full scientific name (always <span style="text-decoration: underline;">underline</span> or <em>italicize</em>). After this first mention, in both Abstract and Introduction or Methods, the organism may be referred by its common name or shortened scientific version (<span style="text-decoration: underline;">B</span>. <span style="text-decoration: underline;">tectorum</span>); just pick a format and stick with it.</p>
	<h3>Numbers</h3>
	<p>Use metric measurement units.</p>
	<p>If a quantity, spell out if less than 10 (E.g. We sampled nine plots; 11 plots).</p>
	<p>If a measurement, always use numbers (E.g. We sampled using 2 x 2m plots).</p>
	<p>If at start of sentence, spell out (E.g. Eleven replicates were sampled).</p>
	<p>If number less than one, put zero before decimal point (E.g. 0.05).</p>
	<ul><p>Study Site</p>
	<p>Location</p>
	<p>Habitat(s)</p>
	<p>Size of study site</p>
	<p>Relevant ecological background</p>
	<p>Experimental Design</p>
	<p>Independent variables</p>
	<p>Dependent variable 1</p>
	<p>Sampling unit</p>
	<p>Number of replicates</p>
	<p>Methods" for gather data of dependent variable</p>
	<p>Ditto for dependent variables 2, 3</p>
	<p>Statistical Tests</p>
	<ul><p>for Dependent variable 1</p>
	<p>for Dependent variable 2</p></ul></ul><hr>



	<h3><strong>RESULTS</strong> (1-2 paragraphs):</h3>
	<p>Describe the data in each table/figure.</p>
	<p>Organize by predictions &amp; numerical order of Figures/Tables</p>
	<p>Refer to each table and figure by number in parentheses (Table 1 or Fig. 1) at end of first sentence in which it is described.</p>
	<p>Give trends; don't give actual numbers.</p>
	<p>Spell out symbols (E.g. percent, not %). You can use symbol on figures axes/labels.</p>

	<h3>Prediction 1</h3>
	<p>Sentence about major pattern/trend in Figure/Table (Fig. 1).</p>
	<p>Sentence with specific statistical details</p>
	<p>Use proper format: x (not) significantly &gt; y (t-test, P&lt;0.01).</p>
	
	<h3>Prediction 2</h3>
	<p>Sentence about major pattern/trend in Figure/Table (Fig. 2).</p>
	<p>Sentence with specific statistical details</p>
	<p>Use proper format: (&amp;chi2 = , df = 1, P&lt;0.05) (Fig. 2).</p><br>
	
	<p>Put all Tables (first) and Figures (second) at end of manuscript; don't embed within text.<br> Do NOT "interpret" results; don't give possible explanations.<br> Don't say "Figure 1 shows the number of arthropods in each field."<br> Don't use Excel sheet; must move to manuscript.<br> Don't include descriptive statistics table (use them to make figure only).</p><hr>



	<h3><strong>DISCUSSION</strong> (6-7 paragraphs): </h3>
	<ol class="ul_list">
		<li><strong>For each hypothesis:</strong><br>
			<p>Briefly restate the results.</p>
			<p>Declare whether hypothesis supported (nor not).</p>
			<p>Provide possible explanations for the results.</p>
			<p>Present evidence for your conclusions.</p>
		</li>
		<li><strong>For each hypothesis:</strong><br>
			<p>Compare your results to prior studies.</p>
			<p>Provide enough detail from prior studies to show how it is relevant to your project.</p>
		</li>
		<li><strong>Limitations of study:</strong><br>
			<p>Point out any inconsistencies in your data.</p>
			<p>Discuss possible sources of error (don't dwell on human error or time limitations).</p>
			<p>Describe possible future directions; other ways to test hypothesis; need to test assumptions.</p>
		</li>
		<li><strong>State major conclusion and its importance:</strong><br><p> What's "take-home" message?</p></li>

	</ol><hr>

	<h3><strong>LITERATURE CITED:</strong></h3>
	<p>Use mostly journal articles (primary literature), not textbooks or Internet sources.<br> Include only sources cited in the body of manuscript.<br> Make sure all cited sources in text are listed in the Literature Cited section.<br> List alphabetically by first author.<br> Indent after first line of an article.
	<p>Only references <em>actually cited</em> in your paper should appear at the end in alphabetical order by first author and in standard reference format (see <em>Ecology</em> and below for details). Provide at least 5 references from primary literature or specialized reviews (not textbooks). Examples for each type of citation used in this section are given below.</p>
	<h3>General Format for a Citation: </h3> <p>(Follow exactly the format below):</p>
	<p><strong>For a journal article:</strong> Author(s.). Year. Title. Journal Volume:Page-page.</p>
	<p><strong>For a book:</strong> Author(s). Year. Title. Edition. Publishing Company. Location of Publishing Co.</p>

	<h3>Examples of a journal citation:</h3>
	<div style="padding-left: 2em;"><p>Johnson, D. M. 1991. Behavioral ecology of larval dragonflies and damselflies. Trends in Ecology and Evolution 6: 8-13.</p></div>
	<div style="padding-left: 2em;"><p>Lima, S. L. and L. M. Dill. 1990. Behavioral decisions made under the risk of predation: a review and prospectus. Canadian Journal of Zoology 68: 619-640.</p></div>
	<div style="padding-left: 2em;"><p>McPeek, M. A. 1990a. Determination of species composition in the <em>Enallagma</em> damselfly assemblages of permanent lakes. Ecology 71: 83-98.</p></div>
	<div style="padding-left: 2em;"><p>Woodland, D. J., Z. Jaafar and M. Knight. 1980. The "pursuit deterrent" function of alarm signals. American Naturalist 115: 748-753.</p></div>
	
	<h3>Example of a book citation:</h3>
	<p>Silvertown, J.W. 1982. <em>Introduction to Plant Population Ecology</em>. Longman, Inc., New York.</p><hr>


	<h3><strong>TABLES/FIGURES</strong></h3>
	<p>Put all Tables (first) and Figures (second) at end of manuscript; don't embed within text.</p>
	<p>No raw data; instead summarize. (E.g., use mean, SD, SE).</p>
	<p>Don't include both a table and figure for the same data.</p>
	<p>Give each figure and table a legend (caption) that consists of a number (Figure 1) and a short description on what is graphed (not a complete sentence). The description should enable the reader to understand the figure without having to go to methods/results.</p>
	<p>Figure legends go below the figure; Table legends go above the table.</p>
	<p>All parts large enough to see/read.</p>
	<p>Axes labels include unit of measurement.</p>
	<p>Clear notation in legend of what values represent (mean +/SE).</p>
	<p>Give key to use for different shaded bars or difference shapes (o/⊗).</p>
	<p>Clean: No titles, no gridlines</p><hr>


	<h3><strong>MANUSCRIPT ERRORS (Technical/Grammatical)</strong></h3>
	<p>Subject and verb must agree.</p>
	<p>Word choice must be appropriate for the situation; not dramatic or vague.</p>
	<p>Sentence structure must be smooth and sentence must be complete. Don't have redundant sentences.</p>
	<p>Write in passive, not active, voice.</p>
	<p>Use correct punctuation.</p>
	<p>Use correct word usage. Look it up in the dictionary. Examples:</p>
		<ul>
		 	<p>a. data = plural of "datum"; e.g. "These data show..." not "This data shows..."<br> b. effect (noun) (a result) vs. affect (verb meaning "to influence")<br> c. it's (it is) vs. its (belonging to "it")<br> d. amount (cannot count individual pieces) vs. number (can count individual pieces)<br> e. that (restrictive clause) vs. which (nonrestrictive clause)
		</p></ul>
	<p>Latin names should be <em>italicized</em> or <span style="text-decoration: underline;">underlined</span>.</p> 
	<p>Include scientific name (sugar maple (<em>Acer saccharum</em>)</p> 
	<p>Common names in lower case (e.g. pawpaw)</p>
		<ul><p>a) Number format must be correct. <br> b) Do not start sentences with a number (write out the number)<br> c) Decimal numbers less than one start with zero, e.g. 0.1 mL, not .1mL.</p></ul>

	<p>Abbreviations must be correct.</p>
		<ul><p> a. <em>circa</em> - ca.<br> b. <em>et alii</em> (and others) - et al.<br> c. <em>et cetera</em> (and so forth) - etc.<br> d. <em>exempli gratia</em> (for example) - e.g.<br> e. <em>id est</em> (that is) - i.e. <br> f. <em>nota bene</em> (take notice) - NB</p></ul>

	<p>Each figure/table must have a number and legend.</p>
	<p>The figure/table legend must be self-explanatory without reference to the text.</p>
	<p>Figure legend must be informative. More than "y-axis label vs. x-axis label" as a legend.</p>
	<p>Figure caption goes below figure. Table caption goes <em>above</em> table.</p>
	<p>Figures don't have titles above them.<br>Each data set must have its own distinguishable symbols or lines with a key.</p>




<p>&nbsp;</p>

<p>&nbsp;</p>
