<!--KA: June 2015-->

<% content_for( :title, 'Guidelines' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'guidelines_ex' ) %>

		
	<h2>Guidelines</h2>
	<h4 style="text-align: center;">Making a Poster</h4>
	<p style="text-align: center;">From: Rick Reis: <a href="mailto:tomorrows-professor@mailman.stanford.edu">tomorrows-professor@mailman.stanford.edu</a><br> Author: Edyta Zielinska August 31, 2011 <br>
Careers issue of The Scientist: Magazine of the Life Science</p><br>
	
	<p>When facing a new and complex graph, it is helpful to follow a three-step process described below. This process will help you slow down and dissect the pieces of a graph. As a result, you can avoid being overwhelmed and giving up too easily, and also avoid jumping to the wrong interpretations too quickly.</p><br>


	<div id="menu">

		<div class="panel list-group">
 	
		  <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link1" data-parent="#menu"><strong>Tips for Design and Formatting</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link1" class="sublinks collapse">
			<br><ul>
			<p>Design pointers from the pros</p>
			<p><strong> Shorten your text lines</strong><br> Long lines of text are more difficult to read, which is why magazines and newspapers always break up their text into narrower columns. If your poster has a landscape orientation, consider breaking your text into four columns.</p>
			<p><strong>Justify the right way: to the left</strong><br>While justifying text on both the right and left (i.e., full justification) makes for very neat-looking columns, designers are beginning to move away from the practice, says Nichole Jonas, a graphics specialist at the Eunice Kennedy Shriver National Institute of Child Health and Human Development. It can cause distracting vertical “rivers” of spaces down the page. Left justifying text makes for an easier read.</p>
			<p><strong>Consider your font</strong><br>You don’t have to stick with just one. Adding a little variety, and even downloading a font that isn’t available on PowerPoint, can make your poster stand out. But never use more than two or three fonts, says Jonas. She suggests using sans serif fonts like Helvetica or Gill Sans for the body and a serif for the titles. (Other designers prefer serif fonts for the body, as they “can help guide the eye through the word,” said Jonas.) “Anything but Comic Sans,” she says, as it tends to look amateurish.</p>
			<p><strong>Don’t put conclusions on the floor</strong><br>Even though it’s the most important part of the poster, the conclusion is often placed “at the bottom, [where] it’s at people’s feet,” says Graves. She suggests placing it at top of the rightmost column—or, if you feel daring, start the body of the poster with it.</p>
			<p><strong>Bigger is better</strong><br>“People have this weird love of small font,” says Purrington. “They think it looks professional and that large fonts are for children.” But that’s not the case, he says. In low light conditions, or when scientists are reading over other people’s shoulders, larger fonts are essential. LiLynn Graves, graphic and web designer at the Cornell Center for Materials Research at Cornell University, suggests a font size of 85pt for the title, 36–44 for the headers, and 24–34 for the body text.</p>
			<p><strong>Dump PowerPoint’s color palette</strong><br>Many people use PowerPoint to create their poster, but the program was designed for projecting images in a darkened room. The deep blues and fluorescent greens that look good in that setting often produce posters that are too dark and difficult to read, says Graves. Stay away from primary colors on primary colors (no reds on blues, or reds on yellows). Instead, Jonas suggests a background in a muted color—one that is closer to white on the color spectrum—for a more professional tone.</p>
			<p><strong>Sundries</strong><br>Check for readability at 6 feet; print out a small copy to better judge your layout choices; use a ruler to make sure all columns are aligned; stick with black as the text color.</p>	
		</ul>		
		 </div>


		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link2" data-parent="#menu"><strong>How to Make Your Data Easy on the Eyes </strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link2" class="sublinks collapse">
				<br><ul>
				<p><strong> Title with a message</strong><br>Titles are the best way to quickly tell readers what they are supposed to take away from your data. Always title your graphs, says Purrington.</p>
				<p><strong> Make your findings obvious</strong><br>Highlight the peak, trough, or other comparison of interest with an arrow containing the value of that data point. It’s better than making a reader work out the value from the axes.</p>
				<p><strong> Include the method</strong><br>While many posters do include a methods section, it is almost always useful to include a simple description of how you got the data you’re presenting near the graph, says biochemist Joseph Provost of Minnesota State University Moorhead, a frequent judge of student posters. Without a simple caption that describes the experimental method, “it’s hard to understand how an experiment was done,” he says.</p>
				<p><strong> Temporarily dump your text</strong><br>A good way to test to see whether your graphics are serving their intended purpose: “If you removed all the info besides the graphics, the poster should still be pretty good,” says Purrington. “Scientists are lazy, they don’t read,” says marine biologist Nando Boero, from the Università del Salento in Lecce, Italy. The graphs should tell the whole story, he says.</p>
				<p><strong> Banish the legend</strong><br>Legends or keys to multicolored line graphs give a viewer one more thing to interpret. If possible, annotate your data with labels directly on the image, says Purrington.</p>
				<p><strong> Sundries</strong><br>Use graphs rather than tables; avoid cluttered figures; arrange experiments to tell a story, not in the order they were performed; include enough data to defend your hypothesis; keep about a 50/50 ratio of graphics to text.</p>
			</ul>
   		      </div>





		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link3" data-parent="#menu"><strong>Tips for Clearer Content</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link3" class="sublinks collapse">
				<br><ul>
				<p><strong>How to Write a Title:</strong></p>
				<p><strong><em>Example 1 </em></strong></p>
				<p><strong>Bad:</strong> “Mural architecture of planula larvae of a cniderian might be suggestive of the central nervous system”</p>
				<p><strong>Good:</strong> “The first brain”</p>
				<p><strong>Rationale:</strong> A poster is more of an advertisement for your work than a definitive account, says Boero. There are some things you can’t get away with when you’re writing a paper. But you can be on the cheeky side of accurate in posters to capture the attention of a busy passerby.</p>
				<br>
				
				<p><strong><em>Example 2 </em></strong></p>
				<p><strong>Bad:</strong> “The MES mess, a good buffer gone bad”</p>
				<p><strong>Good:</strong> “How a common cell culture pH buffer interferes with transport assays”</p>
				<p><strong>Rationale:</strong> It’s best to avoid acronyms and jargon when aiming for a general audience. Scientists tend to wander through poster sessions. If you can nab a researcher from another field, you may have won a future collaborator, or someone who will offer a new perspective on your work, says Mark Wallert, a researcher at Minnesota State University Moorhead and frequent poster judge.</p>
				</ul>
   		      </div>


	<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link4" data-parent="#menu"><strong>Sundries</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link4" class="sublinks collapse">
				<br><ul>
				<p>Never use ALL CAPS in titles; emphasize titles in one way: boldface, italics, or underline, but never all three.
				<p><strong>Improve your body</strong></p>
				<p><strong>Link images and text</strong><br> Unlike journal articles, where tables and graphs are often located at a distance from their description in the text, “in a poster, the words must be near the visual aid,” says Boero. “You have that possibility, so use it.”</p>
				<p><strong>Cut your text</strong><br> Once you’ve created your content, read it again to see how many words you can cut, says Boero. Pretend you’re writing a telegram, and paying for every word, he suggests.</p>
				<p><strong>Make killer bullets</strong><br> Limit bulleted lists to the conclusion section, if possible. There, lay out 4–5 summary statements that capture what your data means and its wider implications.</p>
				<p><strong>Answer your hypothesis</strong><br> Make sure your conclusion is more than a restatement of your results. It should directly address the hypothesis you lay out in the intro or abstract.</p></ul>
   		      </div>




	<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link5" data-parent="#menu"><strong>The Checklist: What to Do Before You Print</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link5" class="sublinks collapse">
				<br><ul>
			<p><strong>Give it a test run</strong><br> In his experience, Wallert says, “you find [mistakes] when you’re standing in front of your poster” at the conference. To save yourself the embarrassment, project your poster on the wall of your lab and run through your presentation, he suggests.</p>
			<p><strong>Check your file size</strong><br> Make sure you haven’t inserted a 500 MB image, or one that’s low resolution. “If a person has never done a poster, they’ll probably make one of those mistakes,” says Purrington</p>
			<p><strong>Are your axes labeled?</strong><br>Oddly enough, missing axis labels are something that poster judges Wallert and Provost see often.</p>
			<p><strong>Check your message</strong><br>Once you’ve made your poster look its best, give it one more read-through to make sure that it presents the point of your research in the most convincing light.</p>
			<p><strong>Color check</strong><br>Make sure the colors you’ve chosen are readable in low light. It’s hard to predict where your poster will be placed, so make sure your choices work in different settings.</p>
			<p><strong>Check dimensions</strong><br>Although this should really be the first thing you do, not the last, it’s a good idea to make sure your poster conforms to the meeting’s size and orientation specifications.</p>
		</ul>
   		      </div>



	<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link6" data-parent="#menu"><strong>Resources</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link6" class="sublinks collapse">
				<br><ul>
				<p><a href="http://sib.illinois.edu/GuidelinesPosterTemplate.pdf">* Poster Template</a></p>
				<p><a href="http://www.postergenius.com/cms/index.php%3Ewww.postergenius.com/cms/index.php">* Poster Genius</a><br> A program that formats your content into a clean layout. You simply enter your text and figures, and it selects the right font and tests for optimal readability under conference-hall conditions.</p>
				<p><a href="http://www.cns.cornell.edu/documents/ScientificPosters.pdf">* Scientific Poster Design</a><br> A visual how-to for improving posters, with many examples</p>
				<p><a href="https://science.nichd.nih.gov/confluence/display/~jonasnic/Elements+of+Style">*Elements of Style</a><br> Graphic design elements as they apply to scientific posters</p>
				</ul>
   		      </div>


		</div>
	</div>	


