<!--KA: June 2015-->

<% content_for( :title, 'Guidelines' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'guidelines_ex' ) %>

		
	<h2>Guidelines</h2>
	<h4 style="text-align: center;">How to Read a Graph </h4>
	<p style="text-align: center;"><em>Adapted from <a href="http://TIEE.ecoed.net/teach/essays/figs_tables.html">http://TIEE.ecoed.net/teach/essays/figs_tables.html</a></em></p><br>
	
	<p>When facing a new and complex graph, it is helpful to follow a three-step process described below. This process will help you slow down and dissect the pieces of a graph. As a result, you can avoid being overwhelmed and giving up too easily, and also avoid jumping to the wrong interpretations too quickly.</p><br>


	<div id="menu">

		<div class="panel list-group">
 	
		  <a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link1" data-parent="#menu"><strong>Step One: Describe set-up</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link1" class="sublinks collapse">
			<p>First determine how the figure/table is set up. This is the part that everyone would agree about and is not a matter of interpretation.</p>
				<ol style="list-style-type: upper-alpha;" class="ul_list">
					<li><strong>What is represented on the axes?</strong> Always start by defining the x-axis and y-axis. The x-axis runs horizontally and usually represents the independent variable. The <strong>independent variable</strong> is what is manipulated or chosen for the treatments. The <strong>dependent variable</strong> "depends" upon, or responds to, those independent treatments. The dependent variable is plotted on the vertical y-axis.</li><br>
					<li>What are <strong>units</strong> on the axes? Make sure you understand what these units mean. This will help you see <span style="text-decoration: underline;">precisely</span> what are the relationships between variables. Understanding the units allows you to quantify relationships between variables. For example, if one is greater than another, ask by how much.</li><br>
					<li>What is the <strong>scale</strong> on each axis (if it’s a continuous variable)? Does it include a relatively small range of variation or a large one?</li><br>
					<li>Pay attention to the <strong>symbols</strong> and <strong>legend</strong> on a figure. A graph might compare responses to the independent variable among groups. Sometimes these groups are represented by different symbols, dotted lines, color patterns, etc. These patterns may be explained in a legend or in the caption on the graph: look in both places!</li><br>
				</ol>
			 </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link2" data-parent="#menu"><strong>Step Two: Describe patterns in the data</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link2" class="sublinks collapse">
			 <p>Second, describe the pattern of the data in the graph.</p>
				<ol style="list-style-type: upper-alpha;" class="ul_list">
					<li>For a bar graph, which treatments are higher or lower than other treatments? How much variation is there relative to the differences between bar heights?</li><br>
					<li>For a scatter plot or line graph, what is the pattern? Does the dependent variable increase or decrease linearly with the independent variable, or is the pattern more complex? For example, does it increase linearly and then level off? Is it a "hump-shaped" or "U-shaped" relationship?</li><br>
					<li>Pay attention to <strong>detail</strong>; that may be important.</li><br>
					<li>At this point you should have a pretty good idea of the question addressed by the data set and the experimental design – how it was carried out.</li><br>
				</ol>
   		      </div>

		<a href="#/" class="list-group-item" data-toggle="collapse" data-target="#link3" data-parent="#menu"><strong>Step Three: Interpret the data</strong> <span class="glyphicon glyphicon-tags pull-right"></span></a>
 			<div id="link3" class="sublinks collapse">
			 <p>Now you are ready to interpret the data. What <strong>conclusions</strong> can you draw from the pattern that you have described?</p>
				<ol style="list-style-type: upper-alpha;" class="ul_list">
					<li>What do these results tell you about the phenomenon being studied?</li><br>
					<li>Does the graph support or reject the study’s hypothesis? It can be helpful to sketch out what the graph would look like if the hypothesis were supported and what it would look like if it were not.</li><br>
					<li>Are there alternative explanations for the pattern in the data?</li><br>
					<li>How do the results fit into the larger picture of ecological thinking?</li><br>
				</ol>
   		      </div>



		</div>
	</div>	

