<div class="panel-group" id="accordion">
  <div class="panel panel-default" >

    <ul id="sidebar1" class="sidebar_menu">
      <li class="panel-title">
        <a class="expanded" target="_self" <%= link_to "Default", root_path %></a>
        <ul>
          <li><%= link_to "Other places?", '/peec/seminars/'%></li>
        </ul>
      </li>

      <li class="panel-title">
        <a class="collapsed" target="_self" <%= link_to "Collapsed", '#' %></a>
        <ul>
          <li><a href="#">FAQ</a></li>
        </ul>
      </li>
    </ul>

  </div>
</div>



