<!--KA: June 2015-->

<% content_for( :title, 'Donations' ) %>
<% content_for( :sidebar, 'alumni' ) %>
<% content_for( :expand,  'giving_ex' ) %>

<h2>Thank You!</h2>
<p>Thank you very much for your contribution to the School of Integrative Biology. Your help will make it possible for us to continue to enrich the academic experience of our undergraduate students.</p>
<p>Check out the <a href="donations_impact.htm">Making an Impact</a> page for periodic updates on students who have been helped by your generous donations.</p>
