

<footer class="footer">
  <small>
    The <a href="https://dev.life.illinois.edu/ashwini">SIB Development Site</a>
    by <a href="https://publish.illinois.edu/ashwini/">SIB ONIT</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path  %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.google.com/">News</a></li>
    </ul>
  </nav>
</footer>
