<%# 05-Jun-2015: uebele@ rails link_to, fix jumpyness with footer height
-%>
<!-- Dev Site Footer
       used for dev.sib.illinois.edu
       updated by uebele@ Jun-2015 -->

<footer style="height:4em;">

  <small style="margin: .1em 0 0 1em;">   
  <ul>
        <li><%= link_to "Life Science Email", 'https://webmail.life.illinois.edu/src/login.php' %>
        <li><%= link_to "Life Sciences OIT", 'http://www.life.illinois.edu/help' %>
	<li><%= link_to "Contact Us", '/about/contact' %>

      </ul>
  </small>

  <nav style="margin: .1em 1em 0 0;">
      <ul>
        <li><a href="http://www.facebook.com/pages/Integrative-Biology-at-Illinois/128680037156" ><i class="fa fa-facebook-square fa-2x"></i></a></li>
	<li><a href="https://twitter.com/iBioIllinois" ><i class="fa fa-twitter-square fa-2x"></i></a></li>
	<li><a href="http://www.linkedin.com/groups?gid=1795575" ><i class="fa fa-linkedin-square fa-2x"></i></a></li>
	<li><a href="http://blog.sib.illinois.edu/" ><i class="fa fa-bold fa-2x"></i></a></li>

        </ul>
  </nav>


</footer>
