




    <div class="navbar yamm navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"> School of Integrative Biology</a>
</div>
<div id="navbar-collapse-1" class="navbar-collapse collapse">
<ul class="nav navbar-nav">

<!-- Classic list -->
<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">About<b class="caret"></b></a>
<ul class="dropdown-menu">
<li>
<!-- Content container to add padding -->
<div class="yamm-content">
<div class="row">

<ul class="col-sm-2 list-unstyled">
<li>
<p><strong>--Title??-- </strong></p>
</li>
<li><a href="#"> News & Events </a></li><br>
<li><a href="#"> Contact Us </a></li><br>
<li><a href="#"> IB Blog </a></li><br>
</ul>


<ul class="col-sm-2 list-unstyled">
<li   class="column-width" >
  <p><strong>People</strong></p>
</li>
<li   class="column-width" ><a href="#"> Faculty </a></li><br>
<li   class="column-width" ><a href="#"> Staff </a></li><br>
<li   class="column-width" ><a href="#"> Academics </a></li><br>
<li   class="column-width" ><a href="#"> Graduate Students </a></li><br>
</ul>


<ul class="col-sm-2 list-unstyled">
<li>
  <p><strong>Departments</strong></p>
</li>
<li><a href="#"> Animal Biology </a></li><br>
<li><a href="#"> Entomology </a></li><br>
<li><a href="#"> Plant Biology </a></li><br>
</ul>


<ul class="col-sm-2 list-unstyled">
<li   class="column-width" >
  <p><strong>Programs</strong></p>
</li>
<li class="column-width" ><a href="#"> Program in Ecology,Evolution & Conservation Biology (PEEC) </a></li><br>
<li   class="column-width" ><a href="#"> Neuroscience Program (NSC) </a></li><br>
<li   class="column-width" ><a href="#"> M.S.in Teaching of Biology </a></li><br>
<li   class="column-width" ><a href="#"> Online M.S.in Teaching of Biology </a></li><br>
</ul>


</div>
	  </div>
	</li>
      </ul>
    </li>


    <!-- Classic list -->
    <li class="dropdown yamm-fw "><a href="#" data-toggle="dropdown" class="dropdown-toggle">Undergraduate <b class="caret"></b></a>
      <ul class="dropdown-menu">
	<li>
	  <!-- Content container to add padding -->
	  <div class="yamm-content">
	    <div class="row">

	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong> Advising </strong></p>
		</li>
		<li><a href="#"> Make an Appointment </a></li><br>
		<li><a href="#"> Academic Assistance </a></li><br>
		<li><a href="#"> FAQs </a></li><br>
		<li><a href="#"> Campus Links </a></li><br>
	      </ul>

	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong> Prospective </strong></p>
		</li>
		<li><a href="#"> How to Declare </a></li><br>
		<li><a href="#"> Visiting Illinois </a></li><br>
		<li><a href="#"> FAQs </a></li><br>
		<li><a href="#"> Visitor's Map </a></li><br>
	      </ul>
	     
	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong> Programs of Study </strong></p>
		</li>
		<li><a href="#"> Major in IB </a></li><br>
		<li><a href="#"> Honors </a></li><br>
		<li><a href="#"> Teaching in Biology </a></li><br>
		<li><a href="#"> Minor in IB </a></li><br>
		<li><a href="#"> Minor in Ecology & Conservation Biology </a></li><br>
	       </ul>


	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong>Special Programs </strong></p>
		</li>
		<li><a href="#"> Merit </a></li><br>
		<li><a href="#"> IB 199-Intro to Research </a></li><br>
		<li><a href="#"> IB 299-Bio Math </a></li><br>
		<li><a href="#"> IB 496-BARS </a></li><br>
	      </ul>


	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong>--Title??-- </strong></p>
		</li>
		<li><a href="#"> Undergraduate Research </a></li><br>
		<li><a href="#"> Guidelines </a></li><br>
		<li><a href="#"> Support </a></li><br>
		<li><a href="#"> Next Step </a></li><br>
		<li><a href="#"> Convocation </a></li><br>
	      </ul>

</div>
          </div>
        </li>
      </ul>
    </li>


    <!-- Classic list -->
    <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Graduate <b class="caret"></b></a>
      <ul class="dropdown-menu">
	<li>
	  <!-- Content container to add padding -->
	  <div class="yamm-content">
	    <div class="row">


	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong>--Title??-- </strong></p>
		</li>
		<li><a href="#"> Grants & Awards </a></li><br>
		<li><a href="#"> Support </a></li><br>
		<li><a href="#"> News & Features </a></li><br>
	      </ul>


	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong> Department & Programs </strong></p>
		</li>
		<li class="column-width" ><a href="#"> Animal Biology </a></li><br>
		<li  class="column-width"><a href="#"> Entamology </a></li><br>
		<li  class="column-width"><a href="#"> Plant Biology </a></li><br>
		<li  class="column-width"><a href="#"> Program in Ecology, Evolution & Conservation Biology (PEEC) </a></li><br>
		<li  class="column-width"><a href="#"> Neuroscience Program(NSP) </a></li><br>
		<li  class="column-width"><a href="#"> M.S.in Teaching of Biology(MST) </a></li><br>
		<li  class="column-width"><a href="#"> Online M.S.in Teaching of Biology </a></li><br>
	      </ul>

     </div>
                  </div>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>




