
<div class="panel-group" id="accordion">
   <div class="panel panel-default" >
	  <ul id="sidebar1" class="ugrad_menu">
		<li class="panel-title"><a class="collapsed" target="_self" href="/alumni_2">Alumni Home- Option 2</a></li>
	        <li class="panel-title"><a class="collapsed" target="_self" href="#">News & Features</a></li>
		<li class="panel-title"><a class="expanded" target="_blank" href="http://www.uiaa.org/illinois/">UI Alumni Association &nbsp;&nbsp; <i class="fa fa-external-link"></i></a></li>
		<li class="panel-title"><a class="collapsed" target="_blank" href="http://www.las.illinois.edu/alumni/">LAS Alumni &nbsp;&nbsp; <i class="fa fa-external-link"></i></a></li>
		<li class="panel-title"><a class="collapsed" target="_self" href="#">Giving to SIB</a></li>
		

</ul>
</div>
</div>


