<!--KA: MAy 2015: Business Purchasing-->

<% content_for( :title, 'Business_Purchasing' ) %>
<% content_for( :sidebar, 'resources' ) %>


<!--Main content-->
         <div>
		<h2>Business Office Operations & Services</h2>
		<h4 style="text-align: center;">Purchasing</h4>
		<p>Our goal is to assist the purchasing of supplies for research, for instruction, and for miscellaneous needs of the School. We will be happy to assist in getting you what you need.</p>

		<h3>Who to Contact</h3>
		<p>Norma Treakle (217) 244-9406 or email <a href="mailto:sib-purchase@life.uiuc.edu">sib-purchase@life.uiuc.edu</a></p>
		<p>Please do not email Norma directly.&nbsp; The email sib-purchase is available to all business office staff to allow for consistent processing of orders in the event someone is out of the office.</p>
		
		<h3>Vendor Contacts</h3>
		<p>Please let us know if you would like to be contacted by a specific vendor sales representative.&nbsp; Various vendors have local contacts or representatives that travel to campus frequently.</p>
	
		<h3>Placing Orders</h3>
		<p>Orders may be placed electronically through the online order requisition.&nbsp; Please select to send the request to Integrative Biology at the bottom of the form before submission.</p>

		<h3>Links:</h3>
		<p><a href="http://www.life.illinois.edu/cgi-bin/req2.pl">Requisition Request</a> - up to 5 items<br> <a href="http://www.life.illinois.edu/cgi-bin/req2.pl?no_of_items=20">Requisition Request</a> - 6 to 20 items</p>
		<p>Order requests will be processed via purchase order, credit card orders via vendor websites or telephone, or through campus stores as applicable. Please complete the requisition with as much detail as possible. Providing catalog numbers, prices and item descriptions will ensure that the correct item is ordered.</p>
		<p>The University systems for purchasing now include a system known as I-Buy. I-Buy provides the functionality for lab staff may access the secure system to request the purchase of goods. This secure system includes access to punch-out vendors such as Fisher Scientific, Sigma-Aldrich, CDW-G, Office Max and Grainger. This list will continue to grow. If you would like access to this system, please contact Penny Broga.</p> 

</div>


